---
layout: ecu
title:  "Scenes at Elizabeth City"
customdate: "1896"
order: 2
---

{% include breadcrumbs.html %}

<h3>Scenes at Elizabeth City</h3>
<b>Notes</b>
<p>
These two images at Elizabeth City from 1896 depict the “Steamer Neuse,” typical of the craft that ferried passengers from Norfolk to Elizabeth City and to coastal ports including Manteo, Nags Head, and New Bern; and the Norfolk & Southern Railway depot in Elizabeth City. The Wrights and their guests—not to mention their flying gear and supplies--passed through this depot on all of their trips to Kitty Hawk.
</p>
<div class="well">
  <label>Text and Image from Book</label><br/>

<p>
  [Page 215]
</p>
<p>
  <a href="../../img/DEPO/bDEPO001.jpg">
    <img src="../../img/DEPO/sDEPO001.jpg" />
  </a>
  <br/><br/>

  [Caption] Steamer Neuse - Elizabeth City Depot - Norfolk &amp; Southern Railway.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>State Board of Agriculture. North Carolina and Its Resources. Raleigh: M.I. & J.C. Stewart, 1896.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F254 .N94 1896a <a href="http://catalog.lib.ecu.edu/catalog/923991">Display Catalog Record</a></td>
  </tr>
</table>
