---
layout: ecu
title:  "Local Family"
customdate: "1896"
order: 4
---

{% include breadcrumbs.html %}

<h3>Local Family</h3>

<div class="well">
  <label>Image from Book</label><br/>

<p>
  <a href="../../img/FAMI/bFAMI001.jpg">
    <img src="../../img/FAMI/sFAMI001.jpg" />
  </a>
  <br/><br/>

</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Local Family], circa 1899. Hollowell Family Papers</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Hollowell Family Papers #578.1 P-578-16 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0578">Display Finding Aid</a></td>
  </tr>
</table>
