---
layout: ecu
title:  "Map of Outer Banks"
customdate: "1896"
order: 3
---

{% include breadcrumbs.html %}

<h3>Map of Outer Banks</h3>

<div class="well">
  <label>Image from Book</label><br/>

<p>
  <a href="../../img/NCMP/bNCMP001.jpg">
    <img src="../../img/NCMP/sNCMP001.jpg" />
  </a>
  <br/><br/>

</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>State Board of Agriculture. North Carolina and Its Resources. Raleigh: M.I. &amp; J.C. Stewart, 1896.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F254 .N94 1896a <a href="http://catalog.lib.ecu.edu/catalog/923991">Display Catalog Record</a></td>
  </tr>
</table>
