---
layout: ecu
title:  "Scenes from Pilgrimage To Old Fort Raleigh On Roanoke Island"
customdate: "1908"
order: 5
---

{% include breadcrumbs.html %}

<h3>Scenes from Pilgrimage To Old Fort Raleigh On Roanoke Island</h3>
<b>Notes</b>
<p>In 1908 Episcopalians around North Carolina organized a pilgrimage to the site of historic Fort Raleigh, the site of the first English colony in North America. Photographs and sketches from the trip—the same year the Wrights returned to Kitty Hawk for more trials—illustrate scenes and popular dress from the period. Pilgrims came by boat—the only way to get to Roanoke Island or Kitty Hawk—but still in the fanciest dress of the day in this photograph of the landing at Manteo.</p>
<div class="well">
  <label>Text and Image from Book</label><br/>

<p>

  [Page 15]
</p>
<p>
  <a href="../../img/RLAN/bRLAN015.jpg">
    <img src="../../img/RLAN/sRLAN015.jpg" />
  </a>
  <br/><br/>

  [Caption] Landing on Roanoke Island.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Noe, Thomas P. <em>Pilgrimage to Old Fort Raleigh on Roanoke Island, North Carolina</em>. New Bern: Owen G. Dunn, 1908</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F229 .N82 1908 <a href="http://catalog.lib.ecu.edu/catalog/211934">Display Catalog Record</a></td>
  </tr>
</table>
