---
layout: ecu
title:  "Scenes on Pilgrimage To Old Fort Raleigh On Roanoke Island"
customdate: "1908"
order: 6
---

{% include breadcrumbs.html %}

<h3>Scenes on Pilgrimage To Old Fort Raleigh On Roanoke Island</h3>
<b>Notes</b>
<p>Two delightful sketches depict “Durant’s Point Light” at the opening of Pasquotank River near Elizabeth City in the Albemarle Sound and the Steamer “Virginia” at anchor at Manteo on Roanoke Island (note that the images and captions were incorrectly reversed in the publication).</p>
<div class="well">
  <label>Text and Image from Book</label><br/>


<p>


  [Page 19]
</p>
<p>

  <a href="../../img/STVA/bSTVAa19.jpg">
    <img src="../../img/STVA/sSTVAa19.jpg" />
  </a>
  <br/><br/>

  [Caption] Steamer "Virginia," Lying at Anchor, Roanoke Island.
</p>
<p>

  <a href="../../img/STVA/bSTVAb19.jpg">
    <img src="../../img/STVA/sSTVAb19.jpg" />
  </a>
  <br/><br/>


  [Caption] Durant's Point Light, Pasquotank River and Albemarle Sound.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Noe, Thomas P. <em>Pilgrimage to Old Fort Raleigh on Roanoke Island, North Carolina</em>. New Bern: Owen G. Dunn, 1908</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F229 .N82 1908 <a href="http://catalog.lib.ecu.edu/catalog/211934">Display Catalog Record</a></td>
  </tr>
</table>
