---
layout: ecu
title:  "Steamer Trenton"
customdate: "n.d."
order: 1
---

{% include breadcrumbs.html %}

<h3>Steamer Trenton</h3>

<div class="well">
  <label>Text and Image from Photo</label><br/>



<p>
  Transcription for the image below:
</p>
<p>
  <a href="../../img/TREN/bTREN001.jpg">
    <img src="../../img/TREN/sTREN001.jpg" />
  </a>
  <br/><br/>

</p>
<p>
  Transcription for the image(s) above:
</p>
<p>


  THE FINEST SUMMET RESORTS IN EASTERN NORTH CAROLINA

</p>
<p>

  STEAMER TRENTON, LARGE, FAST AND CONFORTABLE, RUNS DAILY (EXCEPT SUNDAY)


</p>
<p>
  LEAVES MANTEO 6:00 A. M.
</p>
<p>
  " [LEAVES] NAGS HEAD 6:45 A. M.
</p>
<p>
  " [LEAVES] ELIZABETH CITY 2:30 P. M.
</p>
<p>


  CAPTAIN M. L. JOHNSON, MASTER
</p>
<p>


  B.V. EVANS, PHOTOGRAPHER
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Steamer Trenton], n.d. Alpheus W. Drinkwater Collection</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Alpheus W. Drinkwater Collection #805 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0805">Display Finding Aid</a></td>
  </tr>
</table>
