---
layout : ecu
title : "About the Wright Brothers Centennial Exhibit"
---

{% include breadcrumbs.html active="" %}

<h2>About the Wright Brothers Centennial Exhibit</h2>

<p>
  In developing the Wright Brothers Centennial Exhibit, we have attempted to explore realms where previous Wright researchers and scholars have not trod. The resources presented in this digital exhibit are not duplicated on other websites and truly expand the resources available to Wright scholars and history buffs.
</p>
<p>
  Here you will find a digest of manuscript and print materials that are rare or elsewhere unavailable. You can read unpublished descriptions of the Outer Banks of North Carolina and some of the best ephemeral, but authoritative descriptions of the Albemarle region, Roanoke Island, and the Outer Banks. You can look at commemorative editions of newspapers that remembered the achievements of the Wrights and celebrated the history and character of the region. You can read about the parallel development of efforts to celebrate the Lost Colony of the 1580's and the First Flight(s) of 1900-1903.
</p>
<p>
  But the most important new resource of this website-never before made available-is a correlation of the Wright brothers' daily activities and the weather conditions they faced. We have carefully gathered extensive weather data from daily logs maintained by the Kitty Hawk Weather Bureau, 1900-1903; the Kitty Hawk and Kill Devil Hill Life Saving Stations, 1900-1903, 1908, 1911. One can read the diaries and link to the weather four times a day every day the Wrights were on the Outer Banks. Not quite the weather channel, but pretty close to it.
</p>
<p>
  In addition to this rich primary resource, you will find on this website a vast digest of extra reading material. These secondary resources are divided up into topics that should cover the fields of interest of most students and researchers.
</p>
<p>
  We welcome queries and suggestions about this exhibit's content or what it should ideally contain. We invite a dialogue with readers and users: <a href="mailto:ALS_DigitalProjects@ecu.edu">ALS_DigitalProjects@ecu.edu</a>
</p>
