---
layout : ecu
title : "Dr. Larry E. Tise: A Biographical Profile"
---

{% include breadcrumbs.html active="" %}

<h2>Dr. Larry E. Tise: A Biographical Profile</h2>

<p>
  Dr. Larry E. Tise is an author and historian living and working in Philadelphia. Due to his unique research on the lives of the Wright brothers he was appointed Wilbur and Orville Wright Visiting Distinguished Professor at East Carolina University for the years 2000-2003. Since 1999 he has also served as Consulting Historian for the North Carolina First Flight Centennial Commission, the official body planning the 2003 commemoration of the Wright brothers' historic first powered flight on December 17, 1903. Concurrently he has completed three summer faculty fellowships at NASA Langley Research Center, which he also advises on matters relating to the Wright Brothers and the origins of manned flight.
</p>
<p>
  Born in Winston-Salem, North Carolina, and with degrees from Duke University (A.B., 1965; M. Div., 1968) and the University of North Carolina at Chapel Hill (Ph.D., 1974), he has spent much of his career as a history executive, serving as Executive Director of the North Carolina Division of Archives and History (1975-81), of the Pennsylvania Historical and Museum Commission (1981-87), the American Association for State and Local History in Nashville, TN (1987-89), and the Benjamin Franklin National Memorial in Philadelphia, PA (1989-96).
</p>
<p>
  He was the founder and first president of the International Congress of Distinguished Awards (incorporated 1994), a capacity he still holds. A consortium of awards organizations giving the world's most important awards, he also advises foundations, corporations, and individuals in the establishment of distinguished awards for human achievement in the arts, humanities, sciences, technology, education, peace, and other humanitarian endeavors.
</p>
<p>
  He is completing work on two revolutionary books about Wilbur and Orville Wright-both of which contain hundreds of documents written by the brothers, their family, friends, colleagues, and rivals which have never before been published. The Soaring Place contains hundreds of documents not previously in publication written by the brothers from Kitty Hawk, by Kitty Hawkers, their official visitors to Kitty Hawk, and dozens of others-family and would-be aviators-desperately wanting to know about their successes on the North Carolina Outer Banks. The Private Papers of Wilbur and Orville Wright is a collection of the family correspondence between and among the brothers, their stern and somewhat humorless father, and their vibrant sister Katharine. Taken together these two publications contain hundreds of letters and photographs of social, cultural, and intellectual importance that were set aside when the first edition of The Papers of Wilbur and Orville Wright were issued by the Library of Congress on the 50th anniversary of the first flight in 1953.
</p>
<p>
  He is the author of more than fifty articles and books on many facets of history and historical work, including Proslavery: A History of the Defense of Slavery, 1700-1840 (1987), The American Counterrevolution: A Retreat from Liberty, 1783-1800 (1999), and Benjamin Franklin and Women (2000). He is currently writing a sequel to American Counterrevolution covering the period 1800-1848 and a reference book on the world's most distinguished awards. In his work as an independent historian he conducts historical research and provides history services for clients in the United States, Canada, Europe, and the West Indies.
</p>
