---
layout : ecu
title : Wright Brothers - Photos - Hidden Images
---

{% include breadcrumbs.html active="" %}

<h2>Wright Brothers - Photos - Hidden Images</h2>

<p>
  The following assortment of post cards, illustrations, maps, and photographs are representative of the Outer Banks at the beginning of the twentieth-century. Included are scenes from eastern North Carolina’s favorite vacationing spot around Nags Head and Manteo, images of the varying modes of available transportation, and characterizations of daily life.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.closer | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
