---
layout : ecu
title : Diaries - Wright Brothers Exhibit
---

{% include breadcrumbs.html active="diaries" %}

<h2>Diaries</h2>

<p>
   The following diaries belong to four men. Two of the men are known to the annals of history as the Wright Brothers while the other two simply provide a scenic and historical backdrop to the triumph of the former. A native of eastern North Carolina, Joshua Judson Davis vividly gives a glimpse into life around Roanoke Island in the 1890’s. Edward Huffaker, on the other hand, had never visited the area until 1901 when he camped and conducted experiments with the Wrights at Kitty Hawk. On the Brothers’ first trip in 1900, although they had documented their observations on soaring, they did not keep an extensive diary. However, upon viewing Huffaker’s diary entries in 1901, the Wrights recognized the invaluable importance of maintaining a diary. So starting in 1902, the Brothers maintained exhaustive diary entries for each day of experiments.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.diaries | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
