---
layout : ecu
title : "About the Wright Brothers Centennial Exhibit"
---

{% include breadcrumbs.html active="" %}

<h2>Further Readings - General</h2>


<div class="well">For selected places to begin see highlighted materials.</div>

<h3>Topics</h3>
<a href="#c1">Wright Brothers</a><br/>
<a href="#c2">North Carolina and the Wright Brothers</a><br/>
<a href="#c3">Histories of Dare County and the Outer Banks Region</a><br/>
<a href="#c4">Environmental Factors: Storms, Shipwrecks, and Lifesaving Stations</a>
<hr/>

<a name="c1"></a>
  <h3>Wright Brothers</h3>
  <b><a href="#c11">Publications</a> - <a href="#c12">Online Sites</a> - <a href="#c13">Videos</a></b>
  <br/><br/>

<a name="c11"></a>
<h4>Publications</h4>

<div class="well">
Crouch, Tom.  <i>The Bishop's Boys: A Life of Wilbur and Orville Wright.</i>  New York:<br/>
W.W. Norton,  1989. <a href="http://catalog.lib.ecu.edu/catalog/384709"> Display Catalog Record</a>
</div>

<div class="well">
Culick, Fred, and Spencer Dunmore.  <i>On Great White Wings: The<br/>
Wright Brothers and the Race for Flight.</i>  New York:  Hyperion,  2001.</div>

<div class="well">
Geibert, Ron, and Tucker Malishenko,  eds.  <i>Early Flight, 1900-1911: Original<br/>
Photographs from the Wright Brothers Personal Collection.</i>  Dayton, OH:<br/>
Landfall Press,  1984. <a href="http://catalog.lib.ecu.edu/catalog/290859"> Display Catalog Record</a>
</div>

Howard, Fred.  <i>Wilbur and Orville: A Biography of the Wright Brothers.</i>  New York:<br/>
Knopf,  1987. <a href="http://catalog.lib.ecu.edu/catalog/294618"> Display Catalog Record</a>
<br/><br/>
Jakab, Peter L., and Rick Young,  eds.  <i>The Published Writings of Wilbur and Orville<br/>
Wright.</i>  Washington, D.C.:  Smithsonian Institution Press,  2000. <a href="http://catalog.lib.ecu.edu/catalog/855953"> Display Catalog Record</a>
<br/><br/>
Jakab, Peter L.  <i>Visions of a Flying Machine: The Wright Brothers and the Process of<br/>
Invention.</i>  Washington, D.C.:  Smithsonian Institute Press,  1990. <a href="http://catalog.lib.ecu.edu/catalog/373906"> Display Catalog Record</a>
<br/><br/>
<div class="well">
Kelly, Fred C.,  ed.  Miracle at Kitty Hawk: <i>The Letters of Wilbur and Orville Wright.</i><br/>
New York:  Farrar, Straus, and Young,  1951. <a href="http://catalog.lib.ecu.edu/catalog/54796"> Display Catalog Record</a>
</div>

Kelley, Fred C.  <i>The Wright Brothers: A Biography Authorized by Orville Wright.</i>  New<br/>
York:  Harcourt, Brace, and Co.,  1943. <a href="http://catalog.lib.ecu.edu/catalog/55132"> Display Catalog Record</a>
<br/><br/>
<div class="well">
McFarland, Marvin W.,  ed.  <i>The Papers of Wilbur and Orville Wright, Including the<br/>
Chanute-Wright Letters and Other Papers of Octave Chanute.</i>  Vol. 1-2.  New<br/>
York:  McGraw-Hill,  1953. <a href="http://catalog.lib.ecu.edu/catalog/39371"> Display Catalog Record</a>
</div>

Nolan, Patrick.  <i>The Wright Brothers Collection: A Guide to the Technical, Business and<br/>
Legal, Genealogical, Photographic, and Other Archives at Wright State<br/>
University.</i>  New York:  Garland,  1977. <a href="http://catalog.lib.ecu.edu/catalog/112066"> Display Catalog Record</a>
<br/><br/>
<div class="well">
Wright, Orville.  <i>How We Invented the Airplane: An Illustrated History. </i> Ed. Fred C.<br/>
Kelly.  New York:  Dover Publications,  1953. <a href="http://catalog.lib.ecu.edu/catalog/638246"> Display Catalog Record</a>
</div>

Walsh, John Evangelist.  <i>One Day at Kitty Hawk: The Untold Story of the Wright<br/>
Brothers and the Airplane.</i> New York:  Crowell,  1975.

<hr/>

<a name="c12"></a>
  <h4>Online Sites</h4>

<div class="well">
The Wright Brothers Aeroplane Company:<br/>
<a href="http://www.first-to-fly.com">http://www.first-to-fly.com</a><br/><br/>

An extremely helpful website for information on the Wright Brothers, includes general histories, photographs, scientific experiments, problematic explanations, and other special links related to the Wrights.
</div>

Experimental Aircraft Association's Countdown to Kitty Hawk:<br/>
<a href="http://www.countdowntokittyhawk.com">http://www.countdowntokittyhawk.com/</a><br/><br/>

Sponsored by Ford Motor Company, a few of this year-long website's
highlights are a systematic cataloging of upcoming news and events, sponsored essay contests, photos of the Wright Brothers, plans and specifications for the 1903 glider, and an up to the minute schedule of the countdown to Kitty Hawk.
<br/><br/>
Cislunar Aerospace in collaboration with the Franklin Musuem and NASA presents Wright Again:<br/>
<a href="http://www.wrightagain.com">http://www.wrightagain.com</a><br/><br/>

Cislunar Aerospace specializes in engineering and education.  They have previously created a K-8 virtual website in coordination with NASA.  Wright Again is an adjunct to the K-8 series, therefore it provides educational content, primary material related to the Wrights, and lesson plans devoted to the subject matter.<br/>
<br/>
<div class="well">
Wright State University:<br/>
<a href="http://www.libraries.wright.edu/special/wright_brothers">http://www.libraries.wright.edu/special/wright_brothers/</a><br/><br/>

Wright State University's library maintains a significant portion of the original Wright photographs online and a host of documents in their massive Wright Brothers collection.</div>

Wright Brother's Stories:<br/>
<a href="http://www.wrightstories.com">http://www.wrightstories.com/</a><br/><br/>

Dr. Richard Stimson's online site of interesting and poignant tales related to the Wrights.<br/>

Wright Photographs at the Library of Congress:<br/>
<a href="http://www.loc.gov/rr/print/coll/236_wright.html">http://www.loc.gov/rr/print/coll/236_wright.html</a><br/><br/>

The Library of Congress's complete listing of all 303 photographs taken by the Wright Brothers of their family and flights.<br/>

Franklin Institute's The Wright Brother's:<br/>
<a href="http://www.fi.edu/wright">http://www.fi.edu/wright/</a><br/><br/>

The Franklin Institute presents several historical artifacts associated with the Wright Brothers, as well as photos and several educational resources including their notable sponsored site, Flights of Inspiration.<br/>

Mississippi State University's Psychology Department's To Fly is Everything: A Virtual Museum Covering the Invention of the Airplane:<br/>
<a href="http://invention.psychology.msstate.edu">http://invention.psychology.msstate.edu/</a><br/><br/>

A wonderful website that features a digital library, a commemorating photo and movie galleries, patent information, a Wright flight simulator, and a brief history of the airplane.<br/>
<br/>
<div class="well">
The Dayton Metro Library's Wright Brothers Collection:<br/>
<a href="http://home.dayton.lib.oh.us/archives/wbcollection/wbexhibit.html">http://home.dayton.lib.oh.us/archives/wbcollection/WBExhibit.html</a><br/><br/>

An online collection that contains many interesting and rare artifacts related to the
Wrights including postcards, posters, programs, scrapbooks, and rare books.</div>

<div class="well">
U.S. Centennial of Flight Commission:<br/>
<a href="http://www.centennialofflight.gov">http://www.centennialofflight.gov/</a><br/><br/>

This online site offers something for kids, educators, the media, and general flight enthusiasts.  Of particular importance, are the daily flight logs of the Wrights, searchable chronologies of their lives, and informative histories.  Perhaps the best available site on the centennial celebration.</div>

<i>Flights of Inspiration.</i>  Presented by the Franklin Institute and the Science Museum of London.<br/>
<a href="http://www.fi.edu/flights/index.html">http://www.fi.edu/flights/index.html</a><br/><br/>

<i>Flights of Inspiration</i> is an educational website on the Wright Brothers, contains several experiments and a Teacher's Zone.

<hr/>

<a name="c13"></a>
  <h4>Videos</h4>

<div class="well">
Porter, Nancy.  <i>The Wright Stuff: The Wright Brothers and the Invention of the Airplane.</i><br/>
60 min.  Narrated by Garrison Keillor.  Alexandria, VA:  PBS Video,  1996.<br/>
Videocassette.<br/><br/>

A documentary originally part of the American Experience PBS series.</div>

<hr/>

<a name="c2"></a>
<h3>North Carolina and the Wright Brothers</h3>
<b><a href="#c21">Publications</a> - <a href="#c22">Online Sites</a> - <a href="#c23">Videos</a></b><br/><br/>
<a name="c21"></a>
<h4>Publications</h4>

Brown, Aycock.  <i>The Birth Place of Aviation: Kitty Hawk, N.C. </i> Winston-Salem, NC:<br/>
The Collins Company,  1953. <a href="http://catalog.lib.ecu.edu/catalog/75549"> Display Catalog Record</a><br/>
<br/>
Combs, Harry, and Martin Caidin.  <i>Kill Devil Hill: Discovering the Secret of the Wright<br/>
Brothers.</i>  With a foreword by Neil Armstrong.  Boston:  Houghton Mifflin,<br/>
1979. <a href="http://catalog.lib.ecu.edu/catalog/163375"> Display Catalog Record</a><br/>
<br/>
Crouch, Tom.  <i>First Flight: The Wright Brothers and the Invention of the Airplane.</i><br/>
Historical Handbook Series No. 159.  With a foreword by John Glenn.<br/>
Washington, D.C:  Division of Publications at Harpers Ferry Center, National<br/>
Park Service,  2002. <a href="http://catalog.lib.ecu.edu/catalog/899630"> Display Catalog Record</a><br/>
<br/>
<div class="well">
East, Omega G.  <i>Wright Brothers: National Memorial North Carolina.</i>  Historical<br/>
Handbook Series No. 34.  Washington, D.C.:  National Park Service,  1961. <a href="http://catalog.lib.ecu.edu/catalog/4480469"> Display Catalog Record</a>
</div>

Geibert, Ronald, and Patrick B. Nolan.  <i>Kitty Hawk and Beyond: The Wright Brothers<br/>
and the Early Years of Aviation A Photographic History.</i>  Dayton, OH:  Wright<br/>
State U.P.,  1989. <a href="http://catalog.lib.ecu.edu/catalog/454736"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Kirk, Stephen.  <i>First in Flight: The Wright Brothers in North Carolina.</i>  Winston Salem,<br/>
NC:  John F. Blair,  1995. <a href="http://catalog.lib.ecu.edu/catalog/3504919"> Display Catalog Record</a>
</div>

McAdoo, Donald, and Carol McAdoo.  <i>Reflections of the Outer Banks.</i>  Ed. William L.<br/>
Smith.  With a foreword by Andy Griffith.  Manteo, NC: Island Publishing<br/>
House,  1976. <a href="http://catalog.lib.ecu.edu/catalog/89855"> Display Catalog Record</a><br/>
<br/>
Parramore, Thomas C.  <i>First to Fly:  North Carolina and the Beginnings of Aviation.</i><br/>
Chapel Hill, NC:  UNC Press,  2002. <a href="http://catalog.lib.ecu.edu/catalog/872909"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Parramore, Thomas C.  <i>Triumph at Kitty Hawk: The Wright Brothers and Powered<br/>
Flight.</i>  Raleigh, NC:  Division of Archives and History,  1993. <a href="http://catalog.lib.ecu.edu/catalog/489457"> Display Catalog Record</a>
</div>

<div class="well">
Wescott, Lyanne, and Paula Degen.  <i>Wind and Sand: The Story of the Wright Brothers at<br/>
Kitty Hawk.</i>  With a foreword by Oliver Jensen.  New York:  Abrams,  1983. <a href="http://catalog.lib.ecu.edu/catalog/249220"> Display Catalog Record</a>
</div>

<hr/>

<a name="c22"></a>
<h4>Online Sites</h4>

<div class="well">
The CoastalGuide for the Outer Banks:<br/>
<a href="http://www.outerbanks.com">http://www.outerbanks.com</a><br/><br/>

Provides detailed information on lodging, weather, and the histories of local areas along the Outer Banks.  More important for the researcher, the website also maintains general histories on the Lost Colony, the legendary tales of Blackbeard, and information concerning the Wright Memorial and the First Flight.  Included in the First Powered Flight section is an embedded photographic selection from the Library of Congress's Wright Brothers collection.</div>

The Outer Banks Chamber of Commerce: (list of historical sites, maps, etc.)<br/>
<a href="http://www.outerbankschamber.com">http://www.outerbankschamber.com</a><br/><br/>

Contains specific information concerning the festivities scheduled to occur during the centennial celebration of the first flight.  The website also presents an excellent overview of the local history of the Outer Banks from Ft. Raleigh to lighthouses to the advent of lifesaving stations.
<br/><br/>
<div class="well">
Wright Brother's National Memorial, National Park Service:<br/>
<a href="http://www.nps.gov/wrbr">http://www.nps.gov/wrbr</a><br/><br/>

Excellent histories concerning the establishment and maintenance of the Wright Memorial.  Also documents upcoming events and literature pertaining to the Wright Brothers and the memorial sponsored by the National Park Services.</div>

<hr/>

<a name="c23"></a>
<h4>Videos</h4>

<div class="well">
Combs, Harry.  <i>How Strong is the Wind.</i>  Based on <i>Kill Devil Hill: Discovering the<br/>
Secret of the Wright Brothers. </i> Directed by Richard A. Rose.  40 min.<br/>
Englewood, CO:  TernStyle Press,  1983.  Videocassette. <a href="http://catalog.lib.ecu.edu/catalog/630964">Display Catalog Record</a>
</div>

East Carolina University's College of Arts and Sciences.  <i>International Symposium on<br/>
the History of Flight, October 22-25th, 2001.</i>  An educational video produced by<br/>
the School of Education.  16 min. 50 sec.  Greenville, NC : College of Arts and<br/>
Sciences, School of Art and School of Music, East Carolina University,  2001.<br/>
Videocassette. <a href="http://catalog.lib.ecu.edu/catalog/866650"> Display Catalog Record</a>

<hr/>

<a name="c3"></a>
<h3>Histories of Dare County and the Outer Banks Region</h3>
<b><a href="#c31">Publications</a> - <a href="#c32">Online Sites</a> - <a href="#c33">Videos</a></b><br/><br/>
<a name="c31"></a>
<h4>Publications</h4>

Alexander, John, and James Lazell. <i> Ribbon of Sand:  The Amazing Convergence of the<br/>
Ocean &amp; the Outer Banks.</i>  Chapel Hill, NC:  UNC Press,  2000. <a href="http://catalog.lib.ecu.edu/catalog/858173"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Barfield, Rodney.  <i>Seasoned by Salt: A Historical Album of the Outer Banks.</i>  Chapel<br/>
Hill, NC:  UNC Press,  1995. <a href="http://catalog.lib.ecu.edu/catalog/583962"> Display Catalog Record</a>
</div>

Fearing, Edward R., and Gloria J. Berry.  <i>An Elizabeth City Album:  A Journey Back<br/>
Through Time.</i>  Elizabeth City:  Carolina Printing Co.,  1983. <a href="http://catalog.lib.ecu.edu/catalog/260509"> Display Catalog Record</a><br/>
<br/>
Fearing, Edward R., and Gloria J. Berry.  <i>A Pictorial History of Elizabeth City, NC.</i><br/>
Photography by Fred L. Fearing.  Elizabeth City:  Carolina Printing Co.,  1983. <a href="http://catalog.lib.ecu.edu/catalog/260507"> Display Catalog Record</a><br/>
Houston, Lebame, and Barbara Hird,  eds.  <i>Roanoke Revisited:  The Story of the First<br/>
English Settlements in the New World and the Fabled Lost Colony of Roanoke</i><br/>
Island.  Manteo, NC:  Penny Books,  1997. <a href="http://catalog.lib.ecu.edu/catalog/788660"> Display Catalog Record</a><br/>
<br/>
Hariot, Thomas.  <i>Narrative of the First English Plantation of Virginia.</i>  3rd Ed.  London:<br/>
Bernard Quaritch,  1893.<br/>
Originally printed London: 1588.  Illustrated edition printed in Frankfort,<br/>
England:  De Bry,  1590. <a href="http://catalog.lib.ecu.edu/catalog/3096994"> Display Catalog Record</a><br/>
<br/>
Porter, Charles.  <i>Fort Raleigh: National Historic Site.</i>   Historical Handbook Series No.<br/>
16.  Washington, D.C.:  National Park Service,  1952. <a href="http://catalog.lib.ecu.edu/catalog/1059053"> Display Catalog Record</a><br/>
<br/>
Powell, William S.  <i>Paradise Preserved: A History of the Roanoke Island Historical<br/>
Association.</i>  Chapel Hill, NC:  UNC Press,  1965. <a href="http://catalog.lib.ecu.edu/catalog/83236"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Saunders, Keith.  <i>The Independent Man: The Story of W.O. Saunders and His<br/>
Delightfully Different Newspaper.</i>  Raleigh, NC:  Edwards &amp; Broughton,  1962. <a href="http://catalog.lib.ecu.edu/catalog/82951"> Display Catalog Record</a>
</div>

Saunders, W.O.,  ed.  <i>The First English Settlement in America.</i>  Elizabeth City, NC:<br/>
Roanoke Island Historical Association,  1932. <a href="http://catalog.lib.ecu.edu/catalog/267787"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Stick, David.  <i>Dare County: A History.</i>  Raleigh, NC:  State Department of Archives and<br/>
History,  1970. <a href="http://catalog.lib.ecu.edu/catalog/10782"> Display Catalog Record</a>
</div>

Stick, David.  <i>Fabulous Dare: The Story of Dare County Past and Present.</i>  (Kitty Hawk,<br/>
NC:  The Dare Press,  1949. <a href="http://catalog.lib.ecu.edu/catalog/428101"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Stick, David.  <i>Roanoke Island: The Beginnings of English America. </i> Chapel Hill, NC:<br/>
UNC Press,  1983. <a href="http://catalog.lib.ecu.edu/catalog/244705"> Display Catalog Record</a>
</div>

Strock, G. Michael, John W. Tyler, and Henry Applewhite,  eds.  <i>Dare County and Cape<br/>
Hatteras Lighthouse Centennial,</i> 1870-1970.  Manteo, NC:  1970. <a href="http://catalog.lib.ecu.edu/catalog/834217"> Display Catalog Record</a>

<hr/>

<a name="c32"></a>
<h4>Online Sites</h4>

<div class="well">
Fort Raleigh National Memorial,  National Park Service:<br/>
<a href="http://www.nps.gov/fora">http://www.nps.gov/fora/</a><br/><br/>

Excellent histories of the establishment and maintenance of the Fort Raleigh National Memorial.  Also documents upcoming events and literature pertaining to the Lost Colony and Fort Raleigh from the National Park Services.</div>

The Lost Colony a Symphonic Drama:<br/>
<a href="http://www.thelostcolony.org">http://www.thelostcolony.org/</a><br/><br/>

A complete history of the Lost Colony drama as well as information concerning the current showing of the sixty-five year old production.  The website is particularly interesting for its assortment of links and its discovery center, which maintains educational resources for teachers.<br/>

<hr/>

<a name="c33"></a>
<h4>Videos</h4>

Harris, Dina, and James McCarthy.  <i>Roanoak.</i>  Directed by Jan Egleson.  Produced by<br/>
James K. McCarthy and Timothy Marx.  Vol. 1-3.  180 min.  Columbia, SC:<br/>
South Carolina ETV Network, 1986.  Videocassette. <a href="http://catalog.lib.ecu.edu/catalog/265598"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Jones, Mabel Evans.  <i>Mabel Evans Jones' 1921 Silent Film About the Roanoke Islands<br/>
Settlements and the Lost Colony.</i>  Produced by the North Carolina State Board of<br/>
Education in collaboration with the State Historical Commission.  Roanoke<br/>
Island, NC:  Atlas Film Co.,  1921.  Videocassette. <a href="http://catalog.lib.ecu.edu/catalog/856467"> Display Catalog Record</a>
</div>

<hr/>

<a name="c4"></a>
<h3>Environmental Factors:  Storms, Shipwrecks, and Lifesaving Stations</h3>
<b><a href="#c41">Publications</a> - <a href="#c42">Online Sites</a> - <a href="#c43">Videos</a></b><br/><br/>
<a name="c41"></a>
<h4>Publications</h4>

Barnes, Jay.  <i>North Carolina's Hurricane History.</i>  2nd ed.  Chapel Hill, NC:  University<br/>
of North Carolina Press,  1995. <a href="http://catalog.lib.ecu.edu/catalog/578818"> Display Catalog Record</a><br/>
<br/>
Carney, Charles B., and Albert V. Hardy.  <i>North Carolina Hurricanes: A Listing and<br/>
Description of Tropical Cyclones Which Have Affected the State.</i>  Raleigh, NC:<br/>
U.S. Weather Bureau,  1967. <a href="http://catalog.lib.ecu.edu/catalog/759911"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Mobley, Joe A.  <i>Ship Ashore!: The U.S. Lifesavers of Coastal North Carolina.</i>  Raleigh,<br/>
NC:  Division of Archives and History,  1994. <a href="http://catalog.lib.ecu.edu/catalog/554645"> Display Catalog Record</a>
</div>

<div class="well">
Stick, David.  <i>Graveyard of the Atlantic: Shipwrecks of the North Carolina Coast.</i><br/>
Chapel Hill, NC:  University of North Carolina Press,  1952. <a href="http://catalog.lib.ecu.edu/catalog/56057"> Display Catalog Record</a>
</div>

<hr/>

<a name="c42"></a><b>Online Sites</b><br/><br/>

<div class="well">
Graveyard of the Atlantic Museum:<br/>
<a href="http://www.graveyardoftheatlantic.com">http://www.graveyardoftheatlantic.com</a><br/><br/>

This virtual museum dedicated to researching and documenting the many shipwrecks and battles that took place off the Outer Banks, provides an excellent overview of San Ciriaco, an 1899 hurricane that belted the Atlantic coast and caused numerous shipwrecks, including the Priscilla.  Documents on San Ciriaco include primary documentation from the Cape Hatteras Lifesaving Station's official records and a listing of the various vessels that sunk off the NC coast during the high winds of the hurricane.</div>

<hr/>

<a name="c43"></a><b>Videos</b><br/><br/>

Duffus, Kevin.  <i>The Graveyard of the Atlantic: 400 Years of Shipwrecks, Mysteries, and<br/>
Heroic Rescues.</i>  Narrated by Bill Leslie.  Vol. 1-2.  90 min.  Raleigh, NC:  Video<br/>
Marketing Group,  1997.  Videocassette. <a href="http://catalog.lib.ecu.edu/catalog/2316529"> Display Catalog Record</a><br/><br/>
