---
layout: ecu
title: "Home - Wright Brothers Centennial Exhibit"
---

{% include breadcrumbs.html active="home" %}

<h1>Wright Brothers Centennial Exhibit</h1>
<hr/>
<p>
  Joyner Library at East Carolina University welcomes you to an exhibit that is unique in the realm of research on the Wright brothers. ECU has historically sought to identify and present the unique historical, climatological, and sociological aspects of eastern North Carolina—those features which make the area unique in the world—this exhibit is devoted to those very features Wilbur and Orville Wright met when they came to North Carolina in 1900.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="diaries.html">Diaries</a></div>
      <div class="panel-body">
        <a href="diaries.html"><img class="img-responsive thumbnail" src="img/diaries.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="pubs.html">Publications</a></div>
      <div class="panel-body">
        <a href="pubs.html"><img class="img-responsive thumbnail" src="img/publications.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="photos.html">Photos</a></div>
      <div class="panel-body">
        <a href="photos.html"><img class="img-responsive thumbnail" src="img/photos.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="weatherdata.html">Weather Data</a></div>
      <div class="panel-body">
        <a href="weatherdata.html"><img class="img-responsive thumbnail" src="img/weather.jpg"/></a>
      </div>
    </div>
   </div>


</div>
<p>
<a href="about.html">About This Exhibit</a>
</p>
<p>
  <a href="further_reading.html">Further Reading - General</a>
</p>
<p>
  <a href="literature.html">Further Reading - Children's Literature</a>
</p>
<p>
  <a href="press.html">Press Information</a>
</p>

<div class="well">
   <p>
      You can find thousands of additional documents about the history of East Carolina University digitized
      at in our <a href="http://digital.lib.ecu.edu">Digital Collections</a>.
   </p>
</div>
