---
layout : ecu
title : "Further Readings - Children's Literature"
---

{% include breadcrumbs.html active="" %}

<h2>Further Readings - Children's Literature</h2>

<div class="well">For selected places to begin see highlighted materials.</div>

<a href="#c1">Publications</a><br/>
<a href="#c2">Online Sites</a><br/>
<a href="#c3">Children's Films</a><br/>
<a href="#c4">Novelists and Poets</a>

<hr/>

<a name="c1"></a>
<h3>Publications</h3>

Busby, Peter.  <i>First to Fly: How Wilbur and Orville Wright Invented the Airplane.</i>  New<br/>
York:  Crown Publications,  2003.<br/><br/>

Designed for grade levels 3-5 or children between the ages of 9-12, this beautifully illustrated and descriptive book provides students with a brief but well-documented biography of the Wright Brothers.<br/>
<br/>
<div class="well">
Carson, Mary Kay.  <i>The Wright Brothers for Kids: How They Invented the Airplane.</i><br/>
Chicago:  Chicago Review Press,  2003.
<br/><br/>
Mary Kay Carson is the author of numerous award-winning educational publications on various topics in science and social studies.  In this recent publication on the Wright Brothers, she interweaves the biographical story of the Wrights and the problems they encountered in making the first flight with teacher-based activities for the classroom.  For kids between the ages of 9-12 or perhaps grade levels 4-7.
<br/><br/>

Collins, Mary.  <i>Airborne: A Photobiography of Wilbur and Orville Wright.</i>  Washington,<br/>
D.C.:  National Geographic,  2003.
<br/><br/>
Laced with original photographs taken by the Wrights and others, Mary Collins provides a capturing photobiography of the brothers' in this magnificently researched children's book.  Intended for grade levels 5-8 or children between the ages of 10-14.
<br/><br/>
Freedman, Russell.  T<i>he Wright Brothers: How They Invented the Airplane.</i>  New York:<br/>
Holiday House,  1991. <a href="http://catalog.lib.ecu.edu/catalog/1389503"> Display Catalog Record</a>
<br/><br/>
A rich biography of the Wright Brothers, that follows the brothers from their early childhood, to their first attempts at flight, through the patent battles, and culminates with Orville's demise in 1948.  Additionally, with over ninety photographs, Freedman's biography is immensely valuable for its visual documentation.  Designed for grade levels 8 and up.
</div>

Gardner, Jeanne LeMonnier.  <i>Sky Pioneers: The Story of Wilbur and Orville Wright.<br/>
Illustrations by Douglas Gorsline.</i>  New York:  Harcourt, Brace & World,  1963. <a href="http://catalog.lib.ecu.edu/catalog/727641"> Display Catalog Record</a><br/><br/>

This aged biography on the Wright Brothers still has much to offer, following Wilbur and Orville from their childhood to their ultimate success of December 17, 1903.  A surprisingly historically accurate portrayal of the Wright Brothers.  For grade levels 4-6 or children between the ages of 10-12.<br/>
<br/>
Haynes, Richard M.  <i>The Wright Brothers.</i>  Englewood Cliffs, NJ:  Silver Burdett Press,<br/>
1991. <a href="http://catalog.lib.ecu.edu/catalog/430895"> Display Catalog Record</a><br/><br/>

An intriguing and well-researched biography on the Wright Brothers.  Of particular note, Haynes is able to provide descriptive detail by implementing excerpts from the Wright's actual letters and diaries.  Intended for grade levels 8 and up.<br/>
<br/>
Krensky, Stephen.  <i>Taking Flight : The Story of the Wright Brothers.</i>  Illustrated by Larry<br/>
Day.  New York:  Simon and Schuster,  2000.<br/><br/>

From the Ready-to-Read Series, Krensky's brief biography on the Wright Brothers focuses on the important years leading up to the first flight spanning from 1899 to 1903.  Especially noteworthy are the direct quotations from the Wrights and the wonderful water-colored prints.  For children between the ages of 5-9 or grade levels 1-4.<br/>
<br/>
Maden, Mary.  <i>Flying High With the Wright Brothers:  The Story of Their First Flight, A<br/>
Dog's Tale.</i>  Illustrations by Sara Hodder Daniels.  Kill Devil Hills, NC:  Dog and<br/>
Pony Enterprises,  1995. <a href="http://catalog.lib.ecu.edu/catalog/888001"> Display Catalog Record</a><br/><br/>

Part of Mary Maden's Coastal History Series, this book follows Petey the wild
Corolla pony and his best friend, a dog named Tazz, as they recount the historical moments of December 17, 1903.  Extremely vivid and capturing illustrations.  Designed for children between the ages of 5-9 or grade levels 1-3.<br/>
<br/>
<div class="well">
Maurer, Richard.  <i>The Wright Sister.</i>  New York:  Simon & Schuster,  2003.
<br/><br/>

This biography on the Wright Brothers focuses on their sister, Katharine Wright.  Accessing the diaries and letters of the Wrights, Maurer clearly demonstrates the extremely close and supportive relationship that existed between Wilbur, Orville, and Katharine.  Intended for grade levels 7 and up.
</div>

Reynolds, Quentin.  <i>The Wright Brothers: Pioneers of American Aviation.</i>  New York:<br/>
Random House,  1997.<br/><br/>

An extremely readable biography of the Wright Brothers, which focuses for the most part on their childhood and life in Dayton prior to visiting Kitty Hawk.  Originally published in 1950.  Designed for children between the ages of 9-12 or grade levels 3-5.<br/><br/>

Schulz, Walter A.  <i>Will and Orv.</i>  Illustrations by Janet Schulz.  Minneapolis, MN:<br/>
Carolrhoda Books,  1991. <a href="http://catalog.lib.ecu.edu/catalog/617481"> Display Catalog Record</a><br/><br/>

Johnny Moore, a young boy from Nags Head, was one of the five local residents to witness Orville's first flight of December 17, 1903.  Schulz retells the story of the historical flight through the eyes of Johnny Moore.  This book like George Shea's First Flight is solely based on the Wright's exploits while at the Outer Banks.  Intended for grade levels 1-3 or children between the ages of 5-9.<br/>
<br/>
Shea, George.  <i>First Flight: The Story of Tom Tate and the Wright Brothers.</i>  Pictures by<br/>
Don Bolognese.  New York:  HarperCollins,  2001. <a href="http://catalog.lib.ecu.edu/catalog/1349433"> Display Catalog Record</a><br/><br/>

An edition from the An I Can Read Chapter Book Series, this wonderful book recounts Tom Tate's experiences with the Wright Brothers at Kitty Hawk in 1900.  As Shea reveals in his illustrative book, when just a boy the local Tom Tate flew in the 1900 Wright glider, becoming the first boy to every fly on the Outer Banks.  For grade levels 1-3 or children between the ages of 5-9.<br/>
<br/>
Sobol, Donald.  <i>Wright Brothers at Kitty Hawk.</i>  New York: Scholastic, 1987.<br/><br/>

Biographical work on the Wright Brothers, loaded with factual information and technical description.  Designed for grade levels 4-6 or children between the ages of 9-12.<br/>
<br/>
Thomas, Henry.  <i>The Wright Brothers.</i>  Illustrated by Charles Beck.  New York:  G.P.<br/>
Putnam's Sons,  1960. <a href="http://catalog.lib.ecu.edu/catalog/78730"> Display Catalog Record</a><br/><br/>

A biography on the Wright Brothers that is readable, historically accurate, and details the lives of Wilbur and Orville from their childhood, through their experiments and patent battles, and then culminates with a historical anecdote concerning the tenuous relationship between the Smithsonian and the inventors from Dayton.  Intended for grade levels 5-7 or children between the ages of 11-13.<br/>

Taylor, Richard.  <i>The First Flight: The Story of the Wright Brothers.</i>  New York:<br/>
F. Watts,  1990. <a href="http://catalog.lib.ecu.edu/catalog/392653"> Display Catalog Record</a><br/><br/>

An excellent overview behind the history and science of the first flight.  Taylor briefly mentions those efforts previous to the Wrights, before narrowing his book to the historical and scientific problems the Wrights encountered en route to their eventual success in 1903.  For children between the ages of 9-13 or grade levels 4-6.<br/>
<br/>
<div class="well">
Yolen, Jane.  <i>My Brothers' Flying Machine: Wilbur, Orville, and Me.</i>  Boston:  Little,<br/>
Brown, & Co.,  2003.<br/><br/>

Even though intended for a younger audience, this book like Richard Maurer's <i>The Wright Sister</i>, presents the story of the Wright Brothers through their younger sister Katharine Wright.  By employing the written correspondences between the Wrights, Yolen does an excellent job of illustrating the strong familial ties that existed between the brothers and their younger sister.  Designed for grade levels 1-4 or children between the ages of 5-9.
</div>

<hr/>

<a name="c2"></a>
<h3>Online Sites</h3>

<div class="well">
Cislunar Aerospace in collaboration with the Franklin Musuem and NASA presents Wright Again:<br/>   <a href="http://www.wrightagain.com target=_top">http://www.wrightagain.com</a><br/><br/>

Cislunar Aerospace specializes in engineering and education.  They have previously created a K-8 virtual website in coordination with NASA.  Wright Again is an adjunct to the K-8 series and provides educational content, primary material related to the Wrights, and lesson plans devoted to the subject matter.
<br/><br/>

<i>Flights of Inspiration.</i>  Presented by the Franklin Institute and the Science Museum of London.<br/>
<a href="http://www.fi.edu/flights/index.html  target=_top">http://www.fi.edu/flights/index.html</a><br/><br/>

<i>Flights of Inspiration</i> is an educational website on the Wright Brothers, contains several experiments and a Teacher's Zone.</td></tr></table><br/>
</div>

Maden, Mary.  <i>Dreams Come True: The Story of the First Flight</i>.  Newspaper Serial Educational Series.<br/>
<a href="http://www.marymaden.com/nie.html  target=_top">http://www.marymaden.com/nie.html</a><br/><br/>

An on-line serial series that chronologically tells the story of the Wright Brothers through diaries, letters, and photographs.  All three chapters available for downloading on-line into Power Point along with an information sheet.<br/>
<br/>
U.S. Centennial of Flight Commission:<br/>
<a href="http://http://www.centennialofflight.gov  target=_top">http://http://www.centennialofflight.gov/</a><br/><br/>

A website for kids, media, enthusiasts, and educators.  Useful for its histories, timelines, and primary resources.<br/>

<hr/>

<a name="c3"></a>
<h3>Children's Films</h3>

<i>The Wright Brothers.</i>  Inventors of the World Educational Series.  Schlessinger Media of<br/>
the Library Video Company.  23 min.  2001.<br/><br/>

Provided along with this educational video is a supplemental teaching guide offering informational background and study questions.  Generally considered for grades 4 to 8.  For more information on the series and for a clip of The Wright Brothers video see <a href="http://www.libraryvideo.com/sm/sm_home.asp target=display">http://www.libraryvideo.com/sm/sm_home.asp</a>.<br/>
<br/>
<div class="well">
Schulz, Charles, and Lee Mendelson.  <i>This is America Charlie Brown: The Wright<br/>
Brothers at Kitty Hawk.</i>  Produced by Bill Melendez.  24 min.  Paramount,  1994.<br/>
Videocassette. <a href="http://catalog.lib.ecu.edu/catalog/904672"> Display Catalog Record</a><br/><br/>

This film follows Charlie Brown and Linus to Kitty Hawk in an enlightening, informative, and accurate depiction of the events that occurred on December 17, 1903. Highly entertaining for children of all ages.</td></tr></table><br/>
</div>
<hr/>

<a name="c4"></a>
<h3>Novelists and Poets</h3>

Andrews, John Williams.  <i>First Flight: The Story of Orville and Wilbur Wright at Kitty<br/>
Hawk, North Carolina.</i>  Westport, CT:  Pavilion Press,  1962.<a href="http://catalog.lib.ecu.edu/catalog/170781"> Display Catalog Record</a><br/>
<br/>
<div class="well">
Frost, Robert.  Kitty Hawk.  <i>In the Clearing.</i>  New York:  Holt, Rinehart, and Winston,<br/>
1962.<a href="http://catalog.lib.ecu.edu/catalog/303651"> Display Catalog Record</a>

</div>
Passos, John Dos.  The Campers at Kitty Hawk.  In <i>The Big Money.</i>  New York:<br/>
Harcourt, Brace, and Company,  1936.<a href="http://catalog.lib.ecu.edu/catalog/484975"> Display Catalog Record</a><br/>
