---
layout: ecu
title: "Photos - Wright Brothers Centennial Exhibit"
---

{% include breadcrumbs.html active="photos" %}

<h1>Wright Brothers - Photos</h1>
<hr/>
<p>
  The photographs below are divided into three subcategories. The first set of photographs is dedicated to the Wright Brothers and with the exception of a 1909 postcard they were all taken by the New York Herald in 1911 and developed either in the cyanotype or sepia format. The second photographic group depicts the social and cultural climate of opinion along the Outer Banks circa 1900. The third category are Library of Congress and Wright State images that have been enhanced to provide a closer look into the lives of the Wright Brothers.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into sub-categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="wbphotos.html">The Brothers</a></div>
      <div class="panel-body">
        <a href="wbphotos.html"><img class="img-responsive thumbnail" src="img/wbphotos.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="obphotos.html">Outer Banks</em></a></div>
      <div class="panel-body">
        <a href="obphotos.html"><img class="img-responsive thumbnail" src="img/obphotos.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="closer.html">Hidden Images</a></div>
      <div class="panel-body">
        <a href="closer.html"><img class="img-responsive thumbnail" src="img/closer.jpg"/></a>
      </div>
    </div>
   </div>

</div>
