---
layout : ecu
title : Wright Brothers - Publications - Wright Memorial Special Edition
---

{% include breadcrumbs.html active="" %}

<h2>Wright Brothers - Publications - Wright Memorial Special Edition</h2>

<p>
   Shortly after the national commemoration of Fort Raleigh in 1926, W.O. Saunders urged former N.C. Congressman L.C. Warren to seek national appropriation for a monument dedicated to the Wright Brothers and the world’s first man carrying powered flight of December 17, 1903. By November of 1932, the Wright Memorial neared completion, but it had required national legislation, the Army Corp of Engineers, the building of bridges, and a host of other logistical feats to accomplish the large project. On 18 November 1932, Elizabeth City’s The Daily Advance edited by Herbert Peele printed the “Wright Memorial Special Edition.” In this edition, the Advance provides excellent historical accounts concerning the building of the monument, the events leading up to the dedication of the monument, and details about the aftermath of the actual dedication.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.pubswmem | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
