---
layout: ecu
title: "Publications - Wright Brothers Centennial Exhibit"
---

{% include breadcrumbs.html active="pubs" %}

<h1>Wright Brothers - Publications</h1>
<hr/>
<p>
  Although the literature pertaining to the Wright Brothers and the coastal areas they frequented while at Kitty Hawk is quite voluminous and readily accessible, there are many antiquated sources that quietly appear in footnotes and remained hidden in massive bibliographies. In an effort to highlight some of these vibrant and intriguing rarely available publications, they have been digitized and grouped into two convenient subcategories.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into sub-categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="pubsdarespec.html">Dare County Homecoming Edition of the <em>Independent</em></a></div>
      <div class="panel-body">
        <a href="pubsdarespec.html"><img class="img-responsive thumbnail" src="img/pubsdarespec.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="pubswmem.html">Wright Memorial Special Edition of <em>The Daily Advance</em></a></div>
      <div class="panel-body">
        <a href="pubswmem.html"><img class="img-responsive thumbnail" src="img/pubswmem.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="pubsrare.html">Rare Articles and Pamphlets</a></div>
      <div class="panel-body">
        <a href="pubsrare.html"><img class="img-responsive thumbnail" src="img/pubsrare.jpg"/></a>
      </div>
    </div>
   </div>

</div>
