---
layout : ecu
title : Wright Brothers - Publications - Dare County Homecoming Edition
---

{% include breadcrumbs.html active="" %}

<h2>Wright Brothers - Publications - Dare County Homecoming Edition</h2>

<p>
   Included in this section are publications contemporary with the Wright Brothers, describing in detail the geography and history of Dare and Currituck Counties. The other publications are rare written accounts directly concerning the interrelationships between the Wright Brothers successes at Kitty Hawk and those curious citizens that wondered at, partook in, and witnessed the many experiments with flight.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.pubsdare | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
