---
layout : ecu
title : Wright Brothers - Photos - The Brothers
---

{% include breadcrumbs.html active="" %}

<h2>Wright Brothers - Photos - The Brothers</h2>

<p>
   At the turn of the century, cyanotype prints, which are recognizable by their distinctive bluish-green tint, and sepia prints, which are black and white photos toned with an archival-like brownish tint, became extremely popular with journalists and photographers because of their relative ease in production and inexpensive nature. While the cyanotype’s color gives it a more modern appearance, the rustic look of the sepia retains a traditional essence. Yet, in either format, these photos that brilliantly capture Orville Wright with friends, family, onlookers, and the 1911 glider are both dramatic and endearing. Also included is a 1909 French postcard of Wilbur in flight.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.wbphotos | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
