---
layout : ecu
title : Weather Data - Wright Brothers Centennial Exhibit
---

{% include breadcrumbs.html active="weather" %}

<h2>Weather Data</h2>

<p>
   The impact of Kitty Hawk's U.S. Weather Bureau station and the two nearby lifesaving stations upon the obtainment of powered-flight is sometimes minimized. However, until Wilbur and Orville received the weather data from the U.S. Weather Bureau in Washington D.C., neither had heard of Kitty Hawk. But after viewing the sustained wind levels and receiving word from the station about the topography, the Wrights made a trip. While at Kitty Hawk the Wrights made frequent use of the weather station where among other things they calibrated their anemometers and sent telegraphs to the outside world, including the telegram of December 17, 1903. More important to the Wrights on a daily basis were the salty and courageous men of the Kill Devil Hill lifesaving station. Unknowingly caught in a moment of history, these lifesavers ironically hold several of the first accolades associated with flight. This includes the group recognition of being the "world's first flight crew," as well as individual titles by J.T. Daniels as "the first airplane casualty" and "the first photographer of flight."
</p>
<br/><br/>

<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>September 1900</b></TD></TR>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td></td><td><a href="weather/19000906.html">6</a></td><td><a href="weather/19000907.html">7</a></td><td><a href="weather/19000908.html">8</a></td></tr>
    <tr><td><a href="weather/19000909.html">9</a></td><td><a href="weather/19000910.html">10</a></td><td><a href="weather/19000911.html">11</a></td><td><a href="weather/19000912.html">12</a></td><td><a href="weather/19000913.html">13</a></td><td><a href="weather/19000914.html">14</a></td><td><a href="weather/19000915.html">15</a></td></tr>
    <tr><td><a href="weather/19000916.html">16</a></td><td><a href="weather/19000917.html">17</a></td><td><a href="weather/19000918.html">18</a></td><td><a href="weather/19000919.html">19</a></td><td><a href="weather/19000920.html">20</a></td><td><a href="weather/19000921.html">21</a></td><td><a href="weather/19000922.html">22</a></td></tr>
    <tr><td><a href="weather/19000923.html">23</a></td><td><a href="weather/19000924.html">24</a></td><td><a href="weather/19000925.html">25</a></td><td><a href="weather/19000926.html">26</a></td><td><a href="weather/19000927.html">27</a></td><td><a href="weather/19000928.html">28</a></td><td><a href="weather/19000929.html">29</a></td></tr>
    <tr><td><a href="weather/19000930.html">30</a></td></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>October 1900</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td><a href="weather/19001001.html">1</a></td><td><a href="weather/19001002.html">2</a></td><td><a href="weather/19001003.html">3</a></td><td><a href="weather/19001004.html">4</a></td><td><a href="weather/19001005.html">5</a></td><td><a href="weather/19001006.html">6</a></td></tr>
    <tr><td><a href="weather/19001007.html">7</a></td><td><a href="weather/19001008.html">8</a></td><td><a href="weather/19001009.html">9</a></td><td><a href="weather/19001010.html">10</a></td><td><a href="weather/19001011.html">11</a></td><td><a href="weather/19001012.html">12</a></td><td><a href="weather/19001013.html">13</a></td></tr>
    <tr><td><a href="weather/19001014.html">14</a></td><td><a href="weather/19001015.html">15</a></td><td><a href="weather/19001016.html">16</a></td><td><a href="weather/19001017.html">17</a></td><td><a href="weather/19001018.html">18</a></td><td><a href="weather/19001019.html">19</a></td><td><a href="weather/19001020.html">20</a></td></tr>
    <tr><td><a href="weather/19001021.html">21</a></td><td><a href="weather/19001022.html">22</a></td><td><a href="weather/19001023.html">23</a></td><td><a href="weather/19001024.html">24</a></td><td><a href="weather/19001025.html">25</a></td></table>
    <br/><br/></td><td></tr></table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>July 1901</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td><a href="weather/19010707.html">7</a></td><td><a href="weather/19010708.html">8</a></td><td><a href="weather/19010709.html">9</a></td><td><a href="weather/19010710.html">10</a></td><td><a href="weather/19010711.html">11</a></td><td><a href="weather/19010712.html">12</a></td><td><a href="weather/19010713.html">13</a></td></tr>
    <tr><td><a href="weather/19010714.html">14</a></td><td><a href="weather/19010715.html">15</a></td><td><a href="weather/19010716.html">16</a></td><td><a href="weather/19010717.html">17</a></td><td><a href="weather/19010718.html">18</a></td><td><a href="weather/19010719.html">19</a></td><td><a href="weather/19010720.html">20</a></td></tr>
    <tr><td><a href="weather/19010721.html">21</a></td><td><a href="weather/19010722.html">22</a></td><td><a href="weather/19010723.html">23</a></td><td><a href="weather/19010724.html">24</a></td><td><a href="weather/19010725.html">25</a></td><td><a href="weather/19010726.html">26</a></td><td><a href="weather/19010727.html">27</a></td></tr>
    <tr><td><a href="weather/19010728.html">28</a></td><td><a href="weather/19010729.html">29</a></td><td><a href="weather/19010730.html">30</a></td><td><a href="weather/19010731.html">31</a></td></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>August 1901</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td></td><td><a href="weather/19010801.html">1</a></td><td><a href="weather/19010802.html">2</a></td><td><a href="weather/19010803.html">3</a></td></tr>
    <tr><td><a href="weather/19010804.html">4</a></td><td><a href="weather/19010805.html">5</a></td><td><a href="weather/19010806.html">6</a></td><td><a href="weather/19010807.html">7</a></td><td><a href="weather/19010808.html">8</a></td><td><a href="weather/19010809.html">9</a></td><td><a href="weather/19010810.html">10</a></td></tr>
    <tr><td><a href="weather/19010811.html">11</a></td><td><a href="weather/19010812.html">12</a></td><td><a href="weather/19010813.html">13</a></td><td><a href="weather/19010814.html">14</a></td><td><a href="weather/19010815.html">15</a></td><td><a href="weather/19010816.html">16</a></td><td><a href="weather/19010817.html">17</a></td></tr>
    <tr><td><a href="weather/19010818.html">18</a></td><td><a href="weather/19010819.html">19</a></td><td><a href="weather/19010820.html">20</a></td><td><a href="weather/19010821.html">21</a></td><td><a href="weather/19010822.html">22</a></td></table>
    <br/><br/></td><td></tr></table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>August 1902</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td><a href="weather/19020825.html">25</a></td><td><a href="weather/19020826.html">26</a></td><td><a href="weather/19020827.html">27</a></td><td><a href="weather/19020828.html">28</a></td><td><a href="weather/19020829.html">29</a></td><td><a href="weather/19020830.html">30</a></td></tr>
    <tr><td><a href="weather/19020831.html">31</a></td></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>September 1902</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td><a href="weather/19020901.html">1</a></td><td><a href="weather/19020902.html">2</a></td><td><a href="weather/19020903.html">3</a></td><td><a href="weather/19020904.html">4</a></td><td><a href="weather/19020905.html">5</a></td><td><a href="weather/19020906.html">6</a></td></tr>
    <tr><td><a href="weather/19020907.html">7</a></td><td><a href="weather/19020908.html">8</a></td><td><a href="weather/19020909.html">9</a></td><td><a href="weather/19020910.html">10</a></td><td><a href="weather/19020911.html">11</a></td><td><a href="weather/19020912.html">12</a></td><td><a href="weather/19020913.html">13</a></td></tr>
    <tr><td><a href="weather/19020914.html">14</a></td><td><a href="weather/19020915.html">15</a></td><td><a href="weather/19020916.html">16</a></td><td><a href="weather/19020917.html">17</a></td><td><a href="weather/19020918.html">18</a></td><td><a href="weather/19020919.html">19</a></td><td><a href="weather/19020920.html">20</a></td></tr>
    <tr><td><a href="weather/19020921.html">21</a></td><td><a href="weather/19020922.html">22</a></td><td><a href="weather/19020923.html">23</a></td><td><a href="weather/19020924.html">24</a></td><td><a href="weather/19020925.html">25</a></td><td><a href="weather/19020926.html">26</a></td><td><a href="weather/19020927.html">27</a></td></tr>
    <tr><td><a href="weather/19020928.html">28</a></td><td><a href="weather/19020929.html">29</a></td><td><a href="weather/19020930.html">30</a></td></table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>October 1902</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td><a href="weather/19021001.html">1</a></td><td><a href="weather/19021002.html">2</a></td><td><a href="weather/19021003.html">3</a></td><td><a href="weather/19021004.html">4</a></td></tr>
    <tr><td><a href="weather/19021005.html">5</a></td><td><a href="weather/19021006.html">6</a></td><td><a href="weather/19021007.html">7</a></td><td><a href="weather/19021008.html">8</a></td><td><a href="weather/19021009.html">9</a></td><td><a href="weather/19021010.html">10</a></td><td><a href="weather/19021011.html">11</a></td></tr>
    <tr><td><a href="weather/19021012.html">12</a></td><td><a href="weather/19021013.html">13</a></td><td><a href="weather/19021014.html">14</a></td><td><a href="weather/19021015.html">15</a></td><td><a href="weather/19021016.html">16</a></td><td><a href="weather/19021017.html">17</a></td><td><a href="weather/19021018.html">18</a></td></tr>
    <tr><td><a href="weather/19021019.html">19</a></td><td><a href="weather/19021020.html">20</a></td><td><a href="weather/19021021.html">21</a></td><td><a href="weather/19021022.html">22</a></td><td><a href="weather/19021023.html">23</a></td><td><a href="weather/19021024.html">24</a></td><td><a href="weather/19021025.html">25</a></td></tr>
    <tr><td><a href="weather/19021026.html">26</a></td><td><a href="weather/19021027.html">27</a></td><td><a href="weather/19021028.html">28</a></td><td><a href="weather/19021029.html">29</a></td><td><a href="weather/19021030.html">30</a></td><td><a href="weather/19021031.html">31</a></td></table>
    <br/><br/></td><td></tr></table>
  </div>
  <div class="col-sm-6">

  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>September 1903</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td><a href="weather/19030923.html">23</a></td><td><a href="weather/19030924.html">24</a></td><td><a href="weather/19030925.html">25</a></td><td><a href="weather/19030926.html">26</a></td></tr>
    <tr><td><a href="weather/19030927.html">27</a></td><td><a href="weather/19030928.html">28</a></td><td><a href="weather/19030929.html">29</a></td><td><a href="weather/19030930.html">30</a></td></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>October 1903</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td></td><td><a href="weather/19031001.html">1</a></td><td><a href="weather/19031002.html">2</a></td><td><a href="weather/19031003.html">3</a></td></tr>
    <tr><td><a href="weather/19031004.html">4</a></td><td><a href="weather/19031005.html">5</a></td><td><a href="weather/19031006.html">6</a></td><td><a href="weather/19031007.html">7</a></td><td><a href="weather/19031008.html">8</a></td><td><a href="weather/19031009.html">9</a></td><td><a href="weather/19031010.html">10</a></td></tr>
    <tr><td><a href="weather/19031011.html">11</a></td><td><a href="weather/19031012.html">12</a></td><td><a href="weather/19031013.html">13</a></td><td><a href="weather/19031014.html">14</a></td><td><a href="weather/19031015.html">15</a></td><td><a href="weather/19031016.html">16</a></td><td><a href="weather/19031017.html">17</a></td></tr>
    <tr><td><a href="weather/19031018.html">18</a></td><td><a href="weather/19031019.html">19</a></td><td><a href="weather/19031020.html">20</a></td><td><a href="weather/19031021.html">21</a></td><td><a href="weather/19031022.html">22</a></td><td><a href="weather/19031023.html">23</a></td><td><a href="weather/19031024.html">24</a></td></tr>
    <tr><td><a href="weather/19031025.html">25</a></td><td><a href="weather/19031026.html">26</a></td><td><a href="weather/19031027.html">27</a></td><td><a href="weather/19031028.html">28</a></td><td><a href="weather/19031029.html">29</a></td><td><a href="weather/19031030.html">30</a></td><td><a href="weather/19031031.html">31</a></td></tr>
    <tr></table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>November 1903</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td><a href="weather/19031101.html">1</a></td><td><a href="weather/19031102.html">2</a></td><td><a href="weather/19031103.html">3</a></td><td><a href="weather/19031104.html">4</a></td><td><a href="weather/19031105.html">5</a></td><td><a href="weather/19031106.html">6</a></td><td><a href="weather/19031107.html">7</a></td></tr>
    <tr><td><a href="weather/19031108.html">8</a></td><td><a href="weather/19031109.html">9</a></td><td><a href="weather/19031110.html">10</a></td><td><a href="weather/19031111.html">11</a></td><td><a href="weather/19031112.html">12</a></td><td><a href="weather/19031113.html">13</a></td><td><a href="weather/19031114.html">14</a></td></tr>
    <tr><td><a href="weather/19031115.html">15</a></td><td><a href="weather/19031116.html">16</a></td><td><a href="weather/19031117.html">17</a></td><td><a href="weather/19031118.html">18</a></td><td><a href="weather/19031119.html">19</a></td><td><a href="weather/19031120.html">20</a></td><td><a href="weather/19031121.html">21</a></td></tr>
    <tr><td><a href="weather/19031122.html">22</a></td><td><a href="weather/19031123.html">23</a></td><td><a href="weather/19031124.html">24</a></td><td><a href="weather/19031125.html">25</a></td><td><a href="weather/19031126.html">26</a></td><td><a href="weather/19031127.html">27</a></td><td><a href="weather/19031128.html">28</a></td></tr>
    <tr><td><a href="weather/19031129.html">29</a></td><td><a href="weather/19031130.html">30</a></td></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>December 1903</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td><a href="weather/19031201.html">1</a></td><td><a href="weather/19031202.html">2</a></td><td><a href="weather/19031203.html">3</a></td><td><a href="weather/19031204.html">4</a></td><td><a href="weather/19031205.html">5</a></td></tr>
    <tr><td><a href="weather/19031206.html">6</a></td><td><a href="weather/19031207.html">7</a></td><td><a href="weather/19031208.html">8</a></td><td><a href="weather/19031209.html">9</a></td><td><a href="weather/19031210.html">10</a></td><td><a href="weather/19031211.html">11</a></td><td><a href="weather/19031212.html">12</a></td></tr>
    <tr><td><a href="weather/19031213.html">13</a></td><td><a href="weather/19031214.html">14</a></td><td><a href="weather/19031215.html">15</a></td><td><a href="weather/19031216.html">16</a></td><td><a href="weather/19031217.html">17</a></td><td><a href="weather/19031218.html">18</a></td><td><a href="weather/19031219.html">19</a></td></tr>
    <tr><td><a href="weather/19031220.html">20</a></td><td><a href="weather/19031221.html">21</a></td><td><a href="weather/19031222.html">22</a></td><td><a href="weather/19031223.html">23</a></td></table>
    <br/><br/></td><td></tr></table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>April 1908</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td><a href="weather/19080404.html">4</a></td></tr>
    <tr><td><a href="weather/19080405.html">5</a></td><td><a href="weather/19080406.html">6</a></td><td><a href="weather/19080407.html">7</a></td><td><a href="weather/19080408.html">8</a></td><td><a href="weather/19080409.html">9</a></td><td><a href="weather/19080410.html">10</a></td><td><a href="weather/19080411.html">11</a></td></tr>
    <tr><td><a href="weather/19080412.html">12</a></td><td><a href="weather/19080413.html">13</a></td><td><a href="weather/19080414.html">14</a></td><td><a href="weather/19080415.html">15</a></td><td><a href="weather/19080416.html">16</a></td><td><a href="weather/19080417.html">17</a></td><td><a href="weather/19080418.html">18</a></td></tr>
    <tr><td><a href="weather/19080419.html">19</a></td><td><a href="weather/19080420.html">20</a></td><td><a href="weather/19080421.html">21</a></td><td><a href="weather/19080422.html">22</a></td><td><a href="weather/19080423.html">23</a></td><td><a href="weather/19080424.html">24</a></td><td><a href="weather/19080425.html">25</a></td></tr>
    <tr><td><a href="weather/19080426.html">26</a></td><td><a href="weather/19080427.html">27</a></td><td><a href="weather/19080428.html">28</a></td><td><a href="weather/19080429.html">29</a></td><td><a href="weather/19080430.html">30</a></td></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>May 1908</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td></td><td></td><td></td><td><a href="weather/19080501.html">1</a></td><td><a href="weather/19080502.html">2</a></td></tr>
    <tr><td><a href="weather/19080503.html">3</a></td><td><a href="weather/19080504.html">4</a></td><td><a href="weather/19080505.html">5</a></td><td><a href="weather/19080506.html">6</a></td><td><a href="weather/19080507.html">7</a></td><td><a href="weather/19080508.html">8</a></td><td><a href="weather/19080509.html">9</a></td></tr>
    <tr><td><a href="weather/19080510.html">10</a></td><td><a href="weather/19080511.html">11</a></td><td><a href="weather/19080512.html">12</a></td><td><a href="weather/19080513.html">13</a></td><td><a href="weather/19080514.html">14</a></td><td><a href="weather/19080515.html">15</a></td><td><a href="weather/19080516.html">16</a></td></tr>
    <tr><td><a href="weather/19080517.html">17</a></td><td><a href="weather/19080518.html">18</a></td><td><a href="weather/19080519.html">19</a></td><td><a href="weather/19080520.html">20</a></td><td><a href="weather/19080521.html">21</a></td><td><a href="weather/19080522.html">22</a></td><td><a href="weather/19080523.html">23</a></td></tr>
    <tr></table>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>September 1911</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td></td><td></td><td><a href="weather/19110919.html">19</a></td><td><a href="weather/19110920.html">20</a></td><td><a href="weather/19110921.html">21</a></td><td><a href="weather/19110922.html">22</a></td><td><a href="weather/19110923.html">23</a></td></tr>
    <tr><td><a href="weather/19110924.html">24</a></td><td><a href="weather/19110925.html">25</a></td><td><a href="weather/19110926.html">26</a></td><td><a href="weather/19110927.html">27</a></td><td><a href="weather/19110928.html">28</a></td><td><a href="weather/19110929.html">29</a></td><td><a href="weather/19110930.html">30</a></td></tr>
    <tr></table>
  </div>
  <div class="col-sm-6">
    <table class="table">
    <tr><td colspan="7"><b>October 1911</b></td></tr>

    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
    <tr><td><a href="weather/19111001.html">1</a></td><td><a href="weather/19111002.html">2</a></td><td><a href="weather/19111003.html">3</a></td><td><a href="weather/19111004.html">4</a></td><td><a href="weather/19111005.html">5</a></td><td><a href="weather/19111006.html">6</a></td><td><a href="weather/19111007.html">7</a></td></tr>
    <tr><td><a href="weather/19111008.html">8</a></td><td><a href="weather/19111009.html">9</a></td><td><a href="weather/19111010.html">10</a></td><td><a href="weather/19111011.html">11</a></td><td><a href="weather/19111012.html">12</a></td><td><a href="weather/19111013.html">13</a></td><td><a href="weather/19111014.html">14</a></td></tr>
    <tr><td><a href="weather/19111015.html">15</a></td><td><a href="weather/19111016.html">16</a></td><td><a href="weather/19111017.html">17</a></td><td><a href="weather/19111018.html">18</a></td><td><a href="weather/19111019.html">19</a></td><td><a href="weather/19111020.html">20</a></td><td><a href="weather/19111021.html">21</a></td></tr>
    <tr><td><a href="weather/19111022.html">22</a></td><td><a href="weather/19111023.html">23</a></td><td><a href="weather/19111024.html">24</a></td><td><a href="weather/19111025.html">25</a></td><td><a href="weather/19111026.html">26</a></td><td><a href="weather/19111027.html">27</a></td><td><a href="weather/19111028.html">28</a></td></tr>
    <tr><td><a href="weather/19111029.html">29</a></td><td><a href="weather/19111030.html">30</a></td></table>
    <br/><br/></td><td></tr></table><br/></td></tr></table>
  </div>
</div>
