---
layout: ecu
title:  "[Ad for Kramer Brothers Company]"
customdate: "1926 August 13"
order: 3
---

{% include breadcrumbs.html %}

<h3>[Ad for Kramer Brothers Company]</h3>

<div class="well">
  <label>Text and Image(s) from Microform Advertisement</label><br/>

<a href="../../img/IAKB/bIAKB.jpg">
  <img src="../../img/IAKB/sIAKB.jpg" />
</a>
<br/><br/>

<p>
<b>Transcription for the image(s) above:</b>
</p>
<p>
  Half a Century of Building Service
</p>
<p>
  Everything In Lumber, Millwork and Shingles
</p>
<p>
  We have served Dare County people many years, and extend our heartiest good wishes for the Celebration.
</p>
<p>
  Kramer Brothers Company
</p>
<p>
  J.H. KRAMER, President
</p>
<p>
  F.K. KRAMER, Sec'y-Treas.[Secretary-Treasurer]
</p>
<p>
  Phone 43 and 42
</p>
<p>
  Office and Mill North Pennsylvania Avenue
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Ad for Kramer Brothers Company], <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
