---
layout: ecu
title:  "[Ad for Manteo-Norfolk Line]"
customdate: "1926 August 13"
order: 2
---

{% include breadcrumbs.html %}

<h3>[Ad for Manteo-Norfolk Line]</h3>

<div class="well">
  <label>Text and Image(s) from Microform Advertisement</label><br/>

<a href="../../img/IAMN/bIAMN.jpg">
  <img src="../../img/IAMN/sIAMN.jpg" />
</a>
<br/><br/>

<p>
<b>Transcription for the image(s) above:</b>
</p>
<p>
Direct From Norfolk To Manteo
</p>
<p>
If you have friends living in Norfolk, who want a quick trip direct to Roanoke Island during the week of the celebration, clip this schedule and mail to them. Out boat make three trips a week, but for the public convenience during the early part of the week.
</p>
<p>
Boat Leaves Old Dominion Pier No. One, Foot of Church Street. Schedule for the week:
</p>
<p>
Leaves Norfolk 6:30 a.m. Sunday Aug. 15, For Manteo.
</p>
<p>
Leaves Manteo Monday, Aug. 16, at 5:00 a.m. for Norfolk.
</p>
<p>
Leaves Norfolk Tuesday, Aug. 17 at 6:30 a.m. For Manteo.
</p>
<p>
Can handle 6 Automobiles each trip - meals on Boat
</p>
<p>
Manteo - Norfolk Line
</p>
<p>
M.F. TORKSEY, General Manager<br/>
Dial 41264 <br/>
NORFOLK, VA.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Ad for Manteo-Norfolk Line], <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
