---
layout: ecu
title:  "[Ad for Sharber &amp; White Hardware Co.]"
customdate: "1926 August 13"
order: 4
---

{% include breadcrumbs.html %}

<h3>[Ad for Sharber &amp; White Hardware Co.]</h3>

<div class="well">
  <label>Text and Image(s) from Microform Advertisement</label><br/>

<a href="../../img/IASW/bIASW.jpg">
  <img src="../../img/IASW/sIASW.jpg" />
</a>
<br/><br/>

<p>
<b>Transcription for the image(s) above:</b>
</p>
<p>
  Best Wishes To Dare County
</p>
<p>
  Sharber &amp; White Hardware Co.
</p>
<p>
  Wholesale and Retail
</p>
<p>
  ELIZABETH CITY, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Ad for Sharber &amp; White Hardware Co.], <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
