---
layout: ecu
title:  "[Ad for Steamer Trenton, East Carolina Transportation Company]"
customdate: "1926 August 13"
order: 1
---

{% include breadcrumbs.html %}

<h3>[Ad for Steamer Trenton, East Carolina Transportation Company]</h3>

<div class="well">
  <label>Text and Image(s) from Microform Advertisement</label><br/>

<a href="../../img/IATR/bIATR.jpg">
  <img src="../../img/IATR/sIATR.jpg" />
</a>
<br/><br/>

<p>
<b>Transcription for the image(s) above:</b>
</p>
<p>
OVER A THIRD OF A CENTURY
</p>
<p>
Between Elizabeth City, Nags Head and Manteo
</p>
<p>
Sailing More Than A Million Miles Carrying A Quarter Million Passengers Safe, Careful, Comfortable Service
</p>
<p>
Capt. Martin Johnson's Line is ready to take you to Roanoke Island at reduced fares during Homecoming Week, with the fast Steamer TRENTON on the following schedule: Leave Elizabeth City at Seven o'clock a.m. Monday, Tuesday and Wednesday, Aug. 16, 17 and 18 for Nags Head and Manteo; Wednesday trip Stopping at Fort Raleigh Celebration. Boat leaves Elizabeth City every day except Sunday for Nags Head and Manteo at 1:30 p.m. Meals served on the Boat and Fares reduced to $1.00 each way all during the week.
</p>
<p>
Eastern Carolina Transportation Co.
</p>
<p>
M.L. JOHNSON, President<br/>
W.K. LEARY, Vice-President<br/>
M.F. TORKSEY, Secretary and General Manager
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Ad for Steamer Trenton, East Carolina Transportation Company], <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
