---
layout: ecu
title:  "Dare County's Fame Spreads Across Globe"
customdate: "1926 August 13"
order: 5
---

{% include breadcrumbs.html %}

<h3>Dare County's Fame Spreads Across Globe</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  DARE COUNTY'S FAME SPREADS ACROSS GLOBE
</p>
<p>
  It Took the Publicity Aroused by Human Interest Appeal Like Homecoming to Put It On The Map
</p>
<p>
  For the first time in history, dare County has become really noted, thru the newspaper publicity that has atended [attended] preparations for the Homecoming celebration. Its people now have their greatest opportunity to make something of their county, and active cooperation now will mean much for them in the years to come.
</p>
<p>
  The Homecoming celebration represents much hard work on the part of the committee in charge, particularly the chairman and her small group of helpers at the county seat. Splendid cooperation throughout the county, as a rule, has been accorded. Months of work went into the plans, and the committee had the disagreeable task of soliciting funds for the work. But the county is already profiting.
</p>
<p>
  The publicity that has attended the Dare County Homecoming, the first celebration of the kind ever proposed in northeastern North Carolina, has already started something of a land boom in the County. Northern capitalists, hearing of the county's resort advantages have bought immense tracts of beach land with both sound and ocean frontage. Dare is peculiarly situated. It has 85 miles of continuous ocean frontage, the longest coast line [coastline] of any county in the State. Moreover, the same land that fronts on the ocean, fronts on the island sounds a distance of 85 miles also. Roanoke Island alone has 25 miles of waterfrontage [water frontage], and all in all, the county faces more than 200 miles in the Atlantic Ocean and faces the Sounds of Albemarle, Croatan, Roanoke and Pamlico.
</p>
<p>
  The County was formed in 1871, of 1871, of parts of Tyrrell, Hyde and Currituck. Three fourths of its area is water, which makes it the principal fishing county of the state with fisheries products of upwards of a million dollars a year, including oysters, crabs and clams. The principal food fish are North Carolina shad, the best known [best-known] variety on the New York markets, herring, rock, perch, etc. Good sport fishing is available at the inlets and in the ocean, the Red Bass, and other varieties being abundant. The Red Bass range in weight from 20 to 60 pounds a piece, and three Elizabeth City fisherman, recently took a thousand pounds of Red Bass during a morning's angling at Oregon Inlet.
</p>
<p>
  While Dare is probably the largest County in the state in area and might be a reasonably wealthy one, its fisheries were better fostered and the industry better taken care of, it is not only one of the less wealthy, but has a population of only about 5,000. In assessed valuation totals only about $2,500,000. A new industry is agriculture, and fair successes are being made, because the county is blessed with an unusually favorable climate, tempered but he gulf stream, and truck crops are produced ten days to two weeks ahead of other nearby sections.
</p>
<p>
  The county extends from Caffeys Inlet at lower Currituck Sound on the north, to Hatteras Inlet and Long Shoal River to the South. On the east it is bounded by the Atlantic Ocean, on the west by the Alligator River. From Hatteras Inlet northward, the communities are Hatteras, Frisco, Buxton, Avon, Salvo, Rodanthe, Nags Head, Kitty Hawk, Cohington and Duck.
</p>
<p>
  The mainland is a wild morass of white cedar timber, with several thickly settled communities of fisherman and farmers near its shores. The communities on the mainland are Stumpy point, Manns Harbor, Mashoes, East Lake and Buffalo City.
</p>
<p>
  Educationally, the county ranks high among counties of its size in the state. It has new and modern schoolhouses in nearly every community, with an eight-months term in most communities, two standard high schools, and three junior high schools. Transportation improves continually, with the inauguration of larger and swifter boats to all important points. The automobile has invaded every place in the county, and Roanoke Island alone has 250 cars.
</p>
<p>
  Manteo, the county seat, has a thousand population, on an island 12 miles long and three miles wide, inhabited by about 2,500 people. It is the capital of the fishing county, with crab packing plants, storage, and ice plants, etc., and is located on a broad bay that annually harbors many southbound yachts and seaplanes stopping for oil, stores and repairs.
</p>
<p>
  The island is traversed from end to end by a state highway. It was an important point during the civil war, and was early fortified by the confederate forces as the key to the upper sounds, and all the country thereabouts. When Hatteras fell, Federal gunboats sailed up the sound to take the island, while the Confederates in the meantime sunk a number of ships across the channel in croatan Sound to block them. The ships are now imbedded in the sand and parts of them are occasionally dug up by dredges. The union forces siezed the three Confederate forts on the island, which gave the Northerners the victory. Gen. Ambrose E. Burnside here maintained his headquarters, Gen. Foster had his camp on the north end of the island, and it was turned into a place of refuge for all the former slaves of the sound country.
</p>
<p>
  Roanoke Island is an interesting place. Towering pines and sand hills on the north, marshes and fish camps to the south. Indented all about with coves, and bays and creeks, once a harbor of refuge for the pirate ships that plundered the villages of the coastland. It was on one of these creeks that Blackbeard is said to have felled the timber, and built one of his vessels, and to this day, the chips may be dug from the swamps. In the center of the island is the noted vale called the Indian hole, once the camping grounds of the Indian tribes who lived on the island. The famous Duck islandclub owned by millionaire sportsman of Pennsylvania and New York is a show place of the section. A. W. Mellon, Secretary of the Treasurey of the united States is a member of this club. Miles of paths and roads wide enough for a flivver lead everywhere; miles of glittering white beaches skirts the hillsides. Lapping waters, and whispering breezes make summer music. In this land of enchantment, happiness and hospitality hold sway. The latchstring is on the outside always. Peace reigns in the household, and the stranger is ever welcome.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Dare County's Fame Spreads Across Globe," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
