---
layout: ecu
title:  "Homecoming Program in Dare Next Week"
customdate: "1926 August 13"
order: 7
---

{% include breadcrumbs.html %}

<h3>Homecoming Program in Dare Next Week</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  HOMECOMING PROGRAM In Dare Next Week
</p>
<p>
The Homecoming, which is countywide, in honor of the return of hundreds of former residents who will visit every community in the county, will begin officially, Sunday, August 15, on arrival of the steamer VanSciver at Nags Head, bringing many of the first comers.
</p>
<p>
The first two days will be devoted to general good fellowship, and renewing of old acquaintances thru-out the county. Baseball games between strong teams, including the Manteo team, will take place on the Manteo Diamond, every afternoon except Wednesday, the 18th.
</p>
<p>
On Wednesday, August 18, every community in the county will suspend its activities, to observe the Virginia Dare celebration at Fort Raleigh. On arrival of the steamers, the exercises will begin at 11:30 with a concert by the Hampton Roads Naval Band. Bishop Joseph Blount Cheshire of Raleigh will preside. Hon. Lindsay Warren, representing the State of North Carolina and speaking on behalf of Governor McLean, who is unable to attend, will introduce the distinguished guests, and will welcome to North Carolina, Sir Esme Howard, British Ambassador to America, who will make the address of the day.
</p>
<p>
A feature of the program will be the singing of a solo, "Carolina," by Dr. Hubert M. Poteat of Raleigh. The final concert by the Hampton Roads Naval Band will be rendered at three o'clock in the afternoon, after which, the excursionists will go aboard their boats, preparatory to departure at 5 o'clock, for Point Harbor and for Elizabeth City.
</p>
<p>
The landing and disbarking [disembarking] of the visitors will be handled by the U.S. Coast Guard, and Captain Walter Etheridge Officer in Charge of Nags Head station will supervise it. Many Government vessels will be present, including the Coast Guard Apache, which will bring the Ambassador from Washington; the Pamlico, will bring the distinguished officials from Elizabeth City; and the Navy Subchaser 210 from Norfolk commanded by Lieut. Gus Montague, a former Wanchese boy, and the Coast Guard boat from Elizabeth City and other will attend.
</p>
<p>
On Wednesday evening August 18th, a meeting of the North Carolina Fisheries Board will be held in the courthouse to consider several very important measures of interest to all the fishermen of the State.
</p>
<p>
On Thursday, afternoon a Masonic picnic, and installation of officers of Wanchese Lodge, No. 521 will take place at the Masonic hall at Wanchese. Hon. John H. Small, of Washington, will make the address, while among the distinguished visitors will be Judge Henry A. Grady, past Grand Master of North Carolina.
</p>
<p>
On Friday afternoon, August 20, the farewell exercises of the Homecoming, will be held on the Dare County Courthouse Grounds at 6:30 o'clock. The Homecoming does not officially close until August 23, but this is the best date during the week, as speeches by distinguished former residents will take place, and a splendid program, on what Dare County is today, and what its people ought to make of it, will be featured.
</p>
<p>
Every night during the week, the State Department of Education will show at Manteo, a moving picture of the Lost Colony that was make on Roanoke Island, and also the picture called "The children of Old Carolina," another educational movie of intense interest in the state will be shown.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Homecoming Program in Dare Next Week," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
