---
layout: ecu
title:  "How to Get There and What to Do"
customdate: "1926 August 13"
order: 6
---

{% include breadcrumbs.html %}

<h3>How to Get There and What to Do</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  How to Get There and What to Do
</p>
<p>
  All people planning to attend the Dare County Homecoming which begins Sunday, August 15, and lasts an entire week, should bear in mind the following facts about transportation:
</p>
<p>
  Boats leave Elizabeth City for Nags Head on Sunday morning at eight o'clock; for Manteo every week day at 1:30, for smaller boats operating to principal points in the county. Extra boats on Monday,Tuesday and Wednesday will leave Elizabeth City for Manteo. These boats will cary a few cars. Railroads will sell straight tickets thru at reduced rates, and reduced fares will be in effect on boats.
</p>
<p>
  Large excursion vessels will leave Elizabeth City, Wednesday, August 18 at seven o'clock to cary excursion crowds to the Virginia Dare celebration. These boats will go direct to Fort Raleigh, where the Committee in charge have built a wharf. Theb Committee is only able to feed a linited number of official visitors, but lunch will be sold on the grounds at nominal rates.
</p>
<p>
  On account of the long trip involved, visitors are notified to prepare themselves with sufficient food to last on the motor trip to Elizabeth City, or the return as the boats will not return until eight at night, and there will be little time to secure refreshments en route.
</p>
<p>
  All people from Norfolk; Currituck and intermediate localities, who plan to visit the island on August 18, will go direct to the Point Harbor ferry, where several large boats will make frequent trips to Fort Raleigh, beginning at six a.m. It is best to come early. This is a direct route via a good road, and will take care of many people from distant points who prefer motor travel, to a long water trip. The ferry at Point Harbor will make four trips a day all during the week carring ten cars each way to Roanoke Island, leaving Point harbor at nine a.m. and one, five and nine o'clock p.m. Parking space under guard will, be provided at Point Harbor for all cars the ferry will not accoommodate, and passengers will cross on excurision boats direct to the fort. Notice especially the transportation advertisements in this issue. The last boat will leave Point Harbor at 9:30 am.
</p>
<p>
  For the benefits of those going down the beach during the week, small ferries will make frequent trips at the following places. Between Kity Hawk and Point Harbor; between Nags Head and Manteo, and also across Oregon Inlet, making automobile travel continous from Capr Henry to Cape Hatteras. Small passenger boats will operate between Nags Head and Fort Raleigh August 18.
</p>
<p>
  Complete and definate information on anything of importance, will be available at headquarters of the Homecoming at Manteo where a booth will be maintained to inform the public about rooms, transportation, and other important questions. An information booth for the use of the general public will be maintained at Fort Raleigh, August18, and excursionists who decide that day to stop longer on the island, will make arrangements at he booth for a place to stay.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"How to Get There and What to Do," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
