---
layout: ecu
title:  "Not a Mishap in a Million Miles"
customdate: "1926 August 13"
order: 8
---

{% include breadcrumbs.html %}

<h3>Not a Mishap in a Million Miles</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>

<p>
  [Page 1]
</p>
<p>
  NOT A MISHAP IN A MILLION MILES
</p>
<p>
  Captain Martin Johnson Carries Quarter Million People Safely in 35 Years
</p>
<p>
  Thirty-five years and more, spent on the waters of Albemarle and Croatan Sounds, and Pasquotank River, making a round trip every week day between Manteo and Elizabeth City, travelling [traveling] over a million miles, carrying over a quarter of a million people, and not a single mishap, or personal injury to a passenger.
</p>
<p>
  Such is the record of Captain Martin Johnson of the steamer Trenton, operating every day from this city, and stopping at Manteo. For more than thirty-five year, Captain Johnson has sailed this line, master most of the time, Ten years or so ago, he put on the steamer Trenton, one of the fastest and most comfortable vessels plying these waters, and the greatest asset in the way of transportation Manteo has ever had. The Trenton carries all the mail that goes in a county of over 5,000 people, makes a round trip daily betwen [between] this city and Manteo, and keeps alive the summer resort of Nags Head.
</p>
<p>
  On no other line in eastern North Carolina has the same master served as long as Capt. Martin Johnson. On no other line has a steamboat Captain sailed as far. Figure it up, 90 miles a day, six trips a week, and he has sailed over a million miles, equal to 350 trips across the Atlantic Ocean, or forty times around the world.
</p>
<p>
  <a href="../../img/IJON/bIJON.jpg">
    <img src="../../img/IJON/sIJON.jpg" />
  </a>
  <br/><br/>
  [Caption] CAPT. MARTIN JOHNSON
</p>
<p>
  Captian Johnson is a native of the island, and president of the com-
</p>
<p>
  [Page 7]
</p>
<p>
  pany that operates the Trenton. He is one of the unusually interesting characters of the coast country, and takes pleasure in making his boat trips interesting.
</p>
<p>
  The fact that he has operated his line more than 35 years without a mishap is something he never brags about. He belives that would be bad luck. But hsi ususual record goes to prove that is is more safe to travel by water, than by land, especially if Martin Johnson is skipper.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Not a Mishap in a Million Miles," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
