---
layout: ecu
title:  "Largest County of Coast Guards"
customdate: "1926 August 13"
order: 12
---

{% include breadcrumbs.html %}

<h3>Largest County of Coast Guards</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/ILCC/bILCC.jpg">
    <img src="../../img/ILCC/sILCC.jpg" />
  </a>
  <br/><br/>

  <p>
  <b>Transcription for the image(s) above:</b>
  </p>

<p>
  Largest County of Coast Guards
</p>
<p>
  [Caption] DARE has not only more lighthouses than any other county on the coast, but has more Coast Guard stations (there being 19), than any other county in the world, because it has the longest coast line. The Coast Guard service gives employment to many men. The above picture shows a Coast Guard flaring his signal while on patrol.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Largest County of Coast Guards," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
