---
layout: ecu
title:  "Beautiful Winter Homes in Currituck"
customdate: "1926 October 29"
order: 17
---

{% include breadcrumbs.html %}

<h3>Beautiful Winter Homes in Currituck</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  BEAUTIFUL WINTER HOMES IN CURRITUCK
</p>
<p>
  Many Distinguisged American Come to Currituck Every Winter Some Have Built Homes There
</p>
<p>
  By Rupert E. West
</p>
<p>
  Currituck County thought it has not official announcer ad has never yet been on the air, has call letter which are W W Y, "We Welcome You." it is nationally famous for its true Southern hospitality and a wonderful place in which to live.
</p>
<p>
  Though its climate compares favorably with the most noted summer and winter resorts that it is free from hurricanes and devasating storms the are of frequent occurrence in many places which boast of their clime.
</p>
<p>
  That is a desirable plane, which to live is evidenced by the number of winter homes that are maintained in the county.
</p>
<p>
  These homes are not portable bungalows by permanent homes ranging in design and architecture from the [Unkown] cottage to Colonial mansions, enjoying a corps of servants and the takers for the entire year.
</p>
<p>
  The owners of these homes are not fly by night promoters or prospectors but are men whom the county is proud to call its citizens. They are men who are interested in the welfare and progressievness [progressiveness] of the county. Though they rank among the most prominent men of the Nation and are [listed] in "Who's Who in America" they are regular fellows, free from egotism and are as plain as "And old shoe".
</p>
<p>
  Among them are such men as Joseph P. Knapp, Publisher and Sportsman, whose home on Mackary Island is a credit to architecture: the grounds, with the miniature lakes and rose gardens, would please the eye of most critical landscape artist. It is a more than just a beautiful place in which to live, it is a home. Mr. Knapp's interest in the county is more than just the interest of a sportsman. The beautiful homes in which the teachers of Currituck County live are a gift to the County from him. The modern school building located on Knott's Island, is a gift from Mrs. Knapp. Mr. and Mrs. Knapp are great interested in education. They are firm believers in, "Equal educational advantages for the children of Currituck" and their generosity is largely responsible for the present school system of which the county is duly proud.
</p>
<p>
  Thomas Dixon, famous novelist and lecturer, also maintains a winter home in Currituck. His interest in the county is more than local. A native "Tarheel", he is at all times ready and willing to aid in its progress.
</p>
<p>
  Mr. and Mrs. William E. Carlin of New York City, have spent their winters in Currituck for the pas several years. It was Mr. Carlin who first inaugurated moving pictures in Currituck schools.
</p>
<p>
  Herbert Lawton, millionaire manufacturer, is a winter resident of county and has maintained a winter home on Currituck Sound for several years.
</p>
<p>
  Chas R. Van de Carr of New York, whose business interest have cone much in the development of the county has just competed a winter home in the county. Mr. and Mrs. Van de Carr plan to make this future home.
</p>
<p>
  There is the Knight residence at Whale's Head on Currituck Beach. The Rogers' home at FLYWAY, these beautiful places are the permanent homes of northern sportsmen, who were attracted by the beauty and advantages of their location.
</p>
<p>
  Mr. Herbert Cory of steel fame maintains a bhunting lodge on Knott's Island.
</p>
<p>
  There are many others that Currituck is proud to call its citizens.
</p>
<p>
  There are numerous lodges and clubs throughout the county. Among these are the "Swan Island Club", "Belles Island Club", "Currituck Club", "Floating Island Club", "Hampton Lodge", "White Game Preserve," "White Shooting Club." Many of these clubs have a regular membership while others cater to transient sportsmen. They all use citizen guides. The lodges and clubs are modern heating, equipment, and the best of all, "Old fashioned, Southen cooks," who can roast a duck or baste a goose to suit the fancy of an epicure.
</p>
<p>
  The members and guests of these clubs and lodges are sportsmen of the highest type. They come to Currituck anticipating real sports and they do not go away disappointed. Every visitor is a booster.
</p>
<p>
  There are lodges in Currituck that have a waiting list from year to year reservations are made seasons in advance.
</p>
<p>
  Once a sportsman reaches Currituck, all worry is left behind. Ponce De Leon might truly have reached his goal had be visited Currituck for he would have found the Fountain of Youth.
</p>
<p>
  Moyock and CoinJock
</p>
<p>
  A tourist wants to know if Moyock in Currituck County is a Chinese town? We told him no that Moyock is a Indian name. We also assured him that the name of Coinjock another Currituck community is not of Jewish origin.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Beautiful Winter Homes in Currituck," <em>The Independent</em> (Elizabeth City, N.C.), 29 October 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
