---
layout: ecu
title:  "Currituck Close to Roanoke Island Now"
customdate: "1926 October 29"
order: 18
---

{% include breadcrumbs.html %}

<h3>Currituck Close to Roanoke Island Now</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  CURRITUCK CLOSE TO ROANOKE ISLAND NOW
</p>
<p>
  Ferry From Point Harbor is a Great Step on Progress of Two Counties.
</p>
<p>
  And outstanding step in the progress of lower Currituck and Roanoke Island, is the ferry service now maintained between the island, and Point Harbor at the end of the Currituck peninsula, where a boat carrying ten cars at a time make town two round trips daily. This ferry has accomplished a great sept [step] toward the breaking down of the isolation of Dare, turns a great deal of traffic thru lower, Currtiuck and makes a great resort section more inviting and accessible.
</p>
<p>
  The owner of this ferry, T.A. Baum of Norfolk, a native of the section has rendered a great service to Dare and Currituck. In spite of handicaps he has established a line that will be a veritable small gold mine when better advertised to the traveling public. As an example of the popularity of this route, in bringing people to the section by auto, who would never otherwise brave an all the way water trip, is reported that more than 150 cars were turned back during the week of the Dare County homecoming, at the time when an unforeseen breakdown put the vessel out of commission at the most critical time.
</p>
<p>
  The people of that section hall with delight the new ferry, and predict that another year will demand a larger boat and more frequent trips. It is now enjoying good patronage. Capt. Ottis Simpson, a masterly young mariner of Wanchese is master of the vessel.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Currituck Close to Roanoke Island Now," <em>The Independent</em> (Elizabeth City, N.C.), 29 October 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
