---
layout: ecu
title:  "Prosperous County in a Prosperous State"
customdate: "1926 October 29"
order: 15
---

{% include breadcrumbs.html %}

<h3>Prosperous County in a Prosperous State</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  PROSPEROUS COUNTY IN A PROSPEROUS STATE
</p>
<p>
  Nothing Spectacular in Currituck's Progress, But Here Are Some Facts You May Not Have Known
</p>
<p>
  By Rupert E. West
</p>
<p>
  Currituck is on of the four counties in North Carolina form between 1776. I was give the indian [Indian] name * Currituck which though * many ways have never been *. It was formed from the * of Albemarle in 1672.
</p>
<p>
  A brief outline of its history from * through the 70's will be found * where in the Currituck Supplies * of The Independent this will * under The County of *Currituck by Fred A. Olds.
</p>
<p>
  *to history to preserve a * of its history of the trials * hardships of its first settlers * those who aided in preserving * that tare sill sacred in * of Currituck Citizens we * to the Currituck County
</p>
<p>
  * advancement and progress * the days that wampum was * to the present say is * as marked as the Improvement * Aeroplane [airplane] over the OX cart * a period of wooden sails * roads one room schools, ten * and poverty and ignore * we are face to face with one of the most prosperous States 8 Union
</p>
<p>
  In Northeastern North Carolina bounded by Virginia the Atlantic Oceans, Albemarle Sound * Camden County. It contains * acres of land, valued at * than $ 2,000,000 abd a property * of more than $5,500,000
</p>
<p>
  * of approximately * or about 1.609 families * miles of improved roads * gins. 18 garages, four * Phyicians, a shcool system * ranks second in the entire * spending an average of $28.68 per child enrolled.
</p>
<p>
  * Principally an agricultural * the crop census of 1925 gives, *record breaking figures of * bushels of sweet potatoes * or an average of 99 bushels * planed. 240,000 bushels * potates. 22,560 bushels of * for market, not grown * crops. 111,183 gorwn with * crops. 1.7935 tons of hay * beans. 302.180 bushels of * 2548 bales of cotton. It has * 73.06 per cent of its * own their farms an in * of 11 per cent in five years * shipping facilities are second * in the state, shipping is by * railed and motor * is less than tweleve hours * Northern markets, less than * miles from a Seaport ship.
</p>
<p>
  It is crossed by Route 34 of the State Highway System, one of the main southern highways this highway through Currituck offers ever convenience for tourist the route throught Currtuck being dotting with filling stations, garages, telephone and telegraph proximity. It has the greatest shooting grounds for migratory game that is to be found in the United States it has an abundance of small game and is known as Sportman's Paradise. It has a foreign born population of less than one per cent and is one of the few counties in the entire state that has not alms house, none are needed.
</p>
<p>
  Its climate is unsurpassed even by the most widely advertised resorts. It is not subjected to the extreme cold of Northern Winter's or of Southern summers. It's climate might be termed a happy medium.
</p>
<p>
  Its citizens are truly democratic its peace is never disturbed by religious or political discord, all working harmoniously for the betterment of the County.
</p>
<p>
  It's health conditions are excellent as attested by the face that there are only four practicing physicians to be a population of more than 8,000 people.
</p>
<p>
  It's prosecutions in the superior court is less than .9 per cent per 1,000 whites and .4 per cent negroes these figures are listed for convictions only.
</p>
<p>
  It's bathing beach is unsurpassed by any on the Atlantic Coast. Its fishing appeals to every type and class of fisherman from the Speckled trout of the sea to the Big Mouth bass of its inland waters.
</p>
<p>
  With all that it has to offer Currituck county is not molested by Blue Sky speculators and real estate sharks. It offers a whole hearted welcome to the strangers that come within its boundaries.
</p>
<p>
  Its soil is not limited to any particular type of far mcrops, it will grow anything from lettuce to grain. Cannas grown in Currituck are shipped to all parts of the country Mint grown in Currituck is used from Maine to Florida.
</p>
<p>
  It's progress has not be spectacular. It is not a boom county its advancement is due to the cooperation of its citizens in a concrete movement for the betterment of the place in which they live. With this as their motive they have made of Currituck County a place which its citizens are proud to call home. A place that appeals to the stranger within its gates. Its citizens are proud of the Currituck of 1926. There is no limit to its future. It strives for the best always.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Prosperous County in a Prosperous State," <em>The Independent</em> (Elizabeth City, N.C.), 29 October 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
