---
layout: ecu
title:  "Here Sportsmen Find Their Paradise"
customdate: "1926 October 29"
order: 16
---

{% include breadcrumbs.html %}

<h3>Here Sportsmen Find Their Paradise</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  WHERE SPORTSMEN FIND THEIR PARADISE
</p>
<p>
  * Waters and Marshes the Natural Habitat of Millions of Migratory Wild Fowl
</p>
<p>
  By RUPERT E. WEST
</p>
<p>
  It may be truthfully stated that Currituck County is a Sportsman's paradise. It is nationally known as such. Not only is it a paradise for sportsmen but to all lovers of nature. The mere presence of game in * natural habitat is a delight to * and journalist, its presence in abundance calls the sportsmen to the field in healthful * giving enjoyment of days and * in the open.
</p>
<p>
  Currituck county has a variety of * abundance such as will * to sportsmen of all types and classes. Here we find, bear, * wild cats, fox, coons, o'possum, squirrel and rabbits. Quail, * snipe, yellowlegs, woodcock, and many other game birds and animals. It is the feeding ground for migratory game. Here may be *, Canvashacks, redheads, *, black duck, the blue * teal, read [red] winged teal, ruddy, *, merganser, mallard, grebe, *, widgeon, wood duck and *. Here too the Canada or wild * may be found in abundance. Beautiful swan is here by the *. While not a game bird, * swan is the most beautiful of the migratory group.
</p>
<p>
  For more than a quarter of a century the United States Department of Agriculture has been charging * the conservation and protection of game and for half that time with the protection of migratory birds.
</p>
<p>
  * by restriction of hunting * however, is only one method of * protection. Currituck Coun- * though it had an abundance of * was far sighted enough to * for the future. It did more * the federal law in its en- *, the methods of shooting, * limit law is an outstanding achievement, it does not depend * and * warden for the protection of its game, it has its own wardens who have more than ordinary interest in the protection of game.
</p>
<p>
  Prohibiting the shooting of wild fowl does not mean that they are protected, there must be places of refuge for them, there are citizens in the county who have spent thousands of dollars in making ponds, planting wild celery and other wild fowl foods, hundreds of bushels of grain or dumped annually in the waters of Currituck sound to feed the migratory birds, with such places of refuge and an abundance of natural foods the future of Currituck County's migratory game is assured. If further restrictions and places of refuge are needed Currituck will make them.
</p>
<p>
  The game laws of the county though affording ample protection of its game work no hardship on its sportsmen. Fortunately its citizens and its visiting sportsmen are all that the name implies, they are Sportsmen they are satisfied to comply with its laws and aid in their enforcement. The migratory game law provides for a bag limit of 25 ducks and eight geese per sportsman for each shooting day, there are but few men who are not satisfied with such a liberal law as this.
</p>
<p>
  Fortunate indeed is he who has an opportunity to roll out of the feathers on a crisp winter's morning, stopping only to sip a cup of hot coffee and get into his hunting clothes before he hurries to the boat or conveyance that is to take him to the shooting grounds.
</p>
<p>
  Duck shooting in Currituck County is "The greatest sport in the world. Whether you are to shoot from battery rig, blinds or marches it is the greatest thrill of all.
</p>
<p>
  If you are to shoot from a battery you can hardly wait for the guides to get the battery over and the decoys out. Perhaps it is the first time in a battery, ah Oh! but won't there be something to tell the folks back home. With ducks flying everywhere it would seem easy to bag the limit. But wait -
</p>
<p>
  The battery is anchorede [anchored], the decoys are out, the ammunition is placed in the canvas container and you are ready to step in. Careful now don't slip, gun in hand you are safe in the rig and the guides are away. Swish splash and the water comes pouring over the wings, in a moment you are all wet. Whew but its cold. Whirr-whirr, a bunch of bobbies are coming like the wind, bang-bang, a clean miss, Ah, there's one right in the decoys, Bang' and Mr. Blue Peter looks around to see what it's all about. Bang' again and you get him. And my' how the guides are going to lough [laugh].
</p>
<p>
  "The weather scarred guide of the battery rig. <br/>
  Watches eagle eyed for the sign of a sprig. <br/>
  He marks the booby as he wings his way. <br/>
  Swish - like a bullet - across the bay. <br/>
  He can tell a Canvas back by his flight. <br/>
  He knows just where he is going to light. <br/>
  He anchors his man right in the fly, And knows that each miss will mean a lie. <br/>
  The shells are bad, the gun's all wrong[,] <br/>
  The battery rocked or the range was too long. <br/>
  Ducks in the air, but no ducks down, <br/>
  In a battery rig on Currituck Sound." 
</p>
<p>
  To hit is history, to miss is mystery, but there si [is] more mystery than history to duck shooting, but you are satisfied with the day and are ready to get back to the hunting lodge for dry clothes, Ah' you can almost smell that steaming canvas back and those sweet potatoes Oh' boy, its a grand and glorious feeling. Hungry, My but doesn't that Currituck air give one an appetite.
</p>
<p>
  Reservations for duck shooting in Currituck are made a year ahead. Its not just the duck shooting that makes you want to get back to Currituck, you just like the folks down there. when [When] you are their guest there is nothing too good for you.
</p>
<p>
  Perhaps you get your limit of ducks in a short while in the morning. There's quail shooting in the afternoon if you care to go. Did you ever watch a pointer or setter at work, 'careful now, they are just ahead. come [Come] on up' here they are, a whirr of wings and they are away. If you don't like quail shooting, there's a pair of hounds out in the back yard just waiting to "do their stuff". The music of hounds in full pack is even sweeter than the tinkle of ice on a water pitcher used to be in the days of "The morning after the night before". And if you are not to tired there's a coon hunt on for the night. What's walking a few miles to get a nice fat coon?
</p>
<p>
  If your fingers itch when you see a grass hopper, its a sure sign that you are a knight of the rod and reel. Then just unpack your tackle box, get out your favorite fly or lure The big mouth bass are waiting for you. If you are one of the old timers who likes the old fashioned reed pole with a cork float, you will find sun fish, speckled perch and other of the finny tribe. On Currituck coast you may find spots, tailors, channel bass, speckled trout and other game fish too numerous too mention.
</p>
<p>
  Getting to the shooting grounds of Currituck is much easier than seeing the world series. You can reach them by train, aeroplane, antomobile [automobile] or motor boat. You will find comfortable hunting lodges, and capable guides.
</p>
<p>
  The money that you spend for Hunting in Currituck County is not only used for the betterment of the county in building roads and providing good schools for its citizens, it is spent in such a manner that every one who shoots in Currituck derives a direct benefit from the money that he spends for this pleasure.
</p>
<p>
  "Currituck County is truly a Sportsman's Paradise."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Here Sportsmen Find Their Paradise," <em>The Independent</em> (Elizabeth City, N.C.), 29 October 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
