---
layout: ecu
title:  "National Memorial to Aviation to be Sought"
customdate: "1926 August 27"
order: 14
---

{% include breadcrumbs.html %}

<h3>National Memorial to Aviation to be Sought</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  NATIONAL MEMORIAL TO AVIATION TO BE SOUGHT
</p>
<p>
  Congressman Warren Will Introduce a Bill for $100,000 For Such A Monument, and Celebration of 25th Anniversary is Proposed
</p>
<p>
  A national memorial to the founding of aviation which took place on the North Carolina Coast at Kill Devil Hill in Dare County in 1903, is to be sought in Congress at is next session. Representative, Lindsay Warren will ask an appropriation of $100,000 for this national memorial.
</p>
<p>
  The first airplane flight in the world took place on those bleak sand dunes on December 17th, 1903, when Wilbur and Orville Wright, young inventors of Dayton Ohio, flew their machine in the teeth of a strong northeast gale from the top of the towering hill.
</p>
<p>
  The fact that this historic even of tremendous significance in the progress of the world, and perhaps the most far reaching one ever to take place by reason of its possibilities in the realm of future achievement give, the State an unique position and an opportunity to stage celebration of international significance on the same spot.
</p>
<p>
  Victor Meekins, who suggested to Dare County people that they organize a local historical society to mark all the historic spots in the county thought Kill Devil Hill should be the first place marked, and a celebration held on the spot, and approached Mr. Warren interested and anxious to introduce a bill for a national appropriation, which is all drawn up and ready to be presented at the next session of Congress. The Bill provides for a national memorial to the founding of aviation and provides that it shall be erected at Kill Devil Hill. Those who discuss the moving of the hill under the force of wind should know that the movement of the hill can be easily stopped by planting it with grass and covering it with brush until the grass has taken root.
</p>
<p>
  Those who favor the celebration at Kill Devil Hill in 1928 to mark the 25 anniversary of the first airplane flight in the world, believe it could be made an exposition of even international note, lasting all summer long and bringing everything of interest in the field of aeromattics to the spot where the first plane was flown. The principal even of the celebration of course would be the unveiling of the monument, which would be participated in by representatives of the foremost nations in the world.
</p>
<p>
  This history of the flight of the Wrights, and how they went to Kill Devil to perfect their invention away from the prying eyes of those who laughed at progress, has been told in section. Wilbur Wright one of the two brothers is dead, but Orville lives at Dayton Ohio. In this instance, an account of his attainment may be interesting:
</p>
<p>
  According to Who's Who in America, Orville Wright, now 55 years old, was with his late brother Wilbur the first to fly with a heavier than air machine December 1, 1903. Mr. Wright not living in Dayton Ohio, is unmarried. He was educated in the public schools of Dayton, until he was 19, but since his achievement he has received honorary degrees from many colleges and foreign countries. With his late brother Wilbur, he was the inventor of the system of controls used in all airplanes today.
</p>
<p>
  The Wrights began life modestly being the proprietors of a bicycle shop in Dayton, Ohio before becoming interested in the possibilities of aviation.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"National Memorial to Aviation to be Sought," <em>The Independent</em> (Elizabeth City, N.C.), 27 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
