---
layout: ecu
title:  "Praise For a Good Piece of Work"
customdate: "1926 August 20"
order: 13
---

{% include breadcrumbs.html %}

<h3>Praise For a Good Piece of Work</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <p>
    Praise For A Good Piece of Work
  </p>
  <p>
    VAN PATTEN
  </p>
  <p>
    Virginia Beach Properties
  </p>
  <p>
    August 16th, 1926.
  </p>
  <p>
    Mr. W.O. Saunders, Editor and Publisher
  </p>
  <p>
    The Independent, Elizabeth City, N.C.
  </p>
  <p>
    Dear Mr. Saunders: -
  </p>
  <p>
    Permit me to express my congratulations on your issue of The Dare County Homecoming Edition of The Independent, a copy of which I am in receipt of and have thoroughly read and digested with marked interest.
  </p>
  <p>
    Expository in the most complete detail of the great historic event the edition commemorates, the issue in its entirety presents a mechanical mastercraft as well as a comprehensive production of journalism which justifies the eminence attained by your paper as one of the highest order in the rank of the weekly journals of the South.
  </p>
  <p>
    With best wishes for its continued progress and success, believe me.
  </p>
  <p>
    Very truly Yours,
  </p>
  <p>
    W.L. BAILIE,
  </p>
  <p>
    Publicity Director
  </p>
  <p>
    Van Patten, Inc.
  </p>
  <p>
    Tried His Darndest [Dandiest] To Smile
</p>
    <a href="../../img/INWO/bINWO.jpg">
      <img src="../../img/INWO/sINWO.jpg" />
    </a>
    <br/><br/>

    [Caption] HERE then is the latest photo of "W.O." Himself. It was a hot day, the air was close in the photographer's studio, the perspiration was running in rivulets from the hairless dome of the editor. "W.O." did his darndest [dandiest] to smile and the picture here is the result. Photo by Paul M. Taylor.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Praise For a Good Piece of Work," <em>The Independent</em> (Elizabeth City, N.C.), 20 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
