---
layout: ecu
title:  "Principal Figures in the Dare County Homecoming Celebration Which Will Attract the Attention of Two Nations All Next Week"
customdate: "1926 August 13"
order: 9
---

{% include breadcrumbs.html %}

<h3>Principal Figures in the Dare County Homecoming Celebration Which Will Attract the Attention of Two Nations All Next Week</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/IPFD/bIPFD.jpg">
    <img src="../../img/IPFD/sIPFD.jpg" />
  </a>
  <br/><br/>

  <p>
  <b>Transcription for the image(s) above:</b>
  </p>

<p>
  Principal Figures in the Dare County Homecoming Celebration Which Will Attract the Attention of Two Nations All Next Week
  </p>
  <p>
  READING from left to right: Sir Esme William Howard, British Ambassador to the United States, who will deliver the address during the week of the Dare County Homecoming, at the celebration on Fort Raleigh, Wednesday, August 18. Lord Howard, has the most distinguished diplomatic career of any Ambassador in the world. Second: Hon. Lindsay Carter Warren, Representative in congress whose efforts have secured an appropriation for a marker on the site of Fort Raleigh, and as a member of the Dare County Homecoming Committee, presented the invitation for the Committee to the British Ambassador. Third: Victor Meekins, Elizabeth City newspaperman, and Dare County product, who launched the idea of a Homecoming and whose tireless efforts for Dare County have secured international publicity for his native section of the Coastland. Forth: Mrs. Rennie G. Williamson, the pretty and able young Dare County woman, who gave liberally of her time and talent, as General Chairman in charge of the Homecoming, in order that it might be a success. Mrs. Williamson is one of the most gifted grils of Dare County, and for many years has led in movements for the betterment of her community. The above photographic layout is published by courtesy of the Charlotte Observer, one of the many papers that have given large space to Mr. Meekins' stories of the celebration.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Principal Figures in the Dare County Homecoming Celebration Which Will Attract the Attention of Two Nations All Next Week," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
