---
layout: ecu
title:  "Roanoke Island Ready for its Noted Visitors"
customdate: "1926 August 13"
order: 10
---

{% include breadcrumbs.html %}

<h3>Roanoke Island Ready for its Noted Visitors</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  ROANOKE ISLAND READY FOR ITS NOTED VISITORS
</p>
<p>
  Over Six Thousand People Expected to Visit Spot Where Many National Notables Will Gather August 18
</p>
<p>
  Home Coming To Last An Entire Week
</p>
<p>
  By D.V. Meekins
</p>
<p>
  Everything is in readiness for the crowds who will set pail, beginning Monday, and continuing thru the week to attend the Dare County Home coming the principal event of which will lie the celebration of the birthday of Virginia Dare on Wednesday, August 1st beginning at 11:30 o'clock and lasting an hour and a half before luncheon begins.
</p>
<p>
  Transportation men in Elizabeth have assured ample steamer service four large vessels will set sail from this city on August 18, leaving here At seven o'clock for the four-hour ran to Roanoke Island. Four large power boats will leave Point Harbor, beginning at six o'clock, taking cam 6f those who come from Currituck and Norfolk by Automobile, where parking space has been provided.
</p>
<p>
  The exercises at the fort will begin about 11:30 a.m. after-all the visitors have come ashore. For the first time in history, since Sir Walter Raleigh's colonists last dropped anchor in Roanoke Sound and went Ashore to build their Fort on Roanoke 339 years ago, a representative a of the English Government will set foot on the Island's historic soil, when Sir Esme William Howard, British Ambassador to the United States, who is to arrive the day before, on the Coast Guard butter Apache will go ashore at Fort Raleigh, to make the principal speech of the day.
</p>
<p>
  With their smoke showing On the, horizon on every hand, the many vessels coming from all points of consequence, will steam into the placid waters off Fort Raleigh. Here they will drop anchor. The rattle of chains in the hawse pipes, and the roar of a cannon from a Government ship will resound from the wooded shore and towering sand dunes and if a little louder, just as they sounded when Ralph Lanes first colony in 1584 cast anchor and was met by friendly indians [Indians].
</p>
<p>
  As the vessels approach the anchorage, a hundred years or so off Fort Raleigh, dozens of rim fishing craft of the natives, will swiftly emerge from the shore, led by power surfboat, and two life boats manned by the famous Nags Head Coast Guards, under the direction of Capt. Walter Etheridge, who will hasten o meet the visitors. The boats carrying 25 to 30 passengers apiece will take the thousands in short order from the steamers to Fort, where along a shady roadway over a hillside the visitors will make their way for a short distance to the wooded glen where Virginia Dare was born and baptised under the towering oaks and pines that sheltered the Colony so mysteriously lost.
</p>
<p>
  Here under friendly trees on the sold where began out American civilization where the first celebrations of a Christian sacrament in what is not the United States took place, where mankind learned to smoke the pipe, and the humble Irish potato became the friend of civilized man, will gather more dignitaries of high and mighty rank, state, national and international, than have ever met before in Eastern North Carolina, and many of these distinguished visitors will learn for the first time, of the scenic beauty, charm and enchanting atmosphere of their romantic and historic section of the coastland.
</p>
<p>
  Thousand Expected
</p>
<p>
  After the visitors have made their way past the long tables and refreshment stands under the oaks and pines of the cool, green, forest the ceremonies of the day will open, presided over by the Rt. Rev. Joseph Blount Cheshire of Raleigh. The strains of patriotic airs, by the Hampton Roads Naval Band of Norfolk, will float thru the trees. From hundreds of throats patriotic songs and hymns will rise, as the flags of two countries flutter out on the breeze and to the top of the tall flagpole on a hillside near the Fort. Here is the only place in the country where the Elizabethan flag of old England may be flown. A special feature will be the singing of "Carolina," led by Hubert M. Poteat of Raleigh.
</p>
<p>
  Over six thousand people are expected to make their way to Roanoke Island on august 18, and the three days to be present at the ceremonies, to hear the music and speeches, and to see the historic site of the nation's birth. Many of these will be former residents, mostly sons and daughters of the country, back on their native soil for the first time in many years, for the celebration at Fort Raleigh is the biggest event, of a Countywide Homecoming lasting an entire week: August 15 to 23, a week of many celebrations and fetes of special interest to the people of the county. A thousand former residents, with their wives, husbands and children, have been invited to return for the week to meet old friends, exchange reminiscences, and observe the changes wrought by the years, on familiar landmarks of their native health.
</p>
<p>
  Government Recognizes It
</p>
<p>
  The celebration will also mark the official announcement of government of Fort Raleigh. Thru the efforts of Representative Lindsey Warren, an appropriation of $2, 500 has been made by congress for a marker to be erected on the Fort, but this will not be ready for unveiling at the celebration. It was upon invitation of Mr. Warren, that Sir Esme Howard agreed to come to Roanoke Island to make the address. In coming to the Island, the famous diplomat made an exception to his custom of never making speeches outside of Washington. But because his countrymen settled Roanoke Island, and because he thought it high time that more than local recognition be given the historic spot, he agreed to make the address. President Coolidge has written a letter recognizing the event, and this will be read as part of the probram [program].
</p>
<p>
  Sir Esme and his party will be brought to Roanoke Island direct from Washington on the Case Guard Cutter Apache, one of the larger patrol vessels of the service. His ship will come thru the Albemarle and Chesapeake Canal, the famous waterway that traverses the celebrated wildfowl country of Currituck and Dare Counties.
</p>
<p>
  Officials Sail from this City
</p>
<p>
  The Coast guard Cutter Pamlico, Commander Jensen in charge, will sail from Elizabeth City at the head of a fleet of excursion steamers and yachts, early on the morning of Wednesday, August 18th, leaving here about 7 o'clock and heading down the Pasquotank River, and across the Albemarle Sound, the shores of which present na [an] ever changing panorama of natural beauty, on the right hand the forests where roam the bear and deer, on the left hand the wildfowl marshes of Currituck and dare, and further down, Kill Devil Hills where the first airplane was built and flown by Orville and Wilbur Wright in 1903, and Nags Head, traditionally famous Eastern Carolina watering place, and fishing resort, four miles from Fort Raleigh.
</p>
<p>
  The Pamlico will take many distinguished guests from Elizabeth City, carrying former-Governor Morrison and O. Max Garder of Shelby. Others who will attend are former Representatives John H. Small of Washington, Charles L. Stengle of New York, Bishops Cheshire, Darst, Horner and Penick, the four Episcopal Bishops of North Carolina, and other Episcopal notables, while the following members of the North Carolina Delegation in congress have signified their intention to be present. Representatives Lindsay C. Warren, Major Charles M. Stedman, john H Kerr, Charles L. Abernathy, Homer L. Lyon, A.L. Bulwinkle and Zebulon Weaver, and other members of the delegation including Senators Simmons and Overman and several congressmen from Virginia are expected. Rear Admiral R.E. Coontz, Commandant of the Fifth Naval District will be present with a small naval contingent from Norfolk, also former Secretary of the Navy Josephus Daniels and other noted men.
</p>
<p>
  The Coast guard supply vessel at this city will carry an aggregation of local notables together with members of the Boys Band as guests of Capt. Jas. A. Price, Superintendent of the Seventh district.
</p>
<p>
  The entire Fisheries Board of North Carolina, which meets in Morehead City on the 17th, will embark on the commission's yacht Atlantic, and sail for the island en masse. the first time the present personnel of the board will have visited North Carolina's principal fishing county together, and will hold two executive meetings of especial importance in the County. The most important one being on Wednesday night, August 18th, where measures of vital interest to every fisherman will be taken up.
</p>
<p>
  The program for the day will be conducted by Bishop Cheshire of Raleigh, and president of the association that owns Fort Raleigh. Invocation will be by Bishop Darst, Congressman Warren, will present the distinguished visitors at the old Fort and welcome to North Carolina, Sir Esme who will deliver an address of international interest. At the close of the exercises, the visitors will lunch under the trees, and those who do not desire to stay over for the night, will prepare to board the steamers, and make ready for departure. Many who go down on august 18, will stay over for the final exercises two days later, and homes for these, are being secured with citizens of the island.
</p>
<p>
  While many of the vessels will sail direct from Elizabeth city, many small passenger boats will leave for the island from Point Harbor at nine and ten o'clock in the morning, hundreds of people driving their cars to the end of the Currituck peninsula, where parking facilities have been provided and taking the shorter boat trip. Others will take advantage of the ferry service recently inaugurated between Point Harbor and Fort Raleigh, and go over to spend several days, to enjoy the hunting and fishing of the island where free camp sites are available. But all Homecomers are urged to come early, for the Homecoming Week begins Aug. 15 and lasts until the 23 [23rd].
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Roanoke Island Ready for its Noted Visitors," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
