---
layout: ecu
title:  "Warren Tells Congress Lost Colony Story"
customdate: "1926 August 13"
order: 11
---

{% include breadcrumbs.html %}

<h3>Warren Tells Congress Lost Colony Story</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  Warren Tells Congress Lost Colony Story
</p>
<p>
  History of Roanoke Island Settlement Reviewed in Speech by Carolina Representative.
</p>
<p>
  When Congressman Lindsay * Warren of Washington, North Carolina got busy at the * Capital in behalf of his * or a Government appropiate to erect a marker at Fort Raaleigh. While sapce does not * the publication of his * of Monday, May 17 in * the following, extracts * it give the history of the * substantially and are interesting:
</p>
<p>
  * was the first attempt of the * to colonize a new empire; * though they failed temporarily they laid the foundation for permanent settlement at Jamestown 23 years later and insured * dominion in America. The * of the first attempt made * englishman to settle this coun* birth of the first child of English parentage on this soil, and * who crossed uncharted seas * attempted to establish a new * is therefore the beginning of American history. While * spaniards many years before * Florida, and while there * a French stettlement in *Carolina in 1654 which had *to the sword, all of the *between Canada and Florida * an unbroken wilderness. * the flag of England was raised for the first time on Roanoke Island, N.C., it was the first step * series of events of the utmost * to mankind. FOrtunate indeed was it for America and for humanity that this first lodgment on our stormy coast was by a race ardently attached to freedom and personal liberty and trained to the usages and customs of the realm of England.
</p>
<p>
  Raleigh's First Expedition
</p>
<p>
  "On Lady Day, March 25, 1584 Queen Elizabeth granted letters patent to her favorite courtier, Sir Walter Raleigh--for the discovering and planting of new lands and countries to continue the spaces of six years and no more.
</p>
<p>
  "These letters patent conferred upon him - all prerogatives, commodities, jurisdictions, privileges, franchises, an preeminences here to or thereabouts, both by sea and land, whatsoever we by our letters patent may grant, and as we or any of our noble progenitors have heretofore granted, to any person or persons, bodies politique or corporate.
</p>
<p>
  Two vessels were quipped and sent out under command of those great explorers, M. Philip Amadas and M. Arthur Barlowe, the later of whom wrote an account of the expedition for--Sir Walter Raleigh. Knight, at whose charge and direction the said voyage was set forth.
</p>
<p>
  "The 27th day of April, in the year of our redemption 1584-"
</p>
<p>
  "Barlowe relates - we departed the west of England with two barks well furnished with men and vicuals. * * * The tenth of May we arrived at the Canaries and the tenth of June in this present yeere [year] we were fallen with the islands of the West Indies, keeping a more southeasterly course than was needful, because we doubted that the current of the Bay of Mexico, disbogging between the Cape of Florida and Havana, had been greater force than afterwards we found it to be * * *
</p>
<p>
  The second day of July, we found shole water, where we smelt so sweet, and so strong a smel [smell], as if we had bene [been] in the midst of some delicate garden abounding with all kinds of odofiferous [odoriferous] flowers, by which we were assured that the land could not be farre distantant: and keeping good watch, and bearing but slack saile, the fourth of the same month we arrived upon the coast, which we sayled along the same a hundred and twentie English miles before we could find any entrance or river issuing into the sea. The first that appeared unto us, we entered*** and cast anker about three harquebuz-shot within the haven's mouth on the left hand of the same; and after thankes given to God for our safe arrivall, we manned our boats, and went to view the land next adjoining, and to take position of the same, in the right of the Queene's most excellent Majestie.
</p>
<p>
  "Entering at New Inlet or Trinity Harbor, they anchored not far from Roanoke Island.
</p>
<p>
  *** Wee [We] came to an island which they call Raonoak [Roanoke], distant from the harbour by which we entered seven leagues; and at the north and thereof was a village of nine houses, built of cedar, and fortified round about with sharpe trees, to keep out their enimies, and the entrance into it made a turne pike very artificially; when we came towards it standing neere unto the water's side, the wife of Granganimeo, the King's brother, came running out to meete us very cheerfully and friendly***; some of her people she commanded to drawe our boats on shore***; others she appointed to carry us on their backs to the dry ground, and others to bring out oars into the house for fear of stealing.***
</p>
<p>
  "These first explorers remained only two months on Roanoke Island and reached England again about the middest of September,' taking with them two of the native Indians, Wanchese and Manteo.
</p>
<p>
  Raleigh's Second Expedition
</p>
<p>
  "On April 9, 1585, Raleigh's second expedition set sail from Plymouth under command of Sir Richard Grenville. On June the 23rd they came near shipwreck on a beach called the Cape of Feare.' On the 26th they came to anchor at Wocoken (Ocracoke); and on July 3 they announced their arrival to Wingina (Indian chief) at Roanoke. On the 27th the ships anchored at Hatorask and there rested. On August 25 Sir Richard sailed for England, leaving the colony under the government of Ralph Lane-by whom an acount of the expedition was written and sent to Sir Walter Raleigh.
</p>
<p>
  "On September 3, 1585, Governor Lane wrote to Richard Hakluyt from the 'New Fort in Virginia,' which he had erected on the site of the fortified Indian village found there by Amandas and Barlowe. In those early days this settlement was called Manteo, but was later known as Fort Raleigh. He had planned to change the site of the colony to a better location, but the hostility of the Indians rendered all efforts to that end futile. Their situation became finally so precarious that the colonists departed in the following year for England with Sir Francis Drake, when the latter, on-his prosperous returne from the sacking of Sant [Saint] Domingo, Cartagena, and Saint Augustine, determined in his way homeward to visit his countrymen, the English colony then remaining in Virginia.
</p>
<p>
  "About fourteen days after their departure Sir Richard Grenville, general of Virginia, arrived at Hatorask, hearing no news of the colony and finding the places which they inhabited desolate-yet unwilling to lose possesion of the country - he landed 15 men on 'the Isle of Roanoak' and furnished them 'plentifully with all manner of provisions for two yeares [years].'
</p>
<p>
  Raleigh's Third Expedition
</p>
<p>
  "In the year 1587, Sir Walter Raleigh-intending to persevere in the planting of his countrey of Virginia, prepared a new colony of one hundred and fiftie men to be sent thither, under charge of John White, whom he appointed governor, and also appointed unto him twelve assistants, unto him he gave a charter, and incorporated them by the name of governor and assistants of the cite of Raleigh in Virginia.
</p>
<p>
  "On July 22 these colonists arrived at Hatorask; the governor with 40 of his best men, went aboard his pinnace, intending to pass up to Roanoak fortwith and seek those 15 men whom Sir Richard had left there the year before. At sunset the same day they went ashore, and next day they walked to the north end of the island, where Lane had built his fort, but found no signs of the 15 men. The fort was razed but all of the houses were standing unhurt-saying that the neather roomes of them and also of the forte were standing unhurt--saying that the neather roomes of them and also of the forte were over grown with melons, and deere within them were feeding. * * * The same day order was given for the repayig [repaying] of those houses, and * * * to make new cottages.
</p>
<p>
  "Thus the colonists set to work to rebuild the fort and make for themselves an English home.
</p>
<p>
  "On the 13 of August, 1587, the Indian Manteo, who had returned with the expedition from his visit to England, was christened in Roanake [Roanoke] and called lord thereof and of Dasamonguepeuk in reward of his faithful sevice. This constitutes the first known record of Christian baptism on the American Continent.
</p>
<p>
  Virgina Dare
</p>
<p>
  "On the 18th of Auguest, 1587 Eleanor, daughter of Governor White, and wife to Ananias Dare, gave birth to a daughter in Roanoak [Roanoke]. The baby - was christened the Sunday following, and because this child was the first Christan borne in Virginia, shee [she] was named Virginia.
</p>
<p>
  "This is the record of Virginia Dare's Brith. All historians mentions her as the first child born in this country of English parents. The baptism of Manteo and of the first Anglo-Amrican child are the beginnnings [beginnings] of the life of the English church in the New World.
</p>
<p>
  The Lost Colony
</p>
<p>
  "On acount of the pressing need for other supplies it was decided that Governor White should return with the fleet, so he embarked for England on August 27. It was agreed that if during his absence the colony was forced to move, that the place of their destination should be carved on a treee [tree] near the fort, and shold [should] they be in distress a small cross would be carved over that word. When the colonists receded from White's view as he left the shores of Roanoke Island they passed from the domain of history, and all we know is that misfortune and distress overtook them and that they miserably perished, their sad fate being one of those deplorable sacifices that have always attended the accomplishment of great human purposes.
</p>
<p>
  "Governor White, delayed by the Spanish Wars, did not return to Roanoke Island until 1591, and, writing to Richard Hadlnyt, he gives the following account of his return:
</p>
<p>
  Our boats and all things fitted * * * we put off for Hatersak, being the numbers of 19 persons in both boats, but before we could get to the place where our planters were left it was so exceedingly darke [dark] that we overshot the place a quarter of a mile. There we espied toward the north end of the island the light of a great fire thorow [through] the woods. Right over against it we let fall out grapnel neere the shore and sounded with a trumpet a call afterwards many familiar English tunes of songs and called to them friendly, but we had no answers * * * From hence we went thorow [through] the woods to that part of the island directly over against Dasamongwepeuk, and from thence we returned by the water side round about the north point of the island until we came to the place where I left our colony in the yeere [year] 1586. In all this way we saw in the sand the print of the Saluages feet. * * * and as we entered up the sandy banks upon a tree, in the very brow thereof, were curiously carved these faire Romane letters C. R. O, which letters presently we knew to signifie [signify] the place where I should find the planters seated, according to a secret token agreed upon between them and me at my last depature from them which was that in any wayes they should not faile * or carve on the tress or posts * the name of the places * they should be seated for * coming away they were * to remove from Roanoke * into the maine. Therefore * departure from them in An *willed them that if they should * over the letters or name a * in this form, but we found * signe of distresse. And having
</p>
<p>
  considered of this we passed toward the place where they were left in sundry houses, but we found the houses taken downe and the place very strongly enclosed with a high palisade of great trees * * * very fortlike, and one of the chiefe trees or postes at the right side of the entrance had the barke taken off and 5 foote from the ground in fayre capital letters were graven C R O T A N without any cross or sign of distresse.
</p>
<p>
  "Governor White did not succeed in finding any trace at all of the colony he had left on Roanoke Island in 1587. The fate of Virginia has remained a matter of conjecture. Some historians incline to the belieft [belief] that the English settlers became amalgamated with the Croatan or Hatteras Indians: Others that they were proably masscared. Maj. Garham Daves cities in ths connection the following statement found in the first volume of William Strachey's The History of Tranvaile with reference to events in the Jamestown Colony, 1608-1610:
</p>
<p>
  "At Peccarecemmek and Ochanahoen. by the relation of Machamps, the people have howses [houses] built with stone walles, and one story above another, so taught them by those English who escaped the slaughter at Roanoke, at what tyme [time] this our Colony under the conduct of Captain Newport landed within the Chesapeake Bay, where the people breed up tame turkies about their howses and take apes in the mountains, and where, at Ritanoe, the Weroance Eyanoco preserved seven of the English alive, fower [four] men, two boys, and one young young mayde who escaped the massacre and fled up the river Chanoke (Chowan).
</p>
<p>
  This "young mayde" may have been Virginia Dare, who at that time would have been about 22 years of age.
</p>
<p>
  North Carolina, Mr. Speaker has not been unminded of this great event that first took place on her soil. For many years the Roanoke Colony Memorial Association, of which Bishop Joseph Blount Cheshire is president, has annually observed this epoch in history. The 16 acres comprising Fort Raleigh is owned and preserved by this association, and on the 18th of August in each year distinguished men and women gather there and pay their homage. The occasion this year will be especially significant as the ambassador from the court of St. James, Sir Esance Howard, will be he speaker.
</p>
<p>
  "The capital of North Carolina bears the name of that gallant knight, Sir Walter Raleigh. The country in which Roanoke Island is situated is called Dare. The two principal villages on Roanoke Island are named after the two friendly Indians, Manteo and Wanchese.
</p>
<p>
  "It is appropriate that we give this occurrence Federal recognition and that we perpetuate as a shrine in American History the first attempt at colonization by English-speaking race on this continent and the birth of the first child of English parentage."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Warren Tells Congress Lost Colony Story," <em>The Independent</em> (Elizabeth City, N.C.), 13 August 1926.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EcIw-1-18 <a href="http://catalog.lib.ecu.edu/catalog/621874">Display Catalog Record</a></td>
  </tr>
</table>
