---
layout: ecu
title:  "The Albemarle District of North Carolina"
customdate: "1895"
order: 2
---

{% include breadcrumbs.html %}

<h3>The Albemarle District of North Carolina</h3>
<b>Notes</b>
<p>
Following the arrival of the Norfolk-Southern Railroad in 1881, Elizabeth City sustained a tremendous growth. Foremost among their industries was lumber, but soon others also began to thrive from the boom. Because of its proximity to Kitty Hawk and its available service, the Wrights often purchased many of their commercial wares in Elizabeth City. In fact, Bill Tate personally assumed the responsibility for arranging the purchase and transportation of many materials. Furthermore, after Wilbur’s first travails, movement to and from Kitty Hawk and Elizabeth City became routine. This publication documents some of the historical changes experienced by the Albemarle Region up until 1895.
</p>
<div class="well">
  <label>Text from Book</label><br/>

<p>
  [Title Page]
</p>
<p>
  The ALBEMARLE DISTRICT OF NORTH CAROLINA,
</p>
<p>
  A Brief Sketch of its History and People; its Topography and Physical Features; its Fertile Lands; its Rivers and Great Inland Seas; its Forests and Fields; its Products of Land and Water; its Climate and Healthfulness; its Facilities for Travel and Transportation; its present Financial Condition; its Modes of Taxing and General Rates of Taxation, and its Public School System, etc., with a chapter descriptive of Elizabeth City, its chief town.
</p>
<p>
  BY FRANK VAUGHAN.
</p>
<p>
  Price, 25 Cents.
</p>
<p>
  ELIZABETH CITY, N. C.
</p>
<p>
  1895.
</p>
<p>
  [Page 1]
</p>
<p>
North Carolina! Star of first magnitude in the constellation of the blessed old Thirteen!
</p>
<p>
North Carolina! Mother of a long line of sons and daughters whose names are indelibly written on the pages of American history, who lived to honor thee, who have passed away, but who still live in affectionate memory. Mother of a multitude of children still on the stage of action, many of whom have peaceful homes within thy broad domain, many of whom have gone abroad to make their homes in other lands and are now scattered from the rivers to the world's end. Yet all, wherever they may be, still proud to be thy sons and daughters, from whose deepest hearts echo the sweet song of thy pure, patriot son, tow quietly asleep beneath the, sod - our brother of cherished memory - Great Gaston:
</p>
<p>
Carolina, Carolina! Heaven's blessings attend her,<br/>
While we live we will cherish and love and defend her!<br/>
Though the scorner may sneer at and witlings defame her,<br/>
Our hearts swell with gladness whenever we name her!
</p>
<p>
The prayer of thy loving children is that God may ever bless thee, our noble Mother!
</p>
<p>
[Page 2]
</p>
<p>
PREFACE.
</p>
<p>
The chief and almost only purpose of this little book is to give a faithful description of a certain section of country, its people and its supposed advantages; and whoever may read it cannot fail to see that it- is intended as a guide-book for the emigrant in search of a home, and at the same time as an argument to induce him to take up his permanent abode in the place described.
</p>
<p>
The time, it is thought, has at last come when such a book may be written that the stranger may learn something of a country that Le has known but little of until recently except its name. The writing of such a book in the past day when negro slavery existed would hardly have been possible, or, if possible, it would have been but labor utterly wasted. Even as late as thirty years ago there were but few who had any desire for such information as it gives. A comparative few, it is true, had even at that time begun to realize that a wonderful social revolution was near at hand and that great changes in political conditions were impending; but these were as the prophets of old-a score out of a nation of millions. The great Wendell Phillips was one of those few, and his words: "Machinery must eventually move to the cotton," seem at this day as the words of one inspired. And when the late Hon. W. D. Kelly, in a speech made by him at Raleigh, N. C., shortly after the close of the war, used substantially these words-"God's sun never shone on a country richer or more glorious than your own beautiful North Carolina . . . . . The one thing lacking now (but that will surely be supplied at an early day) is the loom and machinery to work up the product of your broad fields into fabric for the world's use," it seems now that he was uttering words of true prophesy.
</p>
<p>
That famous expression of Horace Greeley-"Young man, go West," was by no means an original thought with him; he only spoke what almost every one who lived north of Mason & Dixon's line had thought. It was not "Go South," for at that time there was no South that invited. North and South, then, were sections separated by a dark wall-a wall as impenetrable as adamant, and so high that the gentle dove bearing its branch of olive was not able to scale it from either side. And how, under such conditions could North know South, or South North? How, when the few glimpses ever caught by one of the other were through eyes of passion and prejudice that could only render the object glimpsed distorted and misshapen, could brotherly love or Christian sympathy exist?
</p>
<p>
All this has changed. Individuals there are, truly, both North and South, who have never learned and never will learn that the war is over and the negro freed; yet these individuals weigh nothing with the masses, who have learned these great truths and are content with the results.
</p>
<p>
[Page 3]
</p>
<p>
A Brief Historical Sketch.
</p>
<p>
When in the future a true history of America shall be written, setting out the facts of its early discovery, its settlement by Europeans, the gradual disappearance and final extinction of the aborigines and their places occupied by the white races, the moving hither and thither of the restless pioneer, the clearing away of forests and the appearance in their stead of cultivated fields and rude places of human abode, the meetings of legislatures and the enactment of laws, the building up of villages, towns and cities, the birth and growth of commerce, the building of churches and institutions of learning, the rearing of manufactories and the continual application of inventions to the arts until the whole vast area is one scene of grandeur and beauty-of cultivated farms and populous cities, of broad expanse of hills and valleys webbed with railroads and telegraph and electric wires ; with countless churches, colleges and schoolhouses appearing in the scene, all busy at their noble work of civilizing and exalting humanity ; with fleets of vessels plying on the lakes and rivers, and great ships moving to and from every point of the habitable globe. I say when such history shall be fairly written its statements will seem to the generations to come "facts stranger than fiction."
</p>
<p>
Four centuries ago America was one boundless wilderness; to-day it is a "new world "indeed-as if a star had descended from its place in glittering galaxy and settled, with glory undimmed, upon the broad oceans of earth, sent by God-a thing of beauty-a boon of inestimable value purposed only for the good and exaltation of humanity.
</p>
<p>
Ninety-two years after the first discovery of land in America by Christopher Columbus, twenty-three years before the settlement of Jamestown in Virginia by Capt. John Smith, and thirty-four years before the landing of the Pilgrims at Plymouth Rock, two small English vessels under the command of Amadas and Barlowe crossed the Atlantic from England to the North Carolina coast. Passing through an inlet in the banks they crossed Roanoke Sound and dropped anchor at Ballast Point on the east shore of Roanoke Island, near the site of the present village of Manteo, in Dare County.
</p>
<p>
These captains and their crews were kindly received and hospitably treated by the gentle mannered savages, and after a stay of three months they returned to England, taking, along with them two of the savages. Arrived at home they made glowing reports of what they had seen and experienced in America, coloring the same highly, no doubt, as was the custom of the time, and weaving in with truth much that was untrue. After a short stay in England the two vessels set out again for Roanoke
</p>
<p>
[Page 4]
</p>
<p>
Island, this time having on board fourteen adventurers whose Intention was to remain in the " new world " permanently. But no sooner were the prows of the vessels that brought them turned homeward than they became restless and dissatisfied; and having an opportunity about a year afterward to return home they all to the great regret of the Indians embarked on one of the ships of Admiral Blake and were carried back to England. This was in the latter part of the year i585 or the beginning of 1586.
</p>
<p>
The next attempt to colonize the land was made in 1587. Sir Walter Raleigh, having obtained a charter from the Crown of England, sent over three ships with a colony of one hundred and eight persons-some of whom were women and children under the governorship of John White. These, too, the Indians received with every mark of kindness. They soon began clearing the land, building places of abode and planting grain and fruits. For a time they were comfortable and contented, but, for some cause now unknown, disputes arose, ill feeling was engendered and bitter enmity between the races was the result. Governor White in his dire distress went to England for aid, but, owing to the fact that that country was at the time engaged in a war with other European powers, he was detained there for a long time, and two whole years elapsed before his return. Not a soul of the colony remained at his coming. Evidences of a severe struggle between the races appeared, but that was all, and nothing further of the unfortunates has ever been learned. A rude fort, remains of which are still to be seen at the north end of the island, was found. In this little square of a hundred feet the survivors of the colonists no doubt had crowded; and here they all met death in some form-either they were starved or cruelly massacred; and so ended in miserable failure the first attempt of the white race to establish permanent settlement in North Carolina.
</p>
<p>
The Virginia colony at Jamestown, founded a few years afterwards, was more fortunate. It, too, had many and severe trials, but reinforcements came to it from time to time, and these enabled it to survive the difficulties that beset it and finally to establish itself on a sure and permanent footing; and other settlements were shortly after made on the James and Nansemond rivers in Virginia.
</p>
<p>
Many of these immigrants into Virginia were bold adventurers. They were restless; continually on the move farther and farther back into the dense wildernesses, until finally they reached the broad sounds and rivers of North Carolina. Here game and fish abounded, and the Indians seemed more kindly and docile than in Virginia. The country bordering the Pasquotank, Perquimans and Little rivers was a favorite rendezvous of these bold roamers, and some of them took up their permanent abode there. They engaged in trade with the natives, secured
</p>
<p>
[Page 5]
</p>
<p>
lands, cleared fields and built houses. Those of them who had left families in Virginia brought them to the new homes; others inter. married with Indians, and others still purchased wives from the traders at a consideration in sterling money, or furs, or tobacco.
</p>
<p>
In Robert Horn's "Description of Carolina," printed in London in 1666, appears the following quaint hint thrown out to the fair sex to induce them to emigrate to the New World: “If any maid or single woman not above the age of fifty years have a desire to go to Carolina they will think themselves in the golden age when men paid a dowry for their wives, for, if they be but civil, some honest man or other will purchase them for wives and pay the expenses of their voyage."
</p>
<p>
The first permanent settlement in North Carolina was made about the year 1660. The record of the first deed conveying land is dated in x662, and is registered in the County of Perquimans; it is a deed from the King of the Yeopim Indians to George Durant. In March, 1663, King Charles II of England granted to the Earl of Clarendon and seven others-"The Lords Proprietors "-all the territory in America lying between the 31st and 36th degrees of N. latitude and extending from the Atlantic to the Pacific Ocean; and in x665 this grand charter was enlarged by the King ("who could well afford to make princely gifts to his favorites of that which had cost him nothing") to include all territory lying between the 29th and 31-30th degrees. It was a magnificent gift indeed, for it included not only the present States of North and South Carolina, but the entire States of Tennessee and Arkansas, Arizona, the greater part of Georgia, Alabama, Mississippi, New Mexico and Oklahoma, and large parts of Louisiana, Texas and California!
</p>
<p>
The Lords Proprietors appointed a governor over their magnificent possessions; and in 1666 the first legislature (known as "The Grand Assembly of the County of Albemarle") met together in a little farm house near Little River in the present county of Perquimans.
</p>
<p>
The county of Albemarle (named for the Duke of Albemarle, one of the Lords Proprietors) comprised all the territory in Carolina then settled upon by the white race, to wit, from the Roanoke River to the Atlantic Ocean, the same being still known as the Albemarle District.
</p>
<p>
In 1669 the Lords Proprietors adopted a new form of government for the colony styled "The Fundamental Constitutions of Carolina," the drawing of which was the work of the celebrated English philosopher John Locke. But these Constitutions, being illy adopted to the country and entirely unsuited to a people in the condition of the governed, were abrogated in 1693.
</p>
<p>
The proprietary government proved, after all, to be a failure and unprofitable to the Lords Proprietors who, in 1729, surrendered the
</p>
<p>
[Page 6]
</p>
<p>
charter and reconveyed to the Crown of England all their interest and property in the territory at the price of about ₤17,000, George II then being on the throne.
</p>
<p>
The last sessions of the Grand Assembly of Albemarle were held at Edenton in November, 1729, and the first meeting of a legislature under the new order of things was held at the same place in 1734, at which time Gabriel Johnston, the best of the Royal Governors, was chosen governor. It was before that time (to wit, about in the year 1700) that the colony was divided into North and South Carolina.
</p>
<p>
After the appointment as Governor of Gabriel Johnston the capital of the province was removed from Edenton to Newbern, at which place the last session of the legislature while the country was under British rule was held, in April, 1775.
</p>
<p>
This legislature had no sooner met and organized than it was dissolved by the then Governor, Josiah Martin. And this was Governor Martin's last official act. He soon afterward escaped to the British fleet, never to return. The Revolution was at hand. The Deputies met together again in August and appointed a "Provincial Council."
</p>
<p>
The people of the colony were restless and determined to throw off the British yoke at any cost. The Mecklenburg Declaration of Independence was signed on May 20, 1 775, and on August 1, 1776; the National Declaration, signed at Philadelphia on July 4 of that year, was publicly proclaimed at Halifax, and, art the same place, on December 18 of the same year, " a Congress of representatives of the colony " met together, and among other ordinances adopted this: "That Samuel Johnston (and several others) be and they are appointed to revise and consider all such statutes and acts of the General Assembly as are or have been in force in North Carolina, and to prepare such bills, to be passed into laws, as may he consistent with the genius of a free people."
</p>
<p>
During the whole period of the Revolutionary War, North Carolina was represented at the front by her full quota of noble sons; and in all the wars in which the nation has been involved since that time she has taken distinguished part-never lagging behind the noblest of her noble sisters when duty called.
</p>
<p>
[Page 6 cont.]
</p>
<p>
The Albemarle District.
</p>
<p>
It is generally conceded that those who have heretofore undertaken to write the history of the Albemarle District of North Carolina, though in some instances men of intelligence, have but made dismal failures of their work, or, at most, have accomplished but little.
</p>
<p>
So little indeed has been written of the physical features of the place, so little of the general character and habits of the people-of
</p>
<p>
[Page 7]
</p>
<p>
their modes of living-and so little of its great natural resources, of its waters, and its fields and forests, and their wealth, that those who live beyond its borders know but little of it, and have, until recent years, regarded it somewhat as terra incognita - a region inhabited by people but little superior in many respects to the aborigines whose places they occupy.
</p>
<p>
And yet it may be that the dwellers in this region of peaceful beauty, so neglected by the historian, have themselves much to blame for the loss of opportunities to take their own interests more earnestly in hand, and themselves to let the world know of their country's advantages and resources. Certain it is, whatever the cause may be, the Albemarle section of North Carolina has remained comparatively unknown to the busy world around it until within a very few years past. It is, therefore, not surprising that false and erroneous impressions may exist upon the minds of those who have so recently turned their eyes toward this place, concerning its climate, its healthfulness, its lands, its waters, or of the habits and character of its people, etc.
</p>
<p>
The task that the writer of this little book has taken upon himself is to describe fairly and truthfully the section of country named, and to answer, as well as he is able, any possible questions about it that might be asked by the stranger, with the view, let it be frankly admitted at the outset, to induce the honest emigrant in search of a new home to come, before investing a dollar in purchase, and see and judge for himself, assuring him that if he shall conclude to take up his abode in our midst he will receive hearty welcome, and be accounted, whatever may be his religion or politics, as one with us and of us.
</p>
<p>
The Albemarle district of North Carolina includes the entire northeastern portion of the State, and is bounded on the north by Virginia, on the east by the Atlantic Ocean, and on the south and west by Pamlico Sound, Beaufort County and the Roanoke River, and comprises the counties of Currituck, Camden, Pasquotank, Perquimans, Chowan, Gates, Dare, Hyde, Tyrell, Washington, Bertie, Hertford and North Hampton - thirteen counties in all.
</p>
<p>
Within the outline of the district are the Currituck, Albemarle, Roanoke and Croatan Sounds, and a large part of Pamlico Sound ; also Roanoke, Colleton and Knott's Island, together with a considerable number of smaller islands. Within. it is also much of that long, narrow belt of sand known as the "Banks." Also the Roanoke Cashie, Chowan, Scuppernong, Alligator, Perquimans, Little, North and Pasquotank Rivers, all of which are navigable for vessels of considerable draught for many miles up. They all empty into Albemarle Sound. There are a multitude of creeks also navigable far inland for large vessels. At Ocracoke and Hatteras are "inlets" or passage ways through the sand
</p>
<p>
[Page 8]
</p>
<p>
banks, connecting sound and ocean, through which in and out pass large vessels, carrying and bringing freights that make up a considerable item in the' commerce of the land.
</p>
<p>
The banks stand as a solid breakwater between the sea and the sounds, protecting the mainland of the district from the sweeping floods of ocean, and for their whole length they average scarcely one mile in width. Along these banks at regular intervals of three or four miles are United States Life Saving Stations; here too is a line of Government telegraph extending from Virginia to South Carolina, and several great steepling lighthouses. And many a human life, and many the millions of dollars worth of property these have been the means of saving from the stormy sea. The banks are for the most part but a reef of yellow sand, rising here and there into ridges and hills a hundred feet high, with intervals between the groups of hills of miles of level, elevated but a few feet above the waters, the hills and levels -alike generally treeless and almost entirely destitute of vegetation. The portion of the banks within the Albemarle district to wit, from the Virginia line to Ocracocke Inlet, forms parts of the counties of Dare, Currituck and Hyde. Nagshead, in the county of Dare and directly opposite the village of Manteo, on Roanoke Island, is a noted summer resort, and situated as it is in the midst of a cluster of high sand hills, with ocean on one side and sound on the other, the two but half a mile apart, is one of the most delightful places for summer residence in the State. From the tops of the bald, yellow hills the, scenes on a clear summer evening at the sunsetting are glorious in the extreme. Away in the east reaches the rolling, moaning sea ; in the west the red sun sinking down into the waters of Albemarle, and on the south Roanoke Sound and historic Roanoke Island, green and beautiful, in the midst.
</p>
<p>
Currituck Sound, thirty miles long anal six to ten miles wide, is altogether in the county of Currituck. Its waters are so shallow that only vessels of small size can navigate it, except through the narrow channel that has been dredged for the passage of vessels that trade through the Albemarle and Chesapeake canal.
</p>
<p>
This sound is a famous feeding ground in the fall and winter for millions of wild ducks, geese and swan, that are killed in great numbers and shipped to market, this being the chief means of support of many of the inhabitants. Many wealthy men from the North, who have purchased tracts of the surrounding marshlands and erected clubhouses on the banks and elsewhere nearby, spend much of their time there during the sporting season. The attraction for the wild fowl to this place is the, great areas of long succulent grass that grows up so thick as to impede the passage through it even of small canoes.
</p>
<p>
There are fish, also, in great numbers and of many kinds in this
</p>
<p>
[Page 9]
</p>
<p>
sound, but they are generally of entirely different kinds from those in the other sounds. Here are caught chub, bass, perch, etc;, but comparatively few shad or herrings.
</p>
<p>
Albemarle Sound is forty miles long and ten to twelve. wide. The Roanoke, Cashie and Chowan rivers empty into its head, near Edenton. In Albemarle Sound millions of shad, herring, striped bass’s and other fish are caught every year during the months of February, March and April, but in less quantities other kinds of fish are caught all the year round. These fish are packed in ice and shipped to market fresh, except when they are taken in unusual quantities; then many of them are salted and barreled for future sale. On this sound many seines, nets, pounds and weirs are operated, some of the seines being more than a mile long, not counting the mile or two of warp used for hauling them to shore. They are carried out in steam flats and set, and then hauled to shore by steam engines. Hundreds of thousands of herrings and other fish have been landed by them at a single haul. There are many other seines, from a few hundred yards to a half mile or more in length, that are brought to land by horse power. The shad nets are staked far out in the sound in January and February, and are seldom taken up or removed until the shad season is over-about the middle of April. There are three to five hundred miles of these nets set in the sounds every year, and most of the fish that are caught in them are iced and shipped in boxes to market as soon as they are taken. The long rows of these nets radiate from hundreds of points in every direction. They catch only the larger fish-shad, striped bass, etc., but shad chiefly. There are set probably a thousand weirs and pounds in the sounds and rivers every year. Some of these, too, reach far out from the shores and in every direction. The wonder is that a single fish that comes from the sea into the sounds can escape the multitude of traps set for it and reach the sea again ; but many no doubt do, for year after year the business goes on as before, and every year millions upon millions of them are taken, each succeeding year bringing in as immense swarms as the year before: The catch this year (1895) has been immense.
</p>
<p>
Pamlico and the other sounds also abound in fish, but fewer herrings and shad are caught in them than in the Albemarle. This sound (Pamlico), unlike any of the others, has thousands of acres of its vast bottom literally covered with oysters of excellent quality and flavor. A few years ago--before the State Legislature enacted a law prohibiting "dredging "-a hundred vessels at least, some of them large schooners, p were engaged in the business of dredging these oysters. Tens of thousands of bushels of them were taken and shipped to market.
</p>
<p>
It has been said, and probably truthfully, that the great sound areas of North Carolina are worth fully as much per acre as the forest and
</p>
<p>
[Page 10]
</p>
<p>
farm lands that surround them, and that eventually under proper regulations and restrictions to be enacted by the General Assembly the waters will afford as great revenues as the lands, and this applies alike to Currituck Sound, with its myriads of wild fowl, Albemarle, with its enormous yield of the best kinds of fish, and Pamlico, with its vast areas of oyster beds.
</p>
<p>
I will not attempt to estimate the quantities or market values of these wonderful sources of wealth-fowl, fish and oysters-not having at hand data sufficiently reliable to enable me to do so fairly, but both the quantity and value are immense, and afford profitable employment to thousands of men, besides supporting their families of thousands more. . And this state of things will probably continue indefinitely, for the wild fowl will no doubt continue to return year after year so long as the grass upon which they feed continues to grow, and, taking into account. The advance of science in the modes of hatching fish and the manner of enlarging and protecting oyster beds, We prospect is that these will increase both in quantity and quality rather than decrease.
</p>
<p>
What has been said of the several great industries of fowling, fishing, etc., in the waters of Carolina conveys but a hint of the reality, and is only a glimpse at the great truth. To form anything like a correct opinion of the magnitude of the fish business transacted, one must be present at one of the great fisheries and see with his own eyes the landing at one haul of thirty, fifty, sometimes a hundred or more barrels of fish; or visit the freight depot at Elizabeth City of the N. & S.R.R. when fishing is at its best, and see, day after day, train loads of iced fish and terrapin and oysters move away to the markets of the world.
</p>
<p>
Nor is the business of fishing confined by any means to three months in the year, for it is going on in' a greater or less degree throughout the entire year. Bluefish, striped bass, mullets, mackerel, etc., are caught in quantities in the fail and winter Terrapin, clams and crabs are also taken in quantities and shipped. Multitudes of people derive their chief support from these sources, and to many they return considerable revenue over and above a mere support, and thousands of families who live near the creeks and rivers catch and salt away for the year's use abundant supplies of both herrings and shad.
</p>
<p>
The dweller in inland countries and places remote from the Atlantic seaboard might, and probably would, regard as the wildest of exaggeration a tale, that would in every respect be true, about the great number of fish and fowl, etc., taken in the rivers and creeks and sounds of the Albemarle country. And when is added to these vast-supplies of fish and fowl the vast quantities of grain and fruits and vegetables that are pro-
</p>
<p>
[Page 11]
</p>
<p>
duced by indifferent farming on the fertile lands, and the cheapness of all these if they are to be purchased, it will be difficult to imagine a country more blessed by bountiful nature. No wonder that labor is also cheap, and that real want is a thing almost unknown. Comparatively few of the people, it is true, are wealthy, but none ever starve, and none beg who will work one-half the days of the year.
</p>
<p>
[Page 11 cont.]
</p>
<p>
The Islands of the Sounds.
</p>
<p>
It has been said that the "Banks" is a narrow reef of sand forming the seacoast of North Carolina, and separating the Atlantic Ocean from the inland seas of the State, and that this remarkable formation, standing as an imperishable breakwater, protecting the main land from the fury and ravages of the ocean, is, for the most part, sterile and bare of vegetation The same conditions in some degree extend to the islands of the sounds. Sand predominates in their formation, and their eastern and most exposed parts are, in places, either bare sands or are covered with a stunted growth. Yet, situated as they are in the midst of quiet waters, the natural accretion and accumulated drift of ages upon them has rendered them, in most parts, productive, in a high degree and capable of producing many kinds of vegetables and fruits even in greater perfection than in other sections of the State. Potatoes, beets, turnips, onions and other roots; melons, cabbage, peas, berries, grapes, figs, etc., may be produced in great abundance. The proximity of the Gulf Stream to this region has a genial effect; frost is of comparatively rare occurrence, and the snows of winter remain but a few hours on the land after falling, Here the fig grows to be a tree whose trunk is a foot or more in diameter, and here are grape vines a century old whose stems are as large as a man's body. Vegetable farming on these islands, intelligently conducted, would, no doubt, be highly successful and remunerative, especially with the present convenient facilities for transportation.
</p>
<p>
Until within the past twenty years or so there was but little communication between these islands and the mainland. There were no regular lines of steamers, and no means of travel or transportation except the little canoes of the natives. There were no post offices and mails, and; as a consequence, the people were exceedingly ignorant of what was taking place beyond their own homes. There were but few schools, and they of the lowest order. The civilizing influences of the Christian religion were scarcely felt: There was no commerce carried on except the limited trade in fish at certain seasons of the year. In a word, the inhabitants were isolated-a people of themselves and to themselves, with customs and habits of their own. But remarkable changes have taken place. Regular lines of steamers, carrying and
</p>
<p>
[Page 12]
</p>
<p>
bringing passengers and mails and freights, have been established'; reading matter has been scattered broadcast; churches and schoolhouses of a better order have been erected, and better and more advanced preachers and teachers are filling the places of those of the old time. A great boom has been given to the business of fishing, and owing to the conveniences of shipping the products of the land interest in agriculture is beginning to show itself. The advance is upward and onward and plainly discernible on every hand, and already enough of good has been accomplished to satisfy the intelligent mind that these islands will in time be transformed into gardens of beauty and profitableness and the inhabitants exalted to a far higher level.
</p>
<p>
[Page 12 cont.]
</p>
<p>
Timber Lands.
</p>
<p>
The mainland of the Albemarle district, comprising the greater part of the thirteen counties named and extending westwardly from the sound shores to the Roanoke River, covers an area of about two and one-half millions of square acres, or four thousand square miles, and' contains a population at the present time estimated at one hundred and forty thousand souls, of whom about three-fifths are of the white race and the remaining two fifths of the colored race. Of this whole number not more than three hundred are foreign born. About fifty thousand are immigrants from other States of the Union; the rest are native born Carolinians.
</p>
<p>
Fully one-third of the territory of the district is still covered with virgin forests of pine, cypress, juniper (white cedar), poplar (whitewood), gum, oak, ash, maple, walnut, hickory and other kinds of timber that are well known in the trades and that make up a considerable item of the world's commerce. Much of these timbered lands, especially in the eastern portions of .the district, is in broad levels, elevated from five to fifteen feet above the sound surface: Westward from these levels the lands are higher and ridgy, and still further westward the country becomes still higher and more undulating-in a word, the land has a gradual ascent from the coast westward, which condition, in fact, con. tinues until the lofty mountain ranges in the western part of the State are reached. The lower levels produce the cypress and juniper (or white cedar of commerce)-in immense quantities. Here are unbroken forests in places of fifty to one hundred and fifty thousand acres, densely covered with these and many other kinds of valuable timber. Pine grows in greatest perfection on the sandy ridge lands, and vast areas of "North Carolina yellow pine" are still standing in the district awaiting the woodman's ax. Billions of feet of it have already been cut and moved away, yet billions of feet still remain.
</p>
<p>
Cypress is of slow growth, consequently the older and, best of it is
</p>
<p>
[Page 13]
</p>
<p>
becoming continually scarcer. Juniper, on the other hand, grows rapidly, and a forest of it cut away to-day will be reproduced as good as ever within thirty years ; pine, too, is of quick growth on land especially adapted to it; consequently there is "no end" of these quick-growth timbers, except where they are entirely cleared away and the lands put into cultivation.
</p>
<p>
Oak, hickory, ash, gum, beech, walnut, etc., grow to greatest perfection on harder, stiffer lands that have much of clay in their composition. These woods, it is well known, are used extensively in the manufacture of furniture, as well as for many other purposes.
</p>
<p>
Capitalists, chiefly from the Middle and Northern States, have come into the district and purchased immense tracts of these forest lands, established mills upon them, built railroads through them, and keep constantly employed great numbers of laborers, cutting arid hauling the timber and manufacturing.and kilndrying it and shipping it to the markets. Some idea of the magnitude of this business and the amount of ready capital required to carry it on may be had when it is known that one of the lumber companies operating in the counties of Washington, Tyrell and elsewhere in the district is the owner in fee or fully 3oo,ooo acres of land and has in constant employment hundreds of men ; at times more than 1000 men. Another company, operating in Dare and Tyrell has 2oo,ooo acres of land and employs great numbers of men. Many other companies own from 20,000 to 100,000 acres each and operate extensive mills and employ many men. Some of these companies have built and equipped railroads to carry their timber at a cost in several instances of from $200,000 to $300,000.
</p>
<p>
There are still vast tracts of these lands that can be purchased at reasonable prices.
</p>
<p>
These great enterprises have in many ways proved to be a blessing to the country. They have been the cause of the building of a number of railroads, and the establishment of many lines of steamboats which ply regularly between all important points on the rivers and sounds. The towns that were in existence before the coming of these capitalists have greatly increased in population and importance, and other towns and villages have sprung into being Towns that languished have become centers of active trade, and a whole region of country that was hidden as it were from the busy, world has been rendered easily accessible to the markets far and near. The people have gained information that has been and will continue to-be of inestimable benefit to them. Mail routes have been established in every direction, rendering easy and convenient communication with every quarter of the land. The farmer, the mechanic, the builder and the teacher. have learned and adopted new and better modes, and progress and advance are seen everywhere.
</p>
<p>
[Page 14]
</p>
<p>
Farms are better fenced and cultivated; the highways are kept in better condition, houses for habitation are built after better designs, and more comfortably and conveniently arranged. It is plain to see that those high walls that surrounded our beautiful Albemarle country, hiding it from m the world's view, are tottering and crumbling away, permitting the sunlight of a higher civilization to beam in on as fair a region as heaven ever created on .earth-a region destined to become, under the refining hand of art, guided by science, far more beautiful still, and not less enlightened than any section of country in our glorious America.
</p>
<p>
[Page 14 cont.]
</p>
<p>
Character of the Soil, Etc.
</p>
<p>
The soil of the Albemarle District is of many kinds. That at the sea coast is glassy, pebbly sand of a pronounced yellow hue, This sand is many feet deep and overlays a thick stratum of tough blue clay beneath which is vegetable muck, and again under the muck pure white sand. Pipes that Have been driven through these strata twenty feet or more down into the white sand even at the very edge of the salt sea supply clear, fresh water, good for cooking and drinking purposes. The formation of the islands is similar to that of the banks, with the addition of the drift accumulation before spoken of. The cypress lands of the levels have at the top a deep alluvium that rests upon blue clay and marl, and the juniper lands are of a similar kind except that the upper stratum is peat, ranging in depth before the white sand is reached from five to fifteen feet. The underlying strata throughout the district are generally about the same-blue clay, muck, marl and white sand, but the surface soil is of many different kinds-deep deposits of alluvium ; dark sandy loam ; lighter, dry sands ; yellow clay; gray clay ; mixture of sand and hard whitish clay ; and, in some places, pure vegetable mold several feet in depth and unmixed with any other substance. These last and the rich sandy loams are best adapted to the growth of corn, rice and the hay grasses ; the light sandy lands to potatoes and other roots, melons, grapes and garden trucks.; the gray clay and sand lands to the production of cotton, tobacco, peanuts, etc. and the stiffer clay and sand lands to the growth of peach, apple, pear and other fruit trees, also strawberries, etc.
</p>
<p>
The lower lands of the district require considerable ditching to drain them well, but large tracts have been brought under cultivation in all of the counties, many of which, with the advantage of fair seasons, have produced year after year without the use of fertilizers from fifty to one hundred bushels of corn per acre, as instance the Hyde County farms of Col. Carter and others, the Collins tract in Washington County and the Sanderlin and Tadmore tracts in Pasquotank County.
</p>
<p>
Here the chief trouble of the farmer in taking in wild lands and
</p>
<p>
[Page 15]
</p>
<p>
preparing them for cultivation is the cutting away of the timber; the grubbing up of the dense undergrowth and ditching, for there are but few deep ruts to be choked, and no stones or boulders (that pest of farmers in some places) to be removed year after year.
</p>
<p>
There are two classes of farmers in the Albemarle country as elsewhere ; he- of the one class loves his business and is proud of it, and he is apt to lead a contented and happy life. The farmer of the other class follows the business as a necessity, to keep off starvation, and lie is apt to be dissatisfied and ashamed of an occupation that has good cause to be ashamed of him. The one class is apt to thrive, the other merely to drag out earthly existence. He of the first class lives within his means; the man of the other class wraps himself up with mortgages. One is regarded by his fellow citizens as a busy bee in the hive; the other as a drone that feeds on the honey that the honest worker, has made. One has the independence of true manhood; the other is without shame, and passes through life a grumbler, laying the blame for his misery on bad luck. The thrifty farmer begins his year's work on the first day of January and ends it on the 31st day of December; the unthrifty will at any time take a day off at the busiest season of the year to fish in the creeks. The chief -gause of this unfortunate condition of things is that, as a rule, the farmer is not properly educated in his business-the very noblest, the most independent, and when intelligently conducted the most satisfactory occupation known to mankind.
</p>
<p>
It is far from the intention of the writer of these pages to say a word disparaging of the land in which he was born and has lived, with little intermission, until the present time, but history must be truth or it is less than valueless. When the stranger is invited to come and make his home with us it is but fair to him to tell him frankly all about the land to which he is invited to come and bring his family and take up his permanent residence; to deliberately deceive him would be, not only to commit a great wrong, but the effect of the deception in the end would be injurious rather than beneficial to us. A full description of the natural features of our beautiful Albermarle and its capabilities and wonderful resources is proper enough, but by all means let the description be truthful. It may be said to the stranger : ,Come and see for yourself whether the truth has been told, before emigrating. A few days' travel at small cost will accomplish this. But, besides this description of the country it is important that the stranger should be told beforehand who and what manner of people he may expect for his neighbors if he should come. If he should come expecting to see farms in the condition of those in New Jersey, New York, Pennsylvania, and in the Northern, Northeastern and Northwestern States generally, well kept in every respect, well fenced, with ornamental and carefully
</p>
<p>
[Page 16]
</p>
<p>
trimmed shade trees about them, with dwellings upon them of modern construction, arranged for the greatest comfort and convenience, surrounded by well-kept lawns and adorned with shrubs and flowers, he will be disappointed. If lie should expect to see macadamized roads, iron bridges and stonewall enclosures, he will be disappointed. If he should expect to see through the country churches and schoolhouses of magnificent structure, he will be disappointed. And if he should expect to meet with farmers, as a rule, educated up to the age,. and who have adopted in their work the most improved farm implements and machinery, he will be disappointed. What he will. see is a country, in places unkept and even unsightly, yet rich in natural resources, that only awaits the touch of the hand of intelligence to become gloriously beautiful and wonderfully prolific, and a people who, though too far in the background, are as kindly and hospitable as any he has ever met. He will not fail to see many evidences of progress in all the walks and, ways of life, and a sure promise of the brighter coming day.
</p>
<p>
There are in the district quite a number of villages, containing a few thousand people each, but no large towns. Elizabeth City, in the county of Pasquotank, with a population of 6,000 to 8,000 is the largest; Edenton, in Chowan County, with a population of 4,000, comes next; then follow Plymouth, with a population of 2,000, and Roper in Washington County and Hertford in Perquimans County; each containing about 1,000 people. All these places are busy centers of lumber manufacture, and some of them are quite extensively engaged in other branches of business and trade. They are generally well laid out, with broad streets, at right angles, and all of them have a number of pretty residences, while some have handsome hotels and public buildings.
</p>
<p>
[Page 16 cont.]
</p>
<p>
Climate and Healthfulness.
</p>
<p>
North Carolina is, in latitude, as California in America and as France and Italy in Europe. To quote again from Horn's "Description of the Province of Carolina," "This province lies near Virginia, and, while enjoying the advantages thereof, it is far enough distant to be freed from the inconstancy of its weather. Being also in the latitude of Bermuda, it enjoys the same healthfulness. Doubtless there is no plantation that ever the English went upon in all respects as good as this." And again: "Here are as brave rivers as any in the world, stored with great abundance of sturgeon, bass, trout and mackerel, with many other pleasant sorts of fish for which the English tongue has no name. Also in winter they have abundance of wild geese, ducks, teals, widgeon and many other pleasant fowl. Some of the rivers are very deep for a hundred miles up. . . .
</p>
<p>
[Page 17]
</p>
<p>
Last of all, the air is to be considered, which is not the least considerable to the well being of a plantation; for, without a wholesome air, all other considerations avail nothing; and this it is that makes this place so desirable, being seated in the most temperate clime, where the nearness of heaven's sun brings many advantages. . . The summer is not too hot, and the winter is short and moderate."
</p>
<p>
The following quotation is from a letter from Francis Yardley to John Fairer, Esq., dated at Lynnhaven in. the colony of Virginia, May 8, 1654: "The honor I bear you, for your fervent affection to this country, commands me in some manner to give you an account of what the Lord hath in short time brought to light by means of so weak a minister as myself, viz., an ample discovery of Carolina,. the which we find of a most fertile, rich soil, flourishing in .all abundance of nature, especially in the mulberry and vine ; a serene air and temperate clime, parallel, I may say, with any place for rich lands and stately timber of all sorts."
</p>
<p>
The climate of North Carolina is, I presume, about the same as it was when the men from whom I have quoted wrote. The temperature has far less range than in many other places. The extremes may be said to be +96° and 0°, but it is seldom in the lifetime of an old person that the mercury reaches 96° or descends as low as zero. The average temperature for ten consecutive years, from May 1 to November 1, I should say would not vary much from +7o°, and from November 1 to May 1 +40°, or, month by month for the year, beginning November 1 about as follows: November, 40°; December, 30°; January, 30°; Februrary, 40°; March, 45°; April, 55°; May, 65°; June, 75°; July, 75°; August, 8o°; September, 70°; October, 55°.
</p>
<p>
This estimate to apply to the Albemarle district as a whole.
</p>
<p>
But owing to the great extent of sound, river and low ground surface, humidity in certain seasons of the year would range higher than, for instance, in the western parts of the State.
</p>
<p>
Malaria exists still to some extent in .the Albemarle country, but not as years ago. The disease has lost its virulence and is not feared even by the immigrant from mountain regions after a year's experience. Why the, change has taken place is left to the wise man to explain. It - may be because of the clearing up and putting into cultivation great areas of the forest land, consequently draining from them much of the water that before remained to soak down or be evaporated; it may be because of better modes of living, and greater care of person; the cause may be that cisterns and drive pipes have in great measure superseded the old-time shallow wells, supplying an abundance of good, healthy water for drinking and cooking purposes in place of surface water heretofore used-whatever the cause, a great
</p>
<p>
[Page 18]
</p>
<p>
change for the better has taken place, and few are troubled with malaria who are cleanly and careful in their manner of living.
</p>
<p>
The United States Census statistics may be referred to show the infrequency here of pulmonary complaints or virulent forms of rheumatism. Smallpox or yellow fever never occurs. Typhoid or scarlet fever or diphtheria are of rare occurrence and in mild form. Disease, of course, in various forms exists and death occurs as well here as elsewhere, but the general healthfulness of this section will compare favorably, it is believed, with that of any other in the country.
</p>
<p>
[Page 18 cont.]
</p>
<p>
Facilities for Travel and Transportation.
</p>
<p>
No longer than fifteen years ago the only means of travel from Elizabeth City to Norfolk; Va., by public conveyance was on little steamers through the Dismal Swamp Canal kind the Albemarle and. Chesapeake Canal. The airline distance between the two places is about forty miles. One of these steamers left Elizabeth City daily at 4 or 5 o'clock in the morning and reached Norfolk, if there was no accident on the way and the weather was fair and calm, at 5 or 6 o'clock in the evening. Three days at least were required for the round trip-one to go, one to transact business and one to return. The necessary expense of the trip was from ten to fifteen dollars. From. Elizabeth City southward to Edenton the conveyance was a twice-a-week old hack drawn by a pair of decrepit horses. The distance thirty miles; the time to make the journey (barring accident) six to eight hours and the cost, of the round trip about ten dollars. Reaching Edenton at that day was the same as butting up against the walls of the world, for there was nowhere else to go. Ten years ago the time required to make the trip from Elizabeth City to Belhaven on the. Pungo River (an air line distance of about sixty-five miles) and return was three days, and the cost of the same ten or twelve dollars, but since the construction of the Norfolk & Southern Railroad from Norfolk through Elizabeth City, Hertford, Edenton and Roper, about one hundred and twelve miles, the time has been as follows
</p>
<p>
From Norfolk to Elizabeth City one and a half hours, thence to Hertford 40 minutes and on to Edenton 25 minutes; trains are ferried across the sound from Edenton to Roper (about 12 miles) in an hour, and the time from Roper to Belhaven (25 miles) about an hour-in a word, the time from Norfolk to Belhaven about five hours and the cost about three dollars.
</p>
<p>
The N. &amp; S. Railroad was completed as far as to Elizabeth City from Norfolk in June, 1881, and on to Edenton a few months afterwards The extension on from Edenton to Belhaven was completed and put in operation four or five years late. There are now two passenger trains
</p>
<p>
[Page 19]
</p>
<p>
daily from Norfolk through Elizabeth City and Hertford to Edenton, and one daily from Edenton to Belhaven, besides which a number of freight trains are constantly on the move carrying northward immense quantities of sawed lumber, logs and shingles; also fresh fish and oysters; also cotton, corn, rice, peanuts and garden trucks-chiefly potatoes, peas, tomatoes, cabbage, beans, melons, fruits, etc., and bringing back merchandise of various kinds.
</p>
<p>
The Norfolk &amp; Southern Railroad has traffic connections at Norfolk with the Norfolk &amp; Western and Chesapeake &amp; Ohio railroads to the West, with the Baltimore and Washington boats, by the New York, Philadelphia &amp; Norfolk Railroad with the Pennsylvania Railroad system, and with the steamships of the Clyde Line to Philadelphia, the Old Dominion Company to New York and the Merchants and Miners' Company to New England.
</p>
<p>
From, Elizabeth City the railroad company and the Old Dominion Steamship Company operate a steamboat line in connection with the railroad to Roanoke Island and Newbern. From Edenton the railroad company operates steamboat lines to the Scuppernong, Roanoke and Chowan rivers and tributaries, and at Belhaven connects with a steam. boat of the Old Dominion Steamship Company plying the Pamlico River to Washington, N. C.
</p>
<p>
The railroad has 28 stations and there are About 30 landings on its steamboat routes.
</p>
<p>
It collects and distributes the products of more than twenty counties of Eastern North Carolina and returns to them the supplies imported from the North, East and West.
</p>
<p>
It performs daily service over its lines into the greater part of its tributary territory, affording ample facilities and quick dispatch for passengers and freight. The railroad is .laid with steel rails, has large terminals at Norfolk, Elizabeth City, Edenton and Belhaven, no grades, large locomotives and an adequate equipment, both rolling and floating.
</p>
<p>
A passenger will travel to or from the heart of its territory to Norfolk in 5 hours, to Washington, Baltimore, Philadelphia and New York in 17 hours, to Boston in z¢ hours, and to Cincinnati in 36 hours. Perishable food products are delivered in Washington and Baltimore markets on the first morning after shipment, in Philadelphia and New York on the second morning, and in Providence and Boston on the third morning.
</p>
<p>
The facilities provided by the railroad company, combined with the low cost of land, taxes, interest and labor in Eastern North Carolina, the variety and fertility of its soils, its genial and humid climate, and the propinquity of the section to the dense population between Washington and Boston, constitute an opportunity to the experienced and
</p>
<p>
[Page 20]
</p>
<p>
intelligent agriculturist unequaled in America to grow and market food products at largest profit.
</p>
<p>
The N. &amp; S.R.R. passes, almost centrally, through the Albemarle district, and its various steamboat connections furnish abundant facilities for travel and rapid means of freight transportation in every direction.
</p>
<p>
Nothing could have been done so greatly for the benefit of the Albemarle region as the constructions and operation of this road and its connections. It has already, in a remarkable manner, developed the country through which it passes, anti yet what it has done is not a tithe of what it will surely accomplish in the future.
</p>
<p>
It is important that the perishable products of land and water vegetables, fresh fruits; fish, etc. - should reach the markets as quickly as possible and that they should be handled on the way as little as possible. A car loaded with fresh fish may leave Elizabeth. City at two o'clock one day, and the packages not touched until they are unloaded at New York the second morning after, almost as fresh and sound as when they were packed in their ice, consequently they will have ready sale and command better prices than if they had been several days on the way and handled half a dozen times. So with melons, fruits, etc, and especially so with oysters shucked and shipped in barrels.
</p>
<p>
Strawberries, tomatoes, cucumbers and other soft fruits and vegetables raised in Florida may, at the hour of. their shipment, be as good as those raised in Carolina, but the condition' of the article on reaching the New York or Boston markets will be very different ; the article raised in Florida will mature and can be marketed earlier, it is true, but that raised in North Carolina will be in better condition for healthy food when it. reaches the market, and will consequently command better prices and a readier sale.
</p>
<p>
[Page 20 cont.]
</p>
<p>
Modes of Levying and Collecting the Public Taxes: The Tax Rates: The Present Financial Condition of the Albemarle District.*
</p>
<p>
North Carolina counties are divided into townships. Each township has a board of magistrates, appointed by the legislature, and each county has a board of commissioners consisting of from three to five men who are chosen biennially by the board of magistrates. The board of commissioners appoints three men in each township to assess the value of real estate therein. The owner of personal property makes oath of its value when, he lists it for taxation. The commissioners appoint annually in each township a. person to list, during June, all the taxable property and polls therein. The lists when completed are
</p>
<p>
*The General Assembly, which adjourned a few days ago, made changes in the modes of levying and collecting taxes; but, as the amount of taxation upon both property and polls is limited by the Constitution, it is not important to state here what these changes are. The reader is referred to the acts of 1895.
</p>
<p>
[Page 21]
</p>
<p>
signed and returned at the end of June to the Register of Deeds of the County, who forthwith draws them all off in one list, calculates the amount of tax due by each person and places it on his list opposite the name of the person by whom it is due. When this work is completed the list, by order of the commissioners, is placed in the hands of the sheriff or tax collector (provided he is prepared to show that he has fully accounted for and. paid over to the County Treasurer all tax collected by him previously) and by him collected and the money paid over to the proper officer to be applied on the payment of the county indebtedness.
</p>
<p>
The value assessed on property is generally about one-half its actual market value. The constitutional lirhitation of taxation for State and county purposes combined is 66 2/3 cents on $too worth. Every man between the ages of 21 and 5o years is required to pay a poll tax not to exceed the tax of $300 worth of property, or $2. Besides the taxes named, the General Assembly may, by special enactment, permit any county to levy a special tax for such extraordinary purpose as the building of a court house, jail, etc.
</p>
<p>
The writer is not prepared to state the precise financial condition of any county in the district except that of Pasquotank. Several of the counties are entirely out of debt; others owe small amounts, but the aggregate indebtedness of the thirteen counties of the district does not exceed $25,000, or thereabout, for, as a rule, the yearly levies are enough to meet current obligations. Pasquotank County, since 1880, has built a court house and jail at the cost of about $60,000, all which has been paid except about $6,ooo, which sum represents the entire indebtedness of the county.
</p>
<p>
The rate of taxation in this county for the past six years has averaged about 85 cents on the $100 of property and $2 each on polls. Last year it was as follows:
</p>
<p>
For general purposes of the State 22 cents on $100; for pension 3 cents; for public schools 16 cents; for general county purposes 30 cents; and for special purposes (authorized by act of General Assembly) 14 cents; total, for all purposes, 85 1/3 cents on the $100. The law applies the $2 collected on polls as follows: For public schools 1.54 1/2 cents; for pensions to cents; and for the pauper fund 3.5 1/2 cents.
</p>
<p>
But revenue is derived from other sources. One hundred dollars each is the tax for licenses to retail spirituous liquors, all which, as well as fines and penalties imposed by the several courts, goes into the public school fund. Moneys derived from other sources than those .named are applied to the general county fund and used to pay the current expenses of the county, the pay of jurors and other officers, and for the maintenance of paupers. The whole net tax collected last year in this county
</p>
<p>
[Page 22]
</p>
<p>
Amounted to $24,000, of which over $8,000 went to the public schools of the county.
</p>
<p>
The present excellent financial condition of this and the other counties of the district show how well public affairs have been administered by their public officers, especially when the low rate of taxation and the amount of public improvements that have been done in recent years are considered.
</p>
<p>
Ample provision is made in the "Revenue Act" to protect the State and county against loss by reason of default of the receiving and disbursing officers, and (speaking for the officers of Pasquotank County) every cent of public money that has come into their hands during the past twenty years has been properly applied by them. I state this of my own knowledge, having been chairman during that time of the Committee of Finance.
</p>
<p>
[Page 22 cont.]
</p>
<p>
Public Schools.
</p>
<p>
There is no subject in which the people of the whole State of North Carolina, white and colored, take deeper interest than that of the public schools.
</p>
<p>
The system of free schools of the State, as it now is, is the outgrowth of the old "Common School" system. Year after year has added improvements to it until it has become a means of the greatest good to the people of both races.
</p>
<p>
Besides the State Board of Education (which consists of the Governor of the State, the Lieutenant Governor Secretary of State, Treasurer, Auditor, Attorney-General and Superintendent of Public Instruction) each county in the State has a county board of education, consisting of three men, chosen biennially by the county magistrates, and a county superintendent of schools. Mach county is divided into white school districts and colored school districts, for each of which is provided a school committee of three men chosen by the county board of education from the citizens of the district for which they are to act.
</p>
<p>
For lack of room in this little pamphlet to enter fully into details the writer must refer the reader to Chapter 15, Vol. 2, of the Code of North Carolina and laws relating to the public schools enacted by the General Assembly of the State since the adoption of the Code. The State Constitution requires that all public schools shall be kept open at least four months in every year for the instruction of all the children in the State between the ages of six and twenty years. It also requires that the schoolhouses shall be so located as to be of greatest convenience to the people of the school district. In the county of Pasquotank there are forty odd districts, about one-half of which are "colored districts," and each has in it at least one free schoolhouse. These houses, though generally small, are larger and better and far more conveniently and corn
</p>
<p>
[Page 23]
</p>
<p>
fortably arranged than those formerly used. Many of them are new and constructed after modern plans with regard to form, convenience and means of lighting and heating. They are neat and clean, and they and their surroundings are kept in good condition. There are two of these buildings in Elizabeth City, one for the white, the other for the colored race ; one is constructed of brick, the other of wood ; each has several apartments and classrooms ; each has a principal and. several assistant teachers, and each has seating capacity for from two to three hundred students. There is also a colored normal school, supported .in part by the Peabody Fund that has an attendance of nearly two hundred. Besides these public schools are the "Collegiate Institute," presided over by Mr. Sheep, assisted by five or more instructors, and the high school of Mr. and Mrs. Tillett, which together have a scholarship of nearly two hundred: Both of them are institutions of high grade and are admirably conducted. There are also six or eight small private schools in the place.
</p>
<p>
At Edenton, Hertford and many other places in the Albemarle district are many excellent schools, besides those connected with the public school system.
</p>
<p>
The sources from which the public schools of the State derive their support are chiefly as follows: Proceeds of sales of the public lands of the State, all fines imposed by the courts, tax from licenses to retail spirituous liquors, three-fourths of all poll tax and 16 cents on the $100 valuation of all taxable property.
</p>
<p>
The Mechanical and Agricultural College at Raleigh and the Greensboro Normal Female College-both institutions of a high order derive much of their support from the State, and, besides these, for many years past the General Assembly has made very creditable annual appropriations for the support of the State University at Chapel Hill, the proviso in these cases being that a certain number of both boys and girls may have the privileges of their respective schools at little or no charge.
</p>
<p>
[Page 23]
</p>
<p>
General Remarks.
</p>
<p>
Such questions as these may reasonably be asked by the honest inquirer after honest truth<br/>
If North Carolina is indeed such a country as is described in the foregoing pages, of rich and productive lands, of far-reaching forests of the best of timber, of broad sounds and rivers swarming with fish and fowl, and their vast bottoms floored' with oysters, of genial climate and remarkable healthfulness, and of a kindly disposed and intelligent population-why is it that the attention of the moving populations of the world has not long ago been called to the facts in a marked and more earnest manner?
</p>
<p>
[Page 24]
</p>
<p>
I will attempt to answer truly all these questions.
</p>
<p>
The year 1865 marks a great epoch in North Carolina history-it is the division point between the Old and the New North Carolina; a distinct line, on each side of which appear conditions widely different in many important respects, and that, could only produce effects, the one entirely unlike the other.
</p>
<p>
From the first settlement of the State in 1660, to the close of the war in 1865 - a period of more than two centuries - the population had grown to 500,000. From 1865 to the present time - a period of thirty years - it shows the enormous increase to 1,800,000! Up to 1865 the leading, and almost the only, industry of the people was the cultivation of the lands. It is owing to this fact, mainly; that there are no large cities in the State, and that there has been but a limited commerce and intercommunication between this and other States and countries. Naturally the people were clannish under such circumstances, and their modes of living, their ideas and their habits and manners local. Under such circumstances there was really little necessity for the higher education that exists now. The farmer cultivated his crops, laid by enough of them for the subsistence of his family, hauled the surplus to the, village, and sold it and hoarded the modest proceeds, to be increased in the same manner the coming year. He had no education, nor did he feel the need of any, and his sons and daughters were raised to manhood and womanhood only to live again the life of their parents. The little merchant at the cross roads had ample time to sit out in the sunshine on an empty barrel or box and smoke his pipe and talk over with his neighbors the recent occurrences of the neighborhood. Nothing advanced. All continued the same as it had been for a century before. Art and invention were unknown and therefore a dead letter. The lands, cultivated with ancient. Instruments and after ancient modes, produced enough to supply food and raiment, and that was enough.
</p>
<p>
Again, under the old order of things African slavery existed. Then, out of a thousand souls, one alone might have had active interest in the affairs of government and nine hundred and ninety-nine the chattels of that one. One might have aspired to honor and distinction among men, while nine hundred and ninety-nine had nothing to expect more than to be clothed and fed by that one out of the wealth that they had produced for that one. Then, the one who enjoyed the advantages named had influence and power, while his neighbor, though as white as he, who owned neither land nor slaves, had neither influence nor power, and was even regarded in many instances by the more highly blest neighbor as a nuisance that must of necessity be borne with. Then, the influential class had the monopoly of the best schools, and the poor man had only the bare opportunity, at best; to educate his children in the mere rudi-
</p>
<p>
[Page 25]
</p>
<p>
ments at great disadvantage, while the law of the land placed a heavy penalty on the negro who should presume to undertake to learn anything but the business of a slave. And then the immigrant, unless he should bring wealth with him, was sure to be regarded with jealousy and suspicion, and was not long in learning that he was unwelcome, his early departure in most cases being a sure consequence.
</p>
<p>
Under such circumstances immigration was positively out of the question, and not only so, but those who came and, after a short and unhappy sojourn, were compelled to return once they came, carried with them to spread broadcast among their [unknown] at home a feeling of bitterness, even of hatred and revenge at heart that a lifetime could not eradicate, and that even their descendants of present day have difficulty in forgetting. No wonder, the [unknown] growth of population was slow and that the emigrant steer [unknown] am a country, though fair and desirable, so unkind and inhospitable.
</p>
<p>
The conditions of the new North Carolina are all different. Slavery a thing of the past; the poor white man with bright opportunities before him that he dreamed not of in the old time opportunities of education for his sons and daughters in the best of schools; exactly equal representation with the rich man in they halls of the lawmaker; exactly equal rights at the election polls arid in courts of justice, and with every incentive to exert his manhood and strive in equal race for the highest rewards held out for meritorious act and thought; the Negro transformed from a chattel into manhood, with opportunities of education, with political rights and full protection of the law, and the rewards of merit offered to him as well as to the white man, and with privilege to build his own churches and enjoy his religion in his own way.
</p>
<p>
Nor are these by any means the only changes that have taken place. The great plantation of a thousand acres is being divided into fifty farms to be occupied by fifty families and each with its own comfortable home. The broad forests are continually falling before the woodman's axe and their places transformed into fields of grain and fruits and orchards and vineyards ; railroads crossing the country in every direction and fleets of steamers plying on the rivers that had no cause to be under the old conditions; the whole land brightened and its usefulness developed in a thousand ways; mails passing and repassing in every direction; spreading knowledge and information broadcast ; schools and churches ever on the increase in numbers, and all far in advance of those of the old time ;light rates of taxation and the burden of it fairly distributed, and the citizen free to choose his law makers, his judges and his rulers.
</p>
<p>
And what are some of the results of these changes already? Glance at the U. S. Census Report of 1890 and compare with it that of 1880?
</p>
<p>
[Page 26]
</p>
<p>
What of the advance in commerce and trade? What of the tremendous increase in number and value of mills and manufactories, of the capital invested in them, the thousands of laborers employed in them, the revenues returned by them? What of the increase and improvements of towns and cities, and of the splendid public edifices and private homes in them? What of the wonderful advance in general education, the startling decrease in illiteracy in the period of only a few years?
</p>
<p>
What of the immense increase in population? What of the improvements in the public roads and bridges and of streets in towns? What of, the 5000 churches and probably twice that number of schoolhouses scattered over the State? And what of the improvements in the comfort and conveniences of home? Are not all these pointers upward to still higher levels?
</p>
<p>
Foreign emigration has never looked toward North Carolina. Less than 4000 of the 1,800,000 people who reside in the State are of foreign birth! - a wonderful showing for a State of the American Union to make in this age, a showing that no other State can make! Why is this? Let us see.
</p>
<p>
The United States has been the holder of vast domain, and for many years past the nations of the world have been invited to come and occupy it. The cost of a homestead in this domain amounted to a Mere pittance. Great railroads have been constructed through it, and these have obtained grants of millions of acres of it. Other, millions have been acquired by other great corporations and; by wealthy syndicates and citizens. It was to the interest of these corporations and syndicates to have their lands settled upon, and every inducement that could be thought of has been offered to the foreigner as well as to the citizens of our own country to purchase homesteads and locate. For years past continuous streams of foreigners from Europe and other quarters of the earth have been moving across the ocean to America and- occupying these lands, so cheaply purchased. Agents of these corporations and syndicates by thousands have for years past spent their time, moving from pillar to post, in Europe and elsewhere, lauding the glories and advantages of America to those whose opportunities for good in their own native lands were few, and inviting them to come and occupy. But in all this matter the Western States was pointed to. The emigrant, on leaving Belfast or Liverpool or Havre or Palermo, was furnished with tickets - not to New York or Boston or Baltimore merely-but to and through these places on to points in the great West. The result has been that much of that vast domain has been taken up. The wilderness and prairie have become far reaching farm lands [farmlands]. States have grown out of territories and cities out of villages, and the great Western land
</p>
<p>
[Page 27]
</p>
<p>
that but a few years ago was the hunting ground of the savage is now as if by magic, one grand scene of civilized life and action.
</p>
<p>
But although the area of the public lands is at this day immensely less than it was, yet emigration is by no means at a standstill. The foreigner still moves westward, and still- he is accompanied by the American citizen, leaving the East, where lands have become worn out and where the hum of machinery has for some cause become less cheery than formerly, in the search for better and broader scope for the exercise of his industry and enterprise. And it is this last class of emigrants that the South prefers shall come and make homes here and dwell permanently. They are citizens by birth; they speak the same language that we do; they understand our institutions they move in the same direction that we do; their ambitions run in the same channel and they worship the same God and are at home in our churches. We know them already because they are Americans, and we have a feeling of brotherhood toward them that we cannot have for others. We therefore extend to them special invitation to come and be with us and of us. And yet it should not be inferred that the invitation to come is not extended to all whose intentions are good anal peaceful, and who are prepared to perform the duties of honest American citizenship with the right to expect to receive in return the full benefits thereof.
</p>
<p>
North Carolina contains 52,250 square miles of territory, and has abundant room for ten times its present population. Large districts, in the State are sparsely settled upon. Lands are cheap; labor is plentiful and cheap; the cost of living is exceedingly cheap. The lands are fertile and generally of good quality. The price of good farms ranges from $5 to $20 per acre, and unimproved lands may be bought at half that price. Large tracts may be had in a body - one, two, three and more thousand acres-in any of the counties of the Albemarle district, tracts sufficiently large and productive to support colonies of 30, 50, 100 families. Many of these tracts are conveniently situated, near railroads or deep water- navigation, in the line of travel and quick transportation.
</p>
<p>
Come and see; it will cost but little to do so. Let the expert farmer, lumberman, fisherman and manufacturer come and examine and then exercise his own judgment. He will be sure to have kind treatment. The public records will be in his reach; the titles will appear on these, and he may examine them fully and freely without cost.
</p>
<p>
[Page 27 cont.]
</p>
<p>
Elizabeth City.
</p>
<p>
Elizabeth City, the largest town in the Albemarle district, is the county seat of Pasquotank County, and is situated on the S.W. side of Pasquotank River, sixteen miles from its mouth, at Albemarle Sound. It has a population estimated at six to seven thousand. It has one mile
</p>
<p>
[Page 28]
</p>
<p>
of river frontage, along which are substantial wharves and docks, a few feet outside of which, for most of the distance, the water is twenty to thirty feet deep, and the harbor, being landlocked and protected from storm and rough water, affords every convenience for the loading and unloading of large vessels.
</p>
<p>
Since the completion of the Norfolk &amp; Southern Railroad, in 1881, the place has increased considerably both in wealth and population, the rate of increase in both being about as three to one. The volume of business transacted is quite large, especially along and, near the waterfront. There are nine lumber mills, some of them extensive and supplied with the most improved machinery; two shingle mills, one of them on a large scale, employing a great number of men; two grist mills; two marine railways; a net and twine factory; a large cotton mill in prospect for the near future; an iron foundry and machine shops; several oyster packing establishments, and an ice plant of the capacity of more than twenty tons per day. There are also the passenger and freight depots and extensive wharves and docks of the Norfolk
</p>
<p>
Southern Railroad. _ There are four wholesale grocery stores, several of which transact a business of nearly or quite $100,000 a year; four furniture and two hardware stores, and forty or fifty smaller stores in which are retailed dry goods, boots and shoes, etc., groceries, confectioneries, fruits and other goods.
</p>
<p>
In the town are two banks, an opera house, two large public schoolhouses, a free Normal School, also the Collegiate Institute, the Tillett High School, and six or eight small private schools. There are eight churches in the place, four for the white and four for the colored race, three of them are Baptist, two Episcopalian, two Methodist and one Presbyterian.
</p>
<p>
The town is lighted by electricity. The streets are wide and well shaded with elm and other forest trees; for the most part they intersect one another at right angles, forming acre squares, upon which are the residences and other buildings. Many of the residence lots are beautified with shrubbery and flowers and forest and fruit trees, which add greatly to the appearance of the place, especially in the spring and summer.
</p>
<p>
The Court House, the Albemarle Hotel, the First National Bank building, several of the churches, and many of the stores and private residences are commodious and handsome structures.
</p>
<p>
The town has an excellent steam fire engine, a market house and a city hall. Its indebtedness at the present time does not exceed $3,000. The corporation tax is limited by law to fifty-seven cents on $100 worth of taxable property, which small rate, augmented by revenues derived from licenses, has been found to be sufficient to defray all current
</p>
<p>
[Page 29]
</p>
<p>
expenses, including the salaries of the Mayor and Commissioners and the police. The prominent questions of public concern now being discussed by the citizens are better drainage and water works, plans for carrying out both of which will, it is thought, be adopted at an early day.
</p>
<p>
Spring begins about the 1st of March, and by the 20th of April the trees and flowers are clothed in tender green and bright with beautiful coloring. The first white frost occurs about the 20th of October. The climate is mild and equable, and the town healthful.
</p>
<p>
Though in the building up of manufactories and in taking the initiative in several important industries Elizabeth City has kept pace with other towns in this and other Southern States, yet there still remain many inviting openings for the enterprising capitalist and skilled mechanic. Nearly 5o,ooo bales of cotton pass through this place yearly on the way to other places, far distant, to be manufactured. Labor is plentiful and exceedingly cheap. Fuel (wood) abounds-good pine can be had, delivered at the railroad at Elizabeth City, at $1.50 to $2.00 per cord. Freights, owing to the short haul from this place to the great markets of the country, are much less, of course, than from more distant points. Would not a cotton factory, even on a large scale (or several factories) be a paying investment? Excellent sites and sufficient acreage for such establishments, immediately on the line of the railroad, within or near the corporate limits, would be sold at a low price, or, very probably, donated by the Land Improvement Company or others.
</p>
<p>
The best woods for the manufacture of furniture - maple, oak, ash; hickory, beech, gum, poplar, bay, etc. - grow in the forest nearby in great abundance, and could be had in unlimited quantity at small cost. Why would not a furniture factory, to be placed on land that would cost nothing immediately on or near the railroad, pay?
</p>
<p>
Good clays - gray and yellow - suitable for the making of brick and other things, are nearby in abundance. Could they not be handled with profit?
</p>
<p>
Nearby, in this county and others, rice grows luxuriantly, and more than 5o bushels to the acre have been raised. What of mills on the spot to prepare it for the markets.
</p>
<p>
Juniper and cypress woods grow in the neighboring forests in immense quantities. Why continue to cut this timber, haul it to navigation or to the railroad, ship it 500 miles away in the log to be made into tubs, pails, kegs, barrels, buckets, etc., when it could be manufactured more cheaply on the spot, then freighted to market at one half the cost of transportation?
</p>
<p>
Nearby are forests of white poplar and other soft woods suitable for pulp, also thousands of cords of reeds. Why would rot mills for the manufacture of paper pay?
</p>
<p>
[Page 30]
</p>
<p>
Nearby are raised in great abundance potatoes and other starchy vegetables. Would a starch factory pay?
</p>
<p>
There are no lands in America better adapted to the production of clover and the hay grasses; as much as four tons of red clover to the acre have been harvested. How would it do to encourage this industry, and to have an. extensive depot in Elizabeth City for the baling storing and selling of hay? And what of an establishment to can fresh fruits and vegetables?
</p>
<p>
And these are but a few suggestions and hints thrown out for the enterprising emigrant to ponder over while he is comparing in his mind the many advantages that this section of the country has over many other places: Here, where the cyclone or the northern never occurs ; here, where there are seldom seasons of extreme wet or dry, hot or cold ; and here, where but little is known of scarlet or typhoid fever, or diphtheria except in mildest forms, scarcely ever attended with fatal results.
</p>
<p>
Is the picture overdrawn? Come and see and make full inquiry on the spot before investing a dollar. Come in April or May, preferably, when the trees have on their suit of green, when the fields and gardens have been planted, when the flowers are abloom and the country roads are scented with the sweet breath of the yellow jasmin, the dogwood and the woodbine; or else come in the autumn, when the fields of grain are brown and ready for the sickle. But come, before investing, at any season that play be most convenient, and see anti inquire for yourself. Then, whether you conclude to take up your permanent residence with us or not, you will know for yourself that you have met a kindly people, who are ever ready to extend the hand of friendship and cordial welcome to him whose life is correct and whose intentions are good. You may learn, too, that after all the "bloody shirt" is but the subject of a grand romance of many volumes, and that that dreadful chasm, once red with blood, across which those who had been deadly foes found it difficult to reach and clasp the friendly hand, has been filled to the brim and its place carpeted with God's beautiful green and flowers.
</p>
<p>
[Page 31]
</p>
<p>
ADVERTISEMENT.
</p>
<p>
The writer of this book has thought it well to attach his own signature to it; and, as he is not known to many of those who may read it, he has felt that it is due to the reader that he should give some references to persons better known than himself; and this is his excuse for putting in print the following letters from Hon. James E. Shepherd, late Chief Justice of North Carolina; Hon. George H. Brown and others. He also refers to the citizens of Elizabeth City generally.
</p>
<p>
Letters of inquiry are invited. Address	FRANK VAUGHAN, Elizabeth City, N.C., inclosing stamps for reply.
</p>
<p>
RALEIGH, N.C., March 1, 1895.
</p>
<p>
Having heard that Frank Vaughan, Esq., a prominent member of the Bar of Elizabeth City in this State, and a writer of considerable reputation, is preparing a pamphlet descriptive of the Albemarle section of North Carolina, it gives me great pleasure to testify to his eminent fitness to discharge a duty which has long been due by some citizen of that historic part of the State.
</p>
<p>
Mr. Vaughan by his acquaintance with the deeds and records of the various counties, as well as his great fund of general information is, in my opinion, better fitted to prepare such a work than any one of my acquaintance.
</p>
<p>
Jas. E. SHEPHERD.
</p>
<p>
WASHINGTON, N.C., FEB. 28, I895.
</p>
<p>
I take pleasure in bearing testimony to the high Standing and professional character of Frank Vaughan, Esq., of Elizabeth City, N.C. He is a lawyer of ability and as a specialist in examining land titles and records he has no superior.
</p>
<p>
G.H. BROWN, JR., Judge Superior Court.
</p>
<p>
NORFOLK, VA., February 22, 1895.
</p>
<p>
FRANK VAUGHAN, ESQ., Elizabeth City, N.C.:
</p>
<p>
DEAR SIR: I learn that you are preparing for distribution a pamphlet descriptive of the Albemarle district of N.C., and trust you will extend it as far as possible. From your knowledge of the records of the Eastern counties of N.C. and general knowledge of the country, as well as having the confidence and esteem of the community, I know of no person so capable of writing up that section of the country, or the correctness of whose statements can be more implicitly relied upon, and I wish you great success in the undertaking. Yours truly,
</p>
<p>
JOHN L. ROPER LUMBER COMPANY,<br/>
By JOHN L. ROPER, President.
</p>
<p>
NORFOLK, VA. February 22, 1895.
</p>
<p>
I am gratified to learn that Frank Vaughan, Esq., of Elizabeth City; N.C., has in preparation, and will shortly publish, a book descriptive of the Albemarle region of North Carolina. I think Mr. Vaughan has a more thorough knowledge of the physical geography of that section, its attractions and advantages, than any other man in it; and when to his general stock of valuable information concerning .the country, we add his intelligence, observation, experience and reliability, we shall confidently expect at his hands an important and valuable contribution to the
</p>
<p>
[Page 32]
</p>
<p>
superior advantages of Eastern Carolina as a home for all persons, and especially<br/>
emigrants seeking lands productive of all crops incident to this climate and waters<br/>
teeming with fish and oysters.
</p>
<p>
L.D. STARKE.
</p>
<p>
Our townsman, Frank Vaughan, Esq., is preparing for publication a very timely little book, being "A Description of the Albemarle District of North Carolina, with a Brief Sketch of Its History ; Its Topography and Physical Features; Its Fertile Lands; Its Rivers and Great Inland Seas ; Its Forests and Fields; Its Products of Land and Water; Its Climate and Healthfulness; Its Facilities for Travel and Transportation; Its Present Financial Condition; Its Modes of Taxation and Its Public School System, together with a description of Elizabeth City, etc." We have glanced over the manuscript and are prepared to say that it covers the ground, giving truthfully the information on the topic treated that prospective immigrants from the North are needing, anal when published, as we learn it soon trill be, our business men should take an interest in it by subscribing for and distributing it where it will do good. - From the Elizabeth City "North Carolinian," March 6, 1895.
</p>
<p>
Mr. Frank Vaughan, of this town, has kindly shown us some manuscript sheets of a new book, which he has prepared, which is nearly ready for the press. It embraces "A Description of the Albemarle District of North Carolina, with a Brief Sketch of Its History and People."
</p>
<p>
From a casual examination we are gratified at the announcement of this publication. We regard it as opportune anal well considered, and from personal knowledge we are sure that the work could not have been done by a more competent, conscientious and painstaking writer. The manuscript sheets we have examined are written in a plain and unostentatious manner and without exaggeration in style or statement. It is a plain unvarnished recital of facts. It is just the book we need at this period of unrest and home seeking in the history of the world, and Mr. Vaughan is the very best man we have for the work. It should, when published, be widely distributed, and it must be done by our own businessmen. It should be in the hands of home-seekers in this and other countries, that they may see that the lands best known are often not the best suited for residence, happiness and comfort, and that the Northeastern tier of counties of North Carolina reach out the hand of hospitality to suitable immigrants.
</p>
<p>
We only fear that this work of Mr. Vaughan is not large enough to embrace all the subjects it might refer to-but subsequent editions may be enlarged -From the Elizabeth City "Economist-Falcon" March 8, 1895.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Vaughan, Frank. 1895. <em>The Albemarle District of North Carolina</em>.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
<tr>
  <td>Call Number:</td>
  <td>NoCar F 259 V38 1998a <a href="http://catalog.lib.ecu.edu/catalog/788537">Display Catalog Record</a></td>
</tr>
</table>
