---
layout: ecu
title:  "The Beginning of Human Flight"
customdate: "1916"
order: 7
---

{% include breadcrumbs.html %}

<h3>The Beginning of Human Flight</h3>
<b>Notes</b>
<p>
Although the 1903 Wright flyer has remained with the Smithsonian Institution since 1948, initially it sought to discredit the Wright Brothers. In response to this assault, Orville refused the Smithsonian permission to exhibit the flyer until the Wrights received an official letter of apology. Meanwhile, Orville refurbished the 1903 flyer first displaying it at MIT for several days in June of 1916 and other places over the next few years. In 1925, Orville shocked the Smithsonian when he decided to send the distinctly American invention to the Science Museum of London. In 1942 the Smithsonian finally apologized and after WWII the glider returned to America. Orville wrote the following in commemoration of the 1916 MIT celebration.
</p>
<div class="well">
  <label>Text and Images from Pamphlet</label><br/>

<p>
  [Page 1]
</p>
<p>
  The Beginning of Human Flight
</p>
<p>
  <a href="../../img/BOHF/bBOHFb01.jpg">
    <img src="../../img/BOHF/sBOHFb01.jpg" />
  </a><br/>
  [Caption] The First Flight, December 17, 1903 Kitty Hawk, N.C.
</p>
<p>
  THE WRIGHT COMPANY 60 BROADWAY NEW YORK
</p>
<p>
  [Page 2]
</p>
<p>
  <a href="../../img/BOHF/bBOHFa02.jpg">
    <img src="../../img/BOHF/sBOHFa02.jpg" />
  </a><br/>
</p>
<p>
  THE first flight ever made by man was made upon the machine now exhibited for the first time on the occasion of the dedication of the new buildings of The Massachusetts Institute of Technology. On December 17, 1903, at Kitty Hawk, North Carolina, the brothers Wilbur and Orville Wright made four successful flights with this machine. The first lasted only twelve seconds, a flight very modest compared with those of to-day, but it was, nevertheless, the first in the history of the world in which a machine carrying a man had raised itself into the air in free flight. The second and third flights were a little longer; the fourth lasted fifty-nine seconds, covering a distance of 852 feet over the ground against a twenty-mile wind. The Wrights continued their experiments in 1904 and 1905 with another machine, and increased the time to 38 minutes and the distance to over 24 miles.
</p>
<p>
  When the report of these flights went abroad, sportsmen and scientists the world over feverishly took up the subject of human flight; but it was not until nearly five years that these first flights of December 17, 1903, were equaled by others than the Wright brothers themselves, and then only on a machine based upon drawings of the early Wright machines published in 1904 in France. It is interesting to note that every practical flying machine of to-day uses the system of control invented and employed by the Wright brothers in this first machine of 1903.
</p>
<p>
  After the last flight on December 17,1903, while standing unguarded on the ground, the machine was struck by a sudden gust of wind, which lifted it from the ground, and rolled it over and over. The rudders were badly damaged, and some other parts broken; but the machine has suffered most from going through the flood that swept through Dayton in 1913. The greater part of the machine, still in the boxes in which it was shipped from Kitty Hawk to Dayton, lay several weeks in the water and mud.
</p>
<p>
  In assembling the machine for exhibition at the Massachusetts Institute of Technology, the front and rear rudders had to be almost entirely rebuilt. The cloth and the main cross spars of the upper and lower center sections of the wings also had to be made new. A number of other parts had to be repaired, but most of the other parts, excepting the motor, are the original parts used in 1903. The motor now in the machine is a close copy of the 1903 motor, but was built about a year later and developed much more power than the original one. The motor in 1903 developed only ten to twelve horse power. The parts of the 1903 motor are still at hand, excepting the crank shaft and fly-wheel, These were loaned some years ago for exhibition at one of the aeronautical shows, and cannot now be found.
</p>
<p>
  [Page 3]
</p>
<p>
  Technical and scientific men, such as are assembled to celebrate the dedication of the magnificent new buildings of the Massachusetts Institute of Technology, may be interested to know of the technical work that led to the building of this first successful flying machine. The mind of man had been occupied with the problem of flight for many centuries, but the greater part of the work done was not of a scientific character. When the Wrights took up the subject in 1896, only a few aerodynamical works of scientific interest were in existence. Engineers at that time in calculating air pressures used the tables of Lilienthal and Duchemin. The work of Langley seemed to verify the Duchemin formula. But after two years of experiment with machines based upon the tables of Lilienthal and Duchemin, the Wrights became convinced that these tables were so far in error as to be of no value in the designing of an aeroplane. They therefore in 1901 constructed a small wind-tunnel in which to make measurements of the pressures produced by various shaped surfaces when exposed to the air at different angles. For making the measurements they used a type of instrument which they thought would almost entirely eliminate the factors which had spoiled the measurements of their predecessors. During the winter of 1901-1902 they tested altogether more than one hundred different surfaces in this tunnel, and tabulated the results of the measurements of about fifty of them. They made measurements of square and rectangular surfaces in order to deter. mine the effect of varying the ratio of the length and breadth of the surfaces. They also made measurements to ascertain the effects of, and possible advantages in using, curved instead of plane surfaces, and the effects of varying the depth of curvature as well as the location on the maximum depth of curvature. They measured thick and thin surfaces to determine the effects of thickness, and also surfaces with maximum thickness at different points. They determined the effects on surfaces when superposed and when one followed the other. They measured the travel of the center of pressure on curved surfaces when exposed to the air at different angles. No tables of the travel on curved surfaces were in existence at that time.
</p>
<p>
  With the results of these laboratory experiments at hand, and with a system of control already developed by themselves in their gliding experiments of 1900 to 1902, the Wrights were in a position to design and build a power-driven aeroplane, with hope of success. This first machine of 1903 was designed entirely from the tables of air pressures worked out in the laboratory. At that time there-was no published data on air propellers. The Wrights designed these first propellers on a theory of screw propulsion worked out by themselves. The result was the development of over sixty-six per cent. efficiency, an efficiency which has been rarely exceeded either in marine or air propellers to-day.
</p>
<p>
  [Page 4]
</p>
<p>
  Date, December 17, 1903.<br/>

  Time, 10:30 a.m., 12:00 m.<br/>

  First flight, twelve seconds.<br/>

  Longest flight, fifty-nine seconds.<br/>

  Wind velocity, twenty to twenty-five miles per hour.<br/>

  Weight of machine, 605 pounds.<br/>

  Total weight with operator, 750 pounds.<br/>

  Power of motor, ten to twelve horse power.<br/>

  Weight carried per horse power, sixty-three pounds.<br/>

  Speed of motor in flight, 1020 R.P.M.<br/>

  Speed of propeller, 340 R.P.M.<br/>

  Spread of wings, forty feet, four inches.<br/>

  Length of chord, six feet, six inches.<br/>

  Total area of wings, 530 square feet.<br/>

  Area of elevator, forty-eight square feet.<br/>

  Area of vertical rudder, twenty square feet.
</p>
<p>
  <a href="../../img/BOHF/bBOHFa04.jpg">
    <img src="../../img/BOHF/sBOHFa04.jpg" />
  </a><br/>
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Wright, Orville. <em>The Beginning of Human Flight</em>. New York: Wright Co., 1916.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
<tr>
  <td>Call Number:</td>
  <td>NoCar Rare TL540.W7 B44 1916 <a href="http://catalog.lib.ecu.edu/catalog/625834">Display Catalog Record</a></td>
</tr>
</table>
