---
layout: ecu
title:  "North Carolina and Its Resources"
customdate: "1896"
order: 3
---

{% include breadcrumbs.html %}

<h3>North Carolina and Its Resources</h3>
<b>Notes</b>
<p>
When the Wrights first arrived in the Kitty Hawk and Kill Devil Hills area, it sat within the southern boundaries of Currituck County. Twenty-eight years later, Orville returned to the familiar site, but the region now belonged to the northern portion of Dare County. Unfortunately for Currituck County tourism, in 1920, North Carolina redistricted and enlarged Dare County to encompass areas directly north of Nags Head, which included Big Kill Devil Hill and the historic site of the First Flight. The following excerpt predates the Wrights arrival by four years therefore the Kitty Hawk area is described in the Currituck County section.
</p>
<div class="well">
  <label>Text from Book</label><br/>

<p>
  [Page 328]
</p>
<p>
  CURRITUCK.
</p>
<p>
  Currituck county is bounded on the north by Virginia, east by the Atlantic ocean, south by Dare county, Kitty Hawk bay and Albemarle sound and west by North river and Camden county. It is traversed north and south by the Currituck sound, which is on an average about six miles wide. Between this sound and the Atlantic ocean, lies a narrow strip of sand beach about half a mile in width. This beach is interspersed with sand-dunes, which rise to a height of about fifty feet. That part of the beach called Kitty Hawk is covered
</p>
<p>
  [Page 329]
</p>
<p>
  with a growth of short leaf pine, oak, hickory, dogwood, holly, &c. The body of the county is generally level and has a growth of oaks, hickory, short leaf pine, holly, gum, maple, juniper or white cedar, cypress, poplar, etc.
</p>
<p>
  The soils in this county are of different varieties-peaty, clay, clay loam, sandy loam and sandy; they are adapted to the culture of corn, oats, cotton, potatoes, both sweet and irish [Irish], melons and vegetables of all kinds. Peaches, apples, pears, strawberries and other fruits also thrive well, and blackberries and huckleberries grow wild in profusion. All of these are shipped in season to cities north as far as New York and Boston. The shipping facilities are abundant both by rail and water. The Norfolk and Southern railroad passes through the county, but the chief shipping route is by the Albemarle and Chesapeake canal, which connects Currituck sound with Chesapeake bay.
</p>
<p>
  Currituck sound abounds in fish of different varieties, which are caught and shipped to market. Large quantities of fish are also caught in the ocean and shipped from Currituck county. Wild fowl, such as geese, ducks, brant and swan, arrive in large numbers about the first of October, and inhabit the waters of Currituck sound, until the first of April, being equalled [equaled]in numbers nowhere along our coast, and the food they obtain being abundant and conducive to high flavor, this section is much resorted to by gunners for market, as well as sportsmen. Their shooting is almost entirely upon the public waters of the sound, from batteries, bush blinds, etc.
</p>
<p>
  The sound is interspersed with numerous islands of low marsh lands, and considerable marsh land is also attached to the beach, both of which are used for grazing purposes. Islands, marshes and beach lands on the east side of the sound are almost entirely owned by wealthy amateur sportsmen, who resort here in the game season.
</p>
<p>
  Currituck county contains 127,865 acres of land, valued $370,885.
</p>
<p>
  The number of domestic animals is-horses, 1,407; mules, 294; goats, 93; cattle, 3,447; hogs, 10,403; sheep, 2,389.
</p>
<p>
  Product of taxation-for State uses, $7,376,95; pensions, $374,07; schools, $3,235,49; county, $4,778.36.
</p>
<p>
  Population-white, 4,737; colored, 2,016 total, 6,747
</p>
<p>
  DARE.
</p>
<p>
  The surface of Dare county is mainly water, the land, made up of a succession of long, narrow islands and peninsulas, being interpenetrated throughout by great bays, sounds and navigable bayous. The county is bounded eastward by the Atlantic ocean, westward by Alligator river and southward by Pamlico sound. The larger portion, on the main-land, is a swamp, which lies a few feet above tidelevel [tide level]. Around the margins of this portion, next the sound, are tracts of a few miles, in places, of drainable, cultivable land belonging to the general description of oak flats, having a gray-loam soil of a close texture. It is also fringed by considerable bodies of marsh-land next to the sound, from which large crops of cranberries are gathered. Roanoke Island, a part of this county, lies within the upper portion
</p>
<p>
  [Page 330]
</p>
<p>
  of Pamlico sound, and is a narrow tract twelve miles in length and. from two to three miles in width. The upper portion is for the most part sandy, with a short-leaf pine growth, intermixed with oaks, and the southern half is mainly swamp and marsh. The easternmost part of the county, like the corresponding portion of Currituck, is a narrow fringe of sand reef, properly a dune, which was originally covered with a forest of short-leaf pine, oaks, hickories, dogwood, etc., with abundance of grape-vines. Here it was that the Scuppernong or its parent vine, was discovered by Amadas and Barlowe, and thus referred to in Dr. Hawk's history of the State, describing the landing on Roanoke Island in 1584: "We viewed the land about us, being where we first landed very sandy and low toward the waterside, but so full of grapes, as the very beating and surge of the sea overflowed them, of which we found such plenty as well there as in all places else," &c. These have in part disappeared, leaving a tract of sand waves, which are moving, under the impact of the trade winds, constantly toward the south-west into the sound, and sometimes rise to a height of more than 100 feet. There is comparatively little tillable land in the county.
</p>
<p>
  This county was formed in r 87o from the county of Hyde, to which was added portions of Carteret and Tyrrell counties, and derives its name from Virginia Dare, the first white child born on the continent. A very large portion of Dare county is swamp land [swampland], and there are large bodies of it heavily timbered with cypress and juniper. On the side bounded by Pamlico sound there are lands that will produce grasses, vegetables, corn, peas and potatoes. No portion of eastern Carolina presents better facilities for cattle-raising, the feed being abundant and the climate mild. The chief industry is fishing, which is carried on to a great extent. Roanoke Island- forms a part of this county. Upon this island is Manteo, the county seat, named in honor of the Indian chief Manteo, the first of his race on the new continent to embrace the Christian religion. This island was the first place on the continent colonized by the English.
</p>
<p>
  In this county, on the banks lying immediately upon the sea coast, is the far-famed place of summer resort, known as Nags Head. This delightful resort is noted for its health, the sea-bathing, and its fine drives.
</p>
<p>
  Dare county has 188,178 acres of land, valued at $175,165, and 79 town lots, valued at $25,555.
</p>
<p>
  Domestic animals are-549 horses; 33 mules; 137 goats; 2,026 cattle; 2,726 hogs; 1,140 sheep.
</p>
<p>
  Product of taxation-for State use, $771.89; pensions, $185.35 schools, $1,704.16; county $2,494.69.
</p>
<p>
  Population-white, 3,362; colored, 406; total, 3,768.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>State Board of Agriculture. <em>North Carolina and Its Resources</em>. Raleigh: M.I. &amp; J.C. Stewart, 1896.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
<tr>
  <td>Call Number:</td>
  <td>NoCar F254 .N94 1896a <a href="http://catalog.lib.ecu.edu/catalog/923991">Display Catalog Record</a></td>
</tr>
</table>
