---
layout: ecu
title:  "The Coastal Plain of North Carolina"
customdate: "1912"
order: 5
---

{% include breadcrumbs.html %}

<h3>"Dare County," The Coastal Plain of North Carolina, 1912</h3>
<b>Notes</b>
<p>
To test their theories concerning flight, the Wright Brothers needed a geographical location that had sustained winds, possessed large sand dunes with soft flat expanses, and most important, still remained isolated from the public and press. When Wilbur arrived at the Tate family house in 1900, he soon discovered that as Bill Tate had written the Kitty Hawk region had sufficient winds, plenty of sand, and a sparse but helpful population. The Wrights had found their laboratory in Kitty Hawk, North Carolina.
</p>
<div class="well">
  <label>Text from Book</label><br/>

<p>
  [Page 398]
</p>
<p>
  DARE COUNTY.
</p>
<p>
  Topography.-The whole of this county, including the banks, is low, level, and swampy, nowhere, excepting in the case of wind-blown sand dunes, exceeding 8 or 10 feet above sea level. The surface forms a part of the Pamlico terrace plain, which is the lowest of the Pleistocene terraces. The chain of long linear islands called "The Banks," varying in width from a few rods to more than 2 miles, curve around the Atlantic boundary of the county. At many places along the banks immense sand dunes have been formed by the wind. These dunes reach their maximum development in the Kill Devil hills near Colington, where they attain a height of nearly 100 feet. They are bare of vegetation in most places and are constantly shifting. The sand blown from the banks is gradually shallowing Pamlico Sound for several miles off shore.
</p>
<p>
  Geology.-A thin surficial covering of fine sands and sandy loams of the Pamlico formation is spread over the surface of the county. Beneath this covering there are believed to be shell marl beds of Pleistocene age having an unknown thickness, which, however, probably do not exceed 30 or 40 feet. Beneath these there come sands, clays, and shell marl beds of Pliocene age, and beneath these again, probably at a depth of 80 to 100 feet and with an unknown thickness, are similar beds of Miocene age. Roanoke Island is probably of the same age geologically as the mainland of Dare County, the Pamlico terrace materials covering its surface. Although the banks are now covered in many places by immense sand dunes of recent origin, they were probably outlined in their present position during the deposition of the beds of the Pamlico terrace.
</p>
<p>
  Water Resources.-No deep wells have been drilled in this county On Durant's Island, in Albemarle Sound, a well was driven 80 feet deep which yielded an abundant supply of water, but which was of an unsatisfactory quality. At Stumpy Point cisterns are much used, being preferred to the driven wells. The latter range from 12 to 36 feet in depth and yield a water reported to be salty. At Juniper the open wells are only 2 to 4 feet deep and water from the nearby swamps is much used. This swamp water has a dark reddish-brown color and is locally termed "juniper water." In the northern part of the mainland open and driven wells 7 to 10 feet deep are reported to furnish good water. At Manteo, the county-seat, and in the southern part of Roanoke
</p>
<p>
  [Page 399]
</p>
<p>
  Island, cisterns rank first as a source of water supply. A few open and driven wells 10 to 15 feet deep are in use. Much of the well water has an unpleasant taste, due to decaying organic matter. The northern part of Roanoke Island is higher and sandier and driven wells 15 to 18 feet in depth yield an abundant supply of clear water.
</p>
<p>
  The conditions on the banks do not differ greatly from those on the mainland. Cisterns are in most general use, since the water of the shallow open and driven wells, 3 to 10 feet deep, is usually highly colored, due to the organic content and therefore of an unsatisfactory quality. A few wells reach a depth of 18 feet. Where the wells are driven in the dune sands, however, a soft, colorless water is as a rule obtained. Because of the low elevation of the greater part of the banks, large portions of their area are often flooded during storm tides, the ground being saturated and the shallow wells filled with the salt water. It is for this reason and because of the high color and organic content of the well water that cisterns are principally used. At Avon and Hatteras it is reported that the water level in the wells varies with the tides. At Hatteras it is said that a heavy storm tide will so raise the ground-water level that pools of water will form in the lower places.
</p>
<p>
  One assay and one analysis of waters from this county are given elsewhere in this report, as follows: Table 1, pp. 496, 497, assay No. 75; Table 2, pp. 504, 505, analysis No. 27. These are discussed on page 487.
</p>
<p>
  Artesian Prospects.-The sandy strata of the Pleistocene, Pliocene, and Miocene beds, which constitute the underground materials to depths of at least several hundred feet, doubtless contain inexhaustible supplies of water. It is probable that wells exceeding 300 or 400 feet in depth would encounter salty water which would be unfit for domestic or manufacturing purposes.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Clark, William Bullock, et al. <em>The Coastal Plain of North Carolina</em>. Vol. 3. Raleigh, NC: E.M. Uzzell, 1912.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
<tr>
  <td>Call Number:</td>
  <td>NoCar Ref QE147 .A2 v.3 <a href="http://catalog.lib.ecu.edu/catalog/114329">Display Catalog Record</a></td>
</tr>
</table>
