---
layout: ecu
title:  "[Text on Elizabeth City]"
customdate: "1888"
order: 1
---

{% include breadcrumbs.html %}

<h3>[Text on Elizabeth City]</h3>
<b>Notes</b>
<p>
In 1900, Wilbur Wright for the first time boarded the Norfolk-Southern Railroad en route to Elizabeth City. Upon arrival, Wilbur immediately sought out passage down the Pasquotank River and across the Albemarle Sound to Kitty Hawk. Even though Kitty Hawk, only sat forty miles away, surprisingly the men along the city's waterfront had never heard of the place. After spending a couple of nights in the Arlington Hotel, Wilbur got a ride on a worn skiff, but the adventure had just begun. In subsequent journeys to the region, the Wright Brothers became increasingly familiar with and to the citizens of Elizabeth City. The following excerpt details an interesting, anecdotal history of the city.
</p>
<div class="well">
  <label>Text and Image from Microform Advertisement</label><br/>

<p>
  [Page 126]
</p>
<p>
  ELIZABETH CITY, N.C.,
</p>
<p>
  THE BELLE OF THE PASQUOTANK.
</p>
<p>
  England's virgin queen, the petted, petulant and piquant Elizabeth, never, in the very zenith of her remarkably prosperous reign, looked prouder upon her throne than does the active little city so well situated upon the Pasquotank river which bears her name; and the subjects of the stern queen never, even in the dark hours when the white sails of the Spanish armada were found hovering near the sunken rocks of Edystone, were more ready to defend her possessions than the sons and daughters of "Sweet Bessie," as the citizens fondly call their favored city, are to defend the good name of the queen of the Pasquotank.
</p>
<p>
  It is alleged that about the time Tom Moore threw his slurs at Norfolk
</p>
<p>
  A BRITON
</p>
<p>
  concluded to seek rest for his body, and probably from his creditors, and selected this little city for his haven. The people, thinking him a gentleman of culture and
</p>
<p>
  [Page 127]
</p>
<p>
  refinement, extended him many courtesies and he was a welcome guest everywhere, but he abused their hospitality and the citizens soon found it out; for a magazine published in London found its way to Elizabeth City containing an article from the pen of this gentleman upon American Civilization, and claiming that that of the white American was not much, if any, in advance of the red. This changed their attitude towards him; their former generous hospitality gave way to a stiff reserve; in fact, Elizabeth City can actually lay claim to a "boycott" years before Mr. Boycott of Ireland furnished name for this process of getting rid of an objectionable person. They had so little to do with him that they literally froze him out, and so thoroughly convinced him that he was not wanted that when a brigantine dropped down the Pasquotank and upon her departure took with her (to the great delight of all the citizens) this unfortunate man from "perfidious Albion" the following oft-quoted lines, which proclaim to the world the marvelous jumping power of Pasquotank bull-frogs, were, it is said, first brought forth to reinforce the epigrammatic literature of the world:
</p>
<p>
  "He came to the banks <br/>
  Of the Pasquotank, <br/>
  Where the bull-frogs jump<br/>
  From bank to bank." <br/><br/>

  Full of conceit <br/>
  And pernicious ire, <br/>
  A scoundrel at heart, <br/>
  An unmitigated liar. <br/><br/>

  When he left, the frogs <br/>
  On both the banks <br/>
  Croaked themselves hoarse<br/>
  In chanting their thanks.
</p>
<p>
  [Page 128]
</p>
<p>
  For fear that some of my readers may think that I am manufacturing history, I wish to state that I have heard several versions as to the origin of the first verse appertaining to the frogs, which has become literally a household rhyme throughout the North State.
</p>
<p>
  My authority for the others, as well as the distinguished and extinguished visitor from England, is based upon the following, which I consider reliable information:
</p>
<p>
  While in conversation with a number of planters in Elizabeth City one of them, the oldest in the party, quoted this well-known rhyme, and upon my asking him if he could possibly tell when he first heard it he answered in the negative, at the same time inviting me to take a seat in his buggy, and, as an inducement to take a ride, assured me that he would bring me to the house of a lady who knew all about its history. I could scarcely repress a smile at the idea of making a trip in quest of such information, and told him that I hardly thought its history of sufficient consequence to make such a special effort to find. But the old gentleman insisted and held out more inducements. He informed me that the old lady was a relative of his; that she was the possessor of a number of old relics, pictures and so on, some of them belonging to the Colonial period, and that she wanted some expert to judge their value, as she wished to dispose of them.
</p>
<p>
  All philosophers agree, at least those who have agreed to give the subject any thought, that we are all more or less vain, and I presume I am no exception to this
</p>
<p>
  [Page 129]
</p>
<p>
  philosophic ruling. To be called an expert was very agreeable, and I evidently thought that the compliment should be rewarded for I took a seat in the buggy and in a short time after was introduced to a lady whose head was whitened by the frosts of seventy winters; from her I gleamed sufficient information to justify what I have said about the Englishman's visit to the Pasquotank; and as to the rhyme she informed me that when a child she had heard it often, and although she retained the first two lines she could only recall that one of the others in the next couplet wound up with the rather uncomplimentary but, expressive word-liar, while the concluding lines insisted that even the bullfrogs held a jubilee at the unfortunate's departure. With this to guide me, I wrote the lines as printed above, and after repeating them to her she said that they were nearly the same as the original. I then bade her good-bye, first, however, informing her where I thought she could sell her relics, and faithfully promising her that should I get into a controversy appertaining to jumping frogs and sarcastic Englishmen I would not mention her name, as she said she was too old to engage in a newspaper war.
</p>
<p>
  This shows that the citizens of Elizabeth City have inherited this love of town and home, and whenever occasion demands it this innate love comes to the front. The last time that they felt as if they had sufficient grievance for general resentment was during the stirring days known by the citizens as the
</p>
<p>
  [Page 130]
</p>
<p>
  RAILROAD WAR.
</p>
<p>
  The facts, as near as I can recall them, were as follows: When the Norfolk Southern Railroad was constructed only as far as Elizabeth City it bore the following modest title: The Norfolk and Elizabeth City Railroad; but after leaving the metropolis of the east side as a terminus, by continuing to Edenton, and thus finding herself increased in mileage and the two appendages which naturally follow-greater power and more usefulness-they concluded that they should be known by a stronger sounding name, the one selected being the present, which makes no mention of Elizabeth City. This provoked her citizens, and among them (far in the lead) was that stalwart champion of the sounds, or, as his friends fondly term him, "the great Democratic War-horse of Eastern Carolina"-Colonel Creecy, the editor of the Economist. So gallantly did he fight them in his excellent journal, and so thoroughly did the people appreciate his efforts, that they not only presented him with gold-headed cane, but also gave his name to the prettiest park in the great North State.
</p>
<p>
  The war is now happily over, for the railroad company, by furnishing a most excellent service and improving its magnificent water-front, has redeemed itself and once again has come into favor with the Colonel mid the other citizens.
</p>
<p>
  The city is divided into two parts which appear as distinct and unlike as if' there was a hundred miles of space between them. This difference may not be as perceptible to the citizen, but is so marked that it is
</p>
<p>
  [Page 131]
</p>
<p>
  noticed by nearly every traveler. The lower is known as
</p>
<p>
  THE WATER,
</p>
<p>
  for the reason that it borders upon the river. Its leading streets are Water, Fearing and the lower end of Main. Water street is the shortest of the three, but it contains the heaviest mercantile establishments and most durable business buildings in the city.
</p>
<p>
  MAIN STREET
</p>
<p>
  begins at the river front, and any one viewing the Pasquotank from its wharf, I care not how much he has traveled, unless he has well studied and mapped in his mind the geographical features of the city and its spacious water approach, is apt to think that he is overlooking some bay having immediate connection with an ocean instead of standing on the banks of a river. The street is a pretty blending of business houses and residences; it is broad and well shaded by lofty elms. From the river front for two blocks it is lined with solid, well constructed brick business houses, then the elms begin and the street loses its city-like appearance, looking more like the main thoroughfare of the staid seat of a wealthy agricultural county. The effect is very pleasing as the visitor walks under the shade of the monster trees past the stately court-house, magnificent residences surrounded with green lawns, and the hospitable looking hotel. This handsome avenue, as I have before noted, has many changes in its great length, but there are two things it does not lose: its generous width and gracious shade.
</p>
<p>
  [Page 132]
</p>
<p>
  The older or upper part of the city gives every evidence of having once been the most important, and
</p>
<p>
  ROAD STREET,
</p>
<p>
  its main thoroughfare, in spite of a number of dilapidated buildings, still looks substantial, and is also a pleasant street to walk through and reflect upon the "ups and downs" in the history of a city's streets, for this thoroughfare, judging by the appearance of its buildings, must have been the centre of trade before Water street, with its many handsome store-houses, was thought of. The greatest relic left to show its former grandeur is
</p>
<p>
  AN OLD BANK,
</p>
<p>
  built in the ante-bellum days, its somber Tuscan colonade supporting two platforms, one serving as a veranda for the second and the other for the attic story, which is faced by a huge fire-wall evidently made to take the place of the missing pediment. The building has a very peculiar, lonesome appearance, and if situated in California would readily be taken for a Jesuit Mission church.
</p>
<p>
  A ramble through the streets of the city convinced me that the Pasquotank beauty will compare favorably, in the appearance and substantial nature of her buildings, with any city in North Carolina. The business houses are nearly all of brick, with well-designed fronts. The residences, it is true, are mainly of more perishable material, but there are two of brick which deserve spe-
</p>
<p>
  [Page 133]
</p>
<p>
  cial mention. One of them is on Main street, nearly opposite the court-house, and is owned by the
</p>
<p>
  EDITOR OF A NEWSPAPER.
</p>
<p>
  I am satisfied a smile expressing incredibility will play on the visage of any journalist that may read this, and I do not know that it will entirely disappear when I say that this gentleman is also a successful practicing attorney; but I am quite sure that it will vanish like feathers before a cyclone when I say that he owns a valuable ferry franchise, which enables outside Pasquotankers to come to Elizabeth City without following the example set by the frogs and jumping across the river.
</p>
<p>
  The other is a more modern study and is owned by a prominent member of the North Carolina Bar, who is also one of the gentlemen who comprise the shell-fish commission of the bivalve-margined coast of the great North State.
</p>
<p>
  The churches are all neat and well-cared-for, but I am sorry to say that there are only two that are built of enduring material: one belongs to the Episcopal and the other to the Methodist denomination. A neat tower, finished with battlements, is the special feature of the former and a Doric porch of the latter.
</p>
<p>
  By far the handsomest structure in the city is
</p>
<p>
  THE COURT-HOUSE.
</p>
<p>
  It stands in the centre of a beautiful lawn which occupies a large square and is well inclosed with a neat iron railing. The building is the leading architectural fea-
</p>
<p>
  [Page 134]
</p>
<p>
  ture of both town and judicial district. In fact, in exterior effect and surroundings it can well be classed as the finest judicial building in the Commonwealth, and in interior embellishments it is only surpassed by one (New Bern). It is built of brick, heavily trimmed with granite. Four rustic, stone-faced piers stand out in full relief from the first story of the building and hold a substantial granite platform, from which spring four columns, which, unfortunately, are the great defect of the building, on account of being severely plain when they should be fluted to correspond with the capitals, which are Corinthian, thus giving the impression that the building committee had exhausted their funds before the edifice was completed. These columns support the pediment, which contains a large granite slab with the date of construction (1882), and from the roof' rises a well-designed and substantial cupalo, which contains a fine clock and bell, towering above all surroundings.
</p>
<p>
  The Albemarle Hotel ranks among the largest hotel buildings in the State. Its imposing brick fronts, pierced by many windows, add much to the appearance of both Main and Broad streets.
</p>
<p>
  Among the many attractions that Elizabeth City affords I found
</p>
<p>
  THE FAIR GROUNDS,
</p>
<p>
  which are well situated as well as very accessible, the main or grand entrance being a few feet from an improvised depot of the Norfolk Southern road. It has good buildings for exhibition purposes and ample stabling facilities,
</p>
<p>
  [Page 135]
</p>
<p>
  but its chief feature is its speeding track, which is rolled to such a nicety and kept in such perfect condition that it is criticised as being one of the "fastest" on the South Atlantic seaboard.
</p>
<p>
  During a late visit to the city I concluded to take a drive to far famed
</p>
<p>
  CREECY PARK,
</p>
<p>
  which I found contains about thirty acres of land and water, which nature has done a great deal for, and its primary attractions are being continually added to by well planned scenic, landscape and floral additions. It is well situated upon the banks of the majestic Pasquotank, which forms a most attractive and well sheltered harbor, and being a tidal stream it naturally affords every advantage for the location of bath-houses. A good depth of water a few feet out, reached by a well constructed wharf, gives superb facilities for the transportation of passengers brought by steam-boats and other craft.
</p>
<p>
  Its present attractions are a great diversity in physical features with which nature first adorned it, and which consist of valley, glade and hill covered with an abundance of luxuriant grasses and shaded by thirty-two species of trees, and a remarkably well stocked fish-pond dotted with picturesque islands and bounded by cosy nooks and neat projecting headlands, while water-lilies dance on its mirrored surface, and rush and reed waft lazily with the breeze. Many birds, as if aware of the safety extended them by the land being posted, make the
</p>
<p>
  [Page 136]
</p>
<p>
  undergrowth their home and their cheery chirping, combined with the sighing of the trees and murmur of the waters, form a blending of pleasing sounds which it would be hard to duplicate.
</p>
<p>
  Elizabeth City, in spite of the fact that the shores of the river do not abound in bluffs and other elevations, affords some beautiful scenery, and there is no better place to get a view of
</p>
<p>
  THE BROAD PASQUOTANK
</p>
<p>
  as it sweeps past its water-front than the doorway of the Falcon office. Being on the second floor, it has the proper elevation and the door acts as a frame, making it look like a magnificent painting by Raphael; that is, if Raphael had made the specialty of his life marine painting, and could imitate nature in her endless variety of color, the perpetual motion of the water and the glistening diamonds caused by the sun's reflection or the dimmer sparks for which the moon is responsible.
</p>
<p>
  The deep basin of the ample harbor I could entirely overlook. To the left as well as the immediate front the shipping, although limited to steam-boats, schooners and sloops, was interesting, while to the right I could see busy factories and residences embowered in trees. A powerful marine glass, kindly lent me by a gentleman connected with the Falcon, reduced the ten miles of water to the fraction of one and showed me plainly the lonesome looking banks of the opposite shore, and revealed, to my surprise, a number of mills with large sweeping arms, taking advantage of the same wind that
</p>
<p>
  [Page 137]
</p>
<p>
  was propelling the many sail-boats through the intervening waters and forcing the smoke of an incoming revenue cutter to make a desperate endeavor to reach the sky.
</p>
<p>
  THE MERCANTILE AND MANUFACTURING INTERESTS OF ELIZABETH CITY.
</p>
<p>
  Present population, nearly 4,000; railroad, Norfolk Southern; steamboat lines, Norfolk Southern and Old Dominion; manufacturing, lumber, cotton seed oil, twine, carriages, brick, etc. Other interests, cotton and fish.
</p>
<p>
  The following is a list of the majority of the leading and reliable business houses of Elizabeth City on January 1st, 1888:
</p>
<p>
  <em>Commission, Cotton, Produce &amp;c</em>. <br/>
  K. R. Newbold.
</p>
<p>
  <em>Drugs, Seeds, Cigars, &amp;c</em>. <br/>
  Dr. W. W. Griggs.
</p>
<p>
  <em>Dry Goods, Clothing, &amp;c</em>. <br/>
  Jacob Salomonsky
</p>
<p>
  <em>Furniture (Wholesale and Retail)</em>. <br/>
  C. W. Overman.
</p>
<p>
  <em>Groceries (Wholesale and Retail)</em>. <br/>
  D. B. Bradford &amp; Co. <br/>
  J. B. Flora. <br/>
  Harrison &amp; Nash, cor. Water and Fearing streets. <br/>
  J. P. Hughes, 29 and 80 Main street.
</p>
<p>
  [Page 138]
</p>
<p>
  <em>Groceries and Confectioneries</em>. <br/>
  C. W. Stevens, Main street, near Water. <br/>
  C. A. Jackson, cor. Road and Fearing street.
</p>
<p>
  <em>Hardware, Furniture, Windows and Doors</em>. <br/>
  John L. Sawyer.
</p>
<p>
  <em>Insurance</em>. <br/>
  George M. Scott.
</p>
<p>
  <em>Jeweler</em> <br/>
  Louis Selig, water street. <br/>
  F. M. Cook.
</p>
<p>
  <em>Junk</em> <br/>
  W. C. Glover, Fearing street.
</p>
<p>
  <em>Liquor (Wholesale and Retail)</em>. <br/>
  J. B. Brocket.
</p>
<p>
  <em>Livery and Sale Stables</em>. <br/>
  A. L. Jones. (See advertisement).
</p>
<p>
  <em>Manufacturers</em>. <br/>
  C. C. Allen, Press, Re-press and Fancy Cornice Bricks. <br/>
  Fowler's Net and Twine Factory. <br/>
  J. F. Sanders, Carriage, Buggies, Road Carts. (See advertisement). <br/>
  Joseph Salomonsky Ginger Ale, Soda and Mineral Waters. (See advertisement). <br/>
  G. W. Bell, Gun and Locksmith, Dealer in Sporting Goods. <br/>
  Currier, Burroughs &amp; Co., Sails, Awnings an(] Flags. <br/>
  1I. O. Hill, Tinware, Roofing and Guttering Fear- street. <br/>
  R. Madrin, Cabinet Maker and Undertaker. <br/>
  J. W. T. Smith. Rubber Stamps and Painter.
</p>
<p>
  [Page 139]
</p>
<p>
  <em>Merchant Tailors</em>. <br/>
  Edward G. Schirmon, Fearing street. <br/>
  Maurice Wescott, Main street.
</p>
<p>
  <em>Milk and Dairy Products</em>. <br/>
  C. B. Brothers, Road street.
</p>
<p>
  <em>Photographer</em>. <br/>
  H.. Murphy, Road street.
</p>
<p>
  <em>Sewing Machines</em>. <br/>
  C. M. Alderson, Fearing street.
</p>
<p>
  <em>Undertaker.</em> <br/>
  John H. Ziegler. (See advertisement).
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Nowitzky, Geo. I. <em>Norfolk; the Marine Metropolis of Virginia, and the Sound and River Cities of North Carolina</em>. Norfolk: Geo. I. Nowitzky, 1888.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
<tr>
  <td>Call Number:</td>
  <td>NoCar F234.N8 N9 1888a <a href="http://catalog.lib.ecu.edu/catalog/402026">Display Catalog Record</a></td>
</tr>
</table>
