---
layout: ecu
title:  "History at Kill Devil Hill"
customdate: "1908 May 30"
order: 4
---

{% include breadcrumbs.html %}

<h3>Arthur Ruhl, "History at Kill Devil Hill", Collier's, 30 May 1908</h3>
<b>Notes</b>
<p>
When the Wrights returned to Kitty Hawk in 1908 for the first time since 1903, word quickly spread that the brothers were once again flying along the windswept beaches of North Carolina. The unique isolation that the area once afforded came to an abrupt end as reporters from all over the east coast flocked to the Outer Banks hiding and waiting behind bushes and dunes for a glimpse of the men and the flyer. Upon reading the following article, Orville Wright told the author that he found the “account of the maneuverings [maneuverings] of the newspaper men at Kill Devil [Devil] Hills the most interesting thing I have ever seen concerning our experiments.” Also note that the picture captured below by photographer, Jimmy Hare, was the first published photograph of a Wright flyer in flight.
</p>
<div class="well">
  <label>Text from Magaine</label><br/>

<p>
  [Page 18]
</p>
<p>
  History at Kill Devil Hill
</p>
<p>
  A Description of the First Flight of the Wright Brothers' Aeroplane [Aero plane] Witnessed by an Uninvited and Impartial Jury Representing the World at Large
</p>
<p>
  By ARTHUR RUHL
</p>
<p>
  Illustrated with photographs by James H. Hare
</p>
<p>
  FROM their ambush in the scrub timber the attacking party gazed out across a mile of level beach tufted with marsh grass to a long shed which, at that distance, looked like a pine box set on the sand. There were dazzling white sand-dunes, almost mountains, to the right; to the left, in the distance, more sand-dunes and a glimpse of the sea and the Carolina sun, pouring down out of a clear sky, immersed everything in shimmer and glare.
</p>
<p>
  To the left of the abed, two black dots, which were men, moved about something set on the sand. It was a rectangle of hazy gray lines, with a white streak at the top, which might have been taken for the white line a receding wave trails along the beach. To the attacking party, who had used railroads, steamboats, gasoline chug-chugs, had waded, climbed sand-mountains, and tramped miles over slippery pine needles to gain that particular spot of sun-baked, tick-infested sand, this white streak and the skeleton lines beneath it was, in a way, the centre [center] of the world.
</p>
<p>
  It was the centre [center] of the world because it was the touchable embodiment of an Idea, which, presently, is to make the world something different than it has ever been before. The two little dots working out there in the sun knew more about this idea and had carried it farther than anybody else. The five bedraggled men crouching behind the trees were the first uninvited, as it were "official," jury of the world at large to see the thing in action and judge of its success. Really it was not four or five newspaper reporters, it was the world's curiosity which had ridden, climbed, waded, and tramped all those miles and now lay hiding there, hungry and insatiate, peering across the intervening sands.
</p>
<p>
  It had come, as it always does come, after the planning and risking and working are over, and the dream is just about to become something simple and real. It had hunted out this buried, sun-glorified workshop. Quaintly embodied in the shams of five weary young men, who wiped sweat from their foreheads, and now and then irritably discouraged ambitious "ticks" from crawling up their legs, it paused there at the edge of the woods as though embarrassed to go farther-as though its passive interest scarcely had the right to intrude upon those two busy little dots, who, while it had been amusing itself all these years with its futile distractions, had captured a real Idea, eaten, slept, worked with it and not deserted it for a day.
</p>
<p>
  Suppose you ran a dingy little bicycle shop in a town like Dayton, Ohio, and a secret like that came to you-at least the partial answer to a riddle which men have been trying to solve-have even killed themselves for not infrequently-ever since they began to move about on the earth at all. Possibly it would oppress you somewhat, drive you off into the desert, where you might look at it calmly and unhurried and work at making it exactly clear until an attacking party would be sent out to find out what you were doing.
</p>
<p>
  Well, that was what happened to these Wright Brothers, Orville and Wilbur, six or seven years ago. One of them, shut in with a long illness, amused himself by reading all he could find about aerial navigation. When he was well, he and his brother set to work. They found that many accepted theories were not practicable in the field, and they made laws for themselves. They built a gliding apparatus-two planes set one above the other, with the operator lying [laying] on a sort of cradle across the centre [center] of the lower one-with, which they soared downward from hilltops.
</p>
<p>
  They brought this gliding machine down to Kill Devil Beach, out beyond Albemarle Sound, off the coast of North Carolina, partly because of its convenient hills and wide sands and the helpful wind currents, which always blow here, and partly to get away from humans. Close beside the pine shed in which they worked this spring is another, now tumbling to decay, where these shy, silent, indefatigable young men-"cranks" they would have been if they hadn't succeeded-were working long before Farnam and Delegrange and Deutsch-Archdeacon prizes were heard of, and the crowd were reading new-world romances and wondering if people would ever really fly.
</p>
<p>
  They learned a great many things. They saw that hawks and buzzards, which soar for miles without flapping a, wing are merely balancing on rising currents of air; that gulls, following a steamer for hundreds of miles, are merely sliding downhill on rising currents from her smoke-stacks or her wake. They learned what rate would sustain their aeroplane [aero plane] and its operator. They mastered the trick of balancing, so that even without any motive power they could remain motionless in one position in the air for as much as half a minute.
</p>
<p>
  Finally, after three years' experiment, they fitted a gasoline engine to their machine. It weighed 240 pounds, developed twelve or thirteen horsepower, and the aeroplane [aero plane] itself, with its operator, and weighed about 745 pounds. On December 17, 1903, this machine made four flights on the Kitty Hawk Beach, in the longest
</p>
<p>
  [Page 19]
</p>
<p>
  of which it sustained itself in the air fifty-nine seconds and moved 852 feet against a twenty-mile wind.
</p>
<p>
  The 1904 machine weighed, with operator and ballast, 925 pounds and had a sixteen-horse-power engine. With this they made some 150 flights, averaging, it is said, A mile apiece. The great difficulty was that of equilibrium; to turn and keep the machine on an even keel in the continuously changing air currents. After many experiments in a swampy meadow near Dayton they caught the knack of this. Six flights made in the autumn of 1905 averaged over fifteen miles each, and once, they say, in a curved course, they flew twenty-four miles, at the rate of forty miles an hour.
</p>
<p>
  Nothing that the cleverest of the Europeans has yet done compares with this, and naturally people began to talk. Newspaper correspondents and other pilgrims journeyed to Dayton, even penetrated to the upstairs of the little bicycle shop. The brothers were very pleasant and very embarrassed and shy. Orville, a winning, studious-looking man of perhaps thirty-five, did the talking; Wilbur, taller and older, with the high bald head, long nose, and deeply lined face of one who would apparently say something rather dry and droll if he said anything at all, sat by. It was about as difficult to get anything out of them as out of a couple of furtive wood animals. They wanted no publicity. All they asked was to be left alone.
</p>
<p>
  The 1908 machine, which an unlucky accident smashed the other day, was similar to others of recent years, the most noticeable change being that the operator sits upright, instead of lying down flat, as in the original gliding machine. I have seen it fly and seen it on the ground close enough to touch it, and I believe that in issuing a personal challenge to the Wrights for a race, Mr. Henri Farman has shown a sporting spirit almost heroically admirable. As it must be described with technical accuracy so soon, however-its flights for the Government taking place in August-I shall not attempt to describe it in detail here.
</p>
<p>
  Roughly speaking, it is very similar in appearance to the bi-plane machine with which Farman won the Deutsch-Archdeacon prize, except that the box-kite rudder, which projects rather ponderously some distance behind Farman's machine, is replaced here by a small, vertical fin rudder, set directly behind the machine like a fish's tail. In front is a bi-plane rudder similar to the main bi-plane in miniature, with which the machine is steered up and down. The two main planes are each constructed in three sections, the centre [centre] one rigid, the two outside "wings" so jointed that when the big bird ties laterally, a pull on a lever causes one wing to lift slightly and the other to be depressed. The angle of resistance is thus increased in the latter wing uniformly with its decrease in the other and the machine returns to an even keel. The engine is of thirty horsepower, and two men are carried with as much apparent case as one.
</p>
<p>
  Just about the time that Leon Delegrange broke the European record at Issy by flying two miles and a half without touching the ground. The Wright Brothers made their spring trek across Albemarle Sound and hid on the beach behind Kill Devil Hill. They built a shed out of pine boards, dug a well, set the flour and bacon and the apple-box against the wall, and started in to work. One machinist was with them, otherwise their existence of talking, thinking, eating, and sleeping flying machine was untroubled from one glaring day's beginning to another, except when an occasional life-saver strolled down the beach from Nag's Head, or a gull, circling round overhead, piped down faintly at his rivals.
</p>
<p>
  Kill Devil Hill and Kitty Hawk Beach are, you might say, at the end of the world. You go to Norfolk, then down into Carolina and across a corner of the Dismal Swamp country to Elizabeth City. Then, if you arrive before the early afternoon, you embark on a sort of converted oyster-boat for a six-hour chug down the Pasquotank River and across Albemarle Sound. At nightfall you reach Roanoke Island and the ancient town of Manteo. It was on Roanoke Island that Raleigh's lost colony landed, and from here they disappeared, leaving behind only the word "Croatan" carved on a tree.
</p>
<p>
  You can still see the ruins of their little star-shaped fort a few miles out into the pines and sand from Manteo, and in the front yard of the Hotel Tranquil is a mound of barnacle-covered stones, part of the ballast of Raleigh's ship, which the colonists cast overboard so that they could cross the bar. You sit on the porch of the Tranquil House, then, looking at these stones, and breathing that velvety Carolina air, sweet with the odor of the pine-needles and bay-leaves it has blown across, and listen to the story of the Lost Colony and Virginia Dare. It is a nice little town, with that air of individuality and pleasant isolation which island towns have, and as one strolls to the post-office, at one end of it, or to the weather bureau at the other, where the young telegraph operator, in his Shirt-sleeves, sits ticking rumors about the flying machine out to the great world, the little girls one meets step aside from the path and say "Good evening!" very kindly and respectfully.
</p>
<p>
  At five the next morning you catch the launch that chug-chugs out to Nag's Head and Kitty Hawk with the mail. It seems like going out to sea, but, as a matter of fact, it is going to the mainland, because the strip of beach that encircles the whole North Carolina coast, like a sort of front-porch rail, sometimes a mile or two out, sometimes, as at Cape Hatteras, far out of sight at sea, here extends unbroken clear up into Virginia and Cape Henry. Out of the chug-chug half a mile from shore and into a skiff, across the gunwales of which, as it is poled miraculously shoreward with one oar, the rollers sleepily climb and deposit themselves in your lap. If you stand, the skiff will sink, and to sit requires fortitude and repose of manner almost superhuman. At the precise moment of swamping the boat conveniently touches bottom and you wade ashore.
</p>
<p>
  Then comes the tramp through the woods to the Kill Devil sand-hills. Geographically, this may be only four or five miles, but measured by the sand into which your shoes sink and which sinks into your shoes, the pine needles you slip back on, the heat and the "ticks" and "chiggers" that swarm up out of the earth and burrow into every part of you, it seems about thirty-five. After a couple of hours the woods give way at last, the squirrels and the razor-backs are left behind, and you come out into the glare of the sand-hills.
</p>
<p>
  The Roc in Flight
</p>
<p>
  THIS, when our attacking party arrived there, was the enemy's country. The shortest way, of course, would have been to climb up' one side and down the other, and thus descend directly on the beach and the aeroplane [aero plane] camp. And then there would have been no flights that day. We must needs, therefore, act exactly as if a platoon of sharpshooters were in trenched on the other aide, with their fire raking the summit of the slope, turn to the left and make a wide detour to gain the timber on the farther side. A swamp came up close to the skirts of the sand-hills. We waded midway up the slope, the sand over our shoe-tops, and blowing off the summit, in the continuous ocean breeze, like faint smoke from a chimney. At last we debouched on solid ground and an open space, and the long. Loose-jointed correspondent of the Norfolk "Landmark;" who was leading the attack with the experience drawn from getting up at four o'clock every morning for ten days and tramping through these some woods, motioned casually off toward the right. "There they are!"
</p>
<p>
  Obviously, a gross tactical blunder. The pine box and the little busy dots were no more than a mile away, and nothing between open ground but heat shimmer and us. He should have been court-martialed, undoubtedly, but there was no time then to reason why, nothing for it but to drop below the line of vision and crawl for the nearest cover.
</p>
<p>
  All went well enough until a swampy inlet intervened, to skirt, which would he to expose ourselves fatally. Several priceless minutes were wasted in carrying dead limbs to the bog and throwing them in, in the hope of bridging it-abandoned as impractical. The Japanese war veteran, recalling tactics at the Yalu, thought that a screen of bamboo branches should be erected to mask an advance. A careful search was made, but no bamboo could be found. An argument then ensued as to whether greater risk would be run by crossing the zone of fire in a body, in one quick rush, or by dribbling over one by one. There was, obviously, much to be said on both sides, but as every one continued advancing while he talked, and was presently across, it can scarcely be held that either tactical theory was properly tested or substantiated. A quick rush, in open skirmish order, through the underbrush, a junction at the farthest sheltered point, and there lay the "enemy" in unobstructed view, scarcely a mile way.
</p>
<p>
  Suddenly, just behind the rectangle, there was a quick flicker. Two whirling circles appeared, and across the quiet distance came a sound like that of a reaper working in a distant field. The circles flashed and whirled, faster and faster, then the white streak above tilted, moved forward, and rose. Across the flat, straight for the ambush, it swept, as fast as an express train. It grew into shape as it approached. The planes, rudders, the operator, amidships-swerved and tilted slightly, righted itself, dipped and rose, now close to the ground, now thirty or forty feet above it. It had come perhaps half a mile when the operator saw, for the first time apparently a dead tree-trunk directly in his path. He swerved, but had to alight coming down easily with a alight splutter of sand.
</p>
<p>
  Some more little dots-men from the life saving station, who had remained behind, hurrying out with a couple of low wheels. These were put under the machine, the propellers started, and away the quaint bird rattled to the starting-point again, the men trotting alongside like little boys. Again it was put on the starting-rail. Two climbed in this time. Again the propellers started. The white streak tilted and rose, and the hazy rectangle, with the two dots amidships, bore down across the field.
</p>
<p>
  (Concluded on page 26)
</p>
<p>
  [Page 26]
</p>
<p>
  The Japanese veteran, reckless with excitement, ventured out from under cover, pointing his camera skyward. "Don't shoot till you see the whites of their eyes!" came a stern command from tile London "Daily Mail" man, whose six years' experience as correspondent amid the bombs and emotions of St. Petersburg had taught him absolute self-control. A hundred yards away, the great bird swung to the right and swept grandly by broadside on. Some cows grazing on the beach grass threw their heads upward, and whirling about, galloped away in terror ahead of the approaching machine. It swept on far above them indifferently, approached the sand-hills three-quarters of a mile to the left, rose to them, soared over and down the other side.
</p>
<p>
  Again it swung to the right and again passed broadside on. It had covered perhaps a third of the last lea of the journey back to the shed, when the flash of the propellers could be seen to stop and the aeroplane [aero plane] soured down and alighted lightly as a bird. Something had gone wrong in the engine, it was explained afterward. The attacking party, examining their watches, decided that tile flight had lasted two minutes and fifty seconds. The machine had flown about two miles.
</p>
<p>
  "If they had gone back to the house," declared one of the invaders suddenly, with the solemn emphasis of one whose personal enthusiasm over the achievement of two of his countrymen was violently struggling with his professional duty not to show himself and thus stop the flights of another day-"If they'd gone back to the house-by thunder, I'd have gone right over there and congratulated them!" Everybody nodded tensely, the same emotional struggle having worked itself out similarly in each mind.
</p>
<p>
  Being an attacking party, however, without the happy privilege of telling two plucky young men how much they admired them, they sat right there in the sand, along with the flies and busy "chiggers" until there was just time to tramp back and catch the chug-chug home. Then, bedraggled and very sunburned, they tramped up to the little weather bureau and informed the world, waiting on the other aisle of various sounds and continents and oceans, that it was all right, the rumors true, and there was no doubt that a man could fly. The next clay that acme machine was smashed because the man running it happened to pull the wrong lever-it doesn't take long to strike bottom when one starts; at the rate of forty miles an hour, front thirty feet above the earth-but it had flown eight miles before this happened, and there was no other reason why it might not have traveled fifty. After all, it was a kind of history.
</p>

</div>

<table class="table">

</table>
