---
layout: ecu
title:  "Wings Over Kill Devil...and Legends of the Dunes of Dare"
customdate: "1940"
order: 10
---

{% include breadcrumbs.html %}

<h3>Wings Over Kill Devil...and Legends of the Dunes of Dare</h3>
<b>Notes</b>
<p>
After weather printouts from the U.S. Weather Bureau stimulated the Wright Brothers interest in North Carolina, they mailed a letter to the Weather Bureau Station in Kitty Hawk explaining their experimental interests in gliding and requesting further information on the topography of the region. Bill Tate, the local postmaster’s assistant, kindly responded encouraging the two men to come and assuring them that they would discover a “hospitable people when you come among us.” Unknowingly, Tate had kindled a friendship that would last a lifetime.
</p>
<div class="well">
  <label>Text and Images from Book</label><br/>

<p>
  Transcription for the image(s) below:
</p>
<p>
  <a href="../../img/WOKD/bWOKDa01.jpg">
    <img src="../../img/WOKD/sWOKDa01.jpg" />
  </a><br/><br/>

</p>
<p>
  Transcription for the image(s) above:
</p>
<p>
  [Page 1]
</p>
<p>


  With the Compliments of Catherine Albertson
</p>
<p>


  Wings Over Kill Devil Hill
</p>
<p>


  AND
</p>
<p>


  Legends of The Dunes of Dare
</p>
<p>


  By
</p>
<p>
  Catherine Albertson
</p>

<p>
  [Page 2]
</p>
<p>


  "I love all things that cluster round the sea, <br/>

  Sand Dunes wave washed, and wild glad wings that beat <br/>

  Against the wind, the flash of children's feet.	<br/>

  I could ever smell the tang of great <br/>

  Waves breaking, breaking. And in my <br/>

  Ears I ever hear the Sand Dunes calling me."
</p>
<p>


  -JOHN RICHARD MORELAND.

</p>
<p>

  [Page 3]

</p>
<p>

  ...Foreword...

</p>
<p>

  Capt. William J. Tate, with whom Orville and Wilbur Wright boarded while conducting their first experiments at Kill Devil Hill, has given permission for this reproduction of his own story of the Wright brothers, first published in a brochure issued by him in 1928, of which only twenty-five copies were printed.

</p>
<p>

  It was on a bleak and isolated sand dune of our Carolina coast that the two brothers tried out successfully their invention; and it was through Captain Tate's instrumentality that the Wrights came to the shores of Dare and made the flight on December 17,1903, that ushered in the Air Age and brought a new and prosperous era to the little county.


</p>
<p>
  In August, 1900, the assistant postmaster at Kitty .Hawk found a letter in the mail from Orville and Wilbur Wright, his reply to which proved the deciding factor in bringing the two brothers to Dare. Their letter stated that they were looking for a suitable place to carry on an experiment in "scientific kite-flying." Captain Tate had recently been reading up on man's attempts to fly from mythological days to the present era, and the term "scientific kite-flying" caught his attention. He answered the letter at once, and gave a vivid description of the beach between Kitty Hawk and Nags Head, and of the Kill Devil Hills, stating also the degree of slope on both the north and south side of the larger hill. That information, together with his description of the level terrain surrounding the hills, the treeless plain and the steady winds, decided the Wrights to select that spot for their experiment.


</p>
<p>
  When the brothers arrived at Kitty Hawk they found Captain Tate not only deeply interested in their work, but also hopeful of its successful outcome. While local citizens scoffed at the idea that any machine could ever be
</p>
<p>


  [Page 4]

</p>
<p>

  invented that would enable man to fly, Captain Tate maintained that he saw no reason why the boys would not succeed. He not only encouraged them by his hopeful interest in their work, but he superintended the hauling of the lumber to their camp and selected the men to build it. During the whole of their stay at his home and at their Kill Devil camp, he remained their "guide, philosopher and friend." The two brothers fully appreciated his friendliness, and as long as Wilbur Wright lived they both kept in constant touch with him; and Orville Wright today is one of Captain Tate's most loyal friends.

</p>
<p>

  The story of the long litigation in regard to the rights to their patents, that dragged the brothers through court after court, is well known. During those troubled days Wilbur Wright contracted typhoid fever. Worn out with worry, he did not have the stamina to resist the disease that finally brought his life to an end.

</p>
<p>

  When the news of his death reached Kitty Hawk, Captain Tate was the first to suggest that a marker ought to be placed on the spot where the 1900 glider was assembled, and some years later it was erected. Later still he supplied the data for the Wright Memorial Monument, now crowning the summit of the larger of the two Kill Devil Hills.

</p>
<p>

  Captain Tate is a member of the National Aeronautic Association of the United States, on whose board of governors he served for several years, and at Whose annual convention he is always an honored guest. When officials and dignitaries of the United States assembled on the historic hill on March 4,1931, to begin construction of the Wright Monument, he secured the spade with which the first earth was turned, and with W. 0. Saunders of Elizabeth City, had it silver-plated and suitably inscribed. Later, while in Dayton Ohio, the guest of Orville Wright, he presented the spade to his host as a testimony of gratitude for the fame that the two brothers had brought to Dare County.

</p>
<p>

  [Page 5]
</p>
<p>


  Captain Tate's reply to the letter from the Wrights, resulting in their selection of Kitty Hawk and Kill Devil Hill as the scene of their experiment, has given Dare County's fame as the Birthplace of the Nation, the added fame as the Birthplace of Aviation. Since that memorable flight in December, 1903; Dare County has experienced a prosperity hitherto undreamed of by its people, and Captain Tate's share in bringing this new day to his native home deserves the gratitude not only of Dare, but of the State as well.

</p>
<p>

  As a distinguished statesman has said,, "Captain Tate rocked the cradle of aviation down at Kitty Hawk, when no one save the Wrights was interested in the subject."


</p>
<p>
  Captain Tate is rounding out thirty years of service in three departments of the Government, during which time he has lost only eleven days from sickness or disability. He is now Supervisor of Aids to Navigation on a section of the Intra-Coastal Waterway from North Landing Bridge in Virginia to Albemarle Sound.

</p>
<p>

  Captain Tate will reach retirement age in December, 1940-a fact no one would suspect from his alert erect carriage and undimmed eye. His duties have kept him closely confined to his work, but 'nevertheless he has found time during these years to win his chosen title, "North Carolina's Original Aviation Booster."

</p>
<p>

  [Page 6]
</p>
<p>
  <a href="../../img/WOKD/bWOKDa06.jpg">
    <img src="../../img/WOKD/sWOKDa06.jpg" />
  </a><br/><br/>


  [Caption] CAPTAIN WILLIAM J. TATE
</p>

<p>
  [Page 7]

</p>
<p>

  ...Wings Over Kill Devil...

</p>
<p>

  This story is a copy of a little brochure written and issued by Captain William J. Tate, of Coinjock, North Carolina, and distributed as a souvenir to the various delegates or the international Air Congress who visited the site of the first flight on December 17, 1928, in commemoration of the twenty-fifth anniversary of the world's first power-driven flight of a heavier-than-air machine.

</p>
<p>

  The first machine was intended to fly with a man on board, who was expected to balance it while it was flying as a kite, and thus become accustomed to being afloat in an unstable element. The first attempts showed that it did not have the lifting power that was expected, except in winds of 25 to 30 miles per hour velocity. It was actually flown as a kite with a man on board, on the beach
</p>
<p>

  <a href="../../img/WOKD/bWOKDa07.jpg">
    <img src="../../img/WOKD/sWOKDa07.jpg" />
  </a><br/><br/>


  [Caption] The First Wright Machine in 1900

</p>
<p>

  near the Kitty Hawk Coast Guard Station. Later in the season the Wrights took it to Kill Devil Hill and tried it out as a glider.

</p>
<p>

  When the Wrights left Kitty Hawk that season of 1900 they left this first glider weighted down with sand on the

</p>
<p>

  [Page 8]
</p>
<p>


  side of Kill Devil Hill and gave it to Captain Tate with the understanding that he would dissect it and not give anyone any information as to its size, shape, etc.

</p>
<p>

  W. W. Best, who was a neighbor of Captain Tate's, went with him to Kill Devil Hill and assisted in bringing the 1900 machine to Captain Tate's home, where the first work was done by Wilbur Wright towards its assembly, and there is where the Kitty Hawk Wright marker now stands. Captain Tate took it apart, and Mrs. Tate saved the sateen which covered the wings and later made dresses from it for her two little daughters, Irene and Pauline. The following is an extract from a letter from Orville Wright to Captain Tate, dated May 19, 1922:

</p>
<p>

  "I do not think that the Department of Justice would expect you to know as much about our other machines as you do about the first one, because you saw more of the first one. As I remember, when we came back to Kitty Hawk in 1901, Irene and Pauline were wearing dresses made from the sateen wing coverings of our first machine."
</p>
<p>

  <a href="../../img/WOKD/bWOKDa08.jpg">
    <img src="../../img/WOKD/sWOKDa08.jpg" />
  </a><br/><br/>

  [Caption] The Second Machine at Kill Devil Hill, 1901

</p>
<p>

  The second machine was nearly twice as large as the first one. Not much attempt was made to fly it as a kite

</p>
<p>

  [Page 9]

</p>
<p>

  with it man on board, but when it was tried as a glider it was found to be very successful, and glides were made from the top of Kill Devil Hills of about 300 feet, and in some cases possibly over 300 feet. In these glides the brothers were always anxious to keep track of the number of feet advanced to each foot fall, or pull of gravity. They used a clinometer and made it a point to make measurements on this particular matter.
</p>
<p>


  This second glider convinced the brothers that, given a sufficient number of glides from the top of the hill, they could become accustomed to riding a tricky conveyance, and that enough of those glides would act like a given amount of practice on any other matter, and that the more glides they made, the more expert they would become in guiding this new and tricky machine.

</p>
<p>

  During this season they had become actually expert gliders. I have helped to launch each of them out in space from the hill top, not once, but many times, and I can recall how they vied with each other in seeing who could best guide the machine down the hill, following the various contours of the hill. Then came the question of who could best alight on the sands, on the level land at the foot of the hill It is an actual fact that they became so expert that after gliding down the hill and getting up considerable speed, they would level out the machine at the foot of the hill, sail out over the level ground, and as the speed slackened, alight on their feet without either wing tip touching the ground.

</p>
<p>

  With the third machine about 1,000 glides were made in 1902. Gliding was now a tame sport to the Wrights, and new ideas had been embodied in this glider.
</p>
<p>


  They had made some experiments of their own in their wind tunnel and had now built a machine along proven theories in the lifting power of curved surfaces. These experiments had put them on the solid rock of theories proven by practice. They were not trusting to any antiquated theories, but working from their own data.
</p>
<p>


  [Page 10]
</p>
<p>
  <a href="../../img/WOKD/bWOKDa10.jpg">
    <img src="../../img/WOKD/sWOKDa10.jpg" />
  </a><br/><br/>


  [Caption] The Third Machine of 1902 in a Majestic Glide From the Top of the Kill Devil Hill
</p>
<p>


  They had, before this, instituted the practice of warping the tips of the wings in opposite directions, at the same time enabling them to instantly put their gliders in a level position whenever one wing-tip became too low or too high for safety. When the Wrights ceased their activities this season they knew, as well as it is humanly possible to know, that if they could install sufficient power in their machine to drive it a given speed, that they would make a successful flight. They therefore made their preparations during the winter to make that successful flight the following year.


</p>
<p>
  By the autumn of 1903 the Wright hangar and living quarters had become quite a pretentious affair. They had already entertained at least two men interested in flight. Octave Chanute of Chicago and Dr. Sprat of Philadelphia had shared their quarters with them, and the curious passerby generally stopped to took them over. This season was one of extreme activity. The Wrights

</p>
<p>

  [Page 11]
</p>
<p>

  <a href="../../img/WOKD/bWOKDa11.jpg">
    <img src="../../img/WOKD/sWOKDa11.jpg" />
  </a><br/><br/>


  [Caption] The First Flight. Orville Wright driving the machine, Wilbur Wright running along the ground beside the wing tip. The camera was snapped by one of the Coast Guard men.

</p>
<p>

  worked like beavers. Many trips were made to different places, and one or two trips back to Dayton. Some trials and tests were made and not found satisfactory, necessitating changes in shafts, drive chains, propellers, etc; but in the face of all these difficulties, the Wrights never wavered or lost enthusiasm, because they already knew they could fly.

</p>
<p>

  At last the decision and the final hour arrived, and in the presence of J. T. Daniels, W. L. Dough, A. D. Etheridge, three members of the nearby Coast Guard Station; W. C. Brinkley of Manteo N. C., and an 18-year-old boy, John Moore of Nags Head, N. C., the machine was got out of the hangar and placed upon the track on the level plain near the hangar; the motor was started and allowed to run and warm up; Orville Wright stepped into this new vehicle, confidently took hold of the controls, clipped the restraining wire, and the machine began to run along the track. After a 40-foot run, it arose of its own power in free flight, soared along a distance of 120 feet from where it left the ground, and alighted without mishap. Thus the most epoch-making event of all the human ages was accomplished!
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Albertson, Catherine, ed. <em>Wings over Kill Devil...and Legends of the Dunes of Dare. Wings Over Kill Devil</em>, by Capt. William Tate. 1940.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Stacks, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
<tr>
  <td>Call Number:</td>
  <td>F262.D2 A32x 1940 <a href="http://catalog.lib.ecu.edu/catalog/167367">Display Catalog Record</a></td>
</tr>
</table>
