<ul class="breadcrumb">

  {% if include.active == "home" %}
    <li class="active">Home</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
  {% endif %}

  {% if include.active == "diaries" %}
    <li class="active">Diaries</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/diaries.html">Diaries</a></li>
  {% endif %}

  {% if include.active == "pubs" %}
    <li class="active">Publications</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/pubs.html">Publications</a></li>
  {% endif %}

  {% if include.active == "photos" %}
    <li class="active">Photos</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/photos.html">Photos</a></li>
  {% endif %}

  {% if include.active == "weather" %}
    <li class="active">Weather Data</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/weatherdata.html">Weather Data</a></li>
  {% endif %}

</ul>
