---
layout: ecu
title:  "Edward Huffaker"
customdate: "1901 July"
order: 8
---

{% include breadcrumbs.html %}

<h3>Edward Huffaker, [Diary Entry], July 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [Edward C. Huffaker Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 155]
</p>
<p>
  Kept for Mr. O. Chanute at Kill Devil Hills near Kitty Hawk, N. C. of experiments with gliding models. These experiments include not only those made with our own machine, but also those made by Messrs. Wilbur and Orville Wright of Dayton, Ohio.
</p>
<p>
  The Wright's reached here about the 10th of July [1901] and proceeded to erect a tent and work shops. The latter is 16 x 25 ft. in horizontal dimensions, and 6 1/2 ft. in height, with low pitched roof, covered with tar paper. The ends are closed with falling doors, hinged on a level with the eaves, and both can be opened and closed at will. When raised they are supported by props. The building sits north and south, and the south door has a smaller door for entrance when it is closed. In this building the machine is to be put together and housed in bad weather.
</p>
<hr/>
<p>
  [18 July 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC]
</p>
<p>
  Arrived at camp at 4 p.m. and found the Wrights busy fitting up a gasoline stove in the work shop, and having trouble with the wind when the shutters of the building were open and with mosquitoes when open. They finally enclosed it with screens to keep the wind out.
</p>
<p>
  [Page 156]
</p>
<p>
  A steady strong wind blowing from the south.
</p>
<hr/>
<p>
  [19 July 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC]
</p>
<p>
  Went to Kitty Hawk with Wilbur Wright after mail and provisions. Came back loaded with chickens, onions, potatoes, lard &c. The distance is about four miles across a broad sandy flat for a greater part of the way. Mosquitoes were so numerous and vicious that we were forced to keep to the sand hills. Mr. Wright gave me a full account of his experiments a year ago.
</p>
<hr/>
<p>
  [20 July 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC]
</p>
<p>
  Began work on tail rudder. The Wrights have been busy putting one of their surfaces together. Their work is done with a good deal of accuracy and celerity. Have had a number of discussions on the principles of flight. Mosquitoes very annoying.
</p>
<hr/>
<p>
  [21 July 1901 - Edward C. Huffier Diary, Kill Devil Hills, NC]
</p>
<p>
  Sunday. Took a long walk on the beach and gathered a quantity of sea shells for the children. Lengthy discussions with the Wrights with general agreement on points discussed. It is difficult to believe that a rudder in front is as safe as when placed in the rear.
</p>
<hr/>
<p>
  [22 July 1901 - Edward C. Huffier Diary, Kill Devil Hills, NC]
</p>
<p>
  Walked to Kitty Hawk and spent the day hunting up provisions. Hope I have collected enough to last quite a while. Mosquitoes extremely annoying on the road to Kitty Hawk, but they had virtually disappeared on the return trip,
</p>
<p>
  [Page 157]
</p>
<p>
  due to the rising of a strong wind. On returning find that the Wrights had completed one surface and were at work on the second. The completed surface is strong and well made, the workmanship being almost perfect.
</p>
<hr/>
<p>
  [23 July 1901 - Edward C. Huffier Diary, Kill Devil Hills, NC]
</p>
<p>
  July 24? [error in original]. Completed the frame of tail, which, as it seems to me, is going to be too small, having only about 6 ft. of surface. The weather has been so warm that work in the afternoon has been out of the question. Spent several hours talking about the probable action of their machine. They how have the second surface nearly complete. Their work is first-class in every respect. The curvature of the surface is now about one in twenty, and will probably be still less. These surfaces are 22 ft x 7 ft. with ribs 1 ft. apart. The mosquitoes make life all but unendurable. We have provided ourselves with mosquito netting, but the mosquitoes are so slender that they slip through the meshes and after making a meal off of us are too lazy to get out again and so tend to accumulate.
</p>
<hr/>
<p>
  [24 July 1901 - Edward C. Huffier Diary, Kill Devil Hills, NC]
</p>
<p>
  All spent a fearful night with the mosquitoes. Mosquito netting seemed to be useless. As consequence, this morning found us so full of poison as to be almost unfit for work. Finished the tail today and began work on the wings of the single surface machine. The Wrights finished their second surface and began hinging the two surfaces together. As usual, we spent a good deal of time in discussions which do not seem to be wholly unprofitable.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, July 1901. Diary of Edward Huffaker, Papers of Wilbur and Orville Wright, Box 1. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
