---
layout: ecu
title:  "Edward Huffaker"
customdate: "1901 August"
order: 11
---

{% include breadcrumbs.html %}

<h3>Edward Huffaker, [Diary Entry], August 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 August 1901 - Edward C. Huffaker Dairy, Kill Devil Hills, NC]
</p>
<p>
  [Page 163]
</p>
<p>
  A long heavy rain late in the day on yesterday almost ruined my machine, a number of the tubes yielding under the strain of wind and rain. It will have to
</p>
<p>
  [Page 164]
</p>
<p>
  be rebuilt. There is no way to house it after it has been set up. A telegram from Mr. Chanute says he will not reach here as early as he intended. On yesterday afternoon, Mr. Spratt set off for Elizabeth City, after supplies, via Kitty Hawk.
</p>
<hr/>
<p>
  [2 August 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC ]
</p>
<p>
  Friday. Repaired the greater part of my single surface model, using new tubes. Wrights are remodeling theirs, changing the form of the front to reduce resistance.
</p>
<p>
  Old form.
</p>
<p>
  New form.
</p>
<p>
  The last seems to me to be much the best.
</p>
<hr/>
<p>
  [3 August 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC ]
</p>
<p>
  Mr. Spratt returned from Elizabeth City with ice, water-melons, ham, bacon, fruits, butter, maple syrup, coffee, etc after a two days trip.
</p>
<hr/>
<p>
  [4 August 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC ]
</p>
<p>
  Mr. Chanute arrived from Chicago.
</p>
<hr/>
<p>
  [5 August 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC ]
</p>
<p>
  Anemometer experiments. Test of accuracy.
</p>
<p>
  m	s<br/>
  75  	26=85	3¼<br/>
  75	24=79	3¾<br/>
  75	30 98	4½<br/>
  75	27½ 93  	4¾?<br/>
  75	27 92	5
</p>
<p>
  Conclusion: Experiments inconclusive.
</p>
<p>
  Wright machine remodeled. Tests made without operator. Angle of elevation 6°. Velocity 17 m per hr. Drift 15 lbs.
</p>
<p>
  [Page 165]
</p>
<p>
  Weight 100 lbs. Experiments on hill. Angle of incidence 6°. Fall 10°. Velocity 28 m. per hr. Calculation for plane —
</p>
<p>
  28 x 28 = 784 <br/>
  v2 = 784 <br/>
  v2/2 = 3.92 <br/>
  Sine 6° = .1045
</p>
<p>
  Surface 300. Lift = 3.92 x 2.090 x 300 = 244 lbs. <br/>
  Calculation by Lilienthal’s tables. Lift = 3.92 x .689 x 300 = 810 lbs. <br/>
  Results. Actual lift 240 lbs. Calculated lift for plane 244. <br/>
  Calculated lift by Lilienthal’s tables = 810 lbs.
</p>
<hr/>
<p>
  [8 August 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC ]
</p>
<p>
  3 p.m. Experiments in the morning with the remodeled machine amounted to but little owing to the high winds. In the afternoon the wind veered round to the East and the machine was taken to the East side of the Kill Devil Hill. The wind having a velocity of 5 metres per second a number of good glides were obtained, the machine being under good control.
</p>
<hr/>
<p>
  [11 August 1901 - Edward C. Huffaker Diary, Kill Devil Hills, NC ]
</p>
<p>
  Sunday. During the past two days Mr. Chanute has been taking accurate notes of the experiments with the Wright machine and these need not be given here. On the 9th a number of excellent glides were made. Mr. Wilbur Wright showing good control of the machine in winds as high as 25 mi. an hr. In two instances he made flights curving sharply to the left, still keeping the machine under good control. Length of flights in each case 280ft. Longest flight about 335 ft. On the occasion of his last flight, while skimming along about a ft. above the ground, the length (left) wing became depressed and in shifting his body to the right to bring it up again he neglected the fore and aft control and plunged suddenly
</p>
<p>
  [Page 166]
</p>
<p>
  into the ground. He was thrown forward into the rudder, breaking a number of the rudder’s ribs and bruising his nose and eye. On the 10th no good flights were made, the wind being directly from the south and no suitable slopes being available. Having fitted up a model 8 ft x 3 ft in wing area, to ascertain the action of moveable ribs with adjustable curve, on which I have been working, a number of trials were made without decisive results. The stability was not altogether nor even quite satisfactory. But on the other hand, it was not wholly bad, and as the wind in which the trials were made was high and boisterous and as unfavorable as possible, further experiments are necessary to finally decide upon the value of the principle. Mr. Chanute leaves today for Chicago.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1901. Diary of Edward Huffaker, Papers of Wilbur and Orville Wright, Box 1. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
