---
layout: ecu
title:  "Joshua Judson Davis"
customdate: "1888 October"
order: 2
---

{% include breadcrumbs.html %}

<h3>Joshua Judson Davis, [Diary Entry], October 1888</h3>


<div class="well">
  <label>Text and Image(s) from Diary</label><br/>

<a href="../../img/J8j/bJ8j084.jpg">
  <img src="../../img/J8j/sJ8j084.jpg" />
</a>
<br/><br/>
<a href="../../img/J8j/bJ8j086.jpg">
  <img src="../../img/J8j/sJ8j086.jpg" />
</a>
<br/><br/>
<p>
<b>Transcription for the image(s) above:</b>
</p>
<p>
  [Page 84]
</p>
<p>
  Diary. <br/>
  Wanchese, Dare Co. N.C. <br/>
  October 7, 1888. <br/>
  Sunday.
</p>
<p>
  This morning I went over to see Morgan again and he asked me to take his trunk up to Manteo so that he could take the boat for home tomorrow.
</p>
<p>
  Of course I would and in a few moments we were on Capt. Sam's road cart jogging along toward Manteo chatting about old times so dear.
</p>
<p>
  His trunk was on the westward side and we went over there for it. This was my first view of Croatan Sound.
</p>
<p>
  After reaching Manteo we concluded to go to the old city of Raleigh and in a few moments our pony was taking us toward that historic old spot now owned by Capt. Walter Doe.
</p>
<p>
  We found the Capt. at home and he showed us the site of the ancient city. It is marked by the outlines of what seems to be a star shaped fort and is now overgrown by oaks and pines.
</p>
<p>
  We strolled over the ground, cut three canes and then cut the following inscription on some hollies. (J.J.D. Oct.88)(C.M.)
</p>
<p>
  we bought a mess of grapes of Capt. Doe for 5 cts. and I don't think we lost any money.
</p>
<p>
  Our next point of interest was the high sand hills on the eastward side of the island. Here we stopped as we returned and I climbed the highest tree on their summit, which gave me a fine view of the island. We each took a fine burr from here for a momento.
</p>
<p>
  I left Morgan at Manteo and returned home about dark.
</p>
<p>
  [Page 86]
</p>
<p>
  [Wanchese, Dare Co. N.C., October 1888]
</p>
<p>
  Monday 15.
</p>
<p>
  The weather is beautiful. Capt. Sam. finished gathering his corn today.
</p>
<p>
  At night Capt. and I went to the O.D. steamboat warf on the westward side of the island to see about some ice. The fishermen made a good catch today.
</p>
<p>
  Tuesday 16.
</p>
<p>
  The weather still fine with good fishing. The ice bearing vessel bound for Eliz. City was wrecked at Hatteras a few days ago. This is reported as a total loss. On that account ice is scarce here at this time as the fishermen have not had time to receive any from Norfolk Ice via the O.D.
</p>
<p>
  Again Old Hatteras' treacherous sands, <br/>
  Have proved the seaman's dred. <br/>
  How oft along its foaming strands, <br/>
  Have washed the sailor dead.
</p>
<p>
  May Old Matt Ransom win the fight, <br/>
  (His North Carolin's pride.) <br/>
  A place on Diamond Shoal's light, <br/>
  Our storm tossed ships to guide.
</p>
<p>
  J.J.Davis
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Diary of Joshua Judson Davis], October 1888, Joshua Judson Davis Papers</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Joshua Judson Davis Papers #743 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0743">Display Collection Guide</a></td>
  </tr>
</table>
