---
layout: ecu
title:  "Joshua Judson Davis"
customdate: "1888 December"
order: 3
---

{% include breadcrumbs.html %}

<h3>Joshua Judson Davis, [Diary Entry], December 1888</h3>

<p>
In the following diary entry, Joshua Judson Davis documents an excursion that takes him to a lifesaving station and a lighthouse, two of the most historically iconic images from the Outer Banks of North Carolina. The salty men who worked at these lifesaving stations have always been renowned for their bravery and heroic acts, but their genuinely helpful nature to assist anyone in need sometimes goes unrecognized. The experiences of the Wright Brothers bore out the truthfulness in this latter characteristic, and it can also be seen in Davis’s account below when the young teacher becomes stranded by the tides.
</p>
<div class="well">
  <label>Text and Image(s) from Diary</label><br/>

<a href="../../img/J8l/bJ8l097.jpg">
  <img src="../../img/J8l/sJ8l097.jpg" />
</a>
<br/><br/>
<a href="../../img/J8l/bJ8l099.jpg">
  <img src="../../img/J8l/sJ8l098.jpg" />
</a>
<br/><br/>
<p>
<b>Transcription for the image(s) above:</b>
</p>
<p>
  [Page 97]
</p>
<p>
[Wanchese, Dare Co. N.C., December 2, 1888]
</p>
<p>
Sunday 2.
</p>
<p>
Bill Gilbert took me over to the beach today to look for the first time at the curiosities of a Life Saving Station.
</p>
<p>
After a fine sail over we found ourselves in the hospitable care of Capt. Jessy Ethridge of Boddies Island Station. The Capt. took me through the station and showed me all the different means that U.S. has provided for the rescue of unfortunate seamen.
</p>
<p>
After taking dinner with him we went out along the beach to gather curiosities in the shape of seaweed and shells.
</p>
<p>
When we went to our boat to start for the Bodie Island light tower we found that the tide had quietly slipped away and left our boat upon the dry sand. This was a pitiful situation indeed. (over)
</p>
<p>
[Page 98]
</p>
<p>
Diary.
Wanchese Daer Co. N.C.
December 2, 1888.
</p>
<p>
Sunday. (con.)
</p>
<p>
I pulled off my shoes and tried very hard to get our boat off but it was no good.
</p>
<p>
My next plan was to send Bill Gilbet back to the station, which was about a mile and ask the crew to come and put us afloat. This they did and we steered for the light house where we soon landed in the care of Capt. Gallop the keeper. In a few moments we were climbing the 230 steps that lead to the lense. We amused ourselves by looking at each other through the lense and taking telescope views from our pearch 150 high. In sight were 11 steam and sail ships ploughing the blue water of the Atlantic whose waves were singing a quiet lullaby as they bathed the sparling sand at our feet.
</p>
<p>
As it was about time to light the lamp we stayed until the sun had gone and the keeper then lighted his friendly beacon.
</p>
<p>
Night was now near at hand and after winding our way back to the ground, we bid adieu to the keeper and crew and left for home wher we landed about 7 o'clock P.M. just in time to go to the rehersal at the church.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Diary of Joshua Judson Davis], October 1888, Joshua Judson Davis Papers</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Joshua Judson Davis Papers #743 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0743">Display Collection Guide</a></td>
  </tr>
</table>
