---
layout: ecu
title:  "Milton Wright"
customdate: "1900 October 26"
order: 6
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 26 October 1900</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [26 October 1900 - Milton Wright Diary]
</p>
<p>
  At home all day, writing. The boys (Wilbur and Orville) in the evening arrived at home from Kitty Hawk, N. C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, 26 October 1900. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
