---
layout: ecu
title:  "Milton Wright"
customdate: "1901 June"
order: 7
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], June 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [26 June 1901 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  O. Chanute spent the evening with our boys.
</p>
<hr/>
<p>
  [27 June 1901 - Milton Wright Diary, Dayton OH]
</p>
<p>
  Mr. O. Chanute, spent most of the forenoon and till after 2:000 with us. He is an authority on aerial navigation.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, June 1901. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
