---
layout: ecu
title:  "Milton Wright"
customdate: "1901 July"
order: 10
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], July 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [7 July 1901 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur &amp; Orville started at 6:00 p.m. for Kitty Hawk, N. C. The day was cool and pleasant.
</p>
<hr/>
<p>
  [31 July 1901 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Got a forwarded letter from Wilbur, saying they had their machine nearly completed. He and Orville are at Kill Devil Hill, a few miles from Kitty Hawk, N. Carolina.
</p>
<p>
  <a href="../../weather/19010727.html">Weather Data for 27 July 1901</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, July 1901. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
