---
layout: ecu
title:  "Milton Wright"
customdate: "1901 August 2"
order: 12
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 2 August 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [2 August 1901 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Got a letter from Orville saying that they had tried their new “flying” machine the Saturday before with some success.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1901. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
