---
layout: ecu
title:  "Milton Wright"
customdate: "1902 March"
order: 14
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], March 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [18 March 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur left home at 5:00 A.M. for Huntington, Ind. to examine the Publishing House books and papers.
</p>
<hr/>
<p>
  [21 March 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur returned at 6:40 from Huntington . . . Wilbur found Keiter’s books and reports very crooked.
</p>
<hr/>
<p>
  [24 March 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur made out some statements of crookedness in Keiter’s Books & reports which I forward a copy of to Rev. D. B. Sherk.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, March 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
