---
layout: ecu
title:  "Milton Wright"
customdate: "1902 April 11"
order: 15
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 11 April 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [11 April 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville finished the typewriting of my proposed tract.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, April 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
