---
layout: ecu
title:  "Milton Wright"
customdate: "1902 July"
order: 16
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], July 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [16 July 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  In the afternoon, I got a letter from N. D. Wolfard, notifying me that charges are brought against me and the time of trial at College Park is August 7th.
</p>
<hr/>
<p>
  [21 July 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  The boys resumed the preparation of my third pamphlet &amp; completed it.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, July 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
