---
layout: ecu
title:  "Milton Wright"
customdate: "1902 August"
order: 17
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], August 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [5 August 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur started on 5:30 train to Huntington, Ind., to prepare evidence on my trial for the 7th. I get ready to go tomorrow.
</p>
<hr/>
<p>
  [7 August 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  This day was set for my trial by Keiter, Barnaby presiding. After fruitless efforts to agree on the third committeeman, the court adjourned at 8:30, eve.
</p>
<hr/>
<p>
  [25 August 1902 - Milton Wright Diary, Mowequa, IL]
</p>
<p>
  The boys (Wilbur and Orville) to-day started to N. Carolina.
</p>
<p>
<a href="http://digital.lib.ecu.edu/980">Related Material</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
