---
layout: ecu
title:  "Milton Wright"
customdate: "1902 October"
order: 21
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], October 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [11 October 1902, Saturday - Milton Wright Diary, Devon, KS]
</p>
<p>
  I received letters this evening from Katharine &amp; from Wilbur.
</p>
<hr/>
<p>
  [30 October 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Telegram from Orville says (in French) they will not be home till Friday afternoon.
</p>
<hr/>
<p>
  [31 October 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Met the boys at the train at 3:15 p.m. on their return from Kitty Hawk, N. Carolina.
</p>
<p>
  <a href="http://digital.lib.ecu.edu/980">Related Material</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, October 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
