---
layout: ecu
title:  "Milton Wright"
customdate: "1902 November 24"
order: 22
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 24 November 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [24 November 1902 - Milton Wright Diary, Huntington, IN]
</p>
<p>
  Started with Wilbur via Lima to Huntington, Ind. to a Convention.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, November 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
