---
layout: ecu
title:  "Milton Wright"
customdate: "1902 Demecmber 24"
order: 23
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 24 Demecmber 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [24 December 1902 - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Patrick Alexander, a wealthy Englishman from Bath, near Easton, came to see Wilbur &amp; Orville on Aeronautics.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, Demecmber 1902. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
