---
layout: ecu
title:  "Milton Wright"
customdate: "1903 August"
order: 24
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], August 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [6 August 1903 - Milton Wright Diary, Messick, IN]
</p>
<p>
  Conference continues. Wilbur came yesterday at 8:30. We and Bishop	Barkley board at Albert Messicks. We prepared my written answer to com [committee] yesterday and handed it in at 4:00 [...] Wilbur dines and sups with me, and lodges at Cornwells.
</p>
<hr/>
<p>
  [7 August 1903 - Milton Wright Diary, Messick, IN]
</p>
<p>
  Conference continued. My case is reported on by committee at 2:00 recommending expulsion. I speak an hour &amp; 40 minutes in self defence. Oler spoke 30 or 40 min. against me. Postpone till tomorrow at 8:00
</p>
<hr/>
<p>
  [8 August 1903 - Milton Wright Diary, Messick, IN]
</p>
<p>
  I go on 6:36 tr. [train] To Arcanum &amp; thence by Electric Ry home. Arr. at 9:00 [...] Wilbur staid and heard Small, Barnaby, Floyd, Wolfard, etc. At 12:05 22 elders voted to expel me, and two (Selig and Kinneman) for me. Wilbur staid [stayed] and came home via New Castle & Richmond, at 6:00
</p>
<p>
  <a href="http://digital.lib.ecu.edu/980">Related Material</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1903. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
