---
layout: ecu
title:  "Milton Wright"
customdate: "1903 October 6"
order: 26
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 6 October 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [6 October 1903, Tuesday - Milton Wright Diary, Galesburg, IL]
</p>
<p>
  I wrote a letter to Wilbur &amp; Orville on the train [from Junction City to Galesburg].
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, October 1903. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
