---
layout: ecu
title:  "Milton Wright"
customdate: "1903 November"
order: 28
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], November 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [2 November 1903, Monday - Milton Wright Diary, Glencoe, OK]
</p>
<p>
  I wrote letters . . . to Clay, my boys, and to Katharine.
</p>
<hr/>
<p>
  [23 November 1903, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Received letters from Orville. Wrote the boys and registered the letter containing ten five dollar bills [...]
</p>
<hr/>
<p>
  [25 November 1903, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Received a letter from Orville dated the 19th. A postscript said the shaft had arrived for the motor. They are at Kitty Hawk, N. C.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, November 1903. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
