---
layout: ecu
title:  "Milton Wright"
customdate: "1903 December"
order: 30
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], December 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [3 December 1903, Thursday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Found Orville at home after some machinery for the boys flying machine. They had the second time broken the shaft to the propeller.
</p>
<hr/>
<p>
  [9 December 1903, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville started at nine oclock, with his new propeller shaft, for Kitty Hawk, North Carolina. (This new (propeller or) shaft was made of spring steel and was some larger than the former ones.)
</p>
<hr/>
<p>
  [14 December 1903, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  I spent the day largely in getting type writer copies of the description of the Wright Flyer, and copies of a sketch of the inventors.
</p>
<hr/>
<p>
  [15 December 1903, Tuesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  About 4:00 came the telegram Misjudgment at start reduced flight (to) one hundred (and) twelve (feet)power and control amplerudder only injuredsuccess assured keep quiet. Wilbur Wright. It was from Kittyhawk, North Carolina, and related to Wilbur & Orvilles Flyer.
</p>
<hr/>
<p>
  [17 December 1903, Thursday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  In the afternoon about 5:30 we received the following telegram from Orvill[e], dated Kitty Hawk, N.C., Dec. 17. Bishop M. Wright: Success four flights Thursday morning all against a twenty-one mile wind started from level with engine power alone average speed through the air thirty one mileslongest 57 seconds. XXX home Christmas. Orville Wright.
</p>
<hr/>
<p>
  [19 December 1903, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Got some papers containing notices of the Wrights and Wright Flyer. At request of Indianapolis Journal sent pictures of Wilbur & Orville and of last years glider [...]
</p>
<hr/>
<p>
  [22 December 1903, Tuesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  I was at home all day. Reporters were calling and asking for pictures of the machine and of the boys [...]
</p>
<hr/>
<p>
  [23 December 1903, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  I was at home [...] Bert Strang called in the interest of Commercial Gazette. Katharine got a telegram from Orville, saying he and Wilbur would be at home to night. They came at 8:00. They had some interviewers on the way, but suppressed them.
</p>
<hr/>
<p>
  [25 December 1903, Friday, Christmas day - Milton Wright Diary, Dayton, OH]
</p>
<p>
  [...] We as a family dine at Lorins [...]
</p>
<hr/>
<p>
  [26 December 1903, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Miss Bertha Comstocks interview with W. &amp; O. for Chi. Trib. [Chicago Tribune] in the forenoon &amp; J.D. Siders for N.Y. World in the evening.
</p>
<hr/>
<p>
  [31 December 1903?], Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  The past year (1903) was full of stirring events. I was serene and happy through it all, though grieved at the folly of many, and the wickedness of not a few. I believed that God would at last vindicate the right.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, December 1903. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
