---
layout: ecu
title:  "Milton Wright"
customdate: "1908 April"
order: 32
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], April 1908</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [4 April 1908, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  The Brothers shipped their aeroplane for Kitty Hawk to-day.
</p>
<hr/>
<p>
  [6 April 1908, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur started to Kitty Hawk, N.C., about 9:00 a.m.
</p>
<hr/>
<p>
  [10 April 1908, Friday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville shipped more matter to North Carolina. I received a picture card from Wilbur mailed the 8th from Wilbur, Elizabeth City, N.C., and Orville received a letter from him [...]
</p>
<hr/>
<p>
  [15 April 1908, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville received a letter from Wilbur, Kitty Hawk, dated April 10th. He found their old building pretty much wrecked. Orville is unwellhas some chill.
</p>
<hr/>
<p>
  [18 April 1908, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Katharine received a letter from Wilbur, at Kitty Hawk, dated the 14th.
</p>
<hr/>
<p>
  [21 April 1908, Tuesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  At 6:15 p.m., Orville started for Kitty Hawk, N.C. A perilous undertaking.
</p>
<hr/>
<p>
  [23 April 1908, Thursday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville expected to reach Kitty Hawk, this evening.
</p>
<hr/>
<p>
  [27 April 1908, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Letter from Orville, the 23rd from Elizabeth City, N.C., to Katharine.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, April 1908. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
