---
layout: ecu
title:  "Milton Wright"
customdate: "1908 May"
order: 34
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], May 1908</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [2 May 1908, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Telegram from Flint &amp; Co. containing Bergs request for accounts of flights. I wrote the Wright brothers enclosing Flints Telegram and the Heralds yesterdays dispatch, abou [about] four mile flight across the Sound! What reports!
</p>
<hr/>
<p>
  [4 May 1908, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  I received a letter from Orville, dated April 28th. I wrote to them in the evening. They had made no flight with their aeroplane.
</p>
<hr/>
<p>
  [6 May 1908, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Katharine telegraphs to Nag[s] Head for the Wright brothers, and writes them a letter. Weiller insists on their coming to Paris by June 1st, as per contract with them.
</p>
<hr/>
<p>
  [9 May 1908, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Last evenings Herald, todays Journal, the Cin. Commercial, the Cin. Enquirer, and Dayton News had alleged dispatches concerning the Wright brothers flights, the Enquirer reporting they had flown 3000 feet high, 30 miles long, and 8 miles out to sea! Kath. had a letter from Wilbur dated May 3rd.
</p>
<hr/>
<p>
  [11 May 1908, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Letter from Orville dated May 7th, tells of a short flight, the 6th. [...] The above-mentioned was the first flight of this season, tho reporters have reported some marvelous ones!
</p>
<hr/>
<p>
  [13 May 1908, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  The Dayton Journal has a very commendable article, The Wright Brothers.
</p>
<hr/>
<p>
  [14 May 1908, Thursday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Katharine received this morning a special delivery letter from Wilbur and a letter by regular mail from Orville.
</p>
<hr/>
<p>
  [15 May 1908, Friday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  The Journal reports that the Wright brothers wrecked their machine yesterday. []
</p>
<hr/>
<p>
  [16 May 1908, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Letter came from Flint saying that Weiller had consented to postponement of Wrights coming to France [...] In the evening, she [Katharine] expresses Wilburs trunk to New York. Telegram from Wilbur, at 10:00 p.m. Starts to France Wedn.
</p>
<hr/>
<p>
  [18 May 1908, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Letter from Orville.
</p>
<hr/>
<p>
  [23 May 1908, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville arri [arrived] at home from Dare Co., N.C., at noon, after an absence of a month and two days.
</p>
<hr/>
<p>
  [29 May 1908, Friday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  New York Herald &amp; Colliers Weekly contain extensive articles on the Wrights and their Flyer.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, May 1908. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
