---
layout: ecu
title:  "Milton Wright"
customdate: "1911 September"
order: 36
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], September 1911</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [18 September 1911, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Mr. Alex. Ogilvie came at 12:00 and dined with us. He and Orville go to Simms together.
</p>
<hr/>
<p>
  [20 September 1911, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  I received a card from Lorin, written at Norfolk, Va., the 19th.
</p>
<hr/>
<p>
  [22 September 1911, Friday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  I dined at Lorins; he is at Kitty Hawk, N.C.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, September 1911. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
