---
layout: ecu
title:  "Milton Wright"
customdate: "1911 October"
order: 37
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], October 1911</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 October 1911, Sunday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Wilbur came home from New York. Lorin is at home from Kitty Hawk, North Carolina.
</p>
<hr/>
<p>
  [7 October 1911, Saturday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Lorin and Orville, with Horace and Mr. Ogilvie start at 6:00, eve for Kitty Hawk, N.C.
</p>
<hr/>
<p>
  [19 October 1911, Thursday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Get letter from Orville and night telegram from Katharine from Geneva, Ohio.
</p>
<hr/>
<p>
  [24 October 1911, Tuesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville remained in the air nearly ten minutes without a motor.
</p>
<hr/>
<p>
  [25 October 1911, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  News of Orville remaining in the air nearly ten minutes at Kill Devil Hill, in a fifty-mile wind, yesterday.
</p>
<hr/>
<p>
  [30 October 1911, Monday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville and Ogilvie leave Manteo, and reach Elizabeth City.
</p>
<hr/>
<p>
  [31 October 1911, Tuesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Orville and Ogilvie and Horace get home a little after noon Halloween night.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, October 1911. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
