---
layout: ecu
title:  "Milton Wright"
customdate: "1911 November 1"
order: 39
---

{% include breadcrumbs.html %}

<h3>Milton Wright, [Diary Entry], 1 November 1911</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 November 1911, Wednesday - Milton Wright Diary, Dayton, OH]
</p>
<p>
  Lorin gets home afternoon [...] Mr. Aleck Ogilvie starts home to London.
</p>
<p><a href="http://digital.lib.ecu.edu/980">Related Material</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, November 1911. Diary of Milton Wright, Papers of Wilbur and Orville Wright, Box 115. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
