---
layout: ecu
title:  "Orville Wright"
customdate: "1902 August"
order: 18
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], August 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [25 August 1902, Monday - Orville Wright Diary, aboard “Big Four,” Cincinnati, OH, to Old Point Comfort, VA]
</p>
<p>
  [Page 1]
</p>
<p>
  Left Dayton at 9:00 a.m.
</p>
<p>
  <a href="../../weather/19020825.html">Weather Data for 25 August 1902</a>
</p>
<hr/>
<p>
  [26 August 1902, Tuesday - Orville Wright Diary, Norfolk, VA]
</p>
<p>
  Arrived in Norfolk at 11 a.m. Left for Eliz. City [Elizabeth City] at 4:00 p.m. Reached E. City at 5:45. Got freight aboard ship.
</p>
<p>
  <a href="../../weather/19020826.html">Weather Data for 26 August 1902</a>
</p>
<hr/>
<p>
  [27 August 1902, Wednesday - Orville Wright Diary, Elizabeth City, NC and on board Lou Willis]
</p>
<p>
  Started for Kitty Hawk at 3.45 a.m. on Capt. Midgett’s boat Lou Willis, in perfect calm. Floated downstream 10 miles during day. Anchored at 4:00 o’clock p.m. Slept on deck over night.
</p>
<p>
  <a href="../../weather/19020827.html">Weather Data for 27 August 1902</a>
</p>
<hr/>
<p>
  [28 August 1902, Thursday - Orville Wright Diary, on board Lou Willis to Kill Devil Hills]
</p>
<p>
  Sailed at 4:30 a.m. Reached Dosher’s Wharf at 4:00 p.m. Dan Tate took us to camp in spritsail boat.
</p>
<p>
  <a href="../../weather/19020828.html">Weather Data for 28 August 1902</a>
</p>
<hr/>
<p>
  [29 August 1902, Friday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  [Page 2]
</p>
<p>
  Spent day in arranging kitchen and driving 16-ft. well. Building sank about two feet at each end. Took picture of interior of building at 10 a.m. ¾ sec., 11 stop.
</p>
<p>
  *Note.—Machine raised off ground and came bouncing over &amp; over towards camp. Knocked prop from one end of door, and was stopped after going about 150 ft. and breaking one upper spar.
</p>
<p>
  <a href="../../weather/19020829.html">Weather Data for 29 August 1902</a>
</p>
<hr/>
<p>
  [30 August 1902, Saturday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  Set up bicycle. Fixed up table &amp; upholstered seat. Will took trip to Kitty Hawk on bicycle, bring [bringing] back can of oil with him. Left order for Cap. Midgett for groceries & sunds [sundries].
</p>
<p>
  <a href="../../weather/19020830.html">Weather Data for 30 August 1902</a>
</p>
<hr/>
<p>
  [31 August 1902, Sunday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  After dinner Will went over to Kill Devil Station. Will wrote letters to father &amp; Kate.
</p>
<p>
  <a href="../../weather/19020831.html">Weather Data for 31 August 1902</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1902. Diary of Orville Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
