---
layout: ecu
title:  "Orville Wright"
customdate: "1902 September"
order: 19
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], September 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 September 1902, Monday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  [Page 3]
</p>
<p>
  Spent day raising building with assistance of Dan Tate. Sawed lumber for addition. Made up bed for 6 months.
</p>
<p>
  <a href="../../weather/19020901.html">Weather Data for 1 September 1902</a>
</p>
<hr/>
<p>
  [2 September 1902, Tuesday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  Continued raising of house &amp; sawing of lumber.
</p>
<p>
  <a href="../../weather/19020902.html">Weather Data for 2 September 1902</a>
</p>
<hr/>
<p>
  [3 September 1902, Wednesday - Orville Wright Diary, Kill Devil Hills ]
</p>
<p>
  Did nothing in morning but measure height of Big Hill. Angle 10 ½º : 545 ft. = 99.32 ft. high.
</p>
<p>
  [Page 4]
</p>
<p>
  In the afternoon laid foundation &amp; floor to addition to building. Dan Tate not present (wife sick); Tom brought milk, nails, etc., and mail.
</p>
<p>
  <a href="../../weather/19020903.html">Weather Data for 3 September 1902</a>
</p>
<hr/>
<p>
  [4 September 1902, Thursday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  Continued erection of addition to building. Erected frame, put on roof slates and siding. Work interfered with by rain.
</p>
<p>
  <a href="../../weather/19020904.html">Weather Data for 4 September 1902</a>
</p>
<hr/>
<p>
  [5 September 1902, Friday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  Put on tar-paper roofing. O.W. sick. In bed most of day. Saw buzzard soar on north side of Big Hill, standing in one position.
</p>
<p>
  <a href="../../weather/19020905.html">Weather Data for 5 September 1902</a>
</p>
<hr/>
<p>
  [6 September 1902, Saturday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  [Page 5]
</p>
<p>
  Put on lath on new part of building. Moved kitchen to new part. Built “patent” beds under roof. Saw eagle sail out from top of Big Hill, rising higher & higher till it finally sailed away.
</p>
<p>
  <a href="../../weather/19020906.html">Weather Data for 6 September 1902</a>
</p>
<hr/>
<p>
  [7 September 1902, Sunday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  W.J. [William J.] Tate came down at 10 a.m. and stayed for dinner. Will wrote letters to M.W. [Milton Wright] & C.L. Wood, taking them to Kitty Hawk in the afternoon.
</p>
<p>
  <a href="../../weather/19020907.html">Weather Data for 7 September 1902 </a>
</p>
<hr/>
<p>
  [8 September 1902, Monday - Orville Wright Diary, Kill Devil Hills]
</p>
<p>
  Cleaned out building preparatory to beginning work on new
</p>
<p>
  [Page 6]
</p>
<p>
  machine. Killed two mice, one with stick, the other with gun. Chased hungry razorbacks, and finally began work on machine at a little after 2 p.m. Worked till 5:30. Completed frame of upper surface ready for ribs.
</p>
<p>
  <a href="../../weather/19020908.html">Weather Data for 8 September 1902 </a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, September 1902. Diary of Orville Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
