---
layout: ecu
title:  "Orville Wright"
customdate: "1902 October"
order: 20
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], October 1902</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 October 1902, Wednesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 44]
</p>
<p>
  We made the following glides [24 total] on the west slope of the Big Hill [...]
</p>
<p>
  [Page 45]
</p>
<p>
  The wind during these glides was blowing from four to seven meters per second.
</p>
<p>
  Spratt arrived in the afternoon, coming down on the Lou Willis. L.W. [Lorin Wright] spent afternoon in fishing. Caught one “robin” and an eel.
</p>
<p>
  <a href="../../weather/19021001.html">Weather Data for 1 October 1902</a>
</p>
<hr/>
<p>
  [2 October 1902, Thursday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 46]
</p>
<p>
  [...] Stayed up till 10 o’clock discussing “tangential” with Spratt.
</p>
<p>
  <a href="../../weather/19021002.html">Weather Data for 2 October 1902</a>
</p>
<hr/>
<p>
  [3 October 1902, Friday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Lorin and Spratt went fishing, spending the whole morning in catching enough crabs for bait for a short time’s fishing in the afternoon. They returned about 4 o’clock p.m. with an eel, and a few small chubs and robins, and a good deal of sunburn.
</p>
<p>
  The wind was very low, and after making a number of glides we were compelled to quit. No record was kept of the morning glides and only a few of those
</p>
<p>
  [Page 47]
</p>
<p>
  of [in] the afternoon [...]
</p>
<p>
  While lying awake last night, I studied out a new vertical rudder.
</p>
<p>
  <a href="../../weather/19021003.html">Weather Data for 3 October 1902</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, October 1902. Diary of Orville Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
