---
layout: ecu
title:  "Orville Wright"
customdate: "1903 September"
order: 25
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], September 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [23 September 1903, Wednesday - Orville Wright Diary, on board “Big Four” from Cincinnati, OH, to Old Point Comfort, VA]
</p>
<p>
  [Page 1]
</p>
<p>
  Left Dayton at 8:55 a.m.
</p>
<p>
  <a href="../../weather/19030923.html">Weather Data for 23 September 1903</a>
</p>
<hr/>
<p>
  [24 September 1903, Thursday - Orville Wright Diary, Manteo, NC]
</p>
<p>
  Reached Norfolk at 11:30, and Elizabeth City at 5:30 p.m. where we took the Ocracoke to Roanoke Island. We reached Manteo at 1:30 a.m., Friday.
</p>
<p>
  <a href="../../weather/19030924.html">Weather Data for 24 September 1903</a>
</p>
<hr/>
<p>
  [25 September 1903, Friday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Took trip over to Kill Devil Hills on Meeker’s gasoline launch, and arrived at camp at one o’clock. We found provisions and tools already there, also lumber for building. Old building had been blown from foundation posts about two feet to east in storm of Feb., 90 miles.
</p>
<p>
  <a href="../../weather/19030925.html">Weather Data for 25 September 1903</a>
</p>
<hr/>
<p>
  [26 September, Saturday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Spent morn. arranging kitchen and making “French drip” coffeepot. In afternoon we began foundation for new building, 44 ft. x 16 ft.
</p>
<p>
  <a href="../../weather/19030926.html">Weather Data for 26 September 1903</a>
</p>
<hr/>
<p>
  [27 September, Sunday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  About noon took trip over to Haman’s. Old house torn down. Bill Tate and Geo. Twifert came down in afternoon. Wind 5 to 8 meters.
</p>
<p>
  <a href="../../weather/19030927.html">Weather Data for 27 September 1903</a>
</p>
<hr/>
<p>
  [28 September, Monday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Wind blowing 8 meters at 7 o’clock. Dan arrived at 9 o’clock. We began getting old machine ready, and took it to Big
</p>
<p>
  [Page 2]
</p>
<p>
  Hill at a little after 10 o’clock. Wind directly from north, with a velocity now of nine to ten meters per sec. We made somewhere between 60 and 100 glides during day. Wind for a while was 14 meters per sec. Will made one glide of 30 2/5 sec. Another one of 26 2/5 sec; he covered 52 feet. We made probably 12 to 15 glides of more than 26 seconds. The average of all the glides was more than 20 sec. We operated only two end sections of wings, which was hardly sufficient for such high winds.
</p>
<p>
  <a href="../../weather/19030928.html">Weather Data for 28 September 1903</a>
</p>
<hr/>
<p>
  [29 September 1903, Tuesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Dan arrived at 7 o’clock. We put down floor in morn. and put on most of siding in afternoon. Wind about 6 or 7 meters, from North.
</p>
<p>
  <a href="../../weather/19030929.html">Weather Data for 29 September 1903</a>
</p>
<hr/>
<p>
  [30 September 1903, Wednesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Worked on building all day.
</p>
<p>
  <a href="../../weather/19030930.html">Weather Data for 30 September 1903</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, September 1903. Diary of Orville Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
