---
layout: ecu
title:  "Orville Wright"
customdate: "1903 October"
order: 27
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], October 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 October 1903, Thursday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 3]
</p>
<p>
  Worked on building. Have sides on and lathing in roof. Put on part of the paper. Very little wind.
</p>
<p>
  <a href="../../weather/19031001.html">Weather Data for 1 October 1903</a>
</p>
<hr/>
<p>
  [2 October 1903, Friday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Finished papering roof, and made door for north end. Wind from west.
</p>
<p>
  <a href="../../weather/19031002.html">Weather Data for 2 October 1903</a>
</p>
<hr/>
<p>
  [3 October 1903, Saturday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Wind of 7 meters all day. Dan worked on building while Will and I made changes in the vert. tail and the twisting of the wings. We increased the tail to 11 2/3 [sq.] ft. as we used early last year, and arranged to get more twist to the wings with less motion of the body. At 2:30 p.m. we went to Big Hill where we made about 30 or 40 glides. Will made one of 43 seconds in traveling about 450 ft. I made one of 34 ½ seconds in about the same distance. We made three or four other glides of over 30 seconds each.
</p>
<p>
  [Page 4]
</p>
<p>
  [...] We found the control, as a result of enlarging and moving further the tail, to be much improved, and our glides were higher and more spectacular than anything heretofore. The wind of 7 meters is not enough for soaring, but with 9 or ten meters we expect to be able to stay up several minutes at a time.
</p>
<p>
  <a href="../../weather/19031003.html">Weather Data for 3 October 1903</a>
</p>
<hr/>
<p>
  [4 October 1903, Sunday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Visited Kill Devil Station in afternoon. I wrote cards and letters in evening.
</p>
<p>
  <a href="../../weather/19031004.html">Weather Data for 4 October 1903</a>
</p>
<hr/>
<p>
  [5 October 1903, Monday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 5]
</p>
<p>
  Wind from south most of day, blowing about 6 meters. In afternoon took machine to south side of Big Hill where we made about a dozen glides over a steep incline. Glides ranged from 10 to 15 seconds in time. Dist traveled was probably not over 75 to 100 ft. Worked on building rest of day.
</p>
<p>
  <a href="../../weather/19031005.html">Weather Data for 5 October 1903</a>
</p>
<hr/>
<p>
  [6 October 1903, Tuesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Wind of 4 to 5 meters from south and later from east. Will and I worked on new cradle which we upholstered so as to be softer than old one. Dan worked on walks about new building.
</p>
<p>
  <a href="../../weather/19031006.html">Weather Data for 6 October 1903</a>
</p>
<hr/>
<p>
  [7 October 1903, Wednesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Wind 3 meters in morn. 5 in afternoon. We made tail so as to operate direct from cradle. Letter from K.W. [Katharine Wright] & paper [from] Geo. Feight.
</p>
<p>
  <a href="../../weather/19031007.html">Weather Data for 7 October 1903</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, October 1903. Diary of Orville Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
