---
layout: ecu
title:  "Orville Wright"
customdate: "1903 November"
order: 29
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], November 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 November 1903, Sunday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 24 cont.]
</p>
<p>
  Will and Spratt made trip to woods. Birds have mostly left. Mr. Daniels of Life Savers Service visited us
</p>
<p>
  [Page 25]
</p>
<p>
  and brought letters from O. Chanute and Kate. Mr. Chanute is to leave today for Washington, where he expects to meet Mr. Alexander. Wind light.
</p>
<p>
  <a href="../../weather/19031101.html">Weather Data for 1 November 1903</a>
</p>
<hr/>
<p>
  [2 November 1903, Monday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Began work of placing engine on machine, also uprights for screws. Telegraphed Mr. Chanute telling him that he and Mr. Alexander would be welcome to visit us after the 5th of month. Wind still light. Probably 4 meters.
</p>
<p>
  <a href="../../weather/19031102.html">Weather Data for 2 November 1903</a>
</p>
<hr/>
<p>
  [3 November 1903, Tuesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Have engine and screws nearly ready. Completed attachments for working tail. Discovered that nuts for fastening on screws are missing.
</p>
<p>
  <a href="../../weather/19031103.html">Weather Data for 3 November 1903</a>
</p>
<hr/>
<p>
  [4 November 1903, Wednesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Have machine now within half day of completion. [...]
</p>
<p>
  [Page 26]
</p>
<p>
  [...] Wind of 5 to 6 meters from south. Spratt made track 60 ft. in length.
</p>
<p>
  <a href="../../weather/19031104.html">Weather Data for 4 November 1903</a>
</p>
<hr/>
<p>
  [5 November 1903, Thursday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  The wind during the day has been blowing from the southwest with a velocity of 6 to 8 meters. We got the machine ready for testing engine and screws in building preparatory to taking it out. We had much trouble in fastening the sprockets on tight, and found finally that the lock-nut screwed up against shaft without touching sprocket at all. [...]
</p>
<p>
  [Page 27]
</p>
<p>
  [...] Spratt, seeing that the machine could not be ready for trial for some time, decided to leave at once, and left about 4 o’clock with Capt. Ward for Manteo in the Capt.’s gasoline launch. We sent with him the shafts to be expressed from Norfolk, also letter to be mailed giving Charlie instructions as to repairs.
</p>
<p>
  <a href="../../weather/19031105.html">Weather Data for 5 November 1903</a>
</p>
<hr/>
<p>
  [6 November 1903, Friday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Capt. Midgett’s boy brought down groceries
</p>
<p>
  [Page 28]
</p>
<p>
  this morning and announced that Mr. Dosher had a telegram for us from Mr. Chanute who was on his way to visit us. The weather is very cold, and a light rain has been falling most of the day. Last night was windy and cold. After dinner Mr. Etheridge of Life Saving Sta. Came over through the rain with telegram from Chanute. While warming at our stove, his horse pulled stake to which he was tied loose and after scurrying about for a while ran off to the Station leaving Mr. Etheridge to walk back. Mr. Chanute arrived about four o’clock, coming over with Capt. Ward. Strong wind blowing and cold.
</p>
<p>
  <a href="../../weather/19031106.html">Weather Data for 6 November 1903</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, November 1903. Diary of Orville Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
