---
layout: ecu
title:  "Orville Wright"
customdate: "1903 December"
order: 31
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], December 1903</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [11 December 1903, Friday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 47]
</p>
<p>
  Arrived at camp about 1 o’clock. Spent afternoon in unpacking goods. Weather cold in morning but pleasant during most of day.
</p>
<p>
  <a href="../../weather/19031211.html">Weather Data for 11 December 1903</a>
</p>
<hr/>
<p>
  [12 December 1903, Saturday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Set propeller shafts and got machine outside in afternoon with intention of making a trial. We did not have enough wind for starting from flat and not enough time to got to hill. So we spent some time in running machine along track to see what speed one man could give it. In a 40-ft. run the last 15 feet were covered in 1 ½ sec. In starting one time the frames supporting the tail were caught on the end of the track and broken. Weather warm.
</p>
<p>
  <a href="../../weather/19031212.html">Weather Data for 12 December 1903</a>
</p>
<hr/>
<p>
  [13 December 1903, Sunday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 48]
</p>
<p>
  Wind of 6 to 8 meters blowing from west and later from north. Air warm. Spent most of day reading. In afternoon Mr. Etheridge of L.S. [Life Saving] Station, with wife and children, called to take a look at machine.
</p>
<p>
  <a href="../../weather/19031213.html">Weather Data for 13 December 1903</a>
</p>
<hr/>
<p>
  [14 December 1903, Tuesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  We spent morning in making repairs on tail, and truck for starting. At half past one o’clock we put out signal for station men, and started for hill, which took us about 40 minutes. After testing engine, with help of men (Bob Westcott, John T. Daniels, Tom Beacham, W.S. Dough, and Uncle Benny O’Neal), we took machine 150 ft uphill and laid track on 8º 50’ slope. A couple small boys, who had come with
</p>
<p>
  [Page 49]
</p>
<p>
  the men from the station, made a hurried departure over the hill for home on hearing the engine start. We tossed up coin to decide who should make first trial, and Will won. After getting adjustments of engine ready I took right end of machine. Will got on. When all was ready Will attempted to release fastening to rail, but the pressure due to the weight of the machine and thrust of screws was so great that he could not get it loose. We had to get a couple of the men to help push machine back till rope was slipped loose. While I was signaling man at other end to leave go, but before I myself was ready, Will started machine. I grabbed the upright the best I could and off we went. By the time we had reached the last quarter of the
</p>
<p>
  [Page 50]
</p>
<p>
  third rail (about 35 to 40 feet) the speed was so great I could stay with it no longer. I snapped watch as machine passed end of track. (It had raised from track six or eight feet from end.) The machine turned up in front and rose to a height of about 15 feet from ground at a point somewhere in neighborhood of 60 feet from end of track. After losing most of its headway it gradually sank to ground turned up at an angle of probably 20º incidence. The left wing was lower than the right so that in landing it struck first. The machine swung around and scraped the front skids (bows running out to front rudder) so deep in sand that one was broken, and twisted around until the main strut and brace were
</p>
<p>
  [Page 51]
</p>
<p>
  also broken, besides the rear spar to lower surface of front rudder. Will forgot to shut off engine for some time, so that the record of screw turns was mostly taken while the machine was on the ground. The engine made 602 rev. in 35 ½ s. Time of flight from end of track was 3 ½ sec. for a distance of 105 ft. Angle of descent for the 105 feet was 4º 55’. Speed of wind was between 4 and 8 miles.
</p>
<p>
  <a href="../../weather/19031214.html">Weather Data for 14 December 1903</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, December 1903. Diary of Edward Huffaker, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
