---
layout: ecu
title:  "Orville Wright"
customdate: "1911 October"
order: 38
---

{% include breadcrumbs.html %}

<h3>Orville Wright, [Diary Entry], October 1911</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [10 October 1911, Tuesday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 5]
</p>
<p>
  Arrived Kill Devil. Worked on building &amp; fittings. (Rained night.)
</p>
<p>
  <a href="../../weather/19111010.html">Weather Data for 10 October 1911</a>
</p>
<hr/>
<p>
  [12 October 1911, Thursday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Measured West Hill = 80 ft. high. [Slope] (500 ft)
</p>
<p>
  [Page 6]
</p>
<p>
  Kill Devil Hill = [slope] 665 [ft. at] 8º 40’ = 103 ft. high. 30-mile wind at top hill. 18 on ground.
</p>
<p>
  <a href="../../weather/19111012.html">Weather Data for 12 October 1911</a>
</p>
<hr/>
<p>
  [13 October 1911, Friday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Wind north 20-25 miles. Motored to Kitty Hawk through outside channel. Machine arrived on Van Dusen. (Shipped Sat. 7th.)
</p>
<p>
  4 newspapermen—J. Mitchell, Asso. Press, Mitchell, N.Y. Herald, Salley of Norfolk, Van Ness, New York World, arrived.
</p>
<p>
  <a href="../../weather/19111013.html">Weather Data for 13 October 1911</a>
</p>
<hr/>
<p>
  [14 October 1911, Saturday - Orville Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Wind 10 miles from north. Set machine together in morn. Went to K.H. in afternoon. Chickens & fish.
</p>
<p>
  <a href="../../weather/19111014.html">Weather Data for 14 October 1911</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, October 1911. Diary of Edward Huffaker, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
