---
layout: ecu
title:  "Wilbur Wright"
customdate: "1900 September 13"
order: 4
---

{% include breadcrumbs.html %}

<h3>Wilbur Wright, [Diary Entry], 13 September 1900</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
Left Dayton Thurs Eve at 6:30 pm and over Big Four and C & O Arrived at Old Point about six o'clock the next day and went over to Norfolk via the steamer Pennsylvania. Put up at the Monticello Hotel. Spent Saturday morning trying to find some spruce for spars of machine, but was unsuccessful. Finally I bought some white pine and had it sawed up at J.E. Etheridge Co. mill. Cumpston Etheridge the foreman, very accommodating. The weather was near 100 Fahr. and I nearly collapsed. At 4:30 left for Eliz. City and put up at the Arlington. I spent several days waiting for a boat to Kitty Hawk. No one seemed to know anything about the place or how to get there. At last on Tuesday left-I engaged passage with Israel Perry on his flat bottom schooner fishing boat. As it was anchored about three miles down the river ,we started in his skiff which was loaded about to the gunwales with three men my heavy trunk and lumber. The boat leaked very badly and frequently dipped water. , but with my constant bailing we managed to reach the schooner in safety. The weather was very fine with a light west wind blowing. When I mounted the deck of the larger boat I discovered at a glance that it was in worse condition if possible than the skiff. Her sails were rotten , the ropes badly worn and the rudderpost half rotted off and the cabin so dirty and vermin infected that I kept out of it from first to last. The wind became very light making progress slow. Though we had started immediately after dinner it was almost dark when we passed out of the mouth of the Pasquotank and headed down the sound. The water was much rougher than the light wind would have lead us to expect, led us to expect, and Israel spoke if it several times and seemed a little uneasy. After a time the breeze shifted to the south and east and gradually became stronger. The boat was quite unfitted for sailing against a head wind owing to the large size of the cabin, the lack of load, and its flat bottom. The waves which were now running quite high struck the boat from below with a heavy shock and it threw it back about as fast as it went forward. The leeway was greater than the headway. The strain of rolling and pitching sprung a leak and this, together with what water came over the bow at times, made it necessary to bail frequently. At 11:00 o'clock the wind had increased to a gale and the boat was gradually being driven nearer and nearer to the north shore, but as an attempt to turn round would probably have resulted in an upset there seemed nothing else to do but attempt to round the North River light and take refuge behind the point. In a severe gust the foresail was blown loose from the boom and fluttered to leeward with a terrible roar. The boy and I finally succeeded in taking it in though it was rather dangerous work in the dark with the boat rolling so badly. By the time we had reached a position even with the end of the light, which lay at he end of the bar extending out a quarter of a mile from the shore. The suspense was ended by another roaring of the canvas as the mainsail also tore loose from the boom, and shook fiercely in the gale. The only chance was to make a straight run over the bar under nothing but a jib, so we took in the mainsail and let the boat swing around stern to the wind. This was a very dangerous maneuver in such a sea but was in some way accomplished without capsizing. The waves were very high on the bar and broke over the stern very badly. Israel had been so long a stranger to the touch of water upon his skin that it affected him very much.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1900. Diary of Wilbur Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
