---
layout: ecu
title:  "Wilbur Wright"
customdate: "c. 1900 September"
order: 5
---

{% include breadcrumbs.html %}

<h3>Wilbur Wright, [Observations on Soaring], circa September 1900</h3>

<div class="well">
  <label>Text and Image(s) from Diary</label><br/>
<p>
  [Page 1]
</p>
<p>
  The dihedral angle is of advantage only in still air. It greatly increases the disturbing effect of side gusts.
</p>
<p>
  The buzzard which uses the dihedral angle <img src="../../img/W0i1/sW0i01a.jpg" /> finds greater difficulty to maintain equilibrium in strong winds than eagles and hawks which hold their wings level. <img src="../../img/W0i1/sW0i01b.jpg" />
</p>
<p>
  The hen hawk can rise faster than the buzzard and its motion is steadier. It displays less effort in maintaining its balance.
</p>
<p>
  [Page 2]
</p>
<p>
  Hawks are better soarers than buzzards but more often resort to flapping because thy wish greater speed.
</p>
<p>
  A damp day is unfavorable for soaring unless there is a high wind.
</p>
<p>
  No bird soars in a calm.
</p>
<p>
  The object of the tail is to increase the spread of surface in the rear when the wings are moved forward in light winds and thus preserve the center of pressure at about the same spot. It seems to be used as a
</p>
<p>
  [Page 3]
</p>
<p>
  rudder very little. In high winds it is folded up very narrow.
</p>
<p>
  All soarers, but especially the buzzard, seem to keep their fore-and-aft balance more by shifting the center of resistance than by shifting the center of lift. Thus a buzzard soaring in the normal position <img src="../../img/W0i1/sW0i03a.jpg" /> will be turned upward by a sudden gust. It immediately lowers its wings, much below it body. <img src="../../img/W0i1/sW0i03b.jpg" /> The momentum of its body now acting above the center of resistance
</p>
<p>
  [Page 4]
</p>
<p>
  turns the bird downward very quickly.
</p>
<p>
  Viewed from directly beneath, the motion of the wings fore and aft seems very small indeed. Neither do birds appear to draw in one wing more than the other. The raising and lowering of the wings is very perceptible whenever the observer is almost on a level with the bird.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, September 1900. Diary of Wilbur Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
