---
layout: ecu
title:  "Wilbur Wright"
customdate: "1901 July"
order: 9
---

{% include breadcrumbs.html %}

<h3>Wilbur Wright, [Diary Entry], July 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [27 July 1901 - Wilbur Wright’s Diary, Kill Devil Hills, NC (from MacFarland)]
</p>
<p>
  [Page 17]
</p>
<p>
  Made about 17 glides. Found the machine less manageable than expected. The rudder too large. The center of pressure apparently about 30 inches back of front edge. In two glides lost all headway and sprang forward to regain control. Landed with machine from height of 18 feet
</p>
<p>
  [Page 18]
</p>
<p>
  practically horizontal. No damage. Best glide about 315 ft. at fall of 1 in six. Time about 19 seconds. Relative speed about 25 miles per hour. Wind 13 miles. Resistance of framing apparently much in excess of that estimated beforehand. Angle of incidence not well determined, probably about 6º.
</p>
<p>
  <a href="../../weather/19010727.html">Weather Data for 27 July 1901</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, July 1901. Diary of Wilbur Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
