---
layout: ecu
title:  "Wilbur Wright"
customdate: "1901 August 7"
order: 13
---

{% include breadcrumbs.html %}

<h3>Wilbur Wright, [Diary Entry], 7 August 1901</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [7 August 1901 - Wilbur Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 31]
</p>
<p>
  Spent week in reconstructing front edge of machine and in experiment of lift & drift. Found drift or head resistance of framing reduced some three pounds as result of changes. Speed 18 miles per hour. As we had previously estimated this at 8 or 9 lbs., the new measurement brings it down to less than 6 lbs.
</p>
<p>
  <a href="../../weather/19010807.html">Weather Data for 7 August 1901</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, August 1901. Diary of Wilbur Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
