---
layout: ecu
title:  "Wilbur Wright"
customdate: "1908 April"
order: 33
---

{% include breadcrumbs.html %}

<h3>Wilbur Wright, [Diary Entry], April 1908</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [6 April 1908, Monday - Wilbur Wright Diary, Elizabeth City, NC]
</p>
<p>
  [Page 1]
</p>
<p>
  Left Dayton for Kitty Hawk at 9 a.m. Arrived at Norfolk about noon next day. Found my trunk had been lost on the way, but proceeded at 6 p.m. to Eliz. City [Elizabeth City] without it and put up at Southern Hotel.
</p>
<p>
  <a href="../../weather/19080406.html">Weather Data for 6 April 1908</a>
</p>
<hr/>
<p>
  [8 April 1908, Wednesday - Wilbur Wright Diary, Elizabeth City, NC]
</p>
<p>
  Spent most of day waiting for Capt. Midgett to arrive. H finally came after dark. His son arrived in the Lou Willis several hours earlier. They are to take down part of our lumber tomorrow and the balance on Saturday. Met Mr. Daniels at depot. He has been transferred to the Nags Head Station. All reports indicate that our old buildings have largely disappeared. Three fires in town last night.
</p>
<p>
  <a href="../../weather/19080408.html">Weather Data for 8 April 1908</a>
</p>
<hr/>
<p>
  [9 April 1908, Thursday - Wilbur Wright Diary, Kitty Hawk, NC]
</p>
<p>
  [Page 2]
</p>
<p>
  Fair. [Wind] N.W. Strong.
</p>
<p>
  Bought lumber of Kramer Bros. ($91.90!): hardware of White ($25), &amp; gasoline of Grandy ($7.80 for 52-gal. bbl.). Started from Eliz. City in the B. M. Van Dusen at noon and reached K[itty] H[awk], after a stop at Powell’s Point, about 7 o’clock. Spent night at Capt. Midgett’s. Trunk O.K.
</p>
<p>
  <a href="../../weather/19080408.html">Weather Data for 9 April 1908</a>
</p>
<hr/>
<p>
  [10 April 1908, Friday - Wilbur Wright Diary, Kitty Hawk, NC]
</p>
<p>
  Cloudy. Drizzle in a.m. [Wind] S.W. 15 mi. [per hour] 7 ½ m. [per sec.]
</p>
<p>
  Went down to camp with little Spencer Midgett. Found things pretty well wrecked. The side walls of the old building still stand but the roof and the north end are gone. The new building is down and torn to pieces. The pump is gone. We went on down to Kill Devil Station and saw Capt. Ward and Uncle Benny O’Neal. The captain offered me lodging till we can get our
</p>
<p>
  [Page 3]
</p>
<p>
  new building up. Truxton Midgett and his Uncle Ezekiel Midgett took down the lumber on the Lou Willis as far as the old fish landing and put it ashore with lighter & cart. I made arrangement with Augustus Harris to go down and begin carting it to camp tomorrow. The Captain’s boy Spencer will also take a cart down. It will be a big job. I arranged yesterday with Oliver O’Neal to help erect the building, beginning work Monday. Spencer and I took the gasoline down to camp, and my trunk to the Kill Devil Station. Stayed at Midgett’s at night.
</p>
<p>
  <a href="../../weather/19080410.html">Weather Data for 10 April 1908</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, April 1908. Diary of Wilbur Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
