---
layout: ecu
title:  "Wilbur Wright"
customdate: "1908 May"
order: 35
---

{% include breadcrumbs.html %}

<h3>Wilbur Wright, [Diary Entry], May 1908</h3>


<div class="well">
  <label>Text from Diary</label><br/>

<p>
  [1 May 1908, Friday - Wilbur Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  [Page 20]
</p>
<p>
  Fair. 2 p.m. 6-8 m. 7 p.m. about 2 m.
</p>
<p>
  The wind during the night was very strong, probably 55 or 60 miles. We had to get up several times to fasten doors, &c. The strong draft through the building went through our blankets also and nearly froze us. Toward evening the wind almost died away, but the temperature was almost uncomfortably cool. We worked on track, front rudder & actuating devices, and fitted radiators. After many experiments we succeeded in making a fair quality of lamp out of a common gasoline burner.
</p>
<p>
  <a href="../../weather/19080501.html">Weather Data for 1 May 1908</a>
</p>
<hr/>
<p>
  [2 May 1908, Saturday - Wilbur Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Fair. S.W. 7 ½ m. 1 p.m. 14-17 m. 5:30 p.m. 12-14 m.
</p>
<p>
  We spent a comfortable night, the air being more quiet than the preceding night. We spent the day on actuating devices, &c. As this is all new work it takes much time.
</p>
<p>
  [Page 21]
</p>
<p>
  Charley worked most of the day on track and finished up a dozen rails each about 14 ft. long. The sitting position for the operators will probably be more comfortable but will require practice before we can tackle high winds. The N.Y. Herald has telegraphed the Weather Bureau operator at Manteo for information regarding us. Mr. Dosher also telephoned the K.D. Station today for information. He evidently had been asked by some paper to get news.
</p>
<p>
  <a href="../../weather/19080502.html">Weather Data for 2 May 1908</a>
</p>
<hr/>
<p>
  [3 May 1908, Sunday - Wilbur Wright Diary, Kill Devil Hills, NC]
</p>
<p>
  Fair to partly cloudy. 7 a.m. N.W. 6 ½ - 7 m. Afternoon 3 m. N.E. by E.
</p>
<p>
  At about 10 o’clock two observations of 100 sec. and 75 sec. each showed in one case 4 ¾ m. per sec., in the other 2 m. per sec. The wind remained light all day. K.W. telegraphed that the newspapers had published a report of a flight by us.
</p>
<p>
  [Page 22]
</p>
<p>
  W.J. Tate and Walter Best came down to camp and spent part of the afternoon. After their departure we went over to the K.D. Station for an hour. We got some newspapers to stuff our beds to keep the wind out.
</p>
<p>
  <a href="../../weather/19080503.html">Weather Data for 3 May 1908</a>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Diary entry, May 1908. Diary of Wilbur Wright, Papers of Wilbur and Orville Wright. Manuscript Division, Library of Congress.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscript Division, Library of Congress, Washington, D.C. 20540 USA</td>
  </tr>
</table>
