---
layout: ecu
title:  "544 - The Wreck and The Village Beyond"
customdate: "1900 October 10"
order: 18
---

{% include breadcrumbs.html %}

<h3>544 - The Wreck and The Village Beyond</h3>
<b>Notes</b>
<p>
1) Full image: Failed 1900 flying craft 2) Image of beachfront buildings south of Kitty Hawk Life Saving Station.
</p>
<div class="well">
<p>
  <a href="../../img/L544/bL544000.jpg">
    <img src="../../img/L544/sL544000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L544/bL544001.jpg">
    <img src="../../img/L544/sL544001.jpg" />
  </a>


</p>
</div>
