---
layout: ecu
title:  "545 - Thomas Tate, The First Wright Aviator"
customdate: "1900"
order: 16
---

{% include breadcrumbs.html %}

<h3>545 - Thomas Tate, The First Wright Aviator</h3>
<b>Notes</b>
<p>
1) Full image: Thomas Tate next to the 1900 Wright tent with a huge drum fish he had just caught 2) Close up of the young Tate 3) Tom Tates colorful suspenders.
</p>
<div class="well">
<p>
  <a href="../../img/L545/bL545000.jpg">
    <img src="../../img/L545/sL545000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L545/bL545001.jpg">
    <img src="../../img/L545/sL545001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L545/bL545002.jpg">
    <img src="../../img/L545/sL545002.jpg" />
  </a>

</p>
</div>
