---
layout: ecu
title:  "546 - Willam J. Tate and His Family"
customdate: "1900"
order: 3
---

{% include breadcrumbs.html %}

<h3>546 - Willam J. Tate and His Family</h3>
<b>Notes</b>
<p>
1) Full image: William J. ("Bill") Tate with daughter Irene on his lap as well as Nancy Baum, Addie Sibbern Tate, Pauline in her lap, and dog Spot 2) Detail of the ornate folk art Kitty Hawk Post Office sign. 3) Detail of Bill Tate and daughter Irene. Note newel post on staircase with a childs bonnet on the stairs, perhaps just torn off for the fourth time by the unhappy Irene who probably had never before posed for a picture. 4) Detail of the very beautiful Addie Tate with Pauline and the rather stern looking Nancy Baum. Note the fine quality of the design and embroidery of the womens clothes. 5) This very fine step to and from the front stoop is a shipping crate, handily adapted to a new purpose and held in place by a couple of 2 x 4 stakes driven into the ground and nailed to the box. 6) This is family dog Spot, curious at to the strange proceedings.
</p>
<div class="well">
<p>
  <a href="../../img/L546/bL546000.jpg">
    <img src="../../img/L546/sL546000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L546/bL546001.jpg">
    <img src="../../img/L546/sL546001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L546/bL546002.jpg">
    <img src="../../img/L546/sL546002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L546/bL546003.jpg">
    <img src="../../img/L546/sL546003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L546/bL546004.jpg">
    <img src="../../img/L546/sL546004.jpg" />
  </a>
</p>
</div>
