---
layout: ecu
title:  "547 - Captain and Mrs. James Hobbs"
customdate: "1900"
order: 4
---

{% include breadcrumbs.html %}

<h3>547 - Captain and Mrs. James Hobbs</h3>
<b>Notes</b>
<p>
1) Full Image: Captain James Hobbs and his wife Eliza Hobbs 2) Close up of this aging couple, dearly beloved by the Wrights. 3)The Hobbs obviously had just had a new wood shingle roof put on their house. The right angle wooden devices held boards in place where shingles were piled before installation and where roofers could take a break from their difficult work.
</p>
<div class="well">
<p>
  <a href="../../img/L547/bL547000.jpg">
    <img src="../../img/L547/sL547000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L547/bL547001.jpg">
    <img src="../../img/L547/sL547001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L547/bL547002.jpg">
    <img src="../../img/L547/sL547002.jpg" />
  </a>

</p>
</div>
