---
layout: ecu
title:  "549 - Camp Kitty Hawk In Is Lunar Landscape"
customdate: "1900"
order: 5
---

{% include breadcrumbs.html %}

<h3>549 - Camp Kitty Hawk In Is Lunar Landscape</h3>
<b>Notes</b>
<p>
1) Full Image: Sparse view of the 1900 Kitty Hawk camp 2)Close up of 1900 tent, just proudly put up, still empty, but in a photogenic setting next to a wind swept tree. Note that there are no extra ropes tied to the trees or at the front of the tent or any of the wood reinforcements that would come later after the Wrights experienced a couple of storms.
</p>
<div class="well">
<p>
  <a href="../../img/L549/bL549000.jpg">
    <img src="../../img/L549/sL549000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L549/bL549001.jpg">
    <img src="../../img/L549/sL549001.jpg" />
  </a>

</p>
</div>
