---
layout: ecu
title:  "550 - Lifesavers At The Kitty Hawk Life Saving Station"
customdate: "1900"
order: 12
---

{% include breadcrumbs.html %}

<h3>550 - Lifesavers At The Kitty Hawk Life Saving Station</h3>
<b>Notes</b>
<p>
1) Full image: The lifesavers of the Kitty Hawk Life Saving Station 2) Meet Robert Lee Griggs 3) Robert Fulton Sanderlin 4) Thomas Edward Hines 5) Joseph Edward Baum (the cook was not an official lifesaver) 6) Shifty-eyed Samuel J. Payne 7) James Riley Best 8) Thomas Nelson Sanderlin.
</p>
<div class="well">
<p>
  <a href="../../img/L550/bL550000.jpg">
    <img src="../../img/L550/sL550000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550001.jpg">
    <img src="../../img/L550/sL550001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550002.jpg">
    <img src="../../img/L550/sL550002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550003.jpg">
    <img src="../../img/L550/sL550003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550004.jpg">
    <img src="../../img/L550/sL550004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550005.jpg">
    <img src="../../img/L550/sL550005.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550006.jpg">
    <img src="../../img/L550/sL550006.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L550/bL550007.jpg">
    <img src="../../img/L550/sL550007.jpg" />
  </a>
</p>
</div>
