---
layout: ecu
title:  "551 - Second View of Lifesaver At Kitty Hawk"
customdate: "1900"
order: 13
---

{% include breadcrumbs.html %}

<h3>551 - Second View of Lifesaver At Kitty Hawk</h3>
<b>Notes</b>
<p>
1) Full image: The lifesavers of the Kitty Hawk Life Saving Station 2) Thomas Sanderlin up close 3) The Kitty Hawk companion dog Brown.4) The lifesavers up close 5) A US Life Saving Service official patch.
</p>
<div class="well">
<p>
  <a href="../../img/L551/bL551000.jpg">
    <img src="../../img/L551/sL551000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L551/bL551001.jpg">
    <img src="../../img/L551/sL551001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L551/bL551002.jpg">
    <img src="../../img/L551/sL551002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L551/bL551003.jpg">
    <img src="../../img/L551/sL551003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L551/bL551004.jpg">
    <img src="../../img/L551/sL551004.jpg" />
  </a>

</p>
</div>
