---
layout: ecu
title:  "556 - Discovering Kill Devil Hills"
customdate: "1900"
order: 19
---

{% include breadcrumbs.html %}

<h3>556 - Discovering Kill Devil Hills</h3>
<b>Notes</b>
<p>
1) Full image: Spectacular flight of the 1900 glider 2) The first Wright image of the Kill Devil Lifesaving Station complex. The largest of the buildings is the lifesaving station.
</p>
<div class="well">
<p>
  <a href="../../img/L556/bL556000.jpg">
    <img src="../../img/L556/sL556000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L556/bL556001.jpg">
    <img src="../../img/L556/sL556001.jpg" />
  </a>


</p>
</div>
