---
layout: ecu
title:  "557 - View of Kitty Hawk Lifesaving Station and Weather Station From The 1900 Camp"
customdate: "1900"
order: 11
---

{% include breadcrumbs.html %}

<h3>557 - View of Kitty Hawk Lifesaving Station and Weather Station From The 1900 Camp</h3>
<b>Notes</b>
<p>
1) Full image: Kitty Hawk Life Saving Station and the Kitty Hawk Weather Bureau 2-5) A closer look at the lifesaving station on right and the weather station on the left. 3)Another unidentified structure north of the Kitty Hawk stations. Note telegraph pole to the right. 4)Another structure further north. 5)An even closer view of Kitty Hawk Life Saving Station. Note the distinctive lace wood work on the south end, what appears to be a crane between the second and third structures. To the right of the station is the residence of dog Brown. 6)An even closer view of the weather station. In this detail one can see the instrument laden tower that rises above the structure. From this station the Wrights sent their famous message about their successful first powered flight on December 17, 1903.
</p>
<div class="well">
<p>
  <a href="../../img/L557/bL557000.jpg">
    <img src="../../img/L557/sL557000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L557/bL557001.jpg">
    <img src="../../img/L557/sL557001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L557/bL557002.jpg">
    <img src="../../img/L557/sL557002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L557/bL557003.jpg">
    <img src="../../img/L557/sL557003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L557/bL557004.jpg">
    <img src="../../img/L557/sL557004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L557/bL557005.jpg">
    <img src="../../img/L557/sL557005.jpg" />
  </a>
</p>
</div>
