---
layout: ecu
title:  "558 - Kitty Hawk Life Savers At Practive-Going Out"
customdate: "1900"
order: 14
---

{% include breadcrumbs.html %}

<h3>558 - Kitty Hawk Life Savers At Practive-Going Out</h3>
<b>Notes</b>
<p>
1) Full image: Kitty Hawk lifesavers going out on a practice run 2) The trip out up close.
</p>
<div class="well">
<p>
  <a href="../../img/L558/bL558000.jpg">
    <img src="../../img/L558/sL558000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L558/bL558001.jpg">
    <img src="../../img/L558/sL558001.jpg" />
  </a>


</p>
</div>
