---
layout: ecu
title:  "559 - Kitty Hawk Lifesavers At Practice-Coming In"
customdate: "1900"
order: 15
---

{% include breadcrumbs.html %}

<h3>559 - Kitty Hawk Lifesavers At Practice-Coming In</h3>
<b>Notes</b>
<p>
1) Full image: Kitty Hawk lifesavers coming in 2) The return up close.
</p>
<div class="well">
<p>
  <a href="../../img/L559/bL559000.jpg">
    <img src="../../img/L559/sL559000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L559/bL559001.jpg">
    <img src="../../img/L559/sL559001.jpg" />
  </a>


</p>
</div>
