---
layout: ecu
title:  "560 - Tenting at Camp Kitty Hawk"
customdate: "1900"
order: 6
---

{% include breadcrumbs.html %}

<h3>560 - Tenting at Camp Kitty Hawk</h3>
<b>Notes</b>
<p>
1) Full image: The 1900 Kitty Hawk camp 2) Detail of tent opening with a cot piled high with folded blankets. 3) Detail of tent reinforcementsdiagonals on top, beams along the base on side and back, and rope to tree.
</p>
<div class="well">
<p>
  <a href="../../img/L560/bL560000.jpg">
    <img src="../../img/L560/sL560000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L560/bL560001.jpg">
    <img src="../../img/L560/sL560001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L560/bL560002.jpg">
    <img src="../../img/L560/sL560002.jpg" />
  </a>
</p>
</div>
