---
layout: ecu
title:  "561 - An Odd Camera Goof"
customdate: "1900"
order: 17
---

{% include breadcrumbs.html %}

<h3>561 - An Odd Camera Goof</h3>
<b>Notes</b>
<p>
1) Full image: View of landscape surrounding the camp 2) Close up of the almost missed glider.
</p>
<div class="well">
<p>
  <a href="../../img/L561/bL561000.jpg">
    <img src="../../img/L561/sL561000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L561/bL561001.jpg">
    <img src="../../img/L561/sL561001.jpg" />
  </a>


</p>
</div>
