---
layout: ecu
title:  "563 - The Lunar Landscape"
customdate: "1900"
order: 8
---

{% include breadcrumbs.html %}

<h3>563 - The Lunar Landscape</h3>
<b>Notes</b>
<p>
View of the landscape from the opposite side of the hill from the camp.
</p>
<div class="well">
<p>
  <a href="../../img/L563/bL563000.jpg">
    <img src="../../img/L563/sL563000.jpg" />
  </a>


</p>
</div>
