---
layout: ecu
title:  "564 - The Wright's Environment"
customdate: "1900"
order: 7
---

{% include breadcrumbs.html %}

<h3>564 - The Wright's Environment</h3>
<b>Notes</b>
<p>
1) Full image: Landscape of the 1900 camp 2) view of the tent.
</p>
<div class="well">
<p>
  <a href="../../img/L564/bL564000.jpg">
    <img src="../../img/L564/sL564000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L564/bL564001.jpg">
    <img src="../../img/L564/sL564001.jpg" />
  </a>

</p>
</div>
