---
layout: ecu
title:  "565 - A View of Kitty Hawk Bay"
customdate: "1900"
order: 2
---

{% include breadcrumbs.html %}

<h3>565 - A View of Kitty Hawk Bay</h3>
<b>Notes</b>
<p>
1) Full image: Kitty Hawk Bay in the distance 2) A closer look at the luscious Kitty Hawk Bay.
</p>
<div class="well">
<p>
  <a href="../../img/L565/bL565000.jpg">
    <img src="../../img/L565/sL565000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L565/bL565001.jpg">
    <img src="../../img/L565/sL565001.jpg" />
  </a>
</p>
</div>
