---
layout: ecu
title:  "567 - A Distant View of Kitty Hawk Village"
customdate: "1900"
order: 9
---

{% include breadcrumbs.html %}

<h3>567 - A Distant View of Kitty Hawk Village</h3>
<b>Notes</b>
<p>
1) Full image: An elegant view of Kitty Hawk in the distance 2) A somewhat closer view of structures in the village from their camp 3) A fuzzy view of the eastern end of Kitty Hawk Bay.
</p>
<div class="well">
<p>
  <a href="../../img/L567/bL567000.jpg">
    <img src="../../img/L567/sL567000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L567/bL567001.jpg">
    <img src="../../img/L567/sL567001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L567/bL567002.jpg">
    <img src="../../img/L567/sL567002.jpg" />
  </a>

</p>
</div>
