---
layout: ecu
title:  "568 - A Closer View of Kitty Hawk Village"
customdate: "1900"
order: 10
---

{% include breadcrumbs.html %}

<h3>568 - A Closer View of Kitty Hawk Village</h3>
<b>Notes</b>
<p>
1) Full image: Close-up from the Wrights' 1900 camp of the village of Kitty Hawk 2) A fuzzy view of the eastern end of Kitty Hawk Bay. 3) The stilted fish house of Franklin Midgett. 4) The house and barn of Willis Tillett emerge from the mists.
</p>
<div class="well">
<p>
  <a href="../../img/L568/bL568000.jpg">
    <img src="../../img/L568/sL568000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L568/bL568001.jpg">
    <img src="../../img/L568/sL568001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L568/bL568002.jpg">
    <img src="../../img/L568/sL568002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L568/bL568003.jpg">
    <img src="../../img/L568/sL568003.jpg" />
  </a>
</p>
</div>
