---
layout: ecu
title:  "569 - Launch Readiness"
customdate: "1901"
order: 32
---

{% include breadcrumbs.html %}

<h3>569 - Launch Readiness</h3>
<b>Notes</b>
<p>
1) Full image: View of Big Kill Devil Hill 2) Closer view of the intrepid climbers.
</p>
<div class="well">
<p>
  <a href="../../img/L569/bL569000.jpg">
    <img src="../../img/L569/sL569000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L569/bL569001.jpg">
    <img src="../../img/L569/sL569001.jpg" />
  </a>

</p>
</div>
