---
layout: ecu
title:  "570 - Experimental Landings"
customdate: "1901"
order: 33
---

{% include breadcrumbs.html %}

<h3>570 - Experimental Landings</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur just landing the 1901 glider after a test flight 2) Close up of Wilbur on the landed 1901 flyer. Note Wilburs long wiry fingers.
</p>
<div class="well">
<p>
  <a href="../../img/L570/bL570000.jpg">
    <img src="../../img/L570/sL570000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L570/bL570001.jpg">
    <img src="../../img/L570/sL570001.jpg" />
  </a>

</p>
</div>
