---
layout: ecu
title:  "571 - Wilbur and Orville Fly The 1901 Glider As A Kite"
customdate: "1901"
order: 29
---

{% include breadcrumbs.html %}

<h3>571 - Wilbur and Orville Fly The 1901 Glider As A Kite</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur on left and Orville on right flying the 1901 glider as a kite 2) Close up of Wilbur in action.
</p>
<div class="well">
<p>
  <a href="../../img/L571/bL571000.jpg">
    <img src="../../img/L571/sL571000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L571/bL571001.jpg">
    <img src="../../img/L571/sL571001.jpg" />
  </a>

</p>
</div>
