---
layout: ecu
title:  "574 - Orville Displays he 1901 Glider Piled On End"
customdate: "1901"
order: 28
---

{% include breadcrumbs.html %}

<h3>574 - Orville Displays he 1901 Glider Piled On End</h3>
<b>Notes</b>
<p>
1) Full image: Orville poses with the 1901 glider turned on its end 2) Close up of Orville balancing the glider.
</p>
<div class="well">
<p>
  <a href="../../img/L574/bL574000.jpg">
    <img src="../../img/L574/sL574000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L574/bL574001.jpg">
    <img src="../../img/L574/sL574001.jpg" />
  </a>

</p>
</div>
