---
layout: ecu
title:  "575 - The Asencsion of Kill Devil Hill"
customdate: "1901"
order: 31
---

{% include breadcrumbs.html %}

<h3>575 - The Asencsion of Kill Devil Hill</h3>
<b>Notes</b>
<p>
  1) Full image: The natural setting at Kill Devil Hill 2) Closer view of the intrepid climbers.
</p>
<div class="well">
<p>
  <a href="../../img/L575/bL575000.jpg">
    <img src="../../img/L575/sL575000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L575/bL575001.jpg">
    <img src="../../img/L575/sL575001.jpg" />
  </a>

</p>
</div>
