---
layout: ecu
title:  "576 - A Closer View"
customdate: "1901"
order: 22
---

{% include breadcrumbs.html %}

<h3>576 - A Closer View</h3>
<b>Notes</b>
<p>
1) Full image: View of the 1901 camp 2) This close up adds little detail, but reveals the open-endedness of Wrights shop building.
</p>
<div class="well">
<p>
  <a href="../../img/L576/bL576000.jpg">
    <img src="../../img/L576/sL576000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L576/bL576001.jpg">
    <img src="../../img/L576/sL576001.jpg" />
  </a>


</p>
</div>
