---
layout: ecu
title:  "578 - Hamans Place-One of The Recluses For the Wrights"
customdate: "1901"
order: 23
---

{% include breadcrumbs.html %}

<h3>578 - Hamans Place-One of The Recluses For the Wrights</h3>
<b>Notes</b>
<p>
1) Full image: View from the 1901 Wright camp looking to the west in the direction of Roanoke Sound 2) A closer look at the probable Haman House.
</p>
<div class="well">
<p>
  <a href="../../img/L578/bL578000.jpg">
    <img src="../../img/L578/sL578000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L578/bL578001.jpg">
    <img src="../../img/L578/sL578001.jpg" />
  </a>


</p>
</div>
