---
layout: ecu
title:  "580 - Wilbur and Orville Fly the 1901 Glider as a Kite"
customdate: "1901"
order: 30
---

{% include breadcrumbs.html %}

<h3>580 - Wilbur and Orville Fly the 1901 Glider as a Kite</h3>
<b>Notes</b>
<p>
  1) Full image: Wilbur background and Orville foreground flying the 1901 glider as a kite 2) Close up of the brothers and the nose cone of their craft.
</p>
<div class="well">
<p>
  <a href="../../img/L580/bL580000.jpg">
    <img src="../../img/L580/sL580000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L580/bL580001.jpg">
    <img src="../../img/L580/sL580001.jpg" />
  </a>

</p>
</div>
