---
layout: ecu
title:  "581 - Kitty Hawk As A Salon On Flight"
customdate: "1901"
order: 25
---

{% include breadcrumbs.html %}

<h3>581 - Kitty Hawk As A Salon On Flight</h3>
<b>Notes</b>
<p>
1) Full image: The 1901 Wright camp 2) A closer look at four of the five would-be aviators.
</p>
<div class="well">
<p>
  <a href="../../img/L581/bL581000.jpg">
    <img src="../../img/L581/sL581000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L581/bL581001.jpg">
    <img src="../../img/L581/sL581001.jpg" />
  </a>

</p>
</div>
