---
layout: ecu
title:  "583 - The Characters of Kitty Hawk"
customdate: "1901"
order: 26
---

{% include breadcrumbs.html %}

<h3>583 - The Characters of Kitty Hawk</h3>
<b>Notes</b>
<p>
1) Full image: The 1901 Wright camp 2) The camp water pump with a wash basin located on a handy custom-made shelf. 3) George Spratt deep in contemplation with notebook in hand. Behind him, outside of the building, is the collection of whelks. 4) A close up of Edward Huffaker.
</p>
<div class="well">
<p>
  <a href="../../img/L583/bL583000.jpg">
    <img src="../../img/L583/sL583000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L583/bL583001.jpg">
    <img src="../../img/L583/sL583001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L583/bL583002.jpg">
    <img src="../../img/L583/sL583002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L583/bL583003.jpg">
    <img src="../../img/L583/sL583003.jpg" />
  </a>

</p>
</div>
