---
layout: ecu
title:  "592 - Orville Wright Soars As Well"
customdate: "1902"
order: 42
---

{% include breadcrumbs.html %}

<h3>592 - Orville Wright Soars As Well</h3>
<b>Notes</b>
<p>
1) Full image: Orville going into a test flight 2) George Spratt loafs on the sandy slope as the Wrights launch their 1902 craft. Augustus Herring stands in defiance with arm to hip in disbelief of what is happening in his presence. 3) Wilbur helps put the craft aloft. 4) Orville pilots the craft. 5) Dan Tate assists
</p>
<div class="well">
<p>
  <a href="../../img/L592/bL592000.jpg">
    <img src="../../img/L592/sL592000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L592/bL592001.jpg">
    <img src="../../img/L592/sL592001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L592/bL592002.jpg">
    <img src="../../img/L592/sL592002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L592/bL592003.jpg">
    <img src="../../img/L592/sL592003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L592/bL592004.jpg">
    <img src="../../img/L592/sL592004.jpg" />
  </a>
</p>
</div>
