---
layout: ecu
title:  "593 - The 1920 Workshop/Dormitory/Living Space Complete"
customdate: "1902"
order: 37
---

{% include breadcrumbs.html %}

<h3>593 - The 1920 Workshop/Dormitory/Living Space Complete</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur in camp building 2) The sewing Wilbur Wright. Note the kitchen to his right.
</p>
<div class="well">
<p>
  <a href="../../img/L593/bL593000.jpg">
    <img src="../../img/L593/sL593000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L593/bL593001.jpg">
    <img src="../../img/L593/sL593001.jpg" />
  </a>

</p>
</div>
