---
layout: ecu
title:  "597 - Wilbur Soars Even Longer"
customdate: "1902 October 10"
order: 43
---

{% include breadcrumbs.html %}

<h3>597 - Wilbur Soars Even Longer</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur aloft as Dan Tate chases his progress 2) Dan Tate chases Wilburs flight
</p>
<div class="well">
<p>
  <a href="../../img/L597/bL597000.jpg">
    <img src="../../img/L597/sL597000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L597/bL597001.jpg">
    <img src="../../img/L597/sL597001.jpg" />
  </a>
</p>
</div>
