---
layout: ecu
title:  "598 - Controlled Flight"
customdate: "1902 October 24"
order: 49
---

{% include breadcrumbs.html %}

<h3>598 - Controlled Flight</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur makes an impressive controlled turn 2) Close up of the worlds first entirely controlled flight.
</p>
<div class="well">
<p>
  <a href="../../img/L598/bL598000.jpg">
    <img src="../../img/L598/sL598000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L598/bL598001.jpg">
    <img src="../../img/L598/sL598001.jpg" />
  </a>


</p>
</div>
