---
layout: ecu
title:  "600 - The Lifesavers of Kill Devil Hills"
customdate: "1902"
order: 38
---

{% include breadcrumbs.html %}

<h3>600 - The Lifesavers of Kill Devil Hills</h3>
<b>Notes</b>
<p>
1) Full image: The lifesavers from the Kill Devil Hills Life Saving State in front of the main building 2) There is a mysterious, unidentified artwork behind the lifesavers.3) The majestic lifesaving boat. 4) The station alarm bell and an indication of the other buildings in the lifesaving station complex. 5) A close up of the Kill Devil Hills life savers. 6) Empty and broken windows at the Kill Devil Hills Life Saving Station.
</p>
<div class="well">
<p>
  <a href="../../img/L600/bL600000.jpg">
    <img src="../../img/L600/sL600000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L600/bL600001.jpg">
    <img src="../../img/L600/sL600001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L600/bL600002.jpg">
    <img src="../../img/L600/sL600002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L600/bL600003.jpg">
    <img src="../../img/L600/sL600003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L600/bL600004.jpg">
    <img src="../../img/L600/sL600004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L600/bL600005.jpg">
    <img src="../../img/L600/sL600005.jpg" />
  </a>
</p>
</div>
