---
layout: ecu
title:  "602 - Wilbur Wright Soaring"
customdate: "1902 October 10"
order: 41
---

{% include breadcrumbs.html %}

<h3>602 - Wilbur Wright Soaring</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur aloft from Big Kill Devil Hill 2) Close up of glider flight of 10 October 1902.
</p>
<div class="well">
<p>
  <a href="../../img/L602/bL602000.jpg">
    <img src="../../img/L602/sL602000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L602/bL602001.jpg">
    <img src="../../img/L602/sL602001.jpg" />
  </a>
</p>
</div>
