---
layout: ecu
title:  "606 - Ready For Flight"
customdate: "1903 November 24"
order: 53
---

{% include breadcrumbs.html %}

<h3>606 - Ready For Flight</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur poses in front of the 1903 hangar building 2) Close up of 24 November preparation for flight.
</p>
<div class="well">
  <p>
  <a href="../../img/L606/bL606000.jpg">
    <img src="../../img/L606/sL606000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L606/bL606001.jpg">
    <img src="../../img/L606/sL606001.jpg" />
  </a>

</p>
</div>
