---
layout: ecu
title:  "607 - Ready for Flight"
customdate: "1903 November 24"
order: 54
---

{% include breadcrumbs.html %}

<h3>607 - Ready for Flight</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur poses in front of the 1903 hangar building 2) Close up of 24 November preparation for flight.
</p>
<div class="well">
  <p>
  <a href="../../img/L607/bL607000.jpg">
    <img src="../../img/L607/sL607000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L607/bL607001.jpg">
    <img src="../../img/L607/sL607001.jpg" />
  </a>

</p>
</div>
