---
layout: ecu
title:  "609 - Track Of Failed Flight"
customdate: "1903 December 14"
order: 57
---

{% include breadcrumbs.html %}

<h3>609 - Track Of Failed Flight</h3>
<b>Notes</b>
<p>
1) Full image: The track and the deposited truck following an attempted flight 2) The truck and the end of the failed flight. It worked perfectly, the plane and its operators did not.3) Another view of the track and the truck.
</p>
<div class="well">
  <p>
  <a href="../../img/L609/bL609000.jpg">
    <img src="../../img/L609/sL609000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L609/bL609001.jpg">
    <img src="../../img/L609/sL609001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L609/bL609002.jpg">
    <img src="../../img/L609/sL609002.jpg" />
  </a>

</p>
</div>
