---
layout: ecu
title:  "610 - Wilbur Grounded"
customdate: "1903 December 14"
order: 58
---

{% include breadcrumbs.html %}

<h3>610 - Wilbur Grounded</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur still in place after a failed flight 2) Close up of Wilbur at the end of the failed flight.
</p>
<div class="well">
  <p>
  <a href="../../img/L610/bL610000.jpg">
    <img src="../../img/L610/sL610000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L610/bL610001.jpg">
    <img src="../../img/L610/sL610001.jpg" />
  </a>


</p>
</div>
