---
layout: ecu
title:  "612 - Ready For Flight"
customdate: "1903 December 14"
order: 55
---

{% include breadcrumbs.html %}

<h3>612 - Ready For Flight</h3>
<b>Notes</b>
<p>
1) Full image: The Wrights and lifesavers prepare of test flight 2) The boys and the dog. 3) The helpful lifesavers.4) The mystery man of Kill Devil Hills.
</p>
<div class="well">
  <p>
  <a href="../../img/L612/bL612000.jpg">
    <img src="../../img/L612/sL612000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L612/bL612001.jpg">
    <img src="../../img/L612/sL612001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L612/bL612002.jpg">
    <img src="../../img/L612/sL612002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L612/bL612003.jpg">
    <img src="../../img/L612/sL612003.jpg" />
  </a>
</p>
</div>
