---
layout: ecu
title:  "613 - Ready For Flight"
customdate: "1903 December 14"
order: 56
---

{% include breadcrumbs.html %}

<h3>613 - Ready For Flight</h3>
<b>Notes</b>
<p>
1) Full image: The Wrights and lifesavers prepare for test flight 2) The quizzical boy, the dog, and his father. 3) The lifesavers again. 4) The truck on the flyer.5) The mystery man still lurks on the horizon.
</p>
<div class="well">
  <p>
  <a href="../../img/L613/bL613000.jpg">
    <img src="../../img/L613/sL613000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L613/bL613001.jpg">
    <img src="../../img/L613/sL613001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L613/bL613002.jpg">
    <img src="../../img/L613/sL613002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L613/bL613003.jpg">
    <img src="../../img/L613/sL613003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L613/bL613004.jpg">
    <img src="../../img/L613/sL613004.jpg" />
  </a>
</p>
</div>
