---
layout: ecu
title:  "614 - The Damaged Craft"
customdate: "1903 December 17"
order: 63
---

{% include breadcrumbs.html %}

<h3>614 - The Damaged Craft</h3>
<b>Notes</b>
<p>
1) Full image: The 1903 flyer after its landing from the fourth flight 2) The unidentified lifesavers look over the wreck of the fourth flight on 17 December 1903.
</p>
<div class="well">
  <p>
  <a href="../../img/L614/bL614000.jpg">
    <img src="../../img/L614/sL614000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L614/bL614001.jpg">
    <img src="../../img/L614/sL614001.jpg" />
  </a>


</p>
</div>
