---
layout: ecu
title:  "615 - Readiness For Flight"
customdate: "1903 December 17"
order: 59
---

{% include breadcrumbs.html %}

<h3>615 - Readiness For Flight</h3>
<b>Notes</b>
<p>
1) Full image: Powered flyer setup for flight 2) Detail of truck before 17 December flight.
</p>
<div class="well">
  <p>
  <a href="../../img/L615/bL615000.jpg">
    <img src="../../img/L615/sL615000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L615/bL615001.jpg">
    <img src="../../img/L615/sL615001.jpg" />
  </a>


</p>
</div>
