---
layout: ecu
title:  "624 - Bye, Bye Kitty Hawk"
customdate: "1903 December 21"
order: 64
---

{% include breadcrumbs.html %}

<h3>624 - Bye, Bye Kitty Hawk</h3>
<b>Notes</b>
<p>
1) Full image: A look back from the Roanoke Sound 2) Close up of Kill Devil Hills from Manteo on 21 December 1903.
</p>
<div class="well">
  <p>
  <a href="../../img/L624/bL624000.jpg">
    <img src="../../img/L624/sL624000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L624/bL624001.jpg">
    <img src="../../img/L624/sL624001.jpg" />
  </a>


</p>
</div>
