---
layout: ecu
title:  "626 - First Flight"
customdate: "1903 December 17"
order: 61
---

{% include breadcrumbs.html %}

<h3>626 - First Flight</h3>
<b>Notes</b>
<p>
1. Full image: The first flight. 2. Close up of Wilbur near the whirring propellers of the first flight. 3.The magneto for starting the engine, a shovel for burrowing the track and steadying devices, and a bucket of grease for slathering the machines moving parts. 4. The truckthe 1903 flyers launching device. 5. The bench as a steadying device with a handsome C-clamp used to fix one of the flyers wings.
</p>
<div class="well">
  <p>
  <a href="../../img/L626/bL626000.jpg">
    <img src="../../img/L626/sL626000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L626/bL626001.jpg">
    <img src="../../img/L626/sL626001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L626/bL626002.jpg">
    <img src="../../img/L626/sL626002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L626/bL626003.jpg">
    <img src="../../img/L626/sL626003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L626/bL626004.jpg">
    <img src="../../img/L626/sL626004.jpg" />
  </a>

</p>
</div>
