---
layout: ecu
title:  "629 - The Fourth Flight"
customdate: "1903 December 17"
order: 62
---

{% include breadcrumbs.html %}

<h3>629 - The Fourth Flight</h3>
<b>Notes</b>
<p>
1) Full image: End of the fourth and most successful flight 2) Wilbur, Orville, and an observer at the end of the fourth flight on 17 December 1903.
</p>
<div class="well">
  <p>
  <a href="../../img/L629/bL629000.jpg">
    <img src="../../img/L629/sL629000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L629/bL629001.jpg">
    <img src="../../img/L629/sL629001.jpg" />
  </a>


</p>
</div>
