---
layout: ecu
title:  "630 - Wilbur Wright Aloft"
customdate: "1902 October 2"
order: 40
---

{% include breadcrumbs.html %}

<h3>630 - Wilbur Wright Aloft</h3>
<b>Notes</b>
<p>
Successful flight from Big Kill Devil Hill.
</p>
<div class="well">
<p>
  <a href="../../img/L630/bL630000.jpg">
    <img src="../../img/L630/sL630000.jpg" />
  </a>

</p>
</div>
