---
layout: ecu
title:  "631 - The Successful Test Sequence"
customdate: "1902"
order: 39
---

{% include breadcrumbs.html %}

<h3>631 - The Successful Test Sequence</h3>
<b>Notes</b>
<p>
1) Full image: The Wrights with the assistance of Dan Tate took the craft out to test it as a kite 2) Dan Tate and Wilbur Wright up close 3) Detail of Dan Tate and Wilbur Wright flight. 4)Wilbur in his glory. 5) Dan Tate in his most glorious flight. 6) Dan Tates suspenders
</p>
<div class="well">
<p>
  <a href="../../img/L631/bL631000.jpg">
    <img src="../../img/L631/sL631000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L631/bL631001.jpg">
    <img src="../../img/L631/sL631001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L631/bL631002.jpg">
    <img src="../../img/L631/sL631002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L631/bL631003.jpg">
    <img src="../../img/L631/sL631003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L631/bL631004.jpg">
    <img src="../../img/L631/sL631004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L631/bL631005.jpg">
    <img src="../../img/L631/sL631005.jpg" />
  </a>
</p>
</div>
