---
layout: ecu
title:  "656 - Assembling The 1903 Powered Flyer"
customdate: "1903"
order: 52
---

{% include breadcrumbs.html %}

<h3>656 - Assembling The 1903 Powered Flyer</h3>
<b>Notes</b>
<p>
1) Full image: Construction on the powered flyer 2) A shipping crate with the address Wilbur Wright, Elizabeth City, North Carolina. 3) The work bench with large metal vise and various tools. 4) Orville, foreground, and Wilbur, background, assemble the 1903 flyer. Note Orvilles use of sophisticated woodworking tools. 5) Orville with chest and hand drill. 6) A broom and braces for the 1902 building.
</p><div class="well">
<p>
  <a href="../../img/L656/bL656000.jpg">
    <img src="../../img/L656/sL656000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L656/bL656001.jpg">
    <img src="../../img/L656/sL656001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L656/bL656002.jpg">
    <img src="../../img/L656/sL656002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L656/bL656003.jpg">
    <img src="../../img/L656/sL656003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L656/bL656004.jpg">
    <img src="../../img/L656/sL656004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L656/bL656005.jpg">
    <img src="../../img/L656/sL656005.jpg" />
  </a>

</p>
</div>
