---
layout: ecu
title:  "669 - Wilbur Tracks Away Before Flight"
customdate: "1903 December 17"
order: 60
---

{% include breadcrumbs.html %}

<h3>669 - Wilbur Tracks Away Before Flight</h3>
<b>Notes</b>
<p>
1) Full image: The 1903 flyer on track ready for take off 2) For unknown reasons, Wilbur distances himself from the flyer on 17 December. Lifesavers in their white uniforms watch the activities.
</p>
<div class="well">
  <p>
  <a href="../../img/L669/bL669000.jpg">
    <img src="../../img/L669/sL669000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L669/bL669001.jpg">
    <img src="../../img/L669/sL669001.jpg" />
  </a>


</p>
</div>
