---
layout: ecu
title:  "671 - The 1908 Headquarters Building"
customdate: "1908"
order: 65
---

{% include breadcrumbs.html %}

<h3>671 - The 1908 Headquarters Building</h3>
<b>Notes</b>
<p>
1) Full image: The new 1908 Wright headquarters building 2) Between piles of discarded lumber and beams may be seen an excellent image of the Kill Devil Hills Lifesaving Station. 3) The 1908 building complete with windows and sliding door; and a good view of the 1908 dollies for transporting the very heavy 1905 modified craft.
</p>
<div class="well">
  <p>
  <a href="../../img/L671/bL671000.jpg">
    <img src="../../img/L671/sL671000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L671/bL671001.jpg">
    <img src="../../img/L671/sL671001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L671/bL671002.jpg">
    <img src="../../img/L671/sL671002.jpg" />
  </a>

</p>
</div>
