---
layout: ecu
title:  "672 - The 1908 Dollies For Transporting Aircraft"
customdate: "1908"
order: 66
---

{% include breadcrumbs.html %}

<h3>672 - The 1908 Dollies For Transporting Aircraft</h3>
<b>Notes</b>
<p>
1) Full image: Alternate view new 1908 Wright headquarters building 2) An exceedingly clear view of the 1908 dollies. 3) A water collecting barrel, a roll of tar paper, and the sliding door. 4) The exacting and precise installation of the tar paper roofing in 1908.
</p>
<div class="well">
  <p>
  <a href="../../img/L672/bL672000.jpg">
    <img src="../../img/L672/sL672000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L672/bL672001.jpg">
    <img src="../../img/L672/sL672001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L672/bL672002.jpg">
    <img src="../../img/L672/sL672002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L672/bL672003.jpg">
    <img src="../../img/L672/sL672003.jpg" />
  </a>
</p>
</div>
