---
layout: ecu
title:  "673 - The Destroyed 1903 Camp"
customdate: "1908"
order: 67
---

{% include breadcrumbs.html %}

<h3>673 - The Destroyed 1903 Camp</h3>
<b>Notes</b>
<p>
1) Full image: Destruction of the 1903 building and of the 1902 glider 2) Close up of the destroyed 1903 building and the 1902 flyer.
</p>
<div class="well">
  <p>
  <a href="../../img/L673/bL673000.jpg">
    <img src="../../img/L673/sL673000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L673/bL673001.jpg">
    <img src="../../img/L673/sL673001.jpg" />
  </a>

</p>
</div>
