---
layout: ecu
title:  "674 - A 1908 Kill Devil Hills Landscape"
customdate: "1908"
order: 68
---

{% include breadcrumbs.html %}

<h3>674 - A 1908 Kill Devil Hills Landscape</h3>
<b>Notes</b>
<p>
1908 landscape and Kill Devil Hill.
</p>
<div class="well">
  <p>
  <a href="../../img/L674/bL674000.jpg">
    <img src="../../img/L674/sL674000.jpg" />
  </a>

</p>
</div>
