---
layout: ecu
title:  "675 - The Kill Devil Hills Camp"
customdate: "1908"
order: 69
---

{% include breadcrumbs.html %}

<h3>675 - The Kill Devil Hills Camp</h3>
<b>Notes</b>
<p>
1) Full Image: 1908 camp from Kill Devil Hill 2) Close up of 1908 camp building. 3)Close up of abandoned 1903 building.
</p>
<div class="well">
  <p>
  <a href="../../img/L675/bL675000.jpg">
    <img src="../../img/L675/sL675000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L675/bL675001.jpg">
    <img src="../../img/L675/sL675001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L675/bL675002.jpg">
    <img src="../../img/L675/sL675002.jpg" />
  </a>
</p>
</div>
