---
layout: ecu
title:  "692 - Observers Are Mesmerized"
customdate: "1911"
order: 78
---

{% include breadcrumbs.html %}

<h3>692 - Observers Are Mesmerized</h3>
<b>Notes</b>
<p>
  1) Full Image: People watching Orville soar above Big Kill Devil Hill 2) Two observers and Uncle Bennie ONeal observe the 1911 record flight. 3) Orville in his record 1911 glider flight.

</p>
<div class="well">
  <p>
    <a href="../../img/L692/bL692000.jpg">
      <img src="../../img/L692/sL692000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L692/bL692001.jpg">
      <img src="../../img/L692/sL692001.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L692/bL692002.jpg">
      <img src="../../img/L692/sL692002.jpg" />
    </a>


</p>
</div>
