---
layout: ecu
title:  "693-Photo Opportunity #1"
customdate: "1911"
order: 75
---

{% include breadcrumbs.html %}

<h3>693-Photo Opportunity #1</h3>
<b>Notes</b>
<p>
  1) Full image: Host of photographers and reporters at Big Kill Devil Hill 2) Lorin Wrights shadow as photographer. 3) Photographer at the 1911 photo opportunity. 4) Another photographer at the 1911 photo opportunity. 5) These reporters are having a private confab away from the photo situation.
</p>
<div class="well">
  <p>

    <a href="../../img/L693/bL693000.jpg">
      <img src="../../img/L693/sL693000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L693/bL693001.jpg">
      <img src="../../img/L693/sL693001.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L693/bL693002.jpg">
      <img src="../../img/L693/sL693002.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L693/bL693003.jpg">
      <img src="../../img/L693/sL693003.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L693/bL693004.jpg">
      <img src="../../img/L693/sL693004.jpg" />
    </a>
</p>
</div>
