---
layout: ecu
title:  "697 - Posing with the Press"
customdate: "1911"
order: 80
---

{% include breadcrumbs.html %}

<h3>697 - Posing with the Press</h3>
<b>Notes</b>
<p>
  1) Full image: Orville posing with the principal reporters covering the 1911 glider flights 2) Close up of the reporters and photographers and the Wrights 3) Photo case of Mitchell from New York Herald. 4) Camera of Berges from New York American. 5) John Mitchell from the Associated Press.

</p>
<div class="well">
  <p>
    <a href="../../img/L697/bL697000.jpg">
      <img src="../../img/L697/sL697000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L697/bL697001.jpg">
      <img src="../../img/L697/sL697001.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L697/bL697002.jpg">
      <img src="../../img/L697/sL697002.jpg" />
    </a><br/><br/>
    <a href="../../img/L697/bL697003.jpg">
      <img src="../../img/L697/sL697003.jpg" />
    </a><br/><br/>
    <a href="../../img/L697/bL697004.jpg">
      <img src="../../img/L697/sL697004.jpg" />
    </a>

</p>
</div>
