---
layout: ecu
title:  "698-Photo Opportunity #2"
customdate: "1911"
order: 76
---

{% include breadcrumbs.html %}

<h3>698-Photo Opportunity #2</h3>
<b>Notes</b>
<p>
1) Full image: Orville, glider and reporters 2) Van Ness Harwood of the New York World with a bulging copy of the Virginian Pilot. 3) Bumpass of a news photographer complete with goulashes to prevent sand penetration to the feet. Sand bag ballast is evident at the front of the craft. 4) Orville holds down the 1911 glider which is about to take off on its own accord. A reporter helps. Uncle Bennie ONeil seems a little discombobulated with hands in his pockets.
</p>
<div class="well">
  <p>
    <a href="../../img/L698/bL698000.jpg">
      <img src="../../img/L698/sL698000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L698/bL698001.jpg">
      <img src="../../img/L698/sL698001.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L698/bL698002.jpg">
      <img src="../../img/L698/sL698002.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L698/bL698003.jpg">
      <img src="../../img/L698/sL698003.jpg" />
    </a>

</p>
</div>
