---
layout: ecu
title:  "699 - Orville Soars"
customdate: "1911"
order: 77
---

{% include breadcrumbs.html %}

<h3>699 - Orville Soars</h3>
<b>Notes</b>
<p>
1) Full image: Orville soars 2) Close up of Orville soaring with sand bag forward of the craft.
</p>
<div class="well">
  <p>
    <a href="../../img/L699/bL699000.jpg">
      <img src="../../img/L699/sL699000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L699/bL699001.jpg">
      <img src="../../img/L699/sL699001.jpg" />
    </a>


</p>
</div>
