---
layout: ecu
title:  "700 - Buster Wright And The 1911 Hangar"
customdate: "1911"
order: 71
---

{% include breadcrumbs.html %}

<h3>700 - Buster Wright And The 1911 Hangar</h3>
<b>Notes</b>
<p>
1) Full image: Horace Wright and view of 1911 building 2) Close up of Buster Wright with his own Mexican hat.
</p>
<div class="well">
  <p>
  <a href="../../img/L700/bL700000.jpg">
    <img src="../../img/L700/sL700000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L700/bL700001.jpg">
    <img src="../../img/L700/sL700001.jpg" />
  </a>

</p>
</div>
