---
layout: ecu
title:  "703 - The Telltale Door"
customdate: "1911"
order: 81
---

{% include breadcrumbs.html %}

<h3>703 - The Telltale Door</h3>
<b>Notes</b>
<p>
  1) Full image: Final photograph of the 1911 camp 2) The leaning one holer privy 3) A telltale shipping crate to the Wright Brothers at Kitty Hawk. 4)The telltale door, Wright Bros., Elisabeth City, NC.
</p>
<div class="well">
  <p>
    <a href="../../img/L703/bL703000.jpg">
      <img src="../../img/L703/sL703000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L703/bL703001.jpg">
      <img src="../../img/L703/sL703001.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L703/bL703002.jpg">
      <img src="../../img/L703/sL703002.jpg" />
    </a><br/><br/>
    <a href="../../img/L703/bL703003.jpg">
      <img src="../../img/L703/sL703003.jpg" />
    </a>
    

</p>
</div>
