---
layout: ecu
title:  "705 - Panorama of the 1911 Camp"
customdate: "1911"
order: 70
---

{% include breadcrumbs.html %}

<h3>705 - Panorama of the 1911 Camp</h3>
<b>Notes</b>
<p>
1) Full image: Basic panorama of the 1911 Wright camp 2) Orville hammering away attaching fabric to wood on the 1911 glider. 3) The wildly reinforced 1911 camp with flag pole with wind sock next door.
</p>
<div class="well">
  <p>
  <a href="../../img/L705/bL705000.jpg">
    <img src="../../img/L705/sL705000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L705/bL705001.jpg">
    <img src="../../img/L705/sL705001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L705/bL705002.jpg">
    <img src="../../img/L705/sL705002.jpg" />
  </a>
</p>
</div>
