---
layout: ecu
title:  "706 - View From 1911 Hangar"
customdate: "1911"
order: 72
---

{% include breadcrumbs.html %}

<h3>706 - View From 1911 Hangar</h3>
<b>Notes</b>
<p>
1) Full image: Lake view from the 1911 buliding 2) Detail of ceiling in hangar showing storage area with indecipherable commercial box.
</p>
<div class="well">
  <p>
  <a href="../../img/L706/bL706000.jpg">
    <img src="../../img/L706/sL706000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/L706/bL706001.jpg">
    <img src="../../img/L706/sL706001.jpg" />
  </a>

</p>
</div>
