---
layout: ecu
title:  "708 - Parson and Elder in the Whirlwind"
customdate: "1911"
order: 79
---

{% include breadcrumbs.html %}

<h3>708 - Parson and Elder in the Whirlwind</h3>
<b>Notes</b>
<p>
  1) Full image: Orville soars over an onlooking audience amidst a wind storm on 26 October 1911 2) Close up of the Pastor and Presiding Elder and of a playful child and another prone observer.

</p>
<div class="well">
  <p>
    <a href="../../img/L708/bL708000.jpg">
      <img src="../../img/L708/sL708000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L708/bL708001.jpg">
      <img src="../../img/L708/sL708001.jpg" />
    </a>


</p>
</div>
