---
layout: ecu
title:  "711 - Farewell to Big Kill Devil"
customdate: "1911"
order: 82
---

{% include breadcrumbs.html %}

<h3>711 - Farewell to Big Kill Devil</h3>
<b>Notes</b>
<p>
1) Full image: Final photograph of Big Kill Devil in 1911 2) A barely visible image of the Kill Devil Hills Lifesaving Station at the conclusion of all Wright brothers tests at Kitty Hawk, NC, in 1911.
</p>
<div class="well">
  <p>
    <a href="../../img/L711/bL711000.jpg">
      <img src="../../img/L711/sL711000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/L711/bL711001.jpg">
      <img src="../../img/L711/sL711001.jpg" />
    </a>


</p>
</div>
