---
layout: ecu
title:  "15.5.22 - Wilbur Wright Drags the Tarpaper Procession as Orville Dresses for the Occasion"
customdate: "1901"
order: 27
---

{% include breadcrumbs.html %}

<h3>15.5.22 - Wilbur Wright Drags the Tarpaper Procession as Orville Dresses for the Occasion</h3>
<b>Notes</b>
<p>
1) Full image: View of 1901 camp 2) Close up of Wilbur with the tarpaper and with empty bunks behind him 3) Orville in shadow affixing his tie.
</p>
<div class="well">
<p>
  <a href="../../img/W15522/bW15522000.jpg">
    <img src="../../img/W15522/sW15522000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15522/bW15522001.jpg">
    <img src="../../img/W15522/sW15522001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15522/bW15522002.jpg">
    <img src="../../img/W15522/sW15522002.jpg" />
  </a>


</p>
</div>
