---
layout: ecu
title:  "15.6.2 - The Chanute Flyer Debacle"
customdate: "1902 October 13"
order: 46
---

{% include breadcrumbs.html %}

<h3>15.6.2 - The Chanute Flyer Debacle</h3>
<b>Notes</b>
<p>
1) Full image: Test of Chanute's new three wing oscillating glider 2) Close up of the failed Chanute flyer.
</p>
<div class="well">
<p>
  <a href="../../img/W1562x/bW1562x000.jpg">
    <img src="../../img/W1562x/sW1562x000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1562x/bW1562x001.jpg">
    <img src="../../img/W1562x/sW1562x001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1562x/bW1562x002.jpg">
    <img src="../../img/W1562x/sW1562x002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1562x/bW1562x003.jpg">
    <img src="../../img/W1562x/sW1562x003.jpg" />
  </a>
  
</p>
</div>
