---
layout: ecu
title:  "15.6.5 - Another Triumphal Flight"
customdate: "1902 October 18"
order: 48
---

{% include breadcrumbs.html %}

<h3>15.6.5 - Another Triumphal Flight</h3>
<b>Notes</b>
<p>
1) Full image: View of another triumphant flight 2) Close up of glider flight 3) Close up of Orvilles launching dance
</p>
<div class="well">
<p>
  <a href="../../img/W1569x/bW1569x000.jpg">
    <img src="../../img/W1569x/sW1569x000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1569x/bW1569x001.jpg">
    <img src="../../img/W1569x/sW1569x001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1569x/bW1569x002.jpg">
    <img src="../../img/W1569x/sW1569x002.jpg" />
  </a>


</p>
</div>
