---
layout: ecu
title:  "15.6.46 - Wilbur Over Kill Devil Hills"
customdate: "1902"
order: 44
---

{% include breadcrumbs.html %}

<h3>15.6.46 - Wilbur Over Kill Devil Hills</h3>
<b>Notes</b>
<p>
1) Full image: View of Wilbur soaring 2) The Kill Devil Hills Life Saving Station revealed. Beneath the wings of Wilbur Wright in the 1902 glider appears a vast complex of buildings that included, not only the station, but also buildings where lifesavers resided with their families and where horses, boats, and supplies were housed-all easily within view of the Wright camp."
</p>
<div class="well">
<p>
  <a href="../../img/W15646/bW15646000.jpg">
    <img src="../../img/W15646/sW15646000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15646/bW15646001.jpg">
    <img src="../../img/W15646/sW15646001.jpg" />
  </a>
</p>
</div>
