---
layout: ecu
title:  "15.6.9 - Wright Trials Resume"
customdate: "1902"
order: 47
---

{% include breadcrumbs.html %}

<h3>15.6.9 - Wright Trials Resume</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur ascends over the abandoned Chanute machine 2) Close up of the 1902 flyer 3) Close up of abandoned Chanute flyer.
</p>
<div class="well">
<p>
  <a href="../../img/W1569x/bW1569x000.jpg">
    <img src="../../img/W1569x/sW1569x000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1569x/bW1569x001.jpg">
    <img src="../../img/W1569x/sW1569x001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1569x/bW1569x002.jpg">
    <img src="../../img/W1569x/sW1569x002.jpg" />
  </a>


</p>
</div>
