---
layout: ecu
title:  "15.6.40 - More Flights of the 1902 Graceful Glider"
customdate: "1903 October"
order: 51
---

{% include breadcrumbs.html %}

<h3>15.6.40 - More Flights of the 1902 Graceful Glider</h3>
<b>Notes</b>
<p>
1) Full image: Wilbur high over the new 1903 camp 2) Close up of 1902 flyer in 1903.
</p>
<div class="well">
  <p>
  <a href="../../img/W15640/bW15640000.jpg">
    <img src="../../img/W15640/sW15640000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15640/bW15640001.jpg">
    <img src="../../img/W15640/sW15640001.jpg" />
  </a>


</p>
</div>
