---
layout: ecu
title:  "15.7.2 - The Original First Flight Celebration"
customdate: "1902"
order: 45
---

{% include breadcrumbs.html %}

<h3>15.7.2 - The Original First Flight Celebration</h3>
<b>Notes</b>
<p>
1) Full image: Celebrating the triumphs of the day 2) Octave Chanute 3) Orville Wright 4) Wilbur Wright 5) Augustus M. Herring 6) George A. Spratt 7) Dan Tate
</p>
<div class="well">
<p>
  <a href="../../img/W1572x/bW1572x000.jpg">
    <img src="../../img/W1572x/sW1572x000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x001.jpg">
    <img src="../../img/W1572x/sW1572x001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x002.jpg">
    <img src="../../img/W1572x/sW1572x002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x003.jpg">
    <img src="../../img/W1572x/sW1572x003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x004.jpg">
    <img src="../../img/W1572x/sW1572x004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x005.jpg">
    <img src="../../img/W1572x/sW1572x005.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x006.jpg">
    <img src="../../img/W1572x/sW1572x006.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W1572x/bW1572x007.jpg">
    <img src="../../img/W1572x/sW1572x007.jpg" />
  </a>
</p>
</div>
