---
layout: ecu
title:  "15.7.22 - The Reassembled Kitchen"
customdate: "1902"
order: 35
---

{% include breadcrumbs.html %}

<h3>15.7.22 - The Reassembled Kitchen</h3>
<b>Notes</b>
<p>
1) Full image: View of the reassembled kitchen 2) Good Chase and Sanborn coffee was on hand 3) Flour and potatoes were in abundance 4)The old Reliable gas stove 5) A shelf of canned vegetables and of cups, saucers, and all else 6) The Reliable up close 7) Two lanternsone for inside and the other for ventures out-of-doors.
</p>
<div class="well">
<p>
  <a href="../../img/W15722/bW15722000.jpg">
    <img src="../../img/W15722/sW15722000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15722/bW15722001.jpg">
    <img src="../../img/W15722/sW15722001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15722/bW15722002.jpg">
    <img src="../../img/W15722/sW15722002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15722/bW15722003.jpg">
    <img src="../../img/W15722/sW15722003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15722/bW15722004.jpg">
    <img src="../../img/W15722/sW15722004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15722/bW15722005.jpg">
    <img src="../../img/W15722/sW15722005.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15722/bW15722006.jpg">
    <img src="../../img/W15722/sW15722006.jpg" />
  </a>
</p>
</div>
