---
layout: ecu
title:  "15.7.20 - The 1901 Wright Camp From Atop Big Kill Devil Hill"
customdate: "1901"
order: 21
---

{% include breadcrumbs.html %}

<h3>15.7.20 - The 1901 Wright Camp From Atop Big Kill Devil Hill</h3>
<b>Notes</b>
<p>
1) Full image: Camp from the top of Big Kill Devil Hill 2) Detail of the camp and its immediate surroundings.
</p>
<div class="well">
<p>
  <a href="../../img/W15720/bW15720000.jpg">
    <img src="../../img/W15720/sW15720000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15720/bW15720001.jpg">
    <img src="../../img/W15720/sW15720001.jpg" />
  </a>


</p>
</div>
