---
layout: ecu
title:  "15.7.21 - Reorganizing Kitty Hawk for Flight"
customdate: "1902 August 29"
order: 34
---

{% include breadcrumbs.html %}

<h3>15.7.21 - Reorganizing Kitty Hawk for Flight</h3>
<b>Notes</b>
<p>
1) Full image: First day at camp in 1902 2) Wilbur ponders, how shall we make sense out of this place, with covers pulled off of stored items and with their gas stove situated on the floor in the center 3) A binoculars case on top of canvas cover 4) A medical case atop one of two wooden travel chests 5) The beginnings of a 1902 diary on a shelf in the Wrights kitchen 6) A hand saw stored atop the 1901 flyer 7) A carpet stored in the rafters away from gnawing mice.
</p>
<div class="well">
<p>
  <a href="../../img/W15721/bW15721000.jpg">
    <img src="../../img/W15721/sW15721000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15721/bW15721001.jpg">
    <img src="../../img/W15721/sW15721001.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15721/bW15721002.jpg">
    <img src="../../img/W15721/sW15721002.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15721/bW15721003.jpg">
    <img src="../../img/W15721/sW15721003.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15721/bW15721004.jpg">
    <img src="../../img/W15721/sW15721004.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15721/bW15721005.jpg">
    <img src="../../img/W15721/sW15721005.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W15721/bW15721006.jpg">
    <img src="../../img/W15721/sW15721006.jpg" />
  </a>
</p>
</div>
