---
layout: ecu
title:  "16.3.23 - The Reassembled Sleeping Space"
customdate: "1902"
order: 36
---

{% include breadcrumbs.html %}

<h3>16.3.23 - The Reassembled Sleeping Space</h3>
<b>Notes</b>
<p>
1) Full image: View of the sleeping quarters 2) Detail of sleeping quarters at Kill Devil Hills in 1902.
</p>
<div class="well">
<p>
  <a href="../../img/W16323/bW16323000.jpg">
    <img src="../../img/W16323/sW16323000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W16323/bW16323001.jpg">
    <img src="../../img/W16323/sW16323001.jpg" />
  </a>
  
</p>
</div>
