---
layout: ecu
title:  "16.3.22 - 1903 Upgraded Living Quarters"
customdate: "1903"
order: 50
---

{% include breadcrumbs.html %}

<h3>16.3.22 - 1903 Upgraded Living Quarters</h3>
<b>Notes</b>
<p>
1) Full image: View of upgraded kitchen and living area 2) Close up of October 31, 1903 issue of <em>Scientific American</em>.
</p>
<div class="well">
  <p>
  <a href="../../img/W16322/bW16322000.jpg">
    <img src="../../img/W16322/sW16322000.jpg" />
  </a>
  <br/><br/>
  <a href="../../img/W16322/bW16322001.jpg">
    <img src="../../img/W16322/sW16322001.jpg" />
  </a>


</p>
</div>
