---
layout: ecu
title:  "42.10 - Camp Life"
customdate: "1911"
order: 73
---

{% include breadcrumbs.html %}

<h3>42.10 - Camp Life</h3>
<b>Notes</b>
<p>
1) Full image: Lake view from the 1911 buliding 2) Detail of ceiling in hangar showing storage area with indecipherable commercial box.
</p>
<div class="well">
  <p>
    <a href="../../img/W4210x/bW4210x000.jpg">
      <img src="../../img/W4210x/sW4210x000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/W4210x/bW4210x001.jpg">
      <img src="../../img/W4210x/sW4210x001.jpg" />
    </a>

</p>
</div>
