---
layout: ecu
title:  "42.14 - The Gun Toting Orville"
customdate: "1911"
order: 74
---

{% include breadcrumbs.html %}

<h3>42.14 - The Gun Toting Orville</h3>
<b>Notes</b>
<p>
1) Full image: Orville in the kitchen cleaning his rifle 2) Close up of Orville with his rifle in 1911.
</p>
<div class="well">
  <p>
    <a href="../../img/W4214x/bW4214x000.jpg">
      <img src="../../img/W4214x/sW4214x000.jpg" />
    </a>
    <br/><br/>
    <a href="../../img/W4214x/bW4214x001.jpg">
      <img src="../../img/W4214x/sW4214x001.jpg" />
    </a>

</p>
</div>
