---
layout: ecu
title:  "Weather Data for 29 Sep 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 29 Sep 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>E</td><td>No Record</td><td>77</td><td>69</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">EM Gallop on watch for the day;  Telephone Test at 6 am;  Crew Cleaning house;  TN Sandlin on day Leave</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>E</td><td>NE</td><td>ENE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.18</td><td>30.16</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>77</td><td>77</td><td>79</td><td>80</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">JW Melson on day Watch;  Test 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


