---
layout: ecu
title:  "Weather Data for 08 Oct 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 8 Oct 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>NE</td><td>No Record</td><td>81</td><td>71</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td></td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Calm</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CH Toler on watch for the day;  Telephone Test at 7 am;  M. E. Smith Telephone Lineman Visited Station and worked on phone;  Griggs and Gallop on day Leave;  Exp 1 transcript, 1 envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SSE</td><td></td><td>SE</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Calm</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30.12</td><td>30.12</td><td>30.05</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>77</td><td>78</td><td>78</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=5, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">F.H. Midgett on day Watch;  Test 7 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


