---
layout: ecu
title:  "Weather Data for 11 Sep 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 11 Sep 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>92</td><td>76</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>S</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Smooth</td><td>Smooth</td><td>Smooth</td><td>Smooth</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.2</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Twiford on watch; Telephone Test at 6 am; Recd orders from Supt P.H. Morgan to clean and cement inside of water cistran at the Earleys possiable time; Drilled in Surfs Boat </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SE</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.19</td><td>30.18</td><td>30.15</td><td>30.12</td></tr>
<tr><td><b>Thermometer</b></td><td>85</td><td>82</td><td>86</td><td>87</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">W.T. Beacham on day Watch;  Test 6 am;  Drilled With Surf Boat</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


