---
layout: ecu
title:  "Weather Data for 24 Oct 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 24 Oct 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>No Record</td><td>No Record</td><td>80</td><td>64</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>S</td><td>SW</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.3</td><td>30.3</td><td>30.3</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">TE Hines on watch for the day;  Telephone Test at 7 am;  Drilled on Signals;  JR Best on day Leave;  Keeper absent on account of Sick wife,  G. W. Twiford Sub</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">T.N. Sanderlin act Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>S</td><td>S</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.35</td><td>30.35</td><td>30.37</td><td>30.37</td></tr>
<tr><td><b>Thermometer</b></td><td>76</td><td>75</td><td>78</td><td>76</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">JW Melson on day Watch;  Test 7 am;  Drilled with Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


