---
layout: ecu
title:  "Weather Data for 23 Sep 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 23 Sep 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>NE</td><td>No Record</td><td>80</td><td>70</td><td>0.14</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SE</td><td></td><td>S</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Calm</td><td>Moderate</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Strong</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">EM Gallop on watch for the day; Telephone Test at 6 am;  Exp 1 Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SE</td><td>SE</td><td>S</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough-High</td><td>High</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.05</td><td>29.95</td><td>29.95</td></tr>
<tr><td><b>Thermometer</b></td><td>79</td><td>79</td><td>79</td><td>75</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CB Perry on day Watch;  Test 6 am;  Exspended 1 Weekly Transcript, 1 Envelope, 1 Journal</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


