---
layout: ecu
title:  "Weather Data for 21 Oct 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 21 Oct 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>No Record</td><td>No Record</td><td>70</td><td>60</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>E</td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.2</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">RL Griggs on watch for the day;  Telephone Test at 7 am;  Exp 1 Transcript of Journal, 1 Large Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>E</td><td>E</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.29</td><td>30.33</td><td>30.3</td></tr>
<tr><td><b>Thermometer</b></td><td>65</td><td>67</td><td>73</td><td>75</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Ships=1, Schooners=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CB Perry on day Watch;  Test 7 am;  Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


