---
layout: ecu
title:  "Weather Data for 13 Oct 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 13 Oct 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SE</td><td>10</td><td>71</td><td>64</td><td>0.83</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>SE</td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Very High</td><td>Very High</td><td>Very High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>29.8</td><td>29.8</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CH Toler on watch for the day;  Telephone Test at 7 am;  Recd Storm warning at 4:30 Pm;  TN Sandlin on day Leave</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>ENE</td><td>SE</td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.85</td><td>29.83</td><td>29.87</td><td>29.85</td></tr>
<tr><td><b>Thermometer</b></td><td>73</td><td>74</td><td>74</td><td>75</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">A.B.L. Tillett on day Watch;  Test 7 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


