---
layout: ecu
title:  "Weather Data for 03 Oct 1900"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 3 Oct 1900</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>NE</td><td>18</td><td>74</td><td>68</td><td>0.05</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.2</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">RL Griggs on watch for the day; Telephone Test at 7 am; JR Best on day leave; Drilled on Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.3</td><td>30.36</td><td>30.31</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>78</td><td>79</td><td>77</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">WT Beacham on day Watch;  Test 7 am;  Drilled with Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


