---
layout: ecu
title:  "Weather Data for 08 Jul 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 8 Jul 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>88</td><td>78</td><td>0.18</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Cloudy</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Smooth</td><td>Smooth</td><td>Smooth</td><td>Smooth</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2, Schooners=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Telephone Test at 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>No Record</td><td>SW</td><td>SW</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>No Record</td><td>Fresh</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>No Record</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>No Record</td><td>30.8</td><td>30.18</td><td>30.15</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>83</td><td>90</td><td>80</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


