---
layout: ecu
title:  "Weather Data for 14 Jul 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 14 Jul 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>S</td><td>No Record</td><td>79</td><td>73</td><td>0.8</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SE</td><td>SE</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Smooth</td><td>Smooth</td><td>Smooth</td><td>Smooth</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Telephone Test at 6 am;  Keeper absent on 10 days leave; DM Tate Substitute</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>No Record</td><td>SE</td><td>SW</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>No Record</td><td>Fresh</td><td>Strong</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>No Record</td><td>Strong</td><td>Strong</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>No Record</td><td>30.15</td><td>30.18</td><td>30.15</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>77</td><td>79</td><td>79</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test 6 am;  Exspended 2 Weekly Transcripts, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


