---
layout: ecu
title:  "Weather Data for 09 Aug 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 9 Aug 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>W</td><td>No Record</td><td>88</td><td>76</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td></td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Calm</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Smooth</td><td>Smooth</td><td>Light</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CH Toler on watch for the day;  Telephone Test at 6 am;  Drilled on resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td></td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Calm</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30.16</td><td>30.19</td><td>30.19</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>79</td><td>82</td><td>81</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2, Schooners=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">WT Beacham on day Watch;  Test 6 am;  Drilled on Resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


