---
layout: ecu
title:  "Weather Data for 14 Aug 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 14 Aug 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>86</td><td>76</td><td>0.8</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td></td><td>S</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Calm</td><td>Fresh</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Smooth</td><td>Smooth</td><td>Smooth</td><td>Smooth</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">TN Sandlin on watch for the day;  Telephone Test at 6 am;  Drilled on Signals;  CH Toler on day leave</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SE</td><td>SE</td><td></td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Calm</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30.14</td><td>30.15</td><td>30.12</td></tr>
<tr><td><b>Thermometer</b></td><td>76</td><td>77</td><td>77</td><td>78</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">FH Midgett on day Watch;  Test 6 am;  Drilled with Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


