---
layout: ecu
title:  "Weather Data for 06 Aug 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 6 Aug 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>S & SW(1am)</td><td>14</td><td>80</td><td>74</td><td>0.91</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>S</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Moderate</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>Rough</td><td>Strong</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">EM Gallop on watch for the day,  Telepone Test at 6 am;  Drilled in Surf Boat; Recd Storm warning at 2 Pm; Recd 2 Coston holders; CH Tate on day leave</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>SW</td><td>S</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Light</td><td>Fresh</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.13</td><td>30.13</td><td>30.15</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>80</td><td>83</td><td>82</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">BD Pugh on day Watch;  Test 6 am;  - as instructed by Supt Morgan the following Was Droped from the List and removed from the Station [illegible] as Worthless (10) Pairs of Blankets (3) Patrol Lanterns (10) Life Belts (1) Tea Pot (1) Coffee (15) Pounds Burnt ember (1) Jersey Surf Boat to be retained for Practice;  Drilled with Self Bailing Surf Boat   </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


