---
layout: ecu
title:  "Weather Data for 01 Aug 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 1 Aug 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>88</td><td>74</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Fresh</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Smooth</td><td>Smooth</td><td>Smooth</td><td>Smooth</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>29.9</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">ON Twiford on watch for the day;  Telephone Test at 6 am;  Enlisted crew;  Beach two wet for Beach drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>N</td><td>N</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>29.9</td><td>29.95</td><td>29.98</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>78</td><td>80</td><td>80</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">ABL Tillett on day Watch;  Test 6 am;  Crew arrived at the Station and Commenced Patroling the Beach at midnight Last night for the active Summer;  All hands Signed articles of engagement and imployed the day in Cleaning up the Station</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


