---
layout: ecu
title:  "Weather Data for 12 Jul 1901"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 12 Jul 1901</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SE</td><td>16</td><td>76</td><td>70</td><td>0.55</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>E</td><td>E</td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Moderate</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.8</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Telephone test at 6 am;  Keeper absent on 10 days leave; DM Tate Substitute</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">S.J. Payne Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>No Record</td><td>SE</td><td>E</td><td>ESE</td></tr>
<tr><td><b>Wind Force</b></td><td>No Record</td><td>Fresh</td><td>Strong</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>No Record</td><td>Moderate</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>No Record</td><td>29.99</td><td>29.88</td><td>29.92</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>78</td><td>75</td><td>76</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


