---
layout: ecu
title:  "Weather Data for 30 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 30 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td></td><td>SW</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Calm</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>29.9</td><td>29.85</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>72</td><td>73</td><td>80</td><td>74</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">A.D. Etheridge on day Watch;  Test 6 am;  Drilled with Surf Boat</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2i011.html">Wright Diary Entry</a>


