---
layout: ecu
title:  "Weather Data for 07 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 7 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>E</td><td>N</td><td></td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Calm</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30.15</td><td>30.15</td><td>30.15</td></tr>
<tr><td><b>Thermometer</b></td><td>74</td><td>78</td><td>78</td><td>80</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">W.T. Beacham on day Watch;  Test 6 am;  Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/o2i1/">Wright Diary Entry</a>
