---
layout: ecu
title:  "Weather Data for 12 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 12 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>NW</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Strong</td><td>Strong</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Strong</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.55</td><td>29.6</td><td>29.8</td><td>29.92</td></tr>
<tr><td><b>Thermometer</b></td><td>78</td><td>70</td><td>66</td><td>71</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 7 am;  Espended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2j005.html">Wright Diary Entry</a>


