---
layout: ecu
title:  "Weather Data for 16 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 16 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>NE</td><td>NE</td><td>ENE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.25</td><td>30.25</td></tr>
<tr><td><b>Thermometer</b></td><td>70</td><td>68</td><td>70</td><td>70</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 6 am;  Surf Boat Drill omited on the account of Rough Sea</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2i003.html">Wright Diary Entry</a>


