---
layout: ecu
title:  "Weather Data for 09 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 9 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>SE</td><td>SSW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Strong</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30</td><td>29.95</td><td>29.85</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>80</td><td>80</td><td>78</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">BJ Hines on day Watch;  Test 6 am;  Drilled with Surf Boat</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2i001.html">Wright Diary Entry</a>


