---
layout: ecu
title:  "Weather Data for 06 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 6 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>SW</td><td>NW</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Strong</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.76</td><td>29.82</td><td>29.89</td></tr>
<tr><td><b>Thermometer</b></td><td>78</td><td>72</td><td>70</td><td>70</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 7 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2j002.html">Wright Diary Entry</a>


