---
layout: ecu
title:  "Weather Data for 08 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 8 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NW</td><td>N</td><td>N</td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>68</td><td>68</td><td>69</td><td>69</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">BD Pugh on day Watch;  Test 7 am;  Drilled with Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2j003.html">Wright Diary Entry</a>


