---
layout: ecu
title:  "Weather Data for 13 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 13 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30.04</td><td>30.1</td><td>30.05</td></tr>
<tr><td><b>Thermometer</b></td><td>68</td><td>67</td><td>76</td><td>78</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2 , Schooners=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">B.J. Hines on day Watch;  Test 7 am;  Lieut G.M. Daniels and Supt. P.H. Morgan arrived at the Station at 9 am and inspected the Station and equipment Drilled the Keeper and Crew in use of all material Left at 10 am for Nags Head Station;  Expended 2 friction Primers 1 Cartridge Bag 2 ozs Powder</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2j006.html">Wright Diary Entry</a>


