---
layout: ecu
title:  "Weather Data for 01 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 1 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>W</td><td>NNW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.75</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>80</td><td>74</td><td>78</td><td>80</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=5</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">B.J. Hines on day Watch;  Test 6 am;  Drilled with Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/O2j1/">Wright Diary Entry</a>
