---
layout: ecu
title:  "Weather Data for 17 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 17 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>ENE</td><td>ENE</td><td>NNE</td><td>NNE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.25</td><td>30.2</td><td>30.24</td><td>30.21</td></tr>
<tr><td><b>Thermometer</b></td><td>70</td><td>70</td><td>71</td><td>71</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">B.D. Pugh on day Watch;  Test 6 am;  Drilled with Signals;  Sent two men to Manteo NC after medicine for Surfman R.L. Wescott they gone about 6 hours</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2i003.html">Wright Diary Entry</a>


