---
layout: ecu
title:  "Weather Data for 21 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 21 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>ENE</td><td>ENE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Fresh</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.05</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>76</td><td>74</td><td>74</td><td>72</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">B.J. Hines on day Watch;  Test 6 am;  Exspended 1 Journal, 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2i005.html">Wright Diary Entry</a>


