---
layout: ecu
title:  "Weather Data for 10 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 10 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td></td><td>NE</td><td>ENE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Calm</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Strong</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.25</td><td>30.25</td><td>30.3</td><td>30.25</td></tr>
<tr><td><b>Thermometer</b></td><td>72</td><td>68</td><td>72</td><td>72</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">W.T. Beacham on day Watch;  Test 7 am;  Drilled on Resuscitation;  Sent to Keeper Kitty Hawks Station 12 Cartridge Bags [illegible] Drilling</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2j004.html">Wright Diary Entry</a>


