---
layout: ecu
title:  "Weather Data for 20 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 20 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td></td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Calm</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30.1</td><td>30.1</td><td>30.09</td></tr>
<tr><td><b>Thermometer</b></td><td>71</td><td>70</td><td>73</td><td>71</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=8</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">BD Pugh on day Watch;  Test 7 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


