---
layout: ecu
title:  "Weather Data for 06 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 6 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>ENE</td><td>ENE</td><td>ENE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.25</td><td>30.25</td><td>30.25</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>70</td><td>70</td><td>76</td><td>74</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">RL Wescott on day Watch;  Test 6 am;  Crew engaged in Scalding and Schrubing up the Bed steads and airing Beding;  Sent Keeper Kitty Hawk Station 12 Friction Primers;  Received Checks for myself and Crew Pay for the month of August;  Received one Journal</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/o2i1/">Wright Diary Entry</a>
