---
layout: ecu
title:  "Weather Data for 27 Sep 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 27 Sep 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>S</td><td>SE</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.95</td><td>29.95</td><td>29.94</td><td>29.86</td></tr>
<tr><td><b>Thermometer</b></td><td>76</td><td>74</td><td>75</td><td>77</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=3, Schooners=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">B.D. Pugh on day Watch;  Test 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2i008.html">Wright Diary Entry</a>


