---
layout: ecu
title:  "Weather Data for 05 Oct 1902"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 5 Oct 1902</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SE</td><td>SE</td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>29.95</td><td>29.9</td><td>29.85</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>74</td><td>74</td><td>76</td><td>76</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">A.D. Etheridge on day Watch;  Test 7 am;  Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO2j001.html">Wright Diary Entry</a>


