---
layout: ecu
title:  "Weather Data for 06 Nov 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 6 Nov 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>N</td><td>26</td><td>60</td><td>40</td><td>0.21</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>W</td><td>NNE</td><td>NNE</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Strong</td><td>Strong</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Strong</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.8</td><td>30</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>58</td><td>50</td><td>44</td><td>41</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CH Toler on watch for the day;  Telephone Test at 7 am; Practiced Resussitation; Received Checks for Month of October</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>W</td><td>N</td><td>N</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Strong</td><td>Strong</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Strong</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.85</td><td>29.95</td><td>30.05</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">B.D. Pugh on day Watch;  Test 7 am;  Drilled on Resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/o3k1/">Wright Diary Entry</a>
