---
layout: ecu
title:  "Weather Data for 23 Nov 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 23 Nov 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>54</td><td>38</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>W</td><td>W</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>40</td><td>36</td><td>50</td><td>52</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">ON Twiford on watch for the day; Telephone Test at 7 am; Lieut GM Daniels arived at Station at 10:15 am and Inspected Station and Property and Drilled Crew on Signals & Resussitation and Beach apperatus Surf Too Rough for Boat Drill and left for Kill Devil Hill at 11:25 am; Time of Beach Drill 5 minutes; Expended 2 ozs of Powder, 1 Cartridge Bag, 1 Primer  </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>W</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.05</td><td>30</td><td>29.85</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">R.L. Wescott on day Watch;  Test 7 am;  Lieut. G.M. Daniels Vistited the Station and inspected the Station and all material Drilled Keeper and Crew in use of all material Except Surf Boat omited Boat Drill on the account of Rough Sea;  Exspended 2 ozs Powder 1 friction Primer 1 Cartridge Bag</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3k004.html">Wright Diary Entry</a>


