---
layout: ecu
title:  "Weather Data for 25 Oct 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 25 Oct 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>W</td><td>No Record</td><td>55</td><td>43</td><td>1.08</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>NW</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Very High</td><td>Very High</td><td>Very High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.8</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>44</td><td>44</td><td>42</td><td>44</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CH Toler on watch for the day;  Telephone Test at 7 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NNE</td><td>N</td><td>N</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough-High</td><td>Rough-High</td><td>Rough-High</td><td>Rough-High</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.8</td><td>29.85</td><td>29.85</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">RL Wescott on day Watch;  Test 7 am;  Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3j005.html">Wright Diary Entry</a>


