---
layout: ecu
title:  "Weather Data for 14 Nov 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 14 Nov 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW(10:20am) & NW(1pm)</td><td>14</td><td>62</td><td>56</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>W</td><td>W</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>53</td><td>52</td><td>55</td><td>54</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">HG Smith on watch for the day; Telephone Test at 7 am;  Crew Imployed in House Cleaning</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>S</td><td>WSW</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Moderate</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.02</td><td>30.09</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 7 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3k002.html">Wright Diary Entry</a>


