---
layout: ecu
title:  "Weather Data for 24 Oct 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 24 Oct 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>N</td><td>48</td><td>65</td><td>54</td><td>0.82</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>NE</td><td>N</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>29.9</td><td>29.9</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>56</td><td>54</td><td>54</td><td>52</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">ON Twiford on watch for the day; Telephone Test at 7 am; TN Sandlin and HG Smith on Patrol from 2 Pm to 5 Pm on account of Thick Stormy weather</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>N</td><td>NNE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.92</td><td>29.9</td><td>29.83</td><td>29.78</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">BD Pugh on day Watch;  Test 7 am;  Beach Patrol from 3 Pm to Sunset on the account of Thick Weather</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3j005.html">Wright Diary Entry</a>


