---
layout: ecu
title:  "Weather Data for 28 Oct 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 28 Oct 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>W</td><td>No Record</td><td>62</td><td>46</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>W</td><td>WSW</td><td>W</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Moderate</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.4</td><td>30.3</td><td>30.3</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>44</td><td>43</td><td>44</td><td>54</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">D Beacham on watch for the day; Telephone Test at 7 am; Practiced Signals; Drilled with Boat in Surf; Sent By Mail the artickles of Value found on Body of Capt JM Cookson to General Supt LS Service by order Supt Morgan  </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td>SW</td><td>WNW</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Fresh</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Strong</td><td>Moderate</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.38</td><td>30.3</td><td>30.21</td><td>30.16</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 7 am;  Drilled with Signals;  Crew engaged in reframing and repairing the Gutter on the Station that Blowed down in the Storm</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3j006.html">Wright Diary Entry</a>


