---
layout: ecu
title:  "Weather Data for 22 Dec 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 22 Dec 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>NW</td><td>No Record</td><td>50</td><td>38</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>W</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>38</td><td>34</td><td>39</td><td>48</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=7</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">TN Sandlin on watch for the day; Telephone Test at 7 am; Drilled Twice in Surf Boat to make up Lost Drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>W</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.95</td><td>29.9</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=6</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">WT Beacham on day Watch;  Test 7 am;  Surfman WS Dough Returned to day;  made two Surf Boat Drills today one for the Drill that was omited Last Week on the account of Bad Weather</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


