---
layout: ecu
title:  "Weather Data for 02 Nov 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 2 Nov 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>70</td><td>58</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td></td><td></td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Calm</td><td>Calm</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.3</td><td>30.3</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>58</td><td>58</td><td>63</td><td>62</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">JE Baum on watch for the day; Telephone Test at 7 am; Drilled with Boat in Surf; H.G. Smith absent for 24 Hours; J.E. Baum in His place</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td></td><td></td><td></td><td></td></tr>
<tr><td><b>Wind Force</b></td><td>Calm</td><td>Calm</td><td>Calm</td><td>Calm</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.2</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 7 am;  Keeper absent 6 hours to Manteo after Stove for Station mess</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/o3k1/">Wright Diary Entry</a>
