---
layout: ecu
title:  "Weather Data for 11 Oct 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 11 Oct 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>NE</td><td>No Record</td><td>66</td><td>58</td><td>0.62</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>NNW</td><td>N</td><td>NNW</td></tr>
<tr><td><b>Wind Force</b></td><td>Heavy</td><td>Strong</td><td>Gail</td><td>Gail</td></tr>
<tr><td><b>Surf</b></td><td>Very High</td><td>Very High</td><td>Very High</td><td>Very High</td></tr>
<tr><td><b>Barometer</b></td><td>29.6</td><td>29.6</td><td>29.7</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>60</td><td>68</td><td>64</td><td>68</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">JR Best on watch for the day;  Telephone Test at 7 am; D Beacham Surfman No 6 While on Patrol South from 12 to 3 am found a yawl boat Slitely Damaged she had no name and Nothing to Identify Her, we Hawled her up on the Beach and Notified the Wreck Commistrerns; Keeper of Paul Gamiel Hill Called me up on the Phone and Requested me and Crew to come at once to assist him at a Wreck Keeper and 4 Surfmen left Station at 2:30 and made all possible Haste but before we arrived at Wreck we met the men coming to the Station all landed The Wreck was one mile North of Paul Gamiels Hill Station we made the Distance 2 1/4 Hours against a very Heavy Wind We left Station at 5:30 on our Return and arrived at Station 7:30  </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>NW</td><td>N</td><td>NNW</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.6</td><td>29.6</td><td>29.65</td><td>29.75</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">W.S. Dough on day Watch;  Test 7 am;  Keeper left the Station at 10 am to cross the Sound to Manteo Expecting to return at night but it Blowed so hard he Could not return Surfman no 1 in Charge W.H. Etheridge as substitute</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3j001.html">Wright Diary Entry</a>


