---
layout: ecu
title:  "Weather Data for 18 Nov 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 18 Nov 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>N</td><td>No Record</td><td>64</td><td>46</td><td>1.71</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>W</td><td>N</td><td>N</td><td>NNW</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Gail</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Rough</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>29.9</td><td>30</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>65</td><td>50</td><td>46</td><td>42</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">CH Toler on watch for the day; Telephone Test 7 am; practiced on Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">O.N. Twiford act Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NW</td><td>N</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Rough</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.95</td><td>29.93</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">RL Wescott on day Watch;  Test 7 am;  Drilled with Signals;  Esxpended 240 feet Cypress Lumber Building Door Steps</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3k003.html">Wright Diary Entry</a>


