---
layout: ecu
title:  "Weather Data for 26 Nov 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 26 Nov 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>N</td><td>24</td><td>38</td><td>28</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>38</td><td>38</td><td>36</td><td>35</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=2, Schooners=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">HG Smith on watch for the day; Telephone Test at 7 am; Beach Drill omited Beach too Wet</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.85</td><td>29.9</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Brigs=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">J.T. Daniels on day Watch;  Test 7 am;  Beach apparatus Drill omited on the account of it Being Thanksgiving</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3k004.html">Wright Diary Entry</a>


