---
layout: ecu
title:  "Weather Data for 16 Oct 1903"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 16 Oct 1903</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Weather Station</b></td></tr>
<tr><td><b>Wind Direction</b></td><td><b>Wind Velocity</b></td><td><b>High Temperature</b></td><td><b>Low Temperature</b></td><td><b>Precipitation</b></td></tr>

<tr><td>SW</td><td>No Record</td><td>75</td><td>61</td><td>No Record</td></tr>
</table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>S</td><td>SW</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>58</td><td>60</td><td>74</td><td>70</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">D Beacham on watch for the day; Telephone Test at 7 am; Practiced Resussitation; Surf Too Rough for Boat Drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SSE</td><td>S</td><td>S</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30.05</td><td>30.05</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">A.D. Etheridge on day Watch;  Test 7 am;  Drilled on Resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hO3j002.html">Wright Diary Entry</a>


