---
layout: ecu
title:  "Weather Data for 27 Apr 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 27 Apr 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>WSW</td><td>WSW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Strong</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>29.9</td><td>29.9</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>70</td><td>70</td><td>82</td><td>72</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=8</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test 6 am; Supt. Morgan and Lieut Craig arrived at Station 10:10 am Inspected Buildings and Propperty; Drilled on Boat Signals and Resussitation and Beach apperatus Time of Beach Drill 5 m 15 Sec: They left for Kill Devil Hill at 12:55 Pm; Expended 2. ozs of Powder, 1. Cartridge Bag, 1. Primer  </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4"> O.N. Twiford act Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.65</td><td>29.6</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=15</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Lieut. C.S. Craig and Supt. P.H. Morgan arrived at the Staion at 2 Pm;  Inspected the Station and all material;  Drilled the Crew in use of all material and Left the Station at 4 pm for Nags Head Station;  Exspended 2 ozs Powder 1 friction Primer 1 Cartridge Bag</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8d007.html">Wright Diary Entry</a>


