---
layout: ecu
title:  "Weather Data for 06 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 6 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NNW</td><td>W</td><td></td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Light</td><td>Calm</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>58</td><td>53</td><td>61</td><td>58</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Practiced Signals; Surf Too High for Boat Drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>N</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.8</td><td>29.8</td><td>29.75</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled With Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8e002.html">Wright Diary Entry</a>


