---
layout: ecu
title:  "Weather Data for 19 Apr 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 19 Apr 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>SSE</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Strong</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.7</td><td>29.7</td><td>29.7</td></tr>
<tr><td><b>Thermometer</b></td><td>50</td><td>59</td><td>62</td><td>64</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=4, Steamers=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>W</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Fresh</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>29.6</td><td>29.5</td><td>29.5</td><td>29.45</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=3, Steamers=4, Barges in tow=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8d005.html">Wright Diary Entry</a>


