---
layout: ecu
title:  "Weather Data for 23 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 23 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.3</td><td>30.3</td><td>30.3</td></tr>
<tr><td><b>Thermometer</b></td><td>72</td><td>71</td><td>72</td><td>70</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1, Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">New Buildings; Test at 6 am; Crew Imployed in House Duty</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett  Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>S</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30.05</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">General repairs to Station</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


