---
layout: ecu
title:  "Weather Data for 13 Apr 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 13 Apr 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Moderate</td><td>Fresh</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.2</td><td>30.1</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>53</td><td>52</td><td>68</td><td>68</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=12</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">O.N. Twiford act Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>SW</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>30.05</td><td>30</td><td>29.95</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=15</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">[No General Remarks Recorded on this Day]</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8d002.html">Wright Diary Entry</a>


