---
layout: ecu
title:  "Weather Data for 17 Apr 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 17 Apr 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>NE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Very High</td><td>Very High</td><td>Very High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30.4</td><td>30.4</td><td>30.4</td><td>30.3</td></tr>
<tr><td><b>Thermometer</b></td><td>44</td><td>46</td><td>50</td><td>50</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Practiced Resussitation; Drilled with Beach apperatus Landed No. 6 distance from Sand anchor to pole 75 yds; Surf Too High for Boat Drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>Very High</td><td>Very High</td></tr>
<tr><td><b>Barometer</b></td><td>30.15</td><td>30.1</td><td>30.15</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled on Resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8d004.html">Wright Diary Entry</a>


