---
layout: ecu
title:  "Weather Data for 01 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 1 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>W</td><td>NW</td><td>W</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.6</td><td>29.8</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>56</td><td>44</td><td>54</td><td>58</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=16, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Practiced Resussitation; No of Drills for April, 5. Boat Drills, 5. Signal Drills, 5. Beach Drills, 4. Resussitation Drills, not Including Inspection Drills</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4"> A.B. L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NW</td><td>NW</td><td>NW</td><td>NW</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.4</td><td>29.65</td><td>29.7</td><td>29.75</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=12, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled Crew on Resusitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/w8e1/">Wright Diary Entry</a>
