---
layout: ecu
title:  "Weather Data for 03 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 3 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>N</td><td>N</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Moderate</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>30</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>62</td><td>58</td><td>58</td><td>58</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=10, Steamers=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4"> A.B. L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>N</td><td>N</td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Fresh</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.8</td><td>29.85</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=6, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">[No General Remarks Recorded on this Day]</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/w8e1/">Wright Diary Entry</a>
