---
layout: ecu
title:  "Weather Data for 10 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 10 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>WNW</td><td>NW</td><td>N</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Fresh</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>56</td><td>56</td><td>60</td><td>60</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=7, Steamers=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NW</td><td>NW</td><td>NW</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Strong</td><td>Strong</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.5</td><td>29.5</td><td>29.65</td><td>29.7</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=3, Steamers=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8e004.html">Wright Diary Entry</a>


