---
layout: ecu
title:  "Weather Data for 04 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 4 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>SE</td><td>N</td><td>Ne</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Light</td><td>Moderate</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30</td><td>30</td><td>30</td></tr>
<tr><td><b>Thermometer</b></td><td>56</td><td>58</td><td>58</td><td>56</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=13</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4"> O.N. Twiford act Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>E</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.85</td><td>29.7</td><td>29.8</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=7</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">[No General Remarks Recorded on this Day]  </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8e001.html">Wright Diary Entry</a>


