---
layout: ecu
title:  "Weather Data for 09 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 9 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>W</td><td>W</td><td>W</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.7</td><td>29.7</td></tr>
<tr><td><b>Thermometer</b></td><td>61</td><td>58</td><td>62</td><td>64</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=15, Steamers=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">New Buildings; Test at 6 am; Drilled with Boat in Surf; Crew Imployed in House Duty</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>WSW</td><td>WNW</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.55</td><td>29.5</td><td>29.5</td><td>29.5</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=18, Steamers=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">General repairs to Station</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8e003.html">Wright Diary Entry</a>


