---
layout: ecu
title:  "Weather Data for 28 Apr 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 28 Apr 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>WSW</td><td>W</td><td>W</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Light</td><td>Light</td><td>Light</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>29.8</td><td>29.8</td><td>29.8</td><td>29.8</td></tr>
<tr><td><b>Thermometer</b></td><td>74</td><td>68</td><td>73</td><td>70</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=13, Steamers=2, Barges in tow=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Drilled with Boat in Surf</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4"> A.B. L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Light</td><td>None</td><td>None</td></tr>
<tr><td><b>Barometer</b></td><td>29.6</td><td>29.6</td><td>29.6</td><td>29.6</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=10, Steamers=1, Barges in tow=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Surf Boat Drill omited on the account of there being no Surf</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8d008.html">Wright Diary Entry</a>


