---
layout: ecu
title:  "Weather Data for 08 May 1908"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 8 May 1908</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>SW</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.7</td><td>29.7</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>59</td><td>65</td><td>66</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=10, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Practiced Resussitation; Drilled with Beach apperatus Landed No. 6 distance from Sand anchor to Pole 75 yds; Surf Too High for Boat Drill; Expended 2. ozs of Powder, 1. Cartridge Bag, 1. Primer</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>W</td><td>WSW</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.45</td><td>29.5</td><td>29.5</td><td>29.5</td></tr>
<tr><td><b>Thermometer</b></td><td>No Record</td><td>No Record</td><td>No Record</td><td>No Record</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=10, Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled on Resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hW8e003.html">Wright Diary Entry</a>


