---
layout: ecu
title:  "Weather Data for 02 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 2 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>W</td><td>W</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Strong</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>29.9</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>70</td><td>72</td><td>78</td><td>80</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 5 am; Recd by mail (25) Large Envelopes </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.R. Best act Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Strong</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Moderate</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>29.45</td><td>29.35</td><td>29.35</td><td>29.3</td></tr>
<tr><td><b>Thermometer</b></td><td>72</td><td>72</td><td>80</td><td>72</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=4, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Keeper absent from 8 am to 3 Pm over to Manteo to get Stove for Station Mess and to carry the mail</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


