---
layout: ecu
title:  "Weather Data for 13 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 13 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>30</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>62</td><td>62</td><td>60</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Practiced Resussitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>NE</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.4</td><td>29.45</td><td>29.55</td><td>29.55</td></tr>
<tr><td><b>Thermometer</b></td><td>62</td><td>62</td><td>66</td><td>62</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled on Resuscitation</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/oxj1/">Wright Diary Entry</a>
