---
layout: ecu
title:  "Weather Data for 30 Sep 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 30 Sep 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>N</td><td>N</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Rough</td><td>Rough</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.9</td><td>30</td><td>30.1</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>77</td><td>71</td><td>70</td><td>67</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 5 am; Crew Imployed in House Duty; CB Perry Winter man Reported for Duty at Midnight</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>N</td><td>N</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.4</td><td>29.5</td><td>29.6</td><td>29.65</td></tr>
<tr><td><b>Thermometer</b></td><td>78</td><td>72</td><td>72</td><td>66</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">none</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


