---
layout: ecu
title:  "Weather Data for 07 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 7 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>SW</td><td>SW</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Moderate</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>29.9</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>68</td><td>81</td><td>66</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 5 am; Drilled with Boat in Surf; Crew Imployed in House Duty</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Light</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>29.45</td><td>29.35</td><td>29.35</td><td>29.35</td></tr>
<tr><td><b>Thermometer</b></td><td>66</td><td>68</td><td>86</td><td>68</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2, Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">none;  Drilled with Surf Boat</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


