---
layout: ecu
title:  "Weather Data for 28 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 28 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>NNE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.2</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>60</td><td>57</td><td>58</td><td>57</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Crew Imployed in House Duty; GW Baum North 2 Pm to 4 Pm Thick Weather </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Fresh</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.5</td><td>29.6</td><td>29.6</td><td>29.55</td></tr>
<tr><td><b>Thermometer</b></td><td>62</td><td>60</td><td>58</td><td>58</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">While Surfman Wescott was on Patrol from Sunset to nine Pm at 8 Pm ahalf amile north of this Station discovered a Steamer Running to near the Breakers for Safety, Burnt a Coston Signal to Warn him of he immediately change his Corse and Hawled off Shore;  Exspended 3 Coston Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


