---
layout: ecu
title:  "Weather Data for 25 Sep 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 25 Sep 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>SW</td><td>SW</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Barometer</b></td><td>30.3</td><td>30.3</td><td>30.3</td><td>30.3</td></tr>
<tr><td><b>Thermometer</b></td><td>74</td><td>74</td><td>80</td><td>77</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=4, Barges in tow=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 5 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SW</td><td>SW</td><td>SW</td><td>SW</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Moderate</td><td>Light</td></tr>
<tr><td><b>Barometer</b></td><td>29.75</td><td>29.7</td><td>29.7</td><td>29.65</td></tr>
<tr><td><b>Thermometer</b></td><td>74</td><td>74</td><td>84</td><td>78</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=4, Barges in tow=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">[No General Remarks Recorded on this Day]</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


