---
layout: ecu
title:  "Weather Data for 10 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 10 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Moderate</td><td>Fresh</td><td>Moderate</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.3</td><td>30.3</td><td>30.3</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>64</td><td>67</td><td>66</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Surf Too High for Boat Drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>E</td><td>E</td><td>ENE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.75</td><td>29.7</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>66</td><td>72</td><td>68</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Surf Boat Drill omited on the account of high Surf</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/oxj1/">Wright Diary Entry</a>
