---
layout: ecu
title:  "Weather Data for 21 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 21 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>NNW</td><td>SW</td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30.1</td><td>30.1</td><td>30.1</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>62</td><td>62</td><td>66</td><td>64</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Received Stationary by mail, 45 Transcripts of journal, 25 large Envelopes 75 Small Envelopes; Recd. (10) lbs of Powder (12) office Chair (1) Revolving Chair (2) Matresses a part of anual supplies </td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>W</td><td>W</td><td>E</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Calm</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.5</td><td>29.4</td><td>29.55</td><td>29.5</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>64</td><td>66</td><td>64</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">none</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../htmlFiles/hOxj002.html">Wright Diary Entry</a>


