---
layout: ecu
title:  "Weather Data for 20 Sep 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 20 Sep 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>S</td><td>S</td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Very High</td><td>Very High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>30</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>68</td><td>70</td><td>77</td><td>74</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 5 am; Practiced Signals; Surf Too High for Boat Drill</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett  Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>SE</td><td>SW</td><td>SE</td><td>SE</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.4</td><td>29.4</td><td>29.4</td><td>29.55</td></tr>
<tr><td><b>Thermometer</b></td><td>68</td><td>72</td><td>82</td><td>74</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">No Record</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled with Signals</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


