---
layout: ecu
title:  "Weather Data for 01 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 1 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>E</td><td>SE</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Moderate</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Strong</td><td>Strong</td></tr>
<tr><td><b>Barometer</b></td><td>30.2</td><td>30.2</td><td>30.2</td><td>30.1</td></tr>
<tr><td><b>Thermometer</b></td><td>63</td><td>64</td><td>73</td><td>72</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2, Steamers=5</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 5 am; CB Perry signed artickles as winter man</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>E</td><td>SE</td><td>S</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Light</td><td>Light</td><td>Light</td></tr>
<tr><td><b>Surf</b></td><td>Rough</td><td>Rough</td><td>Rough</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.7</td><td>29.7</td><td>29.65</td><td>29.55</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>66</td><td>78</td><td>72</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=4, Steamers=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Exspended 1 Weekly Transcript, 1 Envelope;  Surfman RL Wescott absent from 7 am to 4 Pm cross to Manteo to get a lock for Station mess</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


