---
layout: ecu
title:  "Weather Data for 12 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 12 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NNW</td><td>NNW</td><td>NNW</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Moderate</td><td>Moderate</td><td>Strong</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30</td><td>29.9</td><td>29.9</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>62</td><td>69</td><td>65</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2, Steamers=4</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am; Drilled with Beach apperatus Landed No 7 distance from sand anchor to Pole 75. yds; Expended 2 ozs of Powder, 1. Cartridge Bag, 1. Primer</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NW</td><td>NE</td><td>N</td></tr>
<tr><td><b>Wind Force</b></td><td>Light</td><td>Light</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>Strong</td><td>Moderate</td><td>Moderate</td><td>Rough</td></tr>
<tr><td><b>Barometer</b></td><td>29.55</td><td>29.4</td><td>29.4</td><td>29.35</td></tr>
<tr><td><b>Thermometer</b></td><td>66</td><td>66</td><td>62</td><td>64</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=2, Steamers=2</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Drilled with Beach Apparatus distance from Crotch to Pole 60 yds time not Taken;  Exspended 2 ozs Powder 1 friction Primer 1 Cartridge Bag</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/><a href="../diaries/oxj1/">Wright Diary Entry</a>
