---
layout: ecu
title:  "Weather Data for 08 Oct 1911"
---

{% include breadcrumbs.html %}



<h3>Weather Data for 8 Oct 1911</h3>
<a href="transnotes.html">Transcription Notes</a>
<br/><br/>
<table class="table">
<tr><td colspan="5"><b>Kitty Hawk Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>N</td><td>N</td><td>N</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Strong</td><td>Strong</td><td>Strong</td><td>Moderate</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>30</td><td>30.1</td><td>30.2</td><td>30.2</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>62</td><td>62</td><td>62</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Schooners=1, Steamers=3</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Test at 6 am</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">A.B.L. Tillett Keeper</td></tr></table>
<br/>
<table class="table">
<tr><td colspan="5"><b>Kill Devil Hills Life Saving Station</b></td></tr>
<tr><td></td><td><b>Midnight</b></td><td><b>Sunrise</b></td><td><b>Noon</b></td><td><b>Sunset</b></td></tr>

<tr><td><b>Wind Direction</b></td><td>NE</td><td>NNE</td><td>NE</td><td>NE</td></tr>
<tr><td><b>Wind Force</b></td><td>Fresh</td><td>Strong</td><td>Fresh</td><td>Fresh</td></tr>
<tr><td><b>Surf</b></td><td>High</td><td>Very High</td><td>High</td><td>High</td></tr>
<tr><td><b>Barometer</b></td><td>29.5</td><td>29.6</td><td>29.65</td><td>29.65</td></tr>
<tr><td><b>Thermometer</b></td><td>64</td><td>62</td><td>64</td><td>62</td></tr>
<tr><td><b>Vessels Seen</b></td><td colspan="4">Steamers=1</td></tr><tr rowspan="3"><td valign=top><b>General Remarks</b></td><td colspan="4">Exspended 1 Weekly Transcript, 1 Envelope</td></tr><tr rowspan="3"><td><b>Keeper</b></td><td colspan="4">J.E. Ward Keeper</td></tr></table>
<br/>


