---
layout : ecu
title : "Transcription Notes for Weather Data"
---

{% include breadcrumbs.html active="" %}

<h2>Transcription Notes for Weather Data</h2>

<p>
  In the general remarks section of the lifesaving logs, various stylistic standardizations were implemented to make the remarks easier to understand. Beyond the stylistic changes listed below, the transcriptions remain faithful to the original copies. Also categorized are the complete alphabetical lists of all the unique spellings that occur in the general remarks:
</p>
<p>
  <a href="#j1">Kitty Hawk Weather Station</a><br/>
  <a href="#j2">Kill Devil Hill Life Saving Station</a>
</p>
<p>
  During the transcription, fifteen words from the Kill Devil Hills Life Saving Station documents could not be identified. Until these illegible words are identified, the written image of that word will appear in the general remarks section to enable readers the opportunity to figure out the missing material.
</p>
<p>
  Stylistic Adaptations<br/>
  <ul>
    <li>Semi-colons were never employed in the original copies but were added in the transcriptions for the purpose of separating ideas.</li>
    <li>In instances where the lifesavers purposely separated items in a list by placing them onto individual lines, commas were implemented to denote that each item appears on a different line.</li>
    <li>Although the capitalization in the original vary, words were capitalized in accordance with the original copy.</li>
    <li>Initials between people's names, such as JT Daniels, remain consistent to the original, therefore many times the periods do not appear. However, Kill Devil Hill at times used periods between initials for the names of their lifesavers, and both Kitty Hawk and Kill Devil Hill use periods for people uncommon to everyday activities such as the Superintendent.</li>
    <li>While the original times were written as 430 Pm, the traditional use of the colon was added in the transcription so that it reads 4:30 Pm.</li>
    <li>At both lifesaving stations, the lifesavers wrote their morning times with a lower case am, and used an upper case "P" in writing Pm.</li>
    <li>The time it takes to perform the beach apparatus drill was often recorded and written as 410, but in the transcription it appears as 4.10, which means 4 minutes and 10 seconds.</li>
    <li>In cases where ditto marks " " were employed for redundant items, the intended phrase or item was spelled out.</li>
</ul>
</p>
<hr/>
<a name="j1"></a><b>Kitty Hawk Weather Station</b><br/>
Keeper S.J. Payne (1900 to 1901)<br/>
Kitty Hawk Weather Data Unavailable (1902)<br/>
Keeper A.B.L. Tillett (1903, 1908, 1911)<br/><br/>

<table class="table">
<tr><td><b>UNIQUE SPELLINGS</b></td>
  <td><b>MODERNIZATIONS</b></td>
  <td><b>LOG DATES</b></td></tr>
<tr><td>2 oze</td><td>2 oz.</td><td>Reoccurring 1900, 01</td></tr>
<tr><td>Also</td><td>also</td><td>26/10/03</td></tr>
<tr><td>Annual</td><td>annual</td><td>21/10/11</td></tr>
<tr><td>Apperance</td><td>appearance</td><td>26/10/03</td></tr>
<tr><td>Apperatus</td><td>apparatus </td><td>Reoccurring 1903, 08, 11</td></tr>
<tr><td>Artickles</td><td>articles</td><td>28/10/03</td></tr>
<tr><td>B.B. Mclelan </td><td>Beebe McClellan</td><td>7/9/00</td></tr>
<tr><td>Boddy</td><td>body</td><td>26/10/03</td></tr>
<tr><td>Cistran</td><td>Cistern</td><td>11/9/00</td></tr>
<tr><td>Commistrerns</td><td>Commissioner</td><td>11/10/03</td></tr>
<tr><td>Earleys </td><td>Earliest</td><td>11/9/00</td></tr>
<tr><td>Exp.</td><td>Expended</td><td>Reoccurring 1900, 01</td></tr>
<tr><td>Geer</td><td>Gear</td><td>Reoccurring 1900, 01</td></tr>
<tr><td>Hawled</td><td>Hauled</td><td>11/10/03</td></tr>
<tr><td>Imbracing</td><td>embracing</td><td>26/10/03</td></tr>
<tr><td>Imployed</td><td>employed</td><td>Reoccurring 1903, 08, 11</td></tr>
<tr><td>Initeals</td><td>Initials</td><td>26/10/03</td></tr>
<tr><td>Leaf</td><td>leave</td><td>17/11/03, 8/12/03</td></tr>
<tr><td>Monie</td><td>money</td><td>25/10/11</td></tr>
<tr><td>Patrole</td><td>Patrol</td><td>26/9/03, 9/10/03</td></tr>
<tr><td>Polishing</td><td>polishing</td><td>3/8/01</td></tr>
<tr><td>Possiable</td><td>Possible</td><td>11/9/00</td></tr>
<tr><td>Receved</td><td>Received</td><td>23/9/03</td></tr>
<tr><td>Resusitation</td><td>Resuscitation</td><td>Reoccurring 1900, 01</td></tr>
<tr><td>Resussitation</td><td>resuscitation</td><td>Reoccurring 1903, 08, 11</td></tr>
<tr><td>Rotton</td><td>rotten</td><td>3/8/01</td></tr>
<tr><td>Sandlin</td><td>Sanderlin</td><td>Except 23/10/00, 24/10/00</td></tr>
<tr><td>Slitely</td><td>Slightly</td><td>11/10/03</td></tr>
<tr><td>Stationary</td><td>stationery</td><td>8/4/08, 21/10/11</td></tr>
<tr><td>Surfs</td><td>Surf</td><td>11/9/00</td></tr>
<tr><td>to day</td><td>today</td><td>16/11/03</td></tr>
<tr><td>Towelling</td><td>toweling </td><td>3/8/01</td></tr>
<tr><td>Two High</td><td>Too High</td><td>Reoccurring 1900, 01</td></tr>
<tr><td>Upriteing</td><td>Uprighting</td><td>7/9/00</td></tr>
</table>
<hr/>
<a name="j2"></a><b>Kill Devil Hill Life Saving Station</b><br/>
J.E. Ward Keeper (1900-1911)<br/><br/>

<table class="table">
<tr>
  <td><b>UNIQUE SPELLINGS</b></td>
  <td><b>MODERNIZATIONS</b></td>
  <td><b>LOG DATES</b></td></tr>
<tr><td>ahalf</td><td>a half</td><td>28/10/11</td></tr>
<tr><td>amile</td><td>a mile</td><td>28/10/11</td></tr>
<tr><td>aparatus</td><td>apparatus</td><td>29/10/03</td></tr>
<tr><td>beding</td><td>bedding</td><td>18/5/08</td></tr>
<tr><td>bin</td><td>Been</td><td>Reoccurring </td></tr>
<tr><td>carterage</td><td>cartridge</td><td>9/10/02</td></tr>
<tr><td>carteridge</td><td>cartridge</td><td>5/11/03</td></tr>
<tr><td>commishiner</td><td>commissioner</td><td>5/10/03</td></tr>
<tr><td>condishions</td><td>conditions</td><td>13/8/01</td></tr>
<tr><td>corse</td><td>course</td><td>28/10/11</td></tr>
<tr><td>droped</td><td>dropped</td><td>6/8/01</td></tr>
<tr><td>every thing</td><td>everything</td><td>19/5/08</td></tr>
<tr><td>Exspended</td><td>Expended</td><td>Reoccurring</td></tr>
<tr><td>expendid</td><td>Expended</td><td>15/10/03, 29/10/03, 5/11/03</td></tr>
<tr><td>Hawled</td><td>Hauled</td><td>28/10/11</td></tr>
<tr><td>imployed</td><td>employed</td><td>1/8/01</td></tr>
<tr><td>kerosine</td><td>kerosene</td><td>16/10/02</td></tr>
<tr><td>linceed oil</td><td>linseed oil</td><td>5/8/01</td></tr>
<tr><td>o clock</td><td>o'clock</td><td>26/10/11</td></tr>
<tr><td>patroled</td><td>patrolled</td><td>4/10/00, 11/10/02, 10/11/03</td></tr>
<tr><td>patroling</td><td>patrolling</td><td>1/8/01, 9/10/03</td></tr>
<tr><td>Pullys</td><td>Pulleys</td><td>26/9/00</td></tr>
<tr><td>omited</td><td>omitted</td><td>Reoccurring</td></tr>
<tr><td>resusitation</td><td>resuscitation</td><td>16/8/01, 23/10/03, 13/11/03, 1/5/08, 22/9/11</td></tr>
<tr><td>riggin</td><td>rigging</td><td>19/5/08</td></tr>
<tr><td>self bailes</td><td>self bails </td><td>20/8/01</td></tr>
<tr><td>schrubing</td><td>scrubbing</td><td>6/9/02</td></tr>
<tr><td>sive</td><td>sieve </td><td>5/8/01</td></tr>
<tr><td>Superintended</td><td>Superintendent</td><td>29/10/03</td></tr>
<tr><td>tasaling</td><td>tasseling  </td><td>5/8/01</td></tr>
<tr><td>thretening</td><td>threatening</td><td>6/4/08</td></tr>
<tr><td>to day</td><td>today</td><td>10/9/00, 17/12/03, 22/12/03</td></tr>
</table>
