<!DOCTYPE>
<html>
   <head>
      <meta content="en-au" http-equiv="Content-Language" />
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <title>{{ page.title }}</title>

      <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" />

      <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
      <script src="{{ site.baseurl }}/js/modernizr-2.8.3.js"></script>
   </head>
   <body>
      <div id="ecu-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="ecu-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a href="http://www.ecu.edu" title="East Carolina University">
                  <img alt="East Carolina University" src="{{ site.baseurl }}/img/centennial-logo.png" class="ecu-logo" />
               </a>
               <a href="http://www.ecu.edu/libraries" title="East Carolina University Libraries">
                  <img alt="East Carolina University Libraries" src="{{ site.baseurl }}/img/eculibs-logo.svg" class="ecu-libs-logo" />
               </a>
            </div>
            <div class="collapse navbar-collapse" id="ecu-collapse">
               <div class="navbar-right">
                  <ul class="nav navbar-nav">
                     <li id="hours">
                        <a href="http://lib.ecu.edu/hours">
                           <img alt="ECU Libraries hours icon" src="{{ site.baseurl }}/img/clock.svg" />
                           <span>Hours</span>
                        </a>
                     </li>

                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                           Libraries &amp; Collections <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                           <li><a href="http://www.ecu.edu/lib/">Joyner Library</a></li>
                           <li><a href="http://www.ecu.edu/laupuslibrary/">Laupus Health Sciences Library</a></li>
                           <li><a href="http://www.ecu.edu/cs-lib/music.cfm">Music Library</a></li>
                           <li role="separator" class="divider"></li>
                           <li><a href="http://digital.lib.ecu.edu">Digital Collections</a></li>
                           <li><a href="http://www.ecu.edu/lib/specialcollections.cfm">Special Collections</a></li>
                           <li><a href="http://www.ecu.edu/lib/ncc/">North Carolina Collection</a></li>
                           <li><a href="http://www.ecu.edu/lib/trc/">Teaching Resources</a></li>
                           <li><a href="http://thescholarship.ecu.edu/">The ScholarShip Institutional Repository</a></li>
                           <li><a href="http://www.countrydoctormuseum.org/">Country Doctory Museum</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="http://www.ecu.edu/cs-lib/customcf/eculibraries/v4/eculibrariesgethelppopup.html" onclick="javascript:window.open('http://www.ecu.edu/cs-lib/customcf/eculibraries/v4/eculibrariesgethelppopup.html','Live_Chat','top=50,left=300,width=765,height=350,resizable=0');return false;" target="_blank">Get Help</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

   <div class="container body-content">
     <div class="row">
       <div class="col-md-12">
         <a href="http://digital.lib.ecu.edu" title="Visit Digital Collections">
           <img src="{{ site.baseurl }}/img/dcLogo.png" alt="Digital Collections wordmark" height="65px"/>
         </a>
       </div>
     </div>
     {{ content }}
   </div>

      <div class="container-fluid footer">
         <hr />
         <div class="row">
            <div class="col-sm-12 col-md-9">
               <div class="ecu-footer-info">
                  <div class="ecu-footer-logo">
                     <img alt="East Carolina University" src="{{ site.baseurl }}/img/ECU-arches-logo.svg" />
                  </div>
                  <span class="ecu-footer-name">East Carolina University</span>
                  <div class="ecu-footer-contact">
                     East Fifth Street | Greenville, NC 27858-4353 USA | 252.328.6131 |
                     <a href="mailto:ALS_DigitalProjects@ecu.edu">Contact Webmaster</a>
                  </div>
               </div>
            </div>
            <div class="col-md-3 ecu-footer-copyright"></div>
         </div>
      </div>

      <script src="{{ site.baseurl }}/js/jquery-3.1.1.js"></script>
      <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
      <script src="{{ site.baseurl }}/js/respond.js"></script>
      <!-- <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-4632330-9', 'auto');
        ga('send', 'pageview');
      </script> -->
   </body>
</html>
