---
layout: ecu
title:  "[Ad for Coca-Cola Bottling Works]"
customdate: "1932 November 18"
order: 15
---

{% include breadcrumbs.html %}

<h3>[Ad for Coca-Cola Bottling Works]</h3>
<b>Notes</b>
<p>
By 1932, Coca-Cola had already boastfully proclaimed itself as “the drink of a nation.” In this advertisement dedicated to the Wright Brothers, particularly interesting is that the Elizabeth City Coca-Cola bottling works found it necessary to point out that their product was made from deep well water. Clearly fears of malaria and other diseases from shallow and stagnant water still held a prominent place in the minds of eastern North Carolinians.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AACC/bAACC.jpg">
    <img src="../../img/AACC/sAACC.jpg" />
  </a>
  <br/><br/>
<p>
  THE WRIGHT BROTHERS GAVE THE NATION AVIATION
</p>
<p>
  COCA-COLA
</p>
<p>
  GAVE THE NATION A DELICIOUS, REFRESHING DRINK
</p>
<p>
  -"THE DRINK OF THE NATION"
</p>
<p>
  The Coca-Cola You Get Is Made From Deep Well Water
</p>
<p>
  WELCOME TO THE WRIGHT MEMORIAL DEDICATION
</p>
<p>
  COCA-COLA BOTTLING WORKS
</p>
<p>
  Elizabeth City, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for Coca-Cola Bottling Works]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
