---
layout: ecu
title:  "Welcome to Dare County"
customdate: "1932 November 18"
order: 2
---

{% include breadcrumbs.html %}

<h3>Welcome to Dare County</h3>
<b>Notes</b>
<p>
This advertisement demonstrates that despite the numerous cultural and social differences between 1932 and the present day, the Dare County Chamber of Commerce’s marketing approach has remained loyal to promoting the regions unique “firsts” in history.
</p>
<div class="well">
  <label>Text and Image from Microform Advertisement</label><br/>
  <a href="../../img/AADC/bAADC.jpg">
    <img src="../../img/AADC/sAADC.jpg" />
  </a>
  <br/><br/>
<p>
  Transcription for the above image(s):
</p>
<p>
  Dedicating The Wright Memorial In Memory of the Birth of Aviation
</p>
<p>
  The first heavier than air craft ever known to fly under its own power was flown by Orville and Wilbur Wright in 1903.
</p>
<p>
  The flight was made from Kill Devil hill in Kitty Hawk. Dare County, North Carolina after numerous experiments in this section.
</p>
<p>
  WELCOME TO DARE COUNTY
</p>
<p>
  Dare County Appeals to Lovers of History
</p>
<p>
  The true sportsman who likes to match his skill and cunning with rod and gun against the natural cunning of wild ducks, geese, deer, fox, and hear-who likes the thrill of landing huge game fish-will find in Dare County the greatest natural hunting and fishing grounds in the country today.
</p>
<p>
  For health, for sport with rod or gun, for surf bathing, for all the great out of door sports, vacationists will find in Dare County, North Carolina, the richest measure of satisfaction.
</p>
<p>
  Investigate this wonderful natural playground before you plan your next vacation. Investigate our wonderful beaches, our hotels, our camps, and our colleges. Plan to come to Dare County on your next vacation. Write or wire for more information.
</p>
<hr/>
<p>
  Dare County's Climate is Healthful and Invigorating the Year Round
</p>
<p>
  Dare County had a matchless history reaching down for nearly 350 years. Destiny has favored Dare County with an exceptional part in the history of the Country. Beginning with the first English settlement in 1584 on Roanoke Island, there have transpired on Dare County soil: 1. The first settlements made by the English in America. 2. The first known celebration of a Christian Sacrament in the Territory of the 13 original united States. 3. The Birth of the first child of English parents on America soil. 4. The first trading or battering between the Englishmen and American aborigines. 5. The discovery of tobacco, and possibly Irish potatoes. 6. The important civil War events, including the battle of Roanoke Island. 7. The important experiments in wireless telegraphy by Fessenden, and others at Roanoke Island and Hatteras, in 1902 and later. 8. The world's first airplane flight, by the Wright brothers at Kitty Hawk in 1903. 9. The country's part in the development of the coast guard services.
</p>
<p>
  Tradition - Romance - History - Nature
</p>
<p>
  DARE COUNTY CHAMBER OF COMMERCE
</p>
<p>
  MANTEO, NORTH CAROLINA
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Welcome to Dare County", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
