---
layout: ecu
title:  "[Ad for Dr. H.A. Thorson, Chiropractor]"
customdate: "1932 November 18"
order: 6
---

{% include breadcrumbs.html %}

<h3>[Ad for Dr. H.A. Thorson, Chiropractor]</h3>
<b>Notes</b>
<p>
In the following advertisement, a doctor equates his questionable medical practice with the Wright Brothers’ invention of the airplane. Implied is the idea that people had doubted the Wrights but were wrong, in much the same fashion, people were weary of chiropractors but the kind doctor ensures that like the Wrights with flight, he will succeed. Note the multitude of ailments that chiropractics could heal in 1932.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AADR/bAADR.jpg">
    <img src="../../img/AADR/sAADR.jpg" />
  </a>
  <br/><br/>
<p>
  PROGRESS
</p>
<p>
  The Wright Brothers made and proved the Airplane successfully. Through their efforts it has been made practical, a servant to mankind.
</p>
<p>
  CHIROPRACTIC has also been tried, tested and accepted by sick people everywhere as the best means of getting well because it corrects the cause of the disease.
</p>
<p>
  Rheumatism, Paralysis, Heart Trouble, Neuritis, Goitre [Goiter], Diabetes, Headaches, Liver and Kidney disorders; these are only a few of the human ailments in which chiropractic has proven especially successful.
</p>
<p>
  The badge of ignorance is condemnation without investigation. Don’t let prejudice keep you from learning more about CHIROPRACTIC. Profit by the experience of others who have regained their health through this leading Drugless System of Healing.
</p>
<p>
  We take no charge for free consultation.
</p>
<p>
  Dr. H.A. THORSON<br/>
  PALMER GRADUATE <br/>
  CHIROPRACTOR <br/>
  304 KRAMER BLDG. <br/>
  PHONE 1054.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for Dr. H.A. Thorson, Chiropractor]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
