---
layout: ecu
title:  "[Ad for E.S. Chesson &amp; Son]"
customdate: "1932 November 18"
order: 8
---

{% include breadcrumbs.html %}

<h3>[Ad for E.S. Chesson &amp; Son]</h3>
<b>Notes</b>
<p>
Here a local merchant seizes an opportunity to compare his high business standards with the high standards that the Wrights always demanded of themselves. Even though there are still twelve days till December, the dedication of the Wright Memorial provides the store with an opportunity to promote their merchandise for the upcoming Christmas rush. Thus, while many people complain that merchants of today start the Christmas season earlier each year, it seems that this is not a recent phenomenon.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AAES/bAAES.jpg">
    <img src="../../img/AAES/sAAES.jpg" />
  </a>
  <br/><br/>
<p>
  The Wright memorial
</p>
<p>
  A monument to the BIRTH OF AVIATION
</p>
<p>
  Will Guide Ships Of Land And Sea For Years To Come....
</p>
<p>
  During the many years that we have been in business, CHESSON'S has always endeavored to be a guide in the right things to wear and has strived to sell high-grade merchandise at the lowest margin of profit.
</p>
<p>
  We believe that we have attained the highest peak possible in the realm of value - giving - and that attainment is our MONUMENT!
</p>
<p>
  DO YOUR CHRISTMAS SHOPPING AT CHESSON'S TO BE SURE YOU GET YOUR MONEY'S WORTH!
</p>
<p>
  E.S. CHESSON &amp; SON <br/>
  "THE HEART OF VALUE STORE" <br/>
  Elizabeth city, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for E.S. Chesson &amp; Son]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
