---
layout: ecu
title:  "[Ad for Elizabeth City Marble &amp; Granite Works]"
customdate: "1932 November 18"
order: 13
---

{% include breadcrumbs.html %}

<h3>[Ad for Elizabeth City Marble &amp; Granite Works]</h3>
<b>Notes</b>
<p>
Four years before the unveiling of the Wright Memorial, in 1928, on the twenty-fifth anniversary of the first flight, Bill Tate and the citizens of Kitty Hawk held their own commemoration ceremony and dedicated their own monument to the Wright Brothers. The Elizabeth City Marble and Granite Works designed and built the first monument to flight on the spot where the former Bill Tate family house once stood. A very dark picture of that monument is listed below.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AAGW/bAAGW.jpg">
    <img src="../../img/AAGW/sAAGW.jpg" />
  </a>
  <br/><br/>
<p>
  Welcome visitors to Historic Dare County and the Albemarle
</p>
<p>
  We welcome you here and invite you to see the birthplace of Aviation and the birthplace of the nation in historic Dare County.
</p>
<p>
  A MONUMENT FOR EVERY OCCASION
</p>
<p>
  Just as we build memorials for great occasions, so should we have monuments for the individual-a mark of respect to the ones who mean the most to us. Here there is a monument in keeping with every sentiment of the occasion. We are here to help you in your selection.
</p>
<p>
  FIRST WRIGHT MEMORIAL WAS BUILT BY US
</p>
<p>
  This is the first memorial to be erected to the Wright Brothers. It was designed and built by us and erected by the community of Kitty Hawk in 1928.
</p>
<p>
  Elizabeth City Marble &amp; Granite Works
</p>
<p>
  D.T. SINGLETON
</p>
<p>
  "Your Carload dealer"
</p>
<p>
  South Road St. <br/>
  Phone 391 <br/>
  Elizabeth City, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for Elizabeth City Marble &amp; Granite Works]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
