---
layout: ecu
title:  "Hunting, Fishing, Bathing [at Kitty Hawk]"
customdate: "1932 November 18"
order: 1
---

{% include breadcrumbs.html %}

<h3>Hunting, Fishing, Bathing [at Kitty Hawk]</h3>
<b>Notes</b>
<p>
Although few people had ever heard of Kitty Hawk until the Wright Brothers began to conduct their experiments there, as this advertisement boldly predicted, the region’s claim to being the home of first flight and its beckoning golden sands have made the area one of the most widely known beaches in the world.
</p>
<div class="well">
  <label>Text from Microform Advertisement</label><br/>
<p>
  Hunting, Fishing, Bathing
</p>
<p>
  Wild Fowl Hunting in season at Kitty Hawk Beach in the famous shooting grounds of Currituck Sound is almost at your door. Big game abounds on the Dare County mainland.
</p>
<p>
  Fishing in Dare is a year-round sport. Kitty hawk Beach is within easy reach of the famous fishing grounds at Oregon Inlet. Good fishing in sound or sea or creek is hard by.
</p>
<p>
  A Dip in the Surf - if that's your weakness, - you'll find no finer beach than that at Kitty Hawk.
</p>
<p>
  Enjoying unsurpassed natural advantages within easy access of town, being rapidly dotted with attractive cottages and equipped with every convenience, Kitty Hawk Beach is destined to become a place of preeminence among the resorts of the Carolina coast. It is growing by leaps and bounds.
</p>
<p>
  America is Kitty Hawk conscious. Wilbur and Orville Wright saw to that. We still have good lots available but the number grows smaller every day. Don’t be the man who waits until the best are taken and prices have further risen. Buy Now!
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Hunting, Fishing, Bathing" [at Kitty Hawk], <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
