---
layout: ecu
title:  "[Ad for L.D. Tarkington]"
customdate: "1932 November 18"
order: 11
---

{% include breadcrumbs.html %}

<h3>[Ad for L.D. Tarkington]</h3>
<b>Notes</b>
<p>
The Wright Brothers actually brought groceries from several different stores in the area including Elizabeth City’s A.F. Tovey and Company, Theo Meekins in Manteo, and according to L.D. Tarkington, they bought from him in 1903.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AALD/bAALD.jpg">
    <img src="../../img/AALD/sAALD.jpg" />
  </a>
  <br/><br/>
<p>
  BEFORE THE DAWN OF AVIATION WE WERE SERVING THE PEOPLE OF DARE COUNTY
</p>
<p>
  For over 38 years we have been serving the people of Dare County. When the Wright brothers were making their first flight in 1903, we sold them groceries and we were giving them the same efficient service then as we give our customers now.
</p>
<p>
  Heavy and Fancy Groceries and Meats
</p>
<p>
  SEEDS-FEEDS
</p>
<p>
  L.D. TARKINGTON
</p>
<p>
  MANTEO, NC
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for L.D. Tarkington]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
