---
layout: ecu
title:  "Manteo Welcomes the Visitors to the Wright Memorial Dedication"
customdate: "1932 November 18"
order: 4
---

{% include breadcrumbs.html %}

<h3>Manteo Welcomes the Visitors to the Wright Memorial Dedication</h3>
<b>Notes</b>
<p>
The building of Ft. Raleigh, the historical birth of Virginia Dare, and the subsequent mysterious disappearance of the Lost Colony have captured the imagination of schoolchildren and adults for over 400 years. In several correspondences the Wright Brothers even alluded to their enticing allurement with the unsolved and romantic past of Ft. Raleigh, which could be seen from their camp. Later in life, Orville had the opportunity to personally visit the historic site with Bill Tate.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AAMA/bAAMA.jpg">
    <img src="../../img/AAMA/sAAMA.jpg" />
  </a>
  <br/><br/>
<p>
  Manteo Welcomes the Visitors to the WRIGHT Memorial Dedication
</p>
<p>
  The town of Manteo was named after the Indian chief "Manteo," who was the friend and guide of Sir Walter Raleigh's Colonists during the period of the first English settlement in America in 1584.
</p>
<p>
  Manteo is the largest town and county seat in Dare County and is located on historic Roanoke Island.
</p>
<p>
  Manteo is the center of all activities of this entire section and offers opportunities to those interested in vacationing, fishing, and hunting and is an ideal location for those who wish to prosper with a community destined to enjoy a rapid growth and development.
</p>
<p>
  WE INVITE YOU TO MAKE YOUR HOME IN MANTEO
</p>
<p>
  The Town of Manteo
</p>
<p>
  NORTH CAROLINA
</p>
<p>
  FORT RALEIGH GATES
</p>
<p>
  Memorial gates erected at Fort Raleigh on Roanoke Island by the United States Government. Through the gates entrance is gained to the site of the Lost Colony and the birthplace of Virginia Dare on August 18, 1587. Two days later the first child of English parents to be born in North America was baptized "according to the rites of the church of England."
</p>
<p>
  Come to Manteo, the center of all Historic Dare County.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Manteo Welcomes the Visitors to the Wright Memorial Dedication", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
