---
layout: ecu
title:  "[Ad for O.B. West Co.]"
customdate: "1932 November 18"
order: 7
---

{% include breadcrumbs.html %}

<h3>[Ad for O.B. West Co.]</h3>
<b>Notes</b>
<p>
This is the most humorous and entertaining advertisement from the Wright Memorial edition. Obviously though, the ad still begs the looming question as to whether or not Orville was as handsome as the baby pictured?
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AAOB/bAAOB.jpg">
    <img src="../../img/AAOB/sAAOB.jpg" />
  </a>
  <br/><br/>
<p>
  TO DARE COUNTY MOTHERS:
</p>
<p>
  Our MISS EMMA LOU WEST will be at the fort Raleigh Hotel, Manteo, with our New and Beautiful Line of children's Wear, from tots to Teens MONDAY, NOVEMBER 21.
</p>
<p>
  WE ARE SURE that Orville Wright looked like this when he was a baby...
</p>
<p>
  AND WE ARE SURE that he wanted the lovely things we have at our baby store for little boys, and our girl's line is absolutely beyond compare.
</p>
<p>
  "A MOTHER'S PARADISE"
</p>
<p>
  O.B. West co. <br/>
  "TOTS TO TEENS" <br/>
  Main Street <br/>
  Elizabeth City, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for O.B. West Co.]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
