---
layout: ecu
title:  "[Ad for Owens Shoe Company]"
customdate: "1932 November 18"
order: 5
---

{% include breadcrumbs.html %}

<h3>[Ad for Owens Shoe Company]</h3>
<b>Notes</b>
<p>
Wright Memorial is situated at the top of Big Kill Devil Hill. Therefore, to view the memorial one must climb the dune’s precipitous slopes. Although the march up can be a daunting task, this extremely clever shoe advertisement is just a little exaggerated. The image in the middle is of a modern airplane not a Wright flyer.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AAOW/bAAOW.jpg">
    <img src="../../img/AAOW/sAAOW.jpg" />
  </a>
  <br/><br/>
<p>
  GREETINGS
</p>
<p>
  TO THE KINGS OF AVIATION AND THE PEOPLE OF DARE COUNTY ON THE DEDICATION OF THE Wright Memorial
</p>
<p>
  AFTER YOU CLIMB THE HEIGHTS OF THE MEMORIAL YOU WILL NEED A PAIR OF OUR GOOD
</p>
<p>
  SHOES
</p>
<p>
  For years OWENS SHOE COMPANY has served DARE COUNTY ad the ALBERMARLE by supplying them with the best Quality Footwear. Our mail order service from DARE COUNTY is the largest ever and we take the method of expressing our appreciation.
</p>
<p>
  People throughout the ALBEMARLE know that when their shoes come from OWENS they are guaranteed satisfaction and fit and our selections are beyond comparison. We invite you to make our store your headquarters when in Elizabeth City.
</p>
<p>
  OWENS SHOE COMPANY
</p>
<p>
  Elizabeth City, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for Owens Shoe Company]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
