---
layout: ecu
title:  "[Ad for P.W. Melick Co.]"
customdate: "1932 November 18"
order: 9
---

{% include breadcrumbs.html %}

<h3>[Ad for P.W. Melick Co.]</h3>
<b>Notes</b>
<p>
The Wright Brothers secured most of the supplies they needed and did not bring with them from Elizabeth City. The following company stakes their important role with the first flight by announcing that they supplied Wilbur and Orville with their silverware. Note the design of the airplane image is modern and not a Wright flyer, and yes, the airplane was originally printed upside down in the newspaper.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AAPW/bAAPW.jpg">
    <img src="../../img/AAPW/sAAPW.jpg" />
  </a>
  <br/><br/>
<p>
  we did not build the FIRST AIRPLANE
</p>
<p>
  But we did furnish the dinnerware used by the wright brothers when they conquered the air at Kill Devil Hill.
</p>
<p>
  We are proud to have served them and will be glad to serve you with The only complete line of
</p>
<p>
  DINNERWARE
</p>
<p>
  Shown in Elizabeth city
</p>
<p>
  P.W. MELICK CO.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for P.W. Melick Co.]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
