---
layout: ecu
title:  "[Ad for Shell Products]"
customdate: "1932 November 18"
order: 10
---

{% include breadcrumbs.html %}

<h3>[Ad for Shell Products]</h3>
<b>Notes</b>
<p>
The prevalence of gas advertisements and lack of steamer advertisements in the “Wright Memorial Edition” stands in stark contrast with the “Dare County Homecoming Edition” printed just six years earlier. Beyond the growing popularity of the car, there was another force creating dramatic changes in Eastern North Carolina. Instead of relying on waterborne transportation, large bridges were built to connect mainland areas with the Outer Banks. Following the advent of bridges, a tide of tourism over swept the area that has yet to recede.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AASH/bAASH.jpg">
    <img src="../../img/AASH/sAASH.jpg" />
  </a>
  <br/><br/>
<p>
  WELCOME VISITORS TO WRIGHT MEMORIAL DEDICATION
</p>
<p>
  Wise Motorists Throughout The Albemarle Have Learned To
</p>
<p>
  Change to Shell
</p>
<p>
  Every major event of the recent air races in Cleveland Was Won by pilots using shell products
</p>
<p>
  Drive up to a shell station---give this gasoline a trial. You'll find that it puts a new life into your motor, and new power, too. Change to SHELL---It will make a friend of you.
</p>
<p>
  Anywhere in this section---in the city---on the highway, you'll find a shell station. You will know it by the sign. Drive in, and have your oil changed---your tank filled to the brim with the peppiest gas you ever had in your car.
</p>
<p>
  LET SHELL STATIONS SERVE YOU WHILE IN THE ALBEMARLE
</p>
<p>
  SHELL PRODUCTS <br/>
  EMMETT WINSLOW, distributor <br/>
  Hertford, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for Shell Products]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
