---
layout: ecu
title:  "[Ad for The Norfolk &amp; Carolina Telephone &amp; Telegraph Company]"
customdate: "1932 November 18"
order: 14
---

{% include breadcrumbs.html %}

<h3>[Ad for The Norfolk &amp; Carolina Telephone &amp; Telegraph Company]</h3>
<b>Notes</b>
<p>
Remarkably, as the Wrights were busily consumed with obtaining flight at the desolate, little known village of Kitty Hawk, another famous inventor, Reginald Fessenden, was conducting wireless telegraphy experiments a few miles south at Cape Hatteras. In 1901, the U.S. Weather Bureau in Washington, DC, impressed with Fessenden’s earlier successes, agreed to fund his efforts but at a place of their chosen designation. Although a telegraph line already existed from the mainland area to the Weather Stations at Kitty Hawk and Cape Hatteras, these lines often fell victim to a number of compromising circumstances. But on 24 December 1902, before the Wrights famous first, Fessenden generated the first ever radio broadcast in the history of man from the Outer Banks.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AATE/bAATE.jpg">
    <img src="../../img/AATE/sAATE.jpg" />
  </a>
  <br/><br/>
<p>
  A TRIBUTE TO THE BIRTH OF AVIATION
</p>
<p>
  Your Telephone Has Played An Important Part In the Progress of the ALBEMARLE
</p>
<p>
  The Wright Memorial is a monument to progress – the great progress made by aviation since 1903 when the Wright Brothers make their first flight, and the progress of this great Albemarle section.
</p>
<p>
  Since 1903 this section has enjoyed a phenomenal growth. Excellent highways have been built, bringing the towns of the Albemarle closer together. Miles and miles of telephone lines have been installed throughout this section to assist in the march of progress.
</p>
<p>
  Your telephone and the thousands of other telephones all over the Albemarle have played an important part in the development of this community and will continue to do so.
</p>
<p>
  BE PROGRESSIVE – Have A Telephone In Your Home And Office.
</p>
<p>
  Tune in on Radio Station WTAR Norfolk, Virginia, for the program of Wright Memorial Dedication through facilities furnished by this Company.
</p>
<p>
  The Norfolk &amp; Carolina Telephone &amp; Telegraph Company
</p>
<p>
  OFFICIES: <br/>

  ELIZABETH CITY <br/>

  EDENTON <br/>

  HERTFORD <br/>

  MANTEO
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for The Norfolk &amp; Carolina Telephone &amp; Telegraph Company]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
