---
layout: ecu
title:  "[Ad for the Steamer Trenton]"
customdate: "1932 November 18"
order: 12
---

{% include breadcrumbs.html %}

<h3>[Ad for the Steamer Trenton]</h3>
<b>Notes</b>
<p>
At one time, the steamer Trenton enjoyed great popularity as a source of transportation from Elizabeth City to Manteo, where travelers would usually load another vessel bound for the Outer Banks. However, as the advertisement below indicates, once travelers arrived in Manteo they could now travel by bus to Kill Devil Hills. Furthermore, the advertisement for palpable reasons failed to mention the newly built Wright Memorial Bridge, which now circumvented the need for a travel to Manteo by allowing automobile travelers to go directly from the Elizabeth City area to the Kill Devil Hills region.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AATR/bAATR.jpg">
    <img src="../../img/AATR/sAATR.jpg" />
  </a>
  <br/><br/>
<p>
  WELCOME TO THE WRIGHT MEMORIAL DEDICATION
</p>
<p>
  MAKE YOUR TRIPS TO MANTEO ON THE STEAMER TRENTON
</p>
<p>
  There is no way to Manteo more pleasant and comfortable than on the Steamer TRENTON. Every comfort and convenience makes the trip down the beautiful Pasquotank River one to be greatly enjoyed.
</p>
<p>
  The low cost of making the trip to and from Manteo and Elizabeth city on the Steamer TRENTON makes it possible for you to save money on every trip.
</p>
<p>
  Go to the dedication of the Wright Memorial on the Steamer TRENTON and enjoy the trip. Buses will be on hand to take you from Manteo to kill Devil hill.
</p>
<p>
  SCHEDULE
</p>
<p>
  Leaves Manteo at 6 a.m. every morning except Sunday. <br/>

  Arrives at Elizabeth City at 10:30 a.m. <br/>

  Leaves Elizabeth City at 12:30 p.m. <br/>

  Arrives at Manteo at 5:20 p.m.
</p>
<p>
  Eastern Carolina Transportation Co.
</p>
<p>
  B.F. MARTIN <br/>

  Agent and General manager <br/>

  ELIZABETH CITY N.C.
</p>
<p>
  CAPT. M. L. JOHNSON <br/>

  PRESIDENT
</p>
<p>
  I.P. DAVIS <br/>

  AGENT <br/>

  MANTEO, N.C.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for the Steamer Trenton]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
