---
layout: ecu
title:  "[Ad for The Texas Company]"
customdate: "1932 November 18"
order: 16
---

{% include breadcrumbs.html %}

<h3>[Ad for The Texas Company]</h3>
<b>Notes</b>
<p>
Almost nearly every American at one time or another has surely heard of the gasoline company called Texaco. Yet many have no idea that the name is really an acronym for the Texas Company. Note that Texaco claimed that the Wrights used their gasoline during their flights of 1911, if this is true it has to be in reference to the flights Orville made after leaving Kitty Hawk. Because in 1911, Wilbur did not fly at all, and while Orville had ascended into the air at Kitty Hawk, the plane there did not have an engine, it was only a glider.
</p>
<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <a href="../../img/AATX/bAATX.jpg">
    <img src="../../img/AATX/sAATX.jpg" />
  </a>
  <br/><br/>
<p>
  THE VIRGINIA DARE TRAIL IS A TEXACO TRAIL
</p>
<p>
  When you motor down the Virginia Dare Trail you will find that TEXACO Service is, all along the way. TEXACO Service Stations are ready to help to make your trip to the Wright Memorial Dedication one of complete enjoyment with real TEXACO Service to eliminate motor worries.
</p>
<p>
  We invite you to get the habit of using TEXACO Gasoline TEXACO Service.
</p>
<p>
  USE TEXACO ETHYL FOR WINTER DRIVING
</p>
<p>
  WELCOME Visitors To The Wright MEMORIAL DEDICATION
</p>
<p>
  DEPEND UPON TEXACO SERVICE AT WRIGHT DEDICATION
</p>
<p>
  TEXACO Gasoline was used in the construction of the Wright Memorial and TEXACO Gasoline was used by the Wright brothers in their flight in 1911
</p>
<p>
  The Texas Company
</p>
<p>
  Elizabeth City, North Carolina
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Ad for The Texas Company]", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
