---
layout: ecu
title:  "Take Virginia Dare Trail to Opportunity"
customdate: "1932 November 18"
order: 3
---

{% include breadcrumbs.html %}

<h3>Take Virginia Dare Trail to Opportunity</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>
<p>
  Take Virginia Dare Trail to Opportunity
</p>
<p>
  Drive down the Virginia Dare trail to this wonderful land of opportunity. Miles and miles of desirable beach property where there is surf bathing unsurpassed anywhere. History that will attract thousands of red-blooded Americans during the next few years; and many other natural advantages found only in a section recently opened to the public through a new system of roads. Visit this interesting section. Make your plans now to take the Virginia Dare Trail to opportunity - invest in this section and make your home here.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Take Virginia Dare Trail to Opportunity", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>

</table>
