---
layout: ecu
title:  "Broadcast Through Columbia Network"
customdate: "1932 November 18"
order: 32
---

{% include breadcrumbs.html %}

<h3>Broadcast Through Columbia Network</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  BROADCAST THROUGH COLUMBIA NETWORK
</p>
<p>
  Arrangements have been completed whereby the Columbia Broadcasting system will handle the dedication of the Wright Memorial over a national network on Saturday.
</p>
<p>
  These arrangements have been made possible through the co-operation of the Norfolk &amp; Carolina Telephone &amp; Telegraph Company. 
</p>
<p>
  It is believed possible that the national Broadcasting Company will also handle the exercises over one of their national networks.
</p>
<p>
  Listeners-in at Elizabeth City and in the vicinity will be served by station WTAR of Norfolk.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Broadcast Through Columbia Network", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
