---
layout: ecu
title:  "Citizens of Kitty Hawk Have Erected Their Own Personal Tribute to Brothers' Memory"
customdate: "1932 November 18"
order: 23
---

{% include breadcrumbs.html %}

<h3>Citizens of Kitty Hawk Have Erected Their Own Personal Tribute to Brothers' Memory</h3>

<div class="well">
  <label>Text and Image(s) from Microform News-Article</label><br/>
  <p>Citizens Of Kitty Hawk Have Erected Their Own Personal Tribute to Brothers' Memory</p>
  <a href="../../img/ACKH/bACKH.jpg">
    <img src="../../img/ACKH/sACKH.jpg" />
  </a>
  <br/><br/>
<p>
  One the site of the old Methodist Parsonage at Kitty Hawk there stands today a shaft marking the spot where Wilbur Wright began the assembly of the first experimental glider. This shaft was erected by the citizens of Kitty Hawk.
</p>
<p>
  When Wilbur Wright first arrived at Kitty Hawk he stopped for a few days as the guest of Capt. and Mrs. W. J. Tate now of Coinjock. With the Tates he stayed until his brother, Orville, arrived and the two established their own camp.
</p>
<p>
  In those few days Wilbur began the assembly of the first glider building it from plans he and his had formulated at Dayton. Mrs. Tate was of assistance in the work as it was she who sewed on the sateen wing coverings.
</p>
<p>
  In those days Capt. and Mrs. Tate were in charge of the post office at Kitty Hawk and lived in old parsonage.
</p>
<p>
  Years passed and the Wrights became famous and along with the fame that came to them the world's eye was turned on Kitty Hawk. Under the leadership of Capt. Tate the citizens of Kitty Hawk raised among themselves a subscription to mark the spot on which the work of the gilder began.
</p>
<p>
  On May 2,1928 the marker was unveiled with simple ceremonies. Capt. Tate made a short talk on Recollections and Incidents of the Wright Brothers, and a few visitors were invited to make informal brief talks.
</p>
<p>
  The inscription on the marker reads:
</p>
<p>
  ON THIS SPOT SEPTEMBER 17, 1900 WILBUR WRIGHT BEGAN THE ASSEMBLY OF THE WRIGHT BROTHERS FIRST EXPERIMENTAL GLIDER WHICH LED TO MAN'S CONQUEST OF THE AIR
</p>
<p>
  Erected by Citizens of Kitty Hawk, N.C. 1928
</p>
<p>
  The committee which directed the activities which led to the erection of the shaft was composed of W. J. Tate chairman, E.W. Baum secretary, Z. F. Perry treasurer and B.F. Perry.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Citizens of Kitty Hawk Have Erected Their Own Personal Tribute to Brothers' Memory", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
