---
layout: ecu
title:  "Coast Guard Is an Integral Part of Dare County: Many Members of the Service are From Dare"
customdate: "1932 November 18"
order: 31
---

{% include breadcrumbs.html %}

<h3>Coast Guard Is an Integral Part of Dare County: Many Members of the Service are From Dare</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>

<p>
  MANY MEMBERS OF THE SERGVIC ARE FROM DARE
</p>
<p>
  County Has More Coast Line and More Stations Than Any Other County in the United States.
</p>
<p>
  EMERGENCY WORK
</p>
<p>
  Primary Duty is Protecting Safety at Sea, but Service has Done Many Things to Aid Travellers [Travelers].
</p>
<p>
  No story of Dare County can be complete without mention of the Coast Guard which has claimed so many of Dare's sons. With the longest coast line [coastline] of any count in the country, Dare boasts the largest number of Coast Guard stations within its borders.
</p>
<p>
  Along the 80 mile stretch of beach from Currituck county line to Hatteras Inlet 17 Coast Guard stations are set at intervals, manned by 126 men, charged primarily with saving life menaced by the sea.
</p>
<p>
  During every hour that passes the long stretch of beach is under constant observation from the lookout towers, and in stormy weather men patrol the beach scanning the ocean for the sight of a ship in distress, prepared to give the signal which would bring trained men and rescue apparatus to the scene.
</p>
<p>
  while their primary duty is being prepared to assist those in trouble at sea, "the Coast Guard will step out of line to furnish any reasonable assistance to persons in an emergency," says Capt. Ward W. Bennett, District Commander for the Coast guard, with headquarters in the Carolina building, Elizabeth City.
</p>
<p>
  "It is strictly an emergency service in what it does but I've known of cases where teeth were pulled by our men; they've dug graves, built coffins, and even preached the funeral services when no preacher was available. We are always ready to go to the assistance of any suffering human,"
</p>
<p>
  Beach driving is not easy for an amateur and many drivers get stuck in the tricky sands along the beach or run into the surf. Extracting these cars has become one of the most frequent, although unofficial duties of the service. Until recently, each station had its team of horses, but in the last year or so these have been replaced by tractors and trucks with winches for rescuing these cars.
</p>
<p>
  Guarding this section which has been noted since early times for its hazards to coastwise navigation are these stations: Poyner's Hill, Caffey's Inlet, Paul Gamiels Hill, Kitty Hawk, Kill Devil Hill, Nags Head, Bodie Island, Oregon Inlet, Pea Island, Chicamacomico, Gull Shoals, Little Kinnakeet, Big Kinnakeet, Cape Hatteras, Creeds Hill, and Durants. Some of these stations are manned by 13 men, most of them by nine, while two men are stationed at the inactive stations at Kitty Hawk, Durants, and Poyner's Hill.
</p>
<a href="../../img/ACOG/bACOG.jpg">
  <img src="../../img/ACOG/sACOG.jpg" />
</a>
<br/><br/>
<p>
  [Caption] The Swedish steamer lies stranded on the beach about a mile north of the Kill Devil Hill Coast Guard Station. When it was wrecked in 1929 the Coast Guardsmen removed the crew but the ship had buckled and could not be salvaged. By coincidence the steamer was lost at the identical spot where the Greek steamer, Paraguay, had been wrecked in the previous year, the bow of the Gerhard being driven between the broken halves of the Paraguay. The wreck is a favorite place from which to fish and is a stellar attraction to visitors.
</p>
<p>
  Associated with the Hatteras Inlet station in the minds of many people is the Cape Hatters lighthouse, although the Lighthouse Service and coast guard are separate units. The lighthouse is the tallest in the country, and flashes it's warning far out into sea. The light marks the dreaded diamond Shoals, known to all sailors as the "Graveyard of the Atlantic."
</p>
<p>
  Unique in the Coast guard service is the Pea Island station. This unit is manned entirely by negroes under the command of a negro officer. It is the only station so manned by in the service.
</p>
<p>
  Standard equipment at each station includes a motor lifeboat, motor surfboat, pulling surfboat, boat carriages, two carts with beach gear including a lyle-gun for firing a line to stranded ships, and a truck or tractor.
</p>
<p>
  As the coast guard is also charged with prohibition and customs regulations enforcement each station also has its stand of small arms. At Oregon and Hatteras Inlets, where boats can enter the sounds from the ocean, picketboats [picket boats] are stationed in order to guard against the landing of contraband.
</p>
<p>
  Five days a week are devoted to drills at each station so that the crews are kept at a high state of efficiency that may, at any moment be translated into instant action in case of an emergency. Except for their regular 24 hour weekly leave and a yearly vacation the men live at the stations, and at no time is the personnel of any station allowed to go below an established minimum of six men.
</p>
<p>
  The records of the Coast Guard show what the wreckage that strews the North Carolina coast marking its dangers to shipping does not show that in most instances the loss is confined to property and that, by action of the guardsmen, the crews of the stranded vessels were saved. Such was the case in regard to the ships that have gone ashore in recent years, the Paraguay, the Irma, Bainbridge, Lavinia Snow, and the Carl Gerhard. The latter is still to be seen just north of the Kill Devil Hill Station. Once ashore, the rescued are housed in the station, given food and dry clothing, medical attention if necessary, and later sent on their way home.
</p>
<p>
  In these rescues a breechesbuoy [breeches buoy] is usually employed, the buoy being hauled back and forth between land and the ship, bringing the members of the crew to safety, one at a time. For special emergencies the beach gear includes a life car, a kind of small metallic boat, which can be completely enclosed, holding from five to seven people. This may be substituted for the breeches buoy.
</p>
<p>
  So many are the deeds of bravery in this branch of government service that it is difficult to say that anyone of them was the most heroic. Perhaps the one that stands out in the mind of the average person was the rescue, by Captain John Allen Midget and the crew of the Chicamacomico Station of 42 men from the torpedoed British tanker Mirlo on August 16, 1918. Heading their lifeboat into an area of sea covered with burning oil and gasoline the boat took off 42 members of the crew. This rescue has been considered as an outstanding piece of work in the face of great danger and medals were presented by both the American and British governments in recognition of the deed and later the men were awarded the American cross of honor.
</p>
<p>
  But these valorous deeds are not regarded by the men themselves as being especially outstanding "That's our duty" they will tell you.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Coast Guard Is an Integral Part of Dare County: Many Members of the Service are From Dare", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
