---
layout: ecu
title:  "Drinkwater Says Didn't Send First Telegram of the Flight Joe Dozier, Deceased, Did It"
customdate: "1932 November 18"
order: 25
---

{% include breadcrumbs.html %}

<h3>Drinkwater Says Didn't Send First Telegram of the Flight Joe Dozier, Deceased, Did It</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Drinkwater Says Didn't Send First Telegram of the Flight Joe Dozier, Deceased, Did it.
</p>
<p>
  Manteo, November 18. - "I didn't send the first telegram announcing that the Wright brothers had made a successful flight," says Alpheus W. Drinkwater. "Joe Dozier, who is dead now, did that."
</p>
<p>
  The telegram to which Drinkwater referred is the telegram sent home by Orville Wright, announcing not only that they had done what no man before them had done, but had also done so without injury to themselves or material injury to their plane.
</p>
<p>
  The first telegram that Drinkwater sent out relating to these flights were new stories designed to tell the world that the new style of travel had arrived.
</p>
<p>
  In 1908, five years after the record, shows that they made their first flight and three or four years after many reputable witnesses claimed to have seen a flight of over twenty miles made by the 800 feet from the start where it came to a small hummock. Here, for some reason, the ship wavered, began to pitch up and down, then quickly dropped to earth.
</p>
<p>
  The flight was 852 feet in ground distance and the time was 52 seconds.
</p>
<p>
  Sending the News
</p>
<p>
  When his sons left home that year, their father had given them a dollar saying, "Let's hear from you if there's any news."
</p>
<p>
  the bishop regarded that dollar as a good investment, for it brought the following result:
</p>
<p>
  Kitty Hawk, N.C. Dec. 17. <br/>
  Bishop M. Wright, <br/>
  7 Hawthorne St. <br/>
  Dayton Ohio. <br/>
  -Success four flights Thursday morning all against twenty one mile wind started from level with engine power alone average speed through the air thirty-one miles longest 51 seconds inform press home Christmas.
</p>
<p>
  Orevelle [Orville] Wright
</p>
<p>
  A telegraph operator's error clipped two seconds from the time of the flight and the government anemometer at Kitty Hawk showed the wind to be a little brisker than stated in the wire.
</p>
<p>
  The experiments of the Wright brothers had fulfilled their dreams and the third stage of experimentation was complete. Wrights in Dayton, Ohio the New York Herald suspended for six weeks a staff correspondent who sent in a story concerning the flying experiments at Kitty Hawk in that year. He was suspended, according to Drinkwater, who has a copy of the letter from them to the reporter, because he "seemed unable to report facts rather than fiction," reads the letter. As a matter of fact; it was not until late 1909 that New York was treated to its first sight of man flying in a heavier than air machine, propelled by itself.
</p>
<p>
  Cleveland’s leading paper of the day refused to pay telegraph charges on the story as wired to them by Salley of the Norfolk Landmark.
</p>
<p>
  Drinkwater sent out the telegrams on these stories, more than five years after Harry Moore of the Virginia Pilot staff had scooped the world with his story of the first flight. Drinkwater also gets credit for sending Moore's a story over his wire.
</p>
<p>
  Incidentally, 30 years after his great scoop, Moore still remains silent as to his source of information concerning the activities of the pioneer aviators. His only credit so far has been given to a "barrel of oysters," because through a barrel of Oysters being purchased for the Wrights, he gained contact with his informant. One gathers from his story that the informant was a coastguardsman, but of this there is no definite proof.
</p>
<p>
  Drinkwater, whose neighbors josh him with being the barrel of oysters because it gets the credit he should have, says that he knows who the informant was, but he refuses to divulge any information denying it was himself.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Drinkwater Says Didn't Send First Telegram of the Flight Joe Dozier, Deceased, Did It", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
