---
layout: ecu
title:  "Unquenchable Forever"
customdate: "1932 November 18"
order: 22
---

{% include breadcrumbs.html %}

<h3>Unquenchable Forever</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Unquenchable Forever
</p>
<p>
  The Latin Poet Horace expressed awestruck admiration for the man who first in fragile bark did tempt the treacherous sea and thus biased the way for all the argosies of discovery, adventure and commerce that came after him.
</p>
<p>
  The conquest of he sea was indeed a splendid achievements, but neither in sheer daring nor in the difficulties to be overcome can it compare with the conquest of the air. Back of the flight of the Wrights on December 17, 1903 were years on diligent and thought research, patient, and painstaking experiment, and trying and arduous labor. The problems involved the construction of the first sailing vessel or even of the first steamship were simple indeed as compared with those involved in the construction of the first airplane, and the hazards of the deep are a nothing to the perils of the untried air.
</p>
<p>
  Early man aspired to fly, but so completely baffled were his efforts in that direction that flying came to be impressed on the subconscious mind as one of the impossibilities. It has been but one generation since boys wished to put the stamp of utter impracticability on a proposition would say, "Why he can no more do that than he can fly."
</p>
<p>
  Indeed so contrary to all human experience and thinking had the idea of flight come to be that even twentieth century man refused to accept the conquest of the air as settled face hen first it was achieved. As late as 1908 a great newspaper suspended a reporter who sent out a story of what the Wrights were doing in the Kill Devil Hill region for faking his facts. Mark Sullivan suggests that despite what was printed in the newspaper hardly a man really accepted flight as an accomplished face until he had himself seen it.
</p>
<p>
  Thus it happens that the greatness of the achievement of the Wrights was not recognized by the world when the first flight was made on December 17, 1903 and thus it is that it was 25 years after that flight before the corner stone of the Wright Memorial was laid. Even in dedicating that memorial tomorrow perhaps the world as little sense what the Wright have done as it sensed the significance of the change from the horse drawn victoria in whish Theodore Roosevelt rode to his inauguration to the automobile which bore Woodrow Wilson to the same ceremony. Between that automobile and the victoria in eight years had come a change in transportation more revolutionary than the world had seen in the 20 centuries between the victoira of Roosevelt and the chariot of Julius Caesar. Yet between automobile and airplane must be bridged a deeper and wider chasm that between he chariot and the automobile.
</p>
<p>
  The Wright Memorial is the most typically American of a memorial yet erected to man. It is a memorial on inventive genus. Fittingly reads the inscription in the memorial room beyond doors of stainless steel:
</p>
<p>
  The Long toll of the brave <br/>
  Is not quenched in <br/>
  Darkness nor hath counting <br/>
  The cost fretted away <br/>
  The zeal of their hopes <br/><br/>

  "O'er the fruitful earth <br/>
  And athwart the sea has passed <br/>
  The light of noble deeds<br/> 
  Unquenchable forever"
</p>
<p>
  The enduring granite of the memorial may crumble and the unceasing rain of years may wash away the last vestige of the firmly anchored sand of Kill Devil Hill. But the achievement of the Wrights will shine on.
</p>
<p>
  The Bridge and Progress
</p>
<p>
  The history of civilization is a story of the bridging of chasms, spiritual or physical. Julius Caesar led his armies to the snores of a river and then "a bridge having been built," passed on to new conquests. In modern days the airplane of a Lindbergh has narrowed to a day's journey the chasm of a separating ocean.
</p>
<p>
  Prior to 1920, the seven counties north of Albemarle Sound and north of the Chowan River, though in them were cradled the earliest settlements in what is now North Carolina, had come to be called the “Lost Provinces of the East.” Though hey comprised a large part of the First Congressional District it was a common saying that “you couldn’t even elect a Congressman from across the Sound.”
</p>
<p>
  Then the Chowan River was bridged at Winton and again between Edenhouse and Emperor. Hardly was this later project complete before the name Ehringhaus as the next Governor of North Carolina was being mention and tomorrow this son of he Albemarle, Governor-elect speaks for North Carolina as the Wright Memorial on Kill Devil Hill is dedicated. Despite a barrier to high to permit free movement from the farm to its natural market, bridges have so brought the Albemarle back into its rightful place in the State and in the sun that Elizabeth City is just down the road piece from Raleigh or Greensboro or Murphy.
</p>
<p>
  Moreover, those who can recall the skepticism with which proposals to bridge the lower Chowan or Currituck Sound or Roanoke Sound were at first received and the ridicule which hey at first provoked should have no difficulty in believing that the building of bridges in the Albemarle will be continued. Even now there is talk of a bridge across Albemarle Sound, between Washington and Chowan or between or between Pasquotank and Tyrrell. Today ferries between Manns Harbor and Roanoke Island and between East Lake and Fort Landing enjoy as much patronage as did in the beginning the ferry across Currituck Sound. It takes no prophetic eye to envision a day when bridges shall restore to counties now separated by rivers and sounds that community of interest that was theirs in the days when the waterways of this coast were bearers of instead of barriers to commerce.
</p>
<p>
  Of all the bridges that have been built in the Albemarle, tool or free hardly the Chowan Bridge just above Edenton itself is more importance to the section than the bridge across Currituck Sound which will bear the Weight of the pilgrimage to Kill Devil Hill tomorrow. This bridge has provided bus service between Elizabeth City and Manteo as a result of which these two communities read the same evening the same afternoon newspaper. This bridge as hastened the erection of the Wright Memorial. Without this bridge there would be no 17 miles of beach highway between Kitty Hawk and Roanoke Sound. Because of this bridge new impetus has been given the movement for a short cut between Elizabeth City and Point Harbor. Because of it Kill Devil Hill, Kitty Hawk and Old Fort Raleigh on Roanoke Island, like electro-magnets suddenly made alive by a powerful current irresistibly draw the tourist to these shrines. Because of this bridge attendance at the Wright memorial dedication tomorrow is expected to be numbered in thousand instead of hundreds. Because of it fitting observance of the three hundred and fiftieth anniversary of this region is being planned and seems assured.
</p>
<p>
  It is fitting then that in this edition tribute should be paid men whose enlightened imagination first envisioned it and no less to the men whose practical wisdom and perseverance and patience and endurance saw it through. From some source there lingers an impression that it was Leonard Tufts of Pinehurst fame who first gave spoken impression to the idea of bridging Currituck Sound. Came then a long train of dreamers and at last Carl Blades, Will Gaither and Bill Jones to see it through. The Daily Reflector Advance salutes them all and congratulates them on the happy fruition of hopes the sweet in realization because they were so long deferred.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Unquenchable Forever", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
