---
layout: ecu
title:  "Ehtridge Was Thrilled When Man First Flew"
customdate: "1932 November 18"
order: 29
---

{% include breadcrumbs.html %}

<h3>Ehtridge Was Thrilled When Man First Flew</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>

<p>
  ETHERIDGE WAS THRILLED WHEN MAN FIRST FLEW
</p>
<p>
  Coast Guardsman who Witnessed First Flight and Assisted the Wrights with Plane Living in Manteo
</p>
<p>
  NOT SURPRISED
</p>
<p>
  Had Seen So Many Gliding Experiments Work Out that He had Belief in the Brother's Ability
</p>
<p>
  Manteo, November 18 - "I was pretty sure those boys were going to fly successfully that day." says Adam Etheridge, one of the three living survivors of the group that witnessed the birth of aviation. "I'd seen them do a lot of gliding and that motor was pretty light. And I could see that they thought they could fly, so I thought so too."
</p>
<p>
  "John Daniels and I talked about it after they had flown, and we agreed that something was coming of it in the future. Of course we had no idea that flying would be as successful as it has as soon as it has, But the Wrights didn't think so either.
</p>
<p>
  In this connection it might be said that in 1908, Wilbur Wright expressed the opinion that it would never be possible to fly the Atlantic Ocean in a plane powered by a gas engine.
</p>
<p>
  "I liked them both fine; they were good boys," declared Etheridge. "Hard workers they were too. If weather wouldn't let them work outdoors they went inside. They always managed to get a day's work done."
</p>
<p>
  The former Coast Guardsman got a big kick out of watching the experiments. "I never enjoyed anything in my life as much as I did watching those boys fly. And I watched them a lot. Over at the station we used to spend all our spare time over there and whenever we could find an excuse, we'd head right straight for that camp.
</p>
<p>
  "When their first power flight was a success I guess we were as about tickled at it as the Wrights were." By then, according to Etheridge, the Coast Guard detail was devoted to the two brothers took more than just a friendly interest to their well-being [well being].
</p>
<p>
  His version of the first flight varies but little from that of John Daniels', except that Etheridge admittedly does not remember the exact reason why the plane came down after it's short hop.
</p>
<p>
  "I saw them practice gliding until they were as good as birds, and I saw them make the first airplane flight, but the only time I was ever really afraid for their safety was a few years after the first flight when they came back to experiment some more with gliders. "That day," he said "there was a heavy wind blowing, but that didn't stop 'em. They weighted the front end of the glider down with a long hanging weight and then stuck her in the air. she'd stand on her tail and look like she was going on over, but those boys knew what they were doing and could hold the glider up in the air almost a stand still. Finally when they got ready they would set her down a few feet behind where they had launched her."
</p>
<a href="../../img/AETH/bAETH.jpg">
  <img src="../../img/AETH/sAETH.jpg" />
</a>
<br/><br/>
<p>
  [Caption] Adam Etheridge, left, and John T. Daniels, former Coast Guardsmen who witnessed the first successful flight made by the Wrights at Kitty Hawk. Both assisted in carrying the plane back to the take-off rail after the flights.
</p>
<p>
  Etheridge described the method of launching both the plane and the gliders. According to him, the gliders were so light that they could easily be carried by two men who would run down the side of the hill and then throw the machine into the air. After that it was up to the pilot.
</p>
<p>
  The plane, on the other hand took off from the flat surface at the bottom of the hill under it's own power. And then according to the witness, "it looked like all they would have had to do was to get it high enough to clear all those sand dunes and they could have flown for miles. But I don't think they cared about getting it very high; what they wanted was to see if it would fly."
</p>
<p>
  Mr. Etheridge likes the pylon-shaped beacon commemorating this occasion and thinks it a fitting reward. "John and I were talking about it the other day, about how it marked a spot where we had some mighty good and might interesting times, and about how we would like to be able to go back there to live. We think it would be nice for us to be there; not because it's us, bit because we just happen to have actually seen this thing that has meant so much to the world and that everybody who comes to see the monument will be interested in.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Ehtridge Was Thrilled When Man First Flew", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
