---
layout: ecu
title:  "Sixty Foot Granite Memorial Now Towers High Above Sea Level On Scene of Man's Victory Over Air"
customdate: "1932 November 18"
order: 30
---

{% include breadcrumbs.html %}

<h3>Sixty Foot Granite Memorial Now Towers High Above Sea Level On Scene of Man's Victory Over Air</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>

<p>
  Towers High Above Sea Level On Scene Of Man's Victory Over Air
</p>
<p>
  Has powerful Lamp in Revolving Beacon to Flash Cheery Messages to Those Who Travel at Night
</p>
<p>
  SHAPED LIKE STAR
</p>
<p>
  Monument Rests on Solid Concrete Base Which is Sunk 35 Feet Into Sands of Kill Devil Hill
</p>
<p>
  Resting on a concrete foundation which strikes 35 feet down in to the center of the hill, and built around a concrete core, the Wright memorial beacon today rises 60 feet above the summit of Kill Devil Hill, forever marking the spot where aviation was born.
</p>
<p>
  In its tower, 151 feet above sea level, a 1,000 watt electric lamp will provide light for the revolving beacon that will flash its message of cheer to the night traveller [traveler], whether on sea, highway or in the air. The pylon itself will be lighted by 11 flood lights [floodlights] of 500 watts each that surround it.
</p>
<p>
  Suggested perhaps by the insignia of the air corps, the memorial stands on a five pointed [five-pointed] starshaped [star shaped] base, paved with durex blocks going down 12 feet into the sand.
</p>
<p>
  The granite shaft of which the shaft is constructed is North Carolina stone, the pink granite coming from Salisbury and the white variety having been quarried in Mt. Airy. The blocks were placed around the concrete core, much as bricks are used to convert a frame house. In finishing the interior the same procedure was followed.
</p>
<p>
  Each stone was cut at the quarry for its proper place and was handled 10 or 12 times before being set. The outside of the pylon is finished in six-cut work, while the interior has a sand blast finish.
</p>
<p>
  The walkway coming up to and around the monument is paved with blocks made from beach gravel and cement. These walkways approach the monument from the rear and then circle to the front, where the monument may be closed by double doors of panelled [paneled] stainless steel. On the four panels of each door a sculptor has depicted man's efforts at flight, including Icarus, whose wings, according to legend, were melted off when he flew too near the sun. The kite, the glider, the balloon, and so on are suggested and the climax is reached in today's tri-motored plane.
</p>
<p>
  <a href="../../img/AGME/bAGME.jpg">
    <img src="../../img/AGME/sAGME.jpg" />
  </a>
  <br/><br/>
<p>
  [Caption] Erected on the top of Kill Devil Hill, this granite pylon commemorates the victory over air of Orville and Wilbur Wright. It rises 60 feet in the air and rests on a sunken foundation.
</p>
<p>
  Inscriptions on Monument
</p>
<p>
  On the outside of the monument appears this inscription:
</p>
<p>
  IN COMMEMORATION OF THE CONQUEST OF THE AIR BY THE BROTHERS WILBUR AND ORIVILLE WRIGHT CONCEIVED BY GENIUS ACHEIVED BY DAUNTLESS RESOLUTION AND UNCONQUERABLE FAITH
</p>
<p>
  The first four lines of the inscription appear on the south side of the monument, just above the doors closing the entrance. On each side of the monument, on the facing just above the base appears one of the other three lines.
</p>
<p>
  Entering the monument one
</p>
<p>
  Bermuda and Bitter-tannic
</p>
<p>
  goes into a pink-walled, black floored [black-floored] Memorial room, entirely finished in granite of beautiful quality. Directly opposite the entrance is a large niche which will contain a small model of the original machine. On each side of the entrance is a smaller niche, each of which is to contain a bust of one of the brothers.
</p>
<p>
  The interior is lighted by 32 lights in the dome and from the Memorial room a circular stairway leads up to the map room, the electric panel room and the observation platform.
</p>
<p>
  On the east side if the room is this inscription:
</p>
<p>
  THE LONG TOIL OF THE BRAVE IS NOT QUENCHED IN DARKNESS NOR HATH COUNTING THE COST FRETTED AWAY THE ZEAL OF THEIR HOPES
</p>
<p>
  O'ER THE FRUITFUL EARTH AND WATER THE SEA
</p>
<p>
  HATH PASSED
</p>
<p>
  UNQUENCHABLE FOREVER
</p>
<p>
  PINDAR
</p>
<p>
  On the west side is carved this:
</p>
<p>
  FROM A POINT NEAR THE BASE OF THIS HILL WILBUR AND ORVILLE WRIGHT LAUNCHED THE FIRST SUCCESSFUL FLIGHT OF A POWER DRIVEN AIRPLANE DECEMBER SEVENTEENTH IN NINETEEN HUNDRED AND THREE
</p>
<p>
  maps showing Flights
</p>
<p>
  The map room, immediately over the Memorial room contains a stainless steel table n which there is a map showing all the notable flights in the first quarter of a century of aviation's history, beginning with the flight of the Wrights n December 17, 1903, and ending with Kingsland Smith's Oakland to Brisbane hop in 1928.
</p>
<p>
  The other flights shown on the map are: The Wrights, Dayton, 1904-1905, Farman, Chalones-Remis, 1908; Wright Brothers, Paris, 1909; Wright brothers, Rome, 1909, Wright Brothers, Berlin, 1909; Wright Brothers, New York, 1909; Bleriot, Barques to Dover, 1909; Paulhon, London to Manchester, 1910; Curtis, Albany to New York, 1910; c.p. Rogers. New York to Long Beach, 1911; Garros, Frejus to Bizerte, 1913; U.S. Navy NC4, New Foundland to Azores to Lisbon to Plymouth, 1919; Alcock and Brown, New Foundland to Ireland, 1919; Ross Smith, London to Australia, 1919; Sac Dira and Contembo, Lisbon to Rio de Janeiro, 1922; U.S. Army, around the world, 1924; Jerry Rodgers, San Francisco to Maui, Hawaiian Island, 1925; Byrd, Spitzenbergen to north pole, 1926; Lindbergh, New York to Paris, 1927; De Pinedo, four continent flight, 1927; Mailland and Hagenbergn, Oakland to Honolulu, 1927; Bremen, Dublin to Greenly Island, 1928.
</p>
<p>
  Electric Platform
</p>
<p>
  Leaving the map room one continues on up to the electric panel board platform, 22 feet above the top of the hill. From here the lighting of the monument is controlled. Working through this panel board id the astronomical time switch that will automatically turn on the flood lights [floodlights] and the beacon lamp 15 minutes before sunset and will turn them off again 15 minutes after sunrise.
</p>
<p>
  Just below the turret beacon is the observation platform. From here can be seen Colington to the west, the North end of Roanoke Island to the southwest, Kitty Hawk and Kitty Hawk Bay, north by west, and Point Harbor to the northwest. Closer at hand are the fresh ponds and Nags head to the south and Kill Devil Hill coast Guard Station between the hill and the sea.
</p>
<p>
  About 35 designs were presented to Quartermaster Gen. Frank B. Cheatham. A jury of awards of the American Institute selected the design of Robert P. Rodgers and Alfred E. Poor, New York architects, and this design was approved by the Commission of Fine Arts and the joint Congressional Committee.
</p>
<p>
  Jury Selects Design
</p>
<p>
  In selecting the design the jury said that it was "not only the most original and impressive as seen from land, but would also be extremely effective as seen from the air. It strongly manifests the dominant motive suggested in the program, namely a memorial to the birth of human flight."
</p>
<p>
  The cornerstone for the beacon was laid December 17, 1928, by Secretary of War, Dwight F. Davis. Orville Wright sealed documents and descriptions of the first flight in a special box and placed them in the stone. The exercises were presided over by F. Trubee Davison, Assistant Secretary of war and Congressman Lindsay Warren made the principal address.
</p>
<p>
  Congressman Warren and Senator Hiram Bingham of Connecticut had presented to congress the original bills which were consolidated into the bill providing for the monument and passed in 1927.
</p>
<p>
  The site on which the memorial stands was donated by the Carolina Development Company, and by Frank L. Stick, Charles M. Baker, and Allen R. Hueth , New Jersey Sportsmen.
</p>
<p>
  The contract was let to Wills, Taylor and Mafera of New York and at noon on February 4, 1931, Maj. Gen. John L. DeWitt, Quartermaster General of the Army, turned the first shovelful of earth, signifying the beginning of construction.
</p>
<p>
  Work Begun In 1931
</p>
<p>
  Actual work on the pylon was begun in the late spring of 1931, the first granite arrived in October and the foundation was completed in the same month. In September 1932, after 20 months of skillful work, the contractors were putting on the finishing touches and waiting only for the arrival of a few electrical fixtures to be installed. The contractors stated then that the monument would be completed by October.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Sixty Foot Granite Memorial Now Towers High Above Sea Level On Scene of Man's Victory Over Air", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
