---
layout: ecu
title:  "Captain Martin L. Johnson is Veteran Sailor of Dare Water Routes and Bypaths"
customdate: "1932 November 18"
order: 19
---

{% include breadcrumbs.html %}

<h3>Captain Martin L. Johnson is Veteran Sailor of Dare Water Routes and Bypaths</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>
  <p>CAPTAIN MARTIN L. JOHNSON IS A VETERAN SAILOR OF DARE WATER ROUTES AND BYPATHS</p>
  <a href="../../img/AJON/bAJON.jpg">
    <img src="../../img/AJON/sAJON.jpg" />
  </a>
  <br/><br/>
<p>
  [Caption] CAPTAIN JOHNSON
</p>
<p>
Manteo, Nov 18 - For more than forty eight years Captain Martin Johnson has operated a freight and passenger service between Manteo and Elizabeth City and a greater portion of that time he has been the owner operator of the only mail service between these two points.
</p>
<p>
Recalling the early days of his activity, Captain Johnson said: "The trip I made from Manteo nearly forty years ago in the old Lew Willis, a sail boat of small tonnage, there was no town here, no post office, no courthouse, and no jail. Only six dwellings were then in what is now the town of Manteo and only one store or business place that was Joe Etheridge's store."
</p>
<p>
Most of the lumber for the buildings that now dot thickly each side of the street in the thrifty little county seat was brought here on one of the boats by Captain Johnson. Thousands of passengers have walked the decks of the boats he has captained in those near one half century of years and millions of tons of freight and thousands of tons of mail have been transported by him.
</p>
<p>
From the old time sailing schooner Lew Willis to the sloop Laura, the sharpie Manie Carlis, the bug eye Hattie Creff, later a gas engine boat and still later remodeled to a crude oil motor vessel of increased passenger and freight capacity, to the John H. Small, a steamer and the Hamilton, a heavy tonnage steamer and last the faithful Trenton, which today maintains a service that has been kept up for more than 16 years with very few days of failure registered against her. Captain Johnson has captained every type of boat suitable to the shallow waters of Dare County in the course of his duties.
</p>
<p>
It was on the old Hattie Creef in 1911 that Wilbur and Orville Wright made the trip from Elizabeth City to Nags Head, and Captain Johnson has a photograph taken of them while sitting on her deck on that trip. He takes pride in this possession and in the fact that he had some little part in the cause of the great celebration to be staged at Kill Devil Hill Saturday.
</p>
<p>
No more courteous a captain ever stepped on the bridge of any vessel than Captain Martin Johnson. He is known to more people over the entire country than any other individual in Dare County, a statement that will stand up with out contradiction. His service to Dare County is inestimable in its value, for he is rated as one of the pioneers of building and development throughout the entire county.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Captain Martin L. Johnson is Veteran Sailor of Dare Water Routes and Bypaths", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
