---
layout: ecu
title:  "Surprised In a Way and In a Way I Wasn't, Says John T. Daniels Who Saw First Flight"
customdate: "1932 November 18"
order: 28
---

{% include breadcrumbs.html %}

<h3>Surprised In a Way and In a Way I Wasn't," Says John T. Daniels Who Saw First Flight</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  "Surprised In a Way and In A Way I Wasn't" Says John T. Daniels Who Saw First Flight
</p>
<p>
  Manteo, Nov. 18 "Sure I was surprised in a way and in a way I wasn't" replied John T. Daniels of Manteo, one of the three living witness of the first flight and aviations first casualty when asked what his reaction to the sigh of a man flying in a heavier than air machine.
</p>
<p>
  "Of course I had seen the brothers in their gliding experiments a lot in the preceding two years, so I knew they could go through the air. But I didn't know it with an engine.
</p>
<p>
  "As far as that goes, they didn't know themselves for sure. One of them told me that if they failed to fly, they would quit their experimentation--but he added that he didn't think they were going to have to quit.
</p>
<p>
  On the 17th of December 1903 Daniels, accompanied by Adam Etherfdge and W.S. Dough of the Kitty Hawk Coast Guard Station with which he was also connected, went to Kill Devil Hill to assist the brothers. There they were joined [joined] by Johnny Moore of Nags Head and W.C. Brinkley of these five witnesses, Etheridge and Moore are the survivors in addition to Daniels.
</p>
<p>
  Daniels said that the group assisted the brothers in carrying the machine to the side of Kill Devil Hill and placed it on the monorail track where it was tied fast with a wire. The engine was started ad allowed to warm up while the Wright's separated themselves from the little group. They talked together for several minutes then flipped a coin.
</p>
<p>
  After is fell according to Daniels, the brothers cam together to the machine and Orville shook hands with his brother, telling him goodbye. "He couldn't have been sure that he would ever come back," said Daniels. Then the younger brother came to the machine lay down in it and gave the signal to clip the restraining wire. The machine shot down the track under its own power and hen leapt into the air. Mr. Daniels strategically placed by Wilbur, snapped the shutter of the camera taking the first photograph of a plane in action.
</p>
<p>
  "As the plane took off" recalled Daniels, "Mr. Orville Wright pulled her nose up to high until she began to slip. Then he dropped her and managed o get her leveled out, but couldn't maintain his altitude and had to come down. His brother was there like a shot but Orville wasn't hurt.
</p>
<p>
  Then Wilbur went up later and flew nearly three-quarters of a mile according to an estimate by Daniels. "His plant was to fly around the coast guard station and back," said the Manteo main, "but he wasn't flying much high than my head and finally his rudder got caught in a sand dune and pulled him down.
</p>
<p>
  The former coast-guardsman [coastguardsman] became the first casualty later when he was assisting the brothers in returning the plane to the take off track. A strong breeze puffed up and seeing the plane endangered he and Orville took one side and the rest of the group. As the plane began to rise on one side, Wilbur and his assistant dropped off, Orville, who was "as fast as lighting and as quick as a cat" climbed right through the plane and out of side. According to Daniels' story, he was larger than Orville and not as fast, and when he tried to get thought he was caught by a strut and the plan whipped over with him. "I tried to get loose," he reflected, "but the thing had me. I was still caught and stayed with the plane until its was finally wrecked--torn all to pieces, but I got out with barely a scratch."
</p>
<p>
  Daniels said that when the Wrights came to Kitty Hawk they knew exactly what they wanted to do and set out to do it. By he time they had gotten their glider plans definitely settled for the final edition of that machine, they were able to handle it almost perfectly. "As well as that gull you see over there," is Mr. Daniels version.
</p>
<p>
  "They were hard workers," he said. "When working time came they dropped what they were doing, no matter what it was and went to work. And then when quitting time came, they stopped and immediately became pleasant, good-natured and good humored [good-humored] men again. They were a fine pair."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Surprised In a Way and In a Way I Wasn't, Says John T. Daniels Who Saw First Flight", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
