---
layout: ecu
title:  "Where North Carolina History Begins"
customdate: "1932 November 18"
order: 18
---

{% include breadcrumbs.html %}

<h3>Where North Carolina History Begins</h3>

<div class="well">
  <label>Text and Image from News-Articles</label><br/>
  <p>Where North Carolina History Begins</p>
  <a href="../../img/AMAP/bAMAP.jpg">
    <img src="../../img/AMAP/sAMAP.jpg" />
  </a>
  <br/><br/>
<p>
  [Caption] This map shows how Dare County has been made accessible to the motorist who drives in on hard surface roads, with the exception of a 12 mile stretch of treated shell and oil construction east of the Wright memorial Bridge on which one crosses Currituck Sound. Across the bridge the motorist drives down the most scenic highway on the Carolina coast, crossing Roanoke Bridge across Raonoke sound, to Manteo, county seat of Dare. Manteo is 209 miles from Raleigh, 75 miles from Elizabeth City, and 101 miles from Edenton.
</p><p>
  WRIGHT BROTHERS FIRST AEROPLANE FLIGHT - DEC. 17, 1903
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Where North Carolina History Begins", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
