---
layout: ecu
title:  "Memorial Body Always Behind Tower Plans"
customdate: "1932 November 18"
order: 24
---

{% include breadcrumbs.html %}

<h3>Memorial Body Always Behind Tower Plans</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Memorial Body Always Behind Tower Plans
</p>
<p>
  Saunders, President of Kill Devil Hill memorial Association, Tells Original purpose of body
</p>
<p>
  Organized here
</p>
<p>
  Constant Effort of Material Assistance in Completion of the Road, the Bridge, and the Pylon.
</p>
<p>
  "In 1927 an editorial which had originally appeared in the Elizabeth city Independent was reprinted in a Washington paper. Within a few days," said W.O. Saunders, editor of the independent," congressman Lindsay Warren of North Carolina and senator Hiram Bingham of Connecticut presented to their respective houses bills authorizing the construction at Kill Devil Hill of a monument to commemorate the first successful human attempt at power-driven airplane flight.
</p>
<p>
  Neither had conferred with the other on the subject of their bills but the bills were almost identical. According to Saunders, both men had drawn their bills in accordance with a previously introduced bill that had not passed.
</p>
<p>
  The 69th congressed passed a bill providing for the construction of the memorial, appointing a committee composed of the secretary of war, the Secretary of commerce, and the secretary of the navy to look into the matter.
</p>
<p>
  "The investigating committee ran into difficulties over the inaccessibility of Kitty Hawk and were unimpressed with the site for the proposed memorial," says Saunders.
</p>
<p>
  Meanwhile, the imagination of a little group of Elizabeth City men had been stirred and they were resolved that a fitting tribute should be paid to the wrights and that the tribute should be accessible. So, on the night if August 16, 1927, the kill Devil Hills memorial Association was formed. "The Name." According to Saunders, who was immediately elected president of the organization and still holds the office, "was selected because of lack of a better one, and because it is an unusual type and would better attract attention."
</p>
<p>
  The first object of the association was, in the words of a printed booklet, "to further a project to bridge Currituck Sound between the mainland and Kitty Hawk and build a hard surface road from Kitty Hawk to kill Devil Hills; to make the proposed monument accessible to all Americans by motto,"
</p>
<p>
  This object the Association has attained and in its attainment has realized its major, but unexpressed in the booklet, object- the building of the monument. "The Association, : said Saunders, 'was the only organized body that was constantly pushing the project. The National Aeronautical Association was behind it and cooperated with us to a certain extent; but with them it was a sideline; with us it has been our only reason for existence."
</p>
<p>
  Saunders also gave congressman Lindsay Warren credit for throwing all his influence behind the project and continually working to push it through.
</p>
<p>
  The second object of the Association again quoting from the booklet, was "To provide and airport and suitable accommodations at Kill Devil Hills for Aviators and aerial tourists who in all the years to come will desire to make at least one pilgrimage tot he historic shrine of aviation."" Plans have been made for this, but in the face of economic difficulties they cannot be gone on with at this time.
</p>
<p>
  "I feel that our object and reason for existence has been attained in a full measure," said Saunders. 'And I don't know that there is much left for us to do. But we haven’t yet decided what will become of the Association. It may continue."
</p>
<p>
  The first officers of the Kill Devil Hills Memorial Association in addition to Saunders, were: J.C.B. Ehringhaus of Elizabeth City, first vice president; Thomas Nixon of Hertford, second vice president; Dudley W. Bagley of Moyock, third vice president; and W.G. Gaither of Elizabeth City, secretary and treasurer. These officers were supported by a regional advisory council and the organization was forth supplemented by a national advisory council.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Memorial Body Always Behind Tower Plans", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
