---
layout: ecu
title:  "Proclamation of Mayor of Manteo Declares Holiday"
customdate: "1932 November 18"
order: 34
---

{% include breadcrumbs.html %}

<h3>Proclamation of Mayor of Manteo Declares Holiday</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  PROCLAMATION OF MAYOR OF MANTEO DECLARES HOLIDAY
</p>
<p>
Manteo, Nov. 18 - Desiring to honor the memory of the late Wilbur Wright and to participate in honoring the presence of Orville Wright, on the occasion of the dedication of the Wright memorial on Kill Devil Hill tomorrow, Saturday, November 19:
</p>
<p>
I, Hughes B. Hoyle, Mayor of the town of Manteo, the county seat of the county that is proud to claim within it's boarders the site of the first successful airplane flight, hereby designate Saturday a holiday, and urge all merchants and business men to close their places of business from the hours of 9 a. m., to 3 p.m., tomorrow, and join with their employees and the citizens in the dedication exercises of the monument erected to commemorate that event.
</p>
<p>
Done this the 17 day of November, 1932.
</p>
<p>
HUGHES B. HOYLE, <br/>
Mayor, The Town of Manteo.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Proclamation of Mayor of Manteo Declares Holiday", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
