---
layout: ecu
title:  "Preparation at Kill Devil Hill Causing Bustle"
customdate: "1932 November 18"
order: 21
---

{% include breadcrumbs.html %}

<h3>Preparation at Kill Devil Hill Causing Bustle</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  PREPARATION AT KILL DEVIL HILL CAUSING BUSTLE
</p>
<p>
  Region Has Taken on Atmosphere of an Army Reservation, Hollywood Miniature Style
</p>
<p>
  HIGHWAY PATROL
</p>
<p>
  Stare Police present to Assist in Arrangements for the Safety and Comfort of Visitors
</p>
<p>
  Manteo, Nov. 18-- Taking on the appearance of an Army reservation, with a "Hollywood" in miniature much in evidence at this time, Kill Devil Hill, scene of the first airplane flight and scene of the approaching dedication of the beautiful winged pylon on its top is rapidly becoming a bustling community of those who are preparing for the events of Saturday, to participate in and perpetuate what is to happen there tomorrow morning when men of not the nation over will assemble for the dedication of the $275,000 monument erected o Wilbur and Orville Wright, pioneers in aerial navigation.
</p>
<p>
  Yesterday the hot dog stand and other places quickly assembled for the refreshment and comfort of the masses that are to be gathered there, were dotting the flat land to the south of the hill and Army trucks with advance parties were beginning to arrive to lay out the grounds for the camp site of he regiment of soldiers who are to come from Fortress Monroe. Quarters fare to be established of tent and wit them will quartered the thirty patrolmen with Captain Charlie Farmer, of Raleigh, in charge.
</p>
<p>
  Around the Hill and with Captain Charlie Farmer of Raleigh, in charge.
</p>
<p>
  Around the Hill and over the grounds could be seen several men, who represented the leading motion picture producers of the country. They were making an inspection and gaining a perspective of the lay out preparatory to producing both sound and silent pictures that will tell to the world what happens near here tomorrow. Al Holland and James Van Horn, representing Pathe, sound producers, said they would have machinery and equipment there to reproduce the entire proceedings, with men in the air and all around. Lew Hutt, with the Universal, was here and will have the company's facilities for producing silent pictures on he ground in plenty of time. Al Wadden, of the Fox Company, had not arrived but is on the way with his men and equipment, and the promise is that not a phase of the dedication will be missed by these photographers.
</p>
<p>
  Captain Kindervater, who has nursed the grass and the shrubs through four years of intensive cultivation, successfully anchoring this great mass of sand securely with the help of nature and her paints is bustling about from place to place making ready for prepared the parking places for the official cars and he run-ways for the visitors and spectators. His supervision is intense and accurate, true to Army style, and no detail of his instructions will be found undone hen the official party arrives.
</p>
<p>
  State highway forces are busy on the road leading toward here getting the shoulders and side roads ready and safe for the thousands who will be unacquainted with the beach soil for driving. Mr. Roper, supervisor of this district has this in charge, and is doing a fine job in clearing the water from the hard surface. Heavy rains last week made the prospects for safe travel doubtful until the highway department got busy. Late yesterday most of the water was gone, and with high winds and sunshine today, it will be in fine condition.
</p>
<p>
  On top of the Hill stand the symbol of an invention that has produced more rapid changes in the past quarter century than all other inventions. As if alive is appears, silently waiting the coming of that man who made it famous, and in apparent reverence for the memory of that other man who lived not to this event, it stands as an immense pyramid raising itself above the hills and the ocean proudly the subject of the homage soon to be paid it. Wilbur Wright, the master inventor, will be here tomorrow in spirit along with the life presence of his brother Orville Wright, the other master inventor and dedication will be equally in honor of them both, as was the cornerstone laying and the long months of construction.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Preparation at Kill Devil Hill Causing Bustle", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
