---
layout: ecu
title:  "Wright Memorial Bridge"
customdate: "1932 November 18"
order: 17
---

{% include breadcrumbs.html %}

<h3>Wright Memorial Bridge</h3>

<div class="well">
  <label>Text and Image from News-Articles</label><br/>
  <a href="../../img/APWB/bAPWB.jpg">
    <img src="../../img/APWB/sAPWB.jpg" />
  </a>
  <br/><br/>
<p>
  [Caption] WRIGHT MEMORIAL BRIDGE
</p>
<p>
  View of the Dare County end of the Wright Memorial Bridge, through which thousands of cars pass going to Dare County.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Wright Memorial Bridge", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm AsvMisc-1   </td>
  </tr>
</table>
