---
layout: ecu
title:  "Ruth Nichols"
customdate: "1932 November 18"
order: 33
---

{% include breadcrumbs.html %}

<h3>Ruth Nichols</h3>

<div class="well">
  <label>Text and Image from News-Article</label><br/>

<a href="../../img/ARUN/bARUN.jpg">
  <img src="../../img/ARUN/sARUN.jpg" />
</a>
<br/><br/>
<p>
  [Caption] RUTH NICHOLS
</p>
<p>
  This famous New York society girl, one of the world's best known women aviators, will unveil the Memorial pylon at Kitty Hawk tomorrow.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Ruth Nichols", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
