---
layout: ecu
title:  "Sportsmen Find Long Sought Ideal Spot in Dare County Paradise"
customdate: "1932 November 18"
order: 27
---

{% include breadcrumbs.html %}

<h3>Sportsmen Find Long Sought Ideal Spot in Dare County Paradise</h3>

<div class="well">
  <label>Text and Image from Microform News-Article</label><br/>

<p>
  Sportsman Find Long Sought Ideal Spot In Dare Country Paradise
</p>
<p>
  Year Found Fishing for Those Who Like the Road; Equally Ideal Hunting Conditions of Gunners
</p>
<p>
  MANY CLUBS
</p>
<p>
  Northern Sportsmen Attracted To Dare Building Clubs, Some Valued at More than $50,000
</p>
<p>
  Dare county is rapidly becoming one of the most popular centers for hunters and fisherman. In season the visitor to Manteo may see automobiles bearing the license plates of nearly every state in the union parked in Manteo while their owners roam through this sportsman's paradise.
</p>
<p>
  For many years men came to Dare for its duck and goose shooting alone. But of late years the shore birds have furnished an interesting and attractive feature of Dare county hunting. The Golden Plover, Yellow Legs, and other varieties of shore birds come in great quantities excellent quail and snipe shooting.
</p>
<p>
  The duck and goose shooting is believed by some to be unsurpassed. This year the season opened in November 16 and will continue two months to January 15, 1933.
</p>
<p>
  Northern sportsmen are being more and more attracted to Dare and many of them are locating camping and hunting lodges in the county. Some of these clubs are valued at well over $50,000.
</p>
<p>
  Among those who are established there are Andrew and George Mellon of the Duck Island Club, Francis L. Pruyn and David Lindquist- of the Bodie Island, Joseph P. Day of the Goose Wing Club, and Henry Phipps well known poloist.
</p>
<p>
  The annual migration of the water fowl [waterfowl] in Dare county begins in the early fall. Through the gray skies in precise formation they streak out of the north following blindly the inherited instinct of thousands of years into the wild marshland of Dare.
</p>
<p>
  In Dare too, the bird has an even chance for nature has arranged safeguards for them. The country is noted among other things as the sportiest shooting ground in America. The Albemarle and Pamlico sounds stretch away from the eastern shores of the sand banks in a broad expanse of quiet water wherein the birds may find comparative safety from the storms of the Atlantic and from the guns of the sportsman.
</p>
  <a href="../../img/ASFL/bASFL.jpg">
    <img src="../../img/ASFL/sASFL.jpg" />
  </a>
  <br/><br/>
<p>
  [Caption] General Lewis A. Basch, left, and Captain John A. Gilman, right, at boulder erected by National Aeronautical Association.
</p>
<p>
  Here the sportsman cannot depend on the gun alone, but must match his knowledge of the habits of his quarry and his skill with the gun against the instincts and wariness of the birds. Sportsmen who seek and appreciate these qualities in hunting will find Dare County affording the maximum in hunting adventure.
</p>
<p>
  As to the fishing, there is no month in the year when some kind of fishing is not permitted, and both fresh and salt water [salt-water] fish have been caught every month in the year. There are few parts of Dare from which one cannot see the sea and innumerable streams thread through and cover the greater part of the country.
</p>
<p>
  Government surveys show that this is greater variety of fish in Dare Country waters than in any other country in the United States. This is verified by the great variety of fish brought in by angling parties.
</p>
<p>
  Among the gamest of the fish to be found in great numbers are the Channel Bass or Drum. During April, May and June catches of from 10 to 15 in a day are not unusual and specimens weighing from 50 to 75 pounds are frequently taken by skilled anglers.
</p>
<p>
  Among the smaller game fish are the blue fish which for fighting qualities is seldom excelled. Though he rarely attains a weight of over three pounds or a length of more than eight inches, he is rated by anglers as the most fight-per-pound fish in existence.
</p>
<p>
  Termed the aristocrat of the sea the speckled gray trout abound in great quantities in Dare waters. Catches of six or seven ponders are not unusual.
</p>
<p>
  The rock or stripped bass, the pig fish [pigfish], black fish, and many varieties of perch are found in great numbers in the inland water of the country.
</p>
<p>
  For those who desire them guides are plentiful and competent: Also, since Dare County has established connection with the mainland, there are ample accommodations for everybody. Hotels, clubs, and rooming houses have been provided by local people.
</p>
<p>
  In recent years numbers that the sportsmen have found hat the smooth sand beaches of the region serve as excellent landing fields and increasing numbers of them are flying down.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Sportsmen Find Long Sought Ideal Spot in Dare County Paradise", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
