---
layout: ecu
title:  "Seven Ton Rock Set Up to Mark Birth of Flight"
customdate: "1932 November 18"
order: 20
---

{% include breadcrumbs.html %}

<h3>Seven Ton Rock Set Up to Mark Birth of Flight</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  [Page 1]
</p>
<p>
  SEVEN TON ROCK SET UP TO MARK BIRTH OF FLIGHT
</p>
<p>
  National Aeronautical Association Placed Heavy Boulder on Exact Spot Of First Successful Attempt
</p>
<p>
  UNVEILED IN 1928
</p>
<p>
  Impressive Ceremonies at Which Orville Wright was Present Were Held; - Replaced Tate Marker.
</p>
<p>
  Standing on the spot where the Wright Brothers took off for their first successful flight in a power- driven airplane is a seven ton boulder of North Carolina granite, erected by the National Aeronautical Association in commemoration of man's victory over the air.
</p>
<p>
  The boulder was unveiled December 17, 1928 with appropriate ceremonies. A tablet on its face contains this inscription:
</p>
<p>
  THE FIRST SUCCESSFUL FLIGHT OF AN AIRPLANE WAS MADE FROM THIS SPOT BY ORVILLE WRIGHT DECEMBER 17, 1903 IN A MACHINE DESIGNED AND BUILT BY WILBUR WRIGHT AND ORVILLE WRIGHT THIS TABLET WAS ERECTED BY THE NATIONAL AERONAUTICAL ASSOCIATION OF THE U.S.A. DECEMBER 17, 1928 TO COMMEMORATE THE TWENTY-FIFTH ANNIVERSARY OF THIS EVENT.
</p>
<p>
  The first marker in honor of the original flight was set up in June of the previous year by Captain William J. Tate, veteran light keeper of Coinjock, who had been the first to greet the pioneer aviators when they landed at Kitty Hawk to begin their experiments.
</p>
<p>
  This marker was constructed out of rough boards and rusty nails salvaged from the ruins of the first camp of the Wrights.
</p>
<p>
  In November of the following year it was announced that the National Aeronautical Association planned to place a permanent memorial, distinct from the Government memorial on Kill Devil Hill, on the spot of the first flight. Shortly afterward Capt. Tate received a letter from the Association giving exact wording of the inscription to be placed on the tablet.
</p>
<p>
  The contract for placing the boulder was let to Ziegler and Duke of Elizabeth City and in December they started the seven-ton mass of granite rock on its way to Kill Devil Hill from Mt. Airy, where it had been quarried.
</p>
<p>
  Little difficulty was encountered in moving the big rock to the siding at Shawboro, and from the train to a truck at this point. But it was another story when the trucked started over the dirt detour around a new road being built between Currituck Courthouse and Coinjock. Here the truck capsized and it was with great difficulty that it was righted. A few miles further the soft surface of the road gave way under its terrific burden and the truck sank to its axles. More hard work was required to extricate it.
</p>
<p>
  After this things went smoothly as far as Point Harbor. Here another obstacle was encountered. It had been proposed to transfer the boulder from the truck to a flat boat, but this plan had to be abandoned because the pier pilings sank under the great weight imposed on them. This made it necessary to dredge a channel in order to bring the boat close enough to shore for a direct transfer. Finally however, the transfer was effected and no further difficulties were in placing the boulder.
</p>
<p>
  The boulder was placed on a concrete base set on the spot of the first flight, under the direction of Edward A. Sharp, chief
</p>
<p>
  [Page 4]
</p>
<p>
  clerk and property officer of the National Advisory Committee Langley Field. A mound was placed around the boulder, covering the base and making the huge rock appear to be set in the sand. Contract for this work was let to Orville Wright Baum of Kitty Hawk by Captain Tate acting for Mr. Sharp.
</p>
<p>
  Today a thick surf of Bermuda grass covers the sand, and the elevation on which the boulder is set is circled by a sand-asphalt road. The distance between the boulder and the base of Kill Devil Hill is now 1200 feet. The hill is estimated to have moved several hundred feet since 1903. The spot where the marker stands was only 700 feet from the foot of the hill in 1903, according to Orville Wright.
</p>
<p>
  The boulder was unveiled on the 25th anniversary of the first flight. The surviving brother, Orville Wright was present and was the center of international celebration. Senator Hiram Bingham of Connecticut, present of the National Aeronautical Association unveiled the marker. Captain Tate made a short address on the Wrights, as he knew them 25 years before.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Seven Ton Rock Set Up to Mark Birth of Flight", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
