---
layout: ecu
title:  "Wright Memorial Bridge Forms Link Between Dare County and Mainland of Eastern Carolina"
customdate: "1932 November 18"
order: 26
---

{% include breadcrumbs.html %}

<h3>Wright Memorial Bridge Forms Link Between Dare County and Mainland of Eastern Carolina</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  [Page 2]
</p>
<p>
Bridges Bring the Outside World
</p>
<p>
Wright Memorial Bridge Forms Link Between Dare County and Mainland of Eastern Carolina
</p>
<p>
Three-mile Span Across Currituck Sound Erected in Six Months at a Cost of More Than $255,000
</p>
<p>
SCENIC BEACH ROAD
</p>
<p>
Paved State Highway Runs Along Shore Linking Together Memorial and Roanoke Sound Bridges.
</p>
<p>
Those who attended the 25th anniversary celebration of man's first flight and return tomorrow for the dedication of the Wright memorial will be among those who "did not know the old place." for many changes have been wrought since that day, not the least of which is the hard surface road and the Wright memorial bridge crossing Curituck sound and connecting Dare county with mainland.
</p>
<p>
The bridge, completed in 1930 at a cost of nearly a quarter of a million dollars was erected by the W.L. Jones Construction Co. of Elizabeth City for the Wright Memorial Bridge Co.
</p>
<p>
More than 300 men and women prominent in aviation, including Orville Wright, composed the official party which attended the celebration in 1928. In addition there was an attendance of local people estimated more than 2,000.
</p>
<p>
Special arrangements were made by the Kill Devil Hills memorial Association for the transportation of the official party. The association borrowed 65 cars from the locality to use for the group, transporting them from Norfolk to point Harbor. Here at ten o' clock in the morning they were taken to a point near Kill Devil hill by ferry. Coast guard officers were in charge of the arrangements for and the safety of the visitors.
</p>
<p>
Ferrying Across
</p>
<p>
After they had been transported the ferry was used for the unofficial attendants at the affair. Things went off without a hitch, but it was an enormous job, as is shown by the fact that for more than an hour after midnight the ferry was still crossing the stretch of water between dare and the mainland, carrying visitors to the celebration on their return home.
</p>
<p>
The complete shut-awayness of Dare in those days is also shown by the fact that the official luncheon given by the memorial association was sent in from Norfolk at a cost of four dollars per plate. Tomorrow the hotel fort Raleigh of Manteo is catering for the official luncheon.
</p>
<p>
With George G. Dodge of New York as engineer in general charge of the development, actual work on the construction of the bridge began the last day of May 1929. The Dare County end was selected as the starting point. In July the contract for the bridge construction was awarded to the Jones construction Co.
</p>
<p>
The bridge was to be constructed of creosoted piles with deckings and railings of Pacific Coast fir. It was to be 18 feet in width and just east of the center of the three-mile span was to be installed a 105-foot swing draw providing 40 feet of opening on each side.
</p>
<p>
The Kitty Hawk Company also had a crew of men working on the road connecting the bridge with the state highway extending south to Manteo. The state agreed to take over this mile and a half link and to hard surface it.
</p>
<p>
Delays and Difficulties
</p>
<p>
Work progressed in spite of delays occasioned by failure of pilings to arrive and by a pile driver breaking loose from its mooring cables.
</p>
<p>
The Kitty Hawk Co. meantime had to run into financial troubles and in June, 1930, it's properties were sold under foreclosure proceedings to Graham W. Bell trustee. At the same time it was generally understood that a group of local men had applied for a charter for the Wright memorial bridge company. It was generally believed that the sale would have the effect of straightening out the tangle of interests in the former holding company and that the new owners would push the bridge to completion.
</p>
<p>
In July the construction company announced that, while the decking had been laid for about three-fourths the span's length and the work on installing the handrails and wheel guards had begun the completion of the bridge would be delayed until late September by an enforced delay in shipping the materials for the draw span.
</p>
<p>
In August the Federal government, through the war Department, gave its official approval to the draw plans, thus eliminating technical difficulties, which it had been feared might give trouble.
</p>
<p>
Installing the Draw
</p>
<p>
A few days later the Roanoke Bridge and Iron Co. began work, installing the draw. At this time that company was permitted to transport its men and material across the completed part of the span rather than take them to the draw, almost two miles from the Point Harbor bridge head, by water.
</p>
<p>
On Sept. 24, 1930, it was an-
</p>
<p>
[Page 5]
</p>
<p>
nounced that if the weather permitted the new bridge would be opened Saturday, Sept. 27. Installation of the draw span had been completed and it had stood all tests in opening and closing. The last of the decking was that day being nailed in place work on the wheel guards was being finished, and the posts for the railings were set for nearly the entire length of the span.
</p>
<p>
On Saturday, at high noon, the bridge was opened to traffic with simple ceremonies. Officials of the Wright memorial Bridge co. led a cavalcade of eight motorcars which crossed the bridge in 12 minutes. The new road running from the beach to the country highway and had not yet been completed.
</p>
<p>
Bridge's First Patron
</p>
<p>
The first ticket was purchased by Frank Dawson of Elizabeth City, who was the bridge's first patron. The first truck ticket was sold to A.W. Hampton and E.G. Sawyer, operating a Standard oil truck.
</p>
<p>
Ten days after the bridge was opened, 1150 cars had passed over it.
</p>
<p>
In April the new hard surfaced beach road from the bridge was permanently opened to the public. The primary purpose of the State's highway program, "to create a State system of highways connecting first, the several county seats of the State" was thus achieved just 10 years after it's adoption. Today the last dirt gap from Murphy to Manteo, the 12 miles between Grandy and point Harbor, is about to be paved.
</p>
<p>
The completion and opening of the bridge was made possible by the construction of the ocean shore road, extending south for nearly 20 miles, within sight of the foaming breakers of the Atlantic, and passing en route Kill Devil Hill and the Wright Memorial, nags head, several coast guard stations at regular intervals, and crossing Roanoke sound bridge to Manteo and Fort Raleigh, the birthplace of a nation.
</p>
<p>
About six months actual working time was required to span Currituck sound. To those who conceived the idea and finally brought it to fruition, four years of often disheartening preliminary effort appear as labor little less tedious then the building of the bridge itself.
</p>
<p>
Credit Where Due
</p>
<p>
The preliminary steps were undertaken by Marshall P. Gallop of Elizabeth city who secured the franchises for the proposed bridge from both Dare and Currituck counties. These franchises were taken over by the Currituck-Dare bridge co., organized for the purpose with L.C. Blades as president, the late S. B. Parker secretary and W.G. Gaither, treasurer. This company secured a permit and approval for the bridge plans from the War department. Shortly afterward, Charles W. Harrison of New York entered the picture. Promoting a new company under the title of the Kitty Hawk Company and he and his associates took over the project and increased his scope by the purchase of 6,000 acres of beach land.
</p>
<p>
With the bridge partially completed, the stock market crashed and financial aid promised to the company was cut off. It looked as if the project was defiantly at a standstill.
</p>
<p>
Harrison passed out of the picture and the Wright Memorial Bridge Company was formed with L.C. Blades as president, W.L. Jones, vice president and W.G. Gaither secretary and treasurer. This company carried out the original aims, and to it's officers must go chiefly the credit for the fact that, in the face of conditions that seemed at times all but if not altogether insuperable, the project was pushed through to completion.
</p>
<p>
The bridge seems to be destined to convert Dare County into one of the county's greatest resort centers. It is, in the words of the entrance gate at the east end of the bridge, “Dare county, 1883; The Birthplace of the nation; 1903, The Birthplace of Aviation." in the interest of historical accuracy the date 1583 is to be changed to 1584 soon.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Wright Memorial Bridge Forms Link Between Dare County and Mainland of Eastern Carolina", <em>The Daily Advance</em> (Elizabeth City, N.C.), 18 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
