---
layout: ecu
title:  "Feeling of Resentment Seen in Dare County as Result of Wright Memorial Dedication"
customdate: "1932 November 21"
order: 39
---

{% include breadcrumbs.html %}

<h3>Feeling of Resentment Seen in Dare County as Result of Wright Memorial Dedication</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Feeling of Resentment Seen In Dare County as Result of Wright Memorial Dedication
</p>
<p>
  Manteo, Nov. 21 - For two days Dare County people have been in mourning over the loss of what it never had, yet that which it had every reason to have expected before Saturday night. The rain and wind during the day and night of Friday, and the baby storm of Saturday that almost shut off it's big occasion as the clouds shut out the sun, have filled the people here with many regrets.
</p>
<p>
  Blasted hopes of entertaining the largest crowd of people and the "biggest" men and woman of the nation have turned the expressions of regret to an almost a bitter criticism. Indictments against the War Department and against the State Highway Commissions have been expressed openly, although neither department of the government nor of the State could have kept back the deluge that fell from the heavens during he twelve hours preceding the exercises of dedication of the Wright Memorial monument at Kill Devil Hill.
</p>
<p>
  Almost unanimous claims have it that the War Department fell down badly on it's job of preparation for an even that had been so widely heralded and one in which the nation generally was interested. It is claimed that the same government which had built the monument to the memory of the greatest invention of the age ad been sending out from more than a week before the even from its weather bureau forecasts that promised rain, yet it made practically no arrangements for the large number that was expected.
</p>
<p>
  Even the stand for the speakers the distinguished guests and the press representatives was a contraption that would have been uncomfortable in a fifteen mile breeze and a drizzle rain in cold weather. The tent for the spectators hundreds of home braved the wind and the storm and drove their cars almost to the hood in water to get here, was not a protection either from the rain or mud and water that rapidly accumulated under it, and it was a hazard to all while the wind was blowing so hard.
</p>
<p>
  Critics feel that the War Department could have provided place of comfort for all in the several days they had known the rain was coming and the feel the discrimination in parking allotments, especially under such weather conditions. Only a few cars of specialty invite guests were permitted within the reservation, an area that would have easily accommodated 1,000 automobiles with crowding. Those who were so unfortunate as to not be numbered with the elect and they were forced to leave their cars in the sloppy sand on the outside and walk near three fourth a mile through the rain and wet walkways to get to the scene of the formalities.
</p>
<p>
  Dare county people living south of Kill Devil have condemned the State Highway Department in no uncertain terms for the "lake" that extended across two miles in spite of care of the experienced drivers many automobiles were stalled in water that came to the hood and many of the visitors from out of State and county to the dedication, were turned back from visiting Roanoke Island and other points in the county.
</p>
<p>
  Several days before the exercises a group of Manteo citizens had driven over the highway, which was then flooded, and had wired the Highway Department its condition. Prompt response was from Mr. Jeffress office, and it is believed he thought the condition had been remedied satisfactorily. But it had not been and what work had been done was ineffective. Those who criticize feel that district officials took too lightly the importance of getting the beach road in shape for travel and hat they went about the job all too leisurely and unconcernedly to get results. In face the road as in a bad condition the day of the dedication as several days before. Had it been a beautiful day overhead and thousands of people instead of hundreds come to the exercises as was expected Dare County would have lost in bridge tolls another moneys spent hundreds of dollars. And this loss they claim, is nothing compared wit the value to the county of the hundreds what would have come to the site of the Birth of a Nation, which the press of Elizabeth City had so widely advertised in their special edition.
</p>
<p>
  But these items of oversight or neglect can be explained, possibly to the most exacting. The failure of recognition of Dare County people as worth while folks by those who had charge of the selection of special guests will be a sore-spot for many years to come, according to comments heard Saturday night and yesterday. It is understood by them that every individual could not be a special guest, but for the mayor of the county seat to have bee left out for the several business men here and at other places, not to have been included in the list along with the mayors of Edenton and Elizabeth City and business men of those towns is not understood.
</p>
<p>
  Not the head of a single organization in Dare County was included in the list as such; organization that have bended every energy to give all assistance possible to make the day known before the event ad o aid in whatever way the could during the event. "As far as can be learned" one critic said "only six invitations to Dare County people were received". Business men who have gone to deep down in their small earnings to make possible two special editions of out leading newspapers were left out and it is talked without restriction.
</p>
<p>
  Dare County people usually "Accept their bed, tho' [though] narrow or wide," but Saturday was too much to keep under cover in their hearts. They believe it is their sand hill that Wilbur and Orville Wright made the successful flight from, and that they should have been prominent in welcoming the distinguished guests, whom they believe would have been deeply grateful of an opportunity to meet the local people or at leas representatives of them. Deprived of that honor and that pleasure, they have gone back to their homes feeling like subjects rather then hosts for an occasion that will be recalled in the minds of those who came more as Elizabeth City's Party than Dare County's.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Feeling of Resentment Seen in Dare County as Result of Wright Memorial Dedication", <em>The Daily Advance</em> (Elizabeth City, N.C.), 21 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
