---
layout: ecu
title:  "Highlights"
customdate: "1932 November 21"
order: 38
---

{% include breadcrumbs.html %}

<h3>Highlights</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Highlights
</p>
<p>
  Two men looked completely happy Saturday at Kill Devil Hill. Orville Wright in whose honor the pylon was erected was one. He came smiling gently pushed his way through a crowd that blocked his way and went on to the speakers box, where he was the greeted by a wind-blown and rain soaked gathering. Through it wall he never lost his cheery smile and twinkle, in his eye told close observers that there was nothing forced about his good humor.
</p>
<p>
  The other happy man occupied the drivers seat of the powerful tractor employed by the State Highway Patrol to pull out cars stranded in the sand of the parking place. He had few idle moments, but he had never a failure, and he beamed happily as he approached helpless drivers. Out he'd yank them and off they'd go.
</p>
<p>
  Secretary Hurley's comparison of the spirit that made flight possible with the spirit that made colonization of the new world possible as he recalled the nearness of Fort Raleigh was one of the most impressive thoughts expressed by the speakers connecting as it did the past with the present, and opening up a pathway for thoughts of what the future may be.
</p>
<p>
  The Coast Guard seaplanes that roared in near the end of the ceremonies attracted as much attention as the Akron would have because the audience had long since given up as hopeless any aerial demonstration.
</p>
<p>
  Ruth Nicholas was introduced to Orville Wright shortly before as the beginning of the dedication. Later before the unveiling, she paid a brief but striking tribute to the genius of the men who had made the deeds of modern aviation possible. Turning from the crowd to Mr. Wright she said: "We in aviation stand in awed admiration of your work and of our debt to you in setting the course of world aviation." Her words had such a ring of sincerity that she won from Josephus Daniels credit for making the speech of the day.
</p>
<p>
  Orville Wright straightened out history. The first telegram was sent by him to his father, Bishop Wright, by W. J. Dozier now dead. The first news story went out in 1908 over the wire of Alpheus Drinkwater. The Norfolk Landmark scooped the world said Mr. Wright by getting the story from a telegraph agency.
</p>
<p>
  The desperate battle of the soldiers on duty in the official stands to hold down the tarpaulins in order to keep a few dry spots. In this work rank made no difference all grades from General right down to private taking part at some stage of the game. In spite of their valiant efforts everybody got wet, raincoat or not raincoat.
</p>
<p>
  The band from Fort Monroe played music that was never accused of being wet, and the bugler kept his notes clear. Their cheerfulness kept the crowd in a good humor.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Highlights", <em>The Daily Advance</em> (Elizabeth City, N.C.), 21 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
