---
layout: ecu
title:  "Memorial Is Erected to Courage and Faith Says Congressman L.C. Warren"
customdate: "1932 November 19"
order: 36
---

{% include breadcrumbs.html %}

<h3>Memorial Is Erected to Courage and Faith Says Congressman L.C. Warren</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  [Page 1]
</p>
<p>
  Memorial Is Erected To Courage And Faith Says Congressman L.C. Warren
</p>
<p>
  Representative from North Carolina District who Sponsored Congressional Action Leading to Erection of Pylon Reviews Movement
</p>
<p>
  Kitty Hawk, Nov. 19 <br/>
  Congressman Lindsay warren of the First North Carolina District, in speaking at the dedication of the Wright Memorial at kill Devil hill today said it was "erected to courage, faith, accomplishment and inventive genius."
</p>
<p>
  "Standing here through the ages to come in all of its magnificent grandeur may it be an inspiration to the indomitable spirit of America as graphically revealed in the lives and works of Wilbur and Orville Wright" the congressman declared.
</p>
<p>
  Warren reviewed the movement that led to the erection of the marker and told of the experiments of the Wright brothers on Kill Devil Hill that were crowned with success on December 17, 1903, when Orville Wright made the first flight in a motor-propelled heavier-then-air machine.
</p>
<p>
  "There are present here today the three surviving witnesses of the first flight A.D. Etheridge. J.T. Daniels and John Moore." Warren continued. "There is also here the genial captain, Wm. J. Tate in whose home Wilbur and Orville Wright lived.
</p>
<p>
  "His faith in their ultimate success never dimmed.
</p>
<p>
  "Also with us is the popular and beloved A.W. Drinkwater [Drink water], who flashed out to the world in dots and dashes the memorable event of the morning."
</p>
<p>
  Praise was given the Quartermasters Corps for their "marvelous feat of anchoring this wind swept dune by a system of grassing."
</p>
<p>
  Should have Airplane
</p>
<p>
  "May it once more be said in this presence that here where the air was conquered likewise belong the implements of that conquest to forever repose in the shrine that a grateful nation has built," said Warren, apparently referring to the fact that the Wright's machine is now in a British museum.
</p>
<p>
  "Four years ago there journeyed to this spot a distinguished group of aviators from the four corners of the earth and prominent citizens to lay the cornerstone of this memorial we now come to dedicate," said Mr. Warren.
</p>
<p>
  "We found here then a bleak sandhill [sand hill] facing a mighty ocean transportation was solely by water, and roads were in the far off imagination. But a promise was then made to the nation which has almost been fulfilled. A great sound has been bridge, a fine highway parallels the Atlantic for many miles, and there is now under contract the last ribbon of concrete which will place this section within immediate access to the country. A place apparently secure in its isolation has been transformed to one now frequented by thousands who come to visit two of the most notable shrines in America.
</p>
<p>
  "Just three miles distant on yonder island, the English first came to oar shores. There was born the first child of that race on the American continent there they set up their first government in a new land, and though they failed and their fate has always been a mystery, it was this same pioneering spirit that has always characterized the English race that a few years later made Jamestown the mudsill on which the Nation was founded.
</p>
<p>
  Mr. Wright Tells Story
</p>
<p>
  "To this spot in 1900 came Wilbur and Orville Wright and once again the story should be told. They came to this far eastern frontier not by accident nor so much for its assured privacy, but the United States Weather Bureau had told them that there the winds were found to be the strongest and steadiest.
</p>
<p>
  "After many mishaps and disheartening delays the frail craft was pronounced ready. The Wrights knew it would fly for their results had been achieved by scientific inquiry and study. On December 14, 1903 a flip of a coin
</p>
<p>
  [Page 2]
</p>
<p>
  gave Wilbur Wright the operator's seat, but the start was bad and the machine was damaged, and on December 17 it fell to Orville Wright to ushering on of the greatest of all epochs in history.
</p>
<p>
  "But let Orville Wright tell it in his own words:
</p>
<p>
  "There was a strong cold wind from the north when my brother and I went to bed at Kitty Hawk, North Carolina in the night of December 16, 1903. We arose next morning to find that the puddles of water left by the recent rain were covered with ice, and that the wind was still blowing at a velocity of around 25 miles an hour.
</p>
<p>
  "Hoping that it would die down, we stayed indoors the early part of the morning. The wind however, was as brisk as ever at 10 o'clock, and as it showed no likelihood of abating we decided to make our experiment anyway. Since we could face the machine into the strong wind it should be relatively simple business to launch it from level ground.
</p>
<p>
  "The necessary track was laid though not without difficulty, since the biting cold complied us to frequently retire to a shed where a wood fire was burning in an old carbide can.
</p>
<p>
  "Eventually all was ready. Seven of us were on hand my brother and I, J.T. Daniels, A.D. Etheridge and W.S. Dough, members of the Kill Devil Hill Live saving station; W.C. Brinkley and a boy Johnny Moore of Nags Head.
</p>
<p>
  "A hand anemometer showed the velocity of the wind to be between 24 and 27 miles an hour, which is not far off from what the Government Weather Bureau records indicated. I mention this because today with a generation of aerial development and research to profit by nobody, not myself at least, would dream of going up in a strange machine in a 27 mile wind, even if he knew that the machine had previously flown and was apparently sound.
</p>
<p>
  Orville Wright as Pilot
</p>
<p>
  "My brother had made a successful attempt to fly on December 14. It was therefore my turn to try. I ran the motor a few minutes to heat it up and then released the wire that held the machine to a wooden track. The machine started forward, Wilbur helping to balance it by running alongside. With the wind against it the machine got under way so slowly that Wilbur was able to stay alongside until it lifted from the track after a run of 40 feet.
</p>
<p>
  "One of the men from the Life Saving Station clicked a camera at that instant, and caught a historic picture. The machine was at the time about two feet off the ground.
</p>
<p>
  "The flight lasted 12 seconds. Its course was rather erratic, owing in part to air conditions, in part to the pilot's inexperience. The front rudder was balanced too near the center, so that it had the tendency to turn by itself, with the result that at times the machine would rise to about 10 feet and then as suddenly aim toward the ground. One of these darts ended the flight 120 feet from the point where the machine had first risen from the wooden track.
</p>
<p>
  "It may be interesting to note that while the machine was making only 10 feet a second against a wind that was blowing 35 feet a second, the speed of the machine relative to the air was 45 feet a second, so that the length of the flight was equivalent to 540 feet in still air. This was the first time in history that a machine carrying a man raised itself by its own power into the air in full flight, went ahead without reduction of speed, and landed at a point as high as that from which it started.
</p>
<p>
  "And shortly thereafter the world was told that a man had flown in the air in a machine. Long before, most of the small group of newspaper men [newspapermen] had deserted them. Only a few doggedly remained behind, but with shaken faith. One of the greatest papers in America wired its astounded correspondent to "stop sending fake stuff for nobody believes these wildcat yarns about men flying in a airplane." Such was the humble origin of an invention whose creative worth is one of the supreme accomplishments of man.
</p>
<p>
  "Accostomed [Accustomed] to commemorate deeds of valor on the field of battle, the Congress by unanimous action turned to pay tribute to the inganuity [ingenuity] of man, and on March 2, 1927, President Calvin Coolidge, signed a bill to create the Wright Memorial Commission. It was composed of the Secretaries of War, Navy and Commerce, and it was directed to approve a design and to supervise the erection on this hiss a great National memorial to Wilbur and Orville Wright to perpetuate for all time their outstanding achievement. On that commission was the new President Herbert Hoover. I can testify to his never failing interest, his encouragement, and his constant cooperation in this project, and I voice the great regret that we all have, that the press of official duties keeps him from us today.
</p>
<p>
  "May it once more be said in this presence that here where the air was conquered likewise belong the implements of that conquest to forever repose in the shrine that a grateful nation has built.
</p>
<p>
  "This memorial is erected to courage, faith, accomplishment and inventive genius. Standing here through the ages to come in all of its magnificent grandeur, may it be an inspiration to the indomitable spirit of America as graphically revealed in the lives and works of Wilbur and Orville Wright.
</p>
<p>
  "The long toil of the brave <br/>
  Is not quenched in <br/>
  Darkness nor hath counting<br/>
  The cost fretted away <br/>
  The zeal of their hopes. <br/>
  "O'er the fruitful earth <br/>
  And athwart the sea hath passed<br/>
  The light of noble deeds <br/>
  Unquenchable forever."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Memorial Is Erected to Courage and Faith Says Congressman L.C. Warren", <em>The Daily Advance</em> (Elizabeth City, N.C.), 19 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
