---
layout: ecu
title:  "Nature Loses Another Battle as Memorial Is Dedicated in Downpour"
customdate: "1932 November 21"
order: 37
---

{% include breadcrumbs.html %}

<h3>Nature Loses Another Battle as Memorial Is Dedicated in Downpour</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Nature Loses Another Battle as Memorial Is Dedicated in Down Pour
</p>
<p>
  In Spite of Effort of Wind and Rain to the Contrary, Man Signalizes His Important Triumph in Air
</p>
<p>
  Wright Cheerful
</p>
<p>
  Good Faith of His Smile Backed p By Twinkle in His Eye, Straightness Out History
</p>
<p>
  Saturday saw man win a minor but impressive victory over Nature, on the wind swept coast where, back in 1903, she lost her most spectacular battle with him.
</p>
<p>
  A Drenching rain fell in torrents from the sky, and a southwest wind whipped it into those who had gathered at Kill Devil Hill to honor Orville Wright and the memory of his bother, Wilbur Wright.
</p>
<p>
  And, in order to keep away man's reinforcements, Nature spent the night making the 13 mile dirt approach to the Wright memorial Bridge a slippery soggy mass, an he road between Manteo and the Memorial a lake for canoes.
</p>
<p>
  But the State Highway Patrol was present and in the absence of the heavy traffic expected, their chief duty became the assistance of beleaguered motorists.
</p>
<p>
  The same night had been the wind sweep from their peg the tents of the detachment of soldiers from Fort Monroe, and the troops had to perform the day's duties Saturday in soaked clothing.
</p>
<p>
  During the official inspected of the monument by government of officials the rain slackened slightly and it looked as if the worst was over. The official party came to the speakers stand from the pylon in a light drizzle. On their way cannon roared out a 19 gun salute to the Secretary of War, Patrick J Hurley, who accepted the beacon on behalf of the government.
</p>
<p>
  Orville Wright Greeted
</p>
<p>
  Shortly after the War Secretary came Orville Wright, unrecognized for the moment, who had to push himself a path through the crowd that pressed around the speakers box.
</p>
<p>
  Once there thought he became the center of things. Admiral Moffet was the first to sight him, then Governor-elect J. C. B. Ehringhaus quickly followed by Editor Josephus Daniels, former Secretary of the Navy, who told Mr. Wright that "I always come to Kitty Hawk when you are down" as the pair recalled the 25th anniversary celebration in 1928.
</p>
<p>
  Out in front of the cover stands had been erected a tent, which was soon packed as nearly a thousand spectators jammed their way into it. A handful fringed the pathway running in front of the speakers stand while several core stuck to their cars.
</p>
<p>
  General L. H. Bash of the Quartermaster Corps. as chairman of the committee on arrangements, presided over the affair. He read a message of regrets and congratulations from President Hoover, and hen attempted to introduce Congressman Lindsay Warren, the first speaker. And here Nature rose up in all her fury, soaking the speakers stand and pulling loose the covering of the guest pavillion [pavilion]. The noise of the wind and the flapping of the tarpaulins caused the General to halt unfinished.
</p>
<p>
  News Reel Men Struggle
</p>
<p>
  For the moment it looked as if Nature had won her victory. But while news reel [newsreel] men struggled with their equipment, men of the Army, from privates right on up to generals fought the canvas protections into subjugation.
</p>
<p>
  General Bash then took up his introduction again and presented Mr. Warren, who paid tribute to the Wrights and told of the fight for the memorial, cutting short his address by about five minutes as a concession to the downpour.
</p>
<p>
  Miss Ruth Nichols was presented and said a few words, after which she disappeared only to be found later at the foot of the pylon which she unveiled after Governor-elect Ehringhaus, and Secretary Hurley had paid brief but powerful tributes to the bicycle mechanics who made flight possible.
</p>
<p>
  The formal ceremonies over most of the crowd in both the spectators pavillion [pavilion] and the guest stand rushed for cars and shelter. A few climbed the hill to the monument and among these was Orville Wright who ascended to the top of the pylon to view the vista that unfolds for miles around. As the ceremonies were drawing to a close Nature had yielded and had sent his brother gave the world flight.
</p>
<p>
  Those who came saw what is one of the country's most impressive memorials unveiled in commemoration of man' triumph over air, rest in a "monument" to the Quartermaster Corps of the Army, which in anchoring Kill Devil Hill defeated the near irresistible combine wind and sand. And so, complete has been man's victory in the air field [airfield] that those who didn't come were able to sit at home, although thousands o miles away and hear the proceedings as plainly if not more so than the actual attendants.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Nature Loses Another Battle as Memorial Is Dedicated in Downpour", <em>The Daily Advance</em> (Elizabeth City, N.C.), 21 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
