---
layout: ecu
title:  "Orville Wright is at Dedication of Granite Pylon Commemorating Flight Made December 17, 1903"
customdate: "1932 November 19"
order: 35
---

{% include breadcrumbs.html %}

<h3>Orville Wright is at Dedication of Granite Pylon Commemorating Flight Made December 17, 1903</h3>

<div class="well">
  <label>Text from Microform News-Article</label><br/>

<p>
  Orville Wright is AT Dedication of Granite Pylon Commemorating Flight Made December 17, 1903
</p>
<p>
  In Spite of Storm, Which Breaks in All Its Fury as Exercises Start, Dedication is Consummated
</p>
<p>
  CUTS DOWN CROWD
</p>
<p>
  Rain Brings Attendance Which Had Been Expected Reach 20,000, Down Considerably
</p>
<p>
  Kitty Hawk, Nov. 19--OP--A monument to the achievement of Wilbur and Orville Wright who flew the world's first motor driven airplane was unveiled here today while rain drenched the speakers and several thousand people gathered for the dedication.
</p>
<p>
  Miss Ruth Nichols, Famous aviatrix, unveiled the granite pylon as the concluding act of the ceremonies after Secretary of War Patrick J. Hurley, Governor elect J. C. B. Ehringhaus, of North Carolina, and Congressman Lindsay Warren, of the First Congressional District, had spoken.
</p>
<p>
  Surviving Brother There
</p>
<p>
  Orville Wright, the surviving brother was present to hear the speakers laud his and his bother's achievement-- the building and flying of the first heavier-than-air motor driven plane here December 17, 1903.
</p>
<p>
  Arrangements had been made to accomodate [accommodate] 20,000 people today but rain throughtout the night and during most of the ceremonies severed to decrease attendance.
</p>
<p>
  Rain poured steadily as the exercises started with Miss Nicholas, Admiral W. A. Moffett, chief of the Bureau of Aeronautics of the Navy Department. General Manus McCloskey of Fort Bragg: General J. Van B. Metts of North Carolina and Governer [Governor] -elect J. C. B. Ehringhaus in the speakers stand.
</p>
<p>
  With these dignitaries were Generals John L. Dewitt L. H. Bash: Paul Malone and Westover Leach.
</p>
<p>
  Exercise Halted
</p>
<p>
  As the exercises were called to start by General Bash, the storm broke in all its fury and strong southwestern winds whipped through the speaker's stand which was temporarily cover with halves of tents. The flapping of the canvas caused so much noise the exercises were halted.
</p>
<p>
  The entire group of speakers on the stand was forced to brave the blinding sheets of rain that whipped over the sands and they were drenched as the temporarily shelter gave little protection.
</p>
<p>
  Message From President
</p>
<p>
  General Bash presiding read a message from President Hoover addressed to Secretary Hurley expressing regret at his inability to attend the exercises.
</p>
<p>
  Secretary Hurley was asked in the message to convey to Orville Wright "my congratulations and my appreciation of the epoch-making achievement of himself and his lamented brother."
</p>
<p>
  Congressman Lindsay Warren of North Carolina was the first principal speaker and he was followed by Ehringhaus and Secretary Hurley.
</p>
<p>
  Miss Nichols Speaks
</p>
<p>
  Miss Nichols was asked to say a few words before he formal unveiling and briefly expressed her appreciation of the feat of the Wright Brothers and her pleasure in being chosen to unveil the monument Josephus Daniels of Raleigh former Secretary of the Navy also was present.
</p>
<p>
  During his remarks, Congressman Warren paid a tribute to Senator Simeon D. Fess of Ohio Who was present and then said the memorial was erected to encourage, faith accomplishment and inventire [inventive] genius.
</p>
<p>
  Kitty Hawk Nov. 19--OP-- A Memorial dedicated to two brothers who made modern day aviation possible stood on top a sand dune here today around which representatives of the nation gathered for exercises in honor Wilbur and Orville Wright.
</p>
<p>
  The granite pylon was erected as a tribute to the Wright Brothers who made and flew the first motor-driven airplane here December 17, 1903 symbolic of giant strides made since aviation's birthday 29 years ago.
</p>
<p>
  Secretary of War Patrick J. Hurley, Governor elect J. C. B. Ehringhaus and Congressman Lindsay Warren of the First North Carolina District were on the program as principal speakers. They were flanked by other notables: Orville Wright whose brother died a few years ago. Miss Ruth Nichols to whose honor fell the unveiling of the memorial.
</p>
<p>
  For three years the Wright Brothers experimented with gliders on Kill Devil Hill and finally their efforts were rewarded when they constructed, mostly of wood, an airplane that actually flew under its own power. Its flight was brief but perfect demonstration that such a thing was possible.
</p>
<p>
  It was in honor of such a feat that Congress authorized the building of a memorial at Kill Devil Hill a short distance from a boulder which marks the spot where the Wrights' airplane first took off.
</p>
<p>
  A month ago it was completed after being under construction for 21 months. Its base is anchored with brass in the sand dune which has been covered with grass and other vegetation to prevent wind from moving the dune about this bank off the North Carolina coast.
</p>
<p>
  The memorials of granite and stands 151 feet above sea-level [sea level], carved with a design depicting the sweep of flight. In its top is a horizontal three-way revolving beacon that will shine throughout the night as a guide to aviation and shipping. Floodlights around its base will illumine the memorial itself.
</p>
<p>
  Inside the monument is a small room with two niches where bust of the Wrights Brothers are to be placed. Carved around the base, which is in the shape of a star, is the legend:
</p>
<p>
  In commemoration, of the conquest of the air by the others Wilbur and Orville. Conceived by genius, achieved by dauntless resolution and unconquerable faith.
</p>
<p>
  A walkway comes from behind the monument where steps lead through two massive stainless sell doors on which are eight panels representing the ages of flight to the time the Wrights made their successful venture.
</p>
<p>
  The monument was built under supervision of the Quartermaster Corps of he United States Army at a cost approximately $275.000
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Orville Wright is at Dedication of Granite Pylon Commemorating Flight Made December 17, 1903", <em>The Daily Advance</em> (Elizabeth City, N.C.), 19 November 1932.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
</table>
